@{
	ViewData["Title"] = "ContractMain";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		$(document).ready(function () {
			initTable();			
		});

		function initTable() {
			var buttonCommon = {
				exportOptions: {
					format: {
						body: function (data, row, column, node) {
							//替換&符號
							var translate_re = /&(nbsp|amp|quot|lt|gt);/g,
								translate = {
									'nbsp': String.fromCharCode(160),
									'amp': '&',
									'quot': '"',
									'lt': '<',
									'gt': '>'
								},
								translator = function ($0, $1) {
									return translate[$1];
								};

							if (typeof data === 'string')
								data = data.replace(translate_re, translator);

							if (column === 0 || column === 4) //去除連結的部份
							{
								var splitName = data.split(">");
								var length = splitName.length;

								if (length > 1) {
									return data.split(">")[1].split("<")[0];
								}
								else {
									return data;
								}
							}
							else if (column === 3) //將換行符號<br>換成excel可以識別的\n
							{
								return data.replace(/<br\s*\/?>/ig, "\n"); //匯出需要在每筆紀錄前，多換一行
							}
							else
							return data;
						}
					}
				}
			};

			$('#tableAll').DataTable({
				language: {
					"lengthMenu": "每頁顯示筆數 _MENU_ ",
					"info": "顯示第 _START_ 到 _END_ 筆，全部共 _TOTAL_ 筆",
					"search": " 關鍵字篩選"
				},
				pageLength: 25,
				responsive: true,				
				dom: '<"top"i><"wrapper"Blfrtip>', //Blfrtip =>可顯示筆數
				buttons: [
					$.extend(true, {}, buttonCommon, {
						extend: 'excelHtml5',
						title: '下包合約_' + new Date().toISOString().slice(0, 10).replace("-", "").replace("-", ""),
						text: '匯出Excel',
						sheetName: '下包合約',
						exportOptions: {
							columns: [0, 1, 2, 3, 4] //要顯示的欄位
						},
						customize: function (xlsx) {
							addCustomNumberFormat(xlsx, '0');
							formatTargetColumn(xlsx, 'A');
							formatTargetColumn(xlsx, 'B');
							formatTargetColumn(xlsx, 'C');
							formatTargetColumn(xlsx, 'D');
							formatTargetColumn(xlsx, 'E');							
						}
					}),
				],
			});

			$("#tableAll_wrapper .dt-buttons.btn-group").css("float", "right"); //匯出excel按鈕位置靠右
			$('#ddl_cTeamID option').prop('selected', false).trigger('chosen:updated');	//服務團隊

			//查詢更改歷史記錄popup
            $('#btn_ShowHistoryLog').click(function () {                
				getHistoryLog();			//顯示更改歷史記錄
				$('#dialog_ShowHistoryLog').modal('show');				
            })

			//判斷是否可以編輯
			var hid_IsCanEdit = $('#hid_IsCanEdit');
			if (hid_IsCanEdit.val() == "Y") {

				disabledPopup("#form1", true);

				$("#btn_submit").hide();
				$("#btn_Edit").show();
				$("#btn_ShowHistoryLog").show();
				$("#btn_ShowHistoryLog").prop('disabled', false);
			}
			else {				
				disabledPopup("#form1", true);

				$("#btn_submit").hide();
				$("#btn_Edit").hide();
				$("#btn_ShowHistoryLog").hide();
			}
		}

		function addCustomNumberFormat(xlsx, numberFormat) {
			// this adds a new custom number format to the Excel "styles" document:
			var numFmtsElement = xlsx.xl['styles.xml'].getElementsByTagName('numFmts')[0];
			// assume 6 custom number formats already exist, and next available ID is 176:
			var numFmtElement = '<numFmt numFmtId="176" formatCode="' + numberFormat + '"/>';
			$(numFmtsElement).append(numFmtElement);
			$(numFmtsElement).attr("count", "7"); // increment the count

			// now add a new "cellXfs" cell formatter, which uses our new number format (numFmt 176):
			var celXfsElement = xlsx.xl['styles.xml'].getElementsByTagName('cellXfs');
			var cellStyle = '<xf numFmtId="176" fontId="0" fillId="0" borderId="0" xfId="0" applyNumberFormat="1"'
				+ ' applyFont="1" applyFill="1" applyBorder="1"/>';
			// this will be the 8th "xf" element - and will therefore have an index of "7", when we use it later:
			$(celXfsElement).append(cellStyle);
			$(celXfsElement).attr("count", "66"); //(1.2.3版)官方提供0-64共65種格式，在此自己新增加一種
		}

		//呼叫日期轉換
		function TransDate(Obj) {
			if (Obj != null) {
				return getDateString(new Date(Obj));
			}

			return "";
		}

		//日期Format(補0)
		function pad(v) {
			return (v < 10) ? '0' + v : v
		}

		//日期Format
		function getDateString(d) {
			try {
				var year = d.getFullYear();
				var month = pad(d.getMonth() + 1);
				var day = pad(d.getDate());
				var hour = pad(d.getHours());
				var min = pad(d.getMinutes());
				var sec = pad(d.getSeconds());

				return year + "-" + month + "-" + day + " " + hour + ":" + min + ":" + sec;
			}
			catch (e) {
				return "";
			}
		}

		//查詢更改歷史記錄
		function getHistoryLog() {
			var cContractID = $("#tbx_cContractID").val();	//主約文件編號
			var cIsSubContract = "N";						//是否為下包合約(Y.是 N.否)

			$.ajax({
				url: '@Url.Action("GetHistoryLog", "Contract")',
				type: 'post',
				dataType: 'json',
				data: {
					cContractID: cContractID,
					cIsSubContract: cIsSubContract
				},
				success: function (result) {
					var ALLList = ""
					var listOneLog = "";

					//↓↓↓↓↓歷史記錄資訊(共用) ↓↓↓↓↓/
					$.each(result.srOneLog, function (i, bean) {
						if (bean != null) {
							var tDate = TransDate(bean.createdDate);
							var strLog = bean.log.replace(/\n/g, "<br />");

							listOneLog += '<tr>'
								+ "<td style='vertical-align: left;'>" + bean.cSrid + "</td>"
								+ "<td style='vertical-align: left;'>" + bean.eventName + "</td>"
								+ "<td style='vertical-align: left;'>" + strLog + "</td>"
								+ "<td style='vertical-align: left;'>" + tDate + "</td>"
								+ "<td style='vertical-align: left;'>" + bean.createdUserName + "</td>"
								+ "</tr>";
						}
					});

					if (listOneLog != "") {
						listOneLog = "<div class='col-lg-12'>"
							+ "	<div class='ibox'>"
							+ "		<div class='ibox-title'>"
							+ "			<h5>合約主數據內容資訊</h5>"
							+ "          <div class='ibox-tools'><a class='collapse-linkZ'><i class='fa fa-chevron-up'></i></a></div>"
							+ "      </div>"
							+ "      <div class='ibox-content'>"
							+ "			<table class='table table-striple table-bordered table-hover dataTables-example'>"
							+ "				<thead><tr>"
							+ "				<th>文件編號</th>"
							+ "				<th>事件名稱</th>"
							+ "				<th>Log</th>"
							+ "				<th>異動時間</th>"
							+ "				<th>異動人員</th>"
							+ "				</tr></thead><tbody>"
							+ listOneLog
							+ "</tbody></table></div></div></div>";
					}
					//↑↑↑↑↑歷史記錄資訊(共用) ↑↑↑↑↑/

					ALLList += listOneLog;

					$("#tb_ShowHistoryLog").html(ALLList);
				}
			});
		}

		function formatTargetColumn(xlsx, col) {
			var sheet = xlsx.xl.worksheets['sheet1.xml'];

			if (col == "A") {
				$('row c[r^="' + col + '"]', sheet).attr('s', '65'); //使用自定義格式
			}
			else {
				$('row c[r^="' + col + '"]', sheet).attr('s', '0'); //設成文字格式
			}
		}

		//顯示剩餘字數
		function showRemainWords(obj, maxLength, remainWord) {
			$(remainWord).show();
			var len = obj.value.length;
			if (len > 0) {
				$(remainWord).html("剩餘字數: " + (maxLength - len));
			}
			if (len > maxLength) {
				$(remainWord).html("已超過字數上限: " + (len - maxLength));
			}
		}

		//隱藏剩餘字數
		function hideRemainWords(obj) {
			$(obj).html('');
			$(obj).hide();
		}

		//popup各欄位reset
		function resetPopup(popupId) {
			$(popupId).find("input").each(function (index, value) {
				$(this).val("");
			});
			$(popupId).find("select").each(function (index, value) {
				$(this).val("-1");
			});
			$(popupId).find("textarea").each(function (index, value) {
				$(this).val("");
			});
			$(popupId).find(".file-box").each(function (index, value) {
				$(this).remove();
			});
		}

		//popup各欄位disabled
		//popupId.傳入的obj、IsDisabled(true.不准許輸入 false.准許輸入)
		function disabledPopup(popupId, IsDisabled) {			

			$(popupId).find("input").each(function (index, value) {
				var reValue = checkInputSkipList($(this).attr("name"));
				if (!reValue) {
					$(this).prop('disabled', IsDisabled);
				}
			});

			$(popupId).find("select").each(function (index, value) {
				var reValue = checkSelectSkipList($(this).attr("name"));
				if (!reValue) {
					$(this).prop('disabled', IsDisabled);
				}
			});

			$(popupId).find("button").each(function (index, value) {
				var reValue = checkButtonSkipList($(this).attr("name"));
				if (!reValue) {
					$(this).prop('disabled', IsDisabled);
				}
			});

			$(popupId).find("textarea").each(function (index, value) {
				var reValue = checkTextareaSkipList($(this).attr("name"));
				if (!reValue) {
					$(this).prop('disabled', IsDisabled);
				}
			});			
		}

		//要略過的清單(Input)
		function checkInputSkipList(tID) {
			var ArrayList = ["tbx_cContractID", "tbx_cCustomerID", "tbx_cCustomerName", "tbx_cSoSales", "tbx_cSoSalesName", "tbx_cSoSalesASS", "tbx_cSoSalesASSName", "tbx_cMASales", "tbx_cMASalesName", "tbx_cStartDate", "tbx_cEndDate", "tbx_cSLARESP", "tbx_cSLASRV", "tbx_cMainEngineerName"];
			return SkiptList(tID, ArrayList);
		}

		//要略過的清單(select)
		function checkSelectSkipList(tID) {
			//var ArrayList = ["ddl_cSRPathWay", "ddl_cCustomerType"];
			//return SkiptList(tID, ArrayList);
		}

		//要略過的清單(button)
		function checkButtonSkipList(tID) {
			//var ArrayList = ["btn_ShowHistoryLog", "btn_showRepairInfo", "btn_clearRepairInfo", "btn_addRepairInfo", "btn_addContactInfo", "btn_editRepairInfo", "btn_editContactInfo", "btn_pjTeam", "btn_pjAssEngineer", "btn_pjTechManager"];
			//return SkiptList(tID, ArrayList);
		}

		//要略過的清單(textarea)
		function checkTextareaSkipList(tID) {
			var ArrayList = ["tbx_cBillCycle"];
			return SkiptList(tID, ArrayList);
		}

		//執行要略過的清單
		function SkiptList(tID, ArrayList) {
			var tIsExits = false;

			ArrayList.every(function (v) {
				if (v == tID) {
					tIsExits = true;
					return false;
				}
				else {
					return true;
				}
			});

			return tIsExits;
		}

		//按下編輯事件
		function EditContract() {
			$("#btn_Edit").hide();
			$("#btn_submit").show();

			disabledPopup("#form1", false);
		}

		//確認提交事件
		function onclickBtnSave() {
			if (checkBeforeSend()) {
				$("#form1").submit();
			}
		}

		//儲存前檢查
		function checkBeforeSend() {
			$("#btn_submit").hide();
			$("#waitingImg").show();

			var Msg = "";
			
			var tbx_cMACycle = $("#tbx_cMACycle");				//維護週期
			var tbx_cMANotes = $("#tbx_cMANotes");				//維護備註
			var tbx_cMAAddress = $("#tbx_cMAAddress");			//維護地址
			var tbx_cContractNotes = $("#tbx_cContractNotes");	//合約備註
			var tbx_cBillNotes = $("#tbx_cBillNotes");			//請款備註			

			if (tbx_cMACycle.val() == "") {
				Msg += "【維護週期】不得為空！\n";
			}
			
			if (tbx_cMANotes.val() == "") {
				Msg += "【維護備註】不得為空！\n";
			}

			if (tbx_cMAAddress.val() == "") {
				Msg += "【維護地址】不得為空！\n";
			}

			if (tbx_cContractNotes.val() == "") {
				Msg += "【合約備註】不得為空！\n";
			}

			if (tbx_cBillNotes.val() == "") {
				Msg += "【請款備註】不得為空！\n";
			}

			if (Msg != "") {
				alert(Msg);

				$("#btn_submit").show();
				$("#waitingImg").hide();
				return false;
			}			

			return true;
		}		
	</script>
}

	@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>合約主數據維護作業</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">合約管理</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>合約主數據維護作業</strong>
			</li>
		</ol>
	</div>
}

	<div class="row">

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>
						合約主數據內容						
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="form-group row">
						<button id="btn_Edit" class="btn btn-info btn-lg" type="button" onclick="EditContract();">
							<i class="fa fa-pencil" style="font-size:large"> 編 輯</i>
						</button>
						<img id="waitingImgEdit" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button id="btn_ShowHistoryLog" class="btn btn-success btn-lg" type="button">
							<i class="fa fa-search" style="font-size:large">更改歷史記錄</i>
						</button>
					</div>
					<form id="form1" name="form" action='@Url.Action("saveContractMain", "Contract")' method="post">
						<!--登人者公司別(Comp-1、Comp-2...)-->
						<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
						<!--登人者公司別(T012、T016...)-->
						<input type="hidden" id="hid_cLoginUser_BUKRS" name="hid_cLoginUser_BUKRS" value="@ViewBag.cLoginUser_BUKRS">
						<!--是否可編輯合約主數據相關內容-->
						<input type="hidden" id="hid_IsCanEdit" name="hid_IsCanEdit" value="@ViewBag.IsCanEdit">
						<!--是否可顯示合約書link-->
						<input type="hidden" id="hid_IsCanRead" name="hid_IsCanRead" value="@ViewBag.IsCanRead">
						<!--文件編號隱藏欄位-->
						<input type="hidden" id="hid_cContractID" name="hid_cContractID" value="@ViewBag.cContractID">						
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">文件編號</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cContractID" id="tbx_cContractID" class="form-control" placeholder="文件編號" value="@ViewBag.cContractID" title="@ViewBag.cContractID"disabled>
							</div>	
							<label class="col-lg-2 col-form-label">*銷售單號</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSoNo" id="tbx_cSoNo" class="form-control" placeholder="銷售單號" value="@ViewBag.cSoNo" title="@ViewBag.cSoNo">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">客戶代號</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cCustomerID" id="tbx_cCustomerID" class="form-control CustName" placeholder="客戶代號" value="@ViewBag.cCustomerID" title="@ViewBag.cCustomerID" disabled>
							</div>
							<label class="col-lg-2 col-form-label">客戶名稱</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cCustomerName" id="tbx_cCustomerName" class="form-control" placeholder="客戶名稱" value="@ViewBag.cCustomerName" title="@ViewBag.cCustomerName" disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">業務員ERPID</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSoSales" id="tbx_cSoSales" class="form-control" placeholder="請輸入人名或英文關鍵字搜尋" value="@ViewBag.cSoSales" title="@ViewBag.cSoSales" disabled>
							</div>
							<label class="col-lg-2 col-form-label">業務員姓名</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSoSalesName" id="tbx_cSoSalesName" class="form-control" placeholder="業務員姓名" value="@ViewBag.cSoSalesName" title="@ViewBag.cSoSalesName" disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">業務祕書ERPID</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSoSalesASS" id="tbx_cSoSalesASS" class="form-control" placeholder="請輸入人名或英文關鍵字搜尋" value="@ViewBag.cSoSalesASS" title="@ViewBag.cSoSalesASS" disabled>
							</div>
							<label class="col-lg-2 col-form-label">業務祕書姓名</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSoSalesASSName" id="tbx_cSoSalesASSName" class="form-control" placeholder="業務祕書姓名" value="@ViewBag.cSoSalesASSName" title="@ViewBag.cSoSalesASSName" disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">維護業務員ERPID</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cMASales" id="tbx_cMASales" class="form-control" placeholder="請輸入人名或英文關鍵字搜尋" value="@ViewBag.cMASales" title="@ViewBag.cMASales" disabled>
							</div>
							<label class="col-lg-2 col-form-label">維護業務員姓名</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cMASalesName" id="tbx_cMASalesName" class="form-control" placeholder="維護業務員姓名" value="@ViewBag.cMASalesName" title="@ViewBag.cMASalesName" disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">訂單說明</label>
							<div class="col-lg-4">
								<textarea rows="3" class="form-control" placeholder="訂單說明" id="tbx_cDesc" name="tbx_cDesc" title="@ViewBag.cDesc">@ViewBag.cDesc</textarea>
							</div>							
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">維護日期</label>
							<div class="input-group col-md-10 col-lg-6">
								<span class="input-group-addon">起</span>
								<input type="text" name="tbx_cStartDate" id="tbx_cStartDate" class="calendar form-control" placeholder="起" value="@ViewBag.cStartDate" disabled><span class="input-group-addon">迄</span>
								<input type="text" name="tbx_cEndDate" id="tbx_cEndDate" class="calendar form-control" placeholder="迄" value="@ViewBag.cEndDate" disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">*維護週期</label>
							<div class="col-lg-4">
								<textarea rows="3" class="form-control" placeholder="維護週期" id="tbx_cMACycle" name="tbx_cMACycle" title="@ViewBag.cMACycle">@ViewBag.cMACycle</textarea>
							</div>
							<label class="col-lg-2 col-form-label">*維護備註</label>
							<div class="col-lg-4">
								<textarea rows="3" class="form-control" placeholder="維護備註" id="tbx_cMANotes" name="tbx_cMANotes" title="@ViewBag.cMANotes">@ViewBag.cMANotes</textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">*維護地址</label>
							<div class="col-lg-4">
								<textarea rows="3" class="form-control" placeholder="維護地址" id="tbx_cMAAddress" name="tbx_cMAAddress" title="@ViewBag.cMAAddress">@ViewBag.cMAAddress</textarea>
							</div>		
							<label class="col-lg-2 col-form-label">*合約備註</label>
							<div class="col-lg-4">
								<textarea rows="3" class="form-control" placeholder="合約備註" id="tbx_cContractNotes" name="tbx_cContractNotes" title="@ViewBag.cContractNotes">@ViewBag.cContractNotes</textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">回應條件</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSLARESP" id="tbx_cSLARESP" class="form-control" placeholder="回應條件" value="@ViewBag.cSLARESP" title="@ViewBag.cSLARESP" disabled>
							</div>
							<label class="col-lg-2 col-form-label">服務條件</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSLASRV" id="tbx_cSLASRV" class="form-control" placeholder="服務條件" value="@ViewBag.cSLASRV" title="@ViewBag.cSLASRV" disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">主要工程師姓名</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cMainEngineerName" id="tbx_cMainEngineerName" class="form-control" placeholder="主要工程師" value="@ViewBag.cMainEngineerName" title="@ViewBag.cMainEngineerName" disabled>
							</div>
							<label class="col-lg-2 col-form-label">合約書link</label>
							<div class="col-lg-4">
								@{
									if (ViewBag.IsCanRead == "Y")
									{
										<a href="@ViewBag.cContractReport" target="_blank">@ViewBag.cContractID</a>
									}
									else
									{
										<label class="col-form-label" style="color:blue;">您無權限查閱！</label>
									}
								}								
							</div>
						</div>											
						<div class="hr-line-dashed"></div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">請款期間</label>
							<div class="col-lg-4">
								<textarea rows="3" class="form-control" placeholder="請款期間" id="tbx_cBillCycle" name="tbx_cBillCycle" title="@ViewBag.cBillCycle" disabled>@ViewBag.cBillCycle</textarea>
							</div>
							<label class="col-lg-2 col-form-label">*請款備註</label>
							<div class="col-lg-4">
								<textarea rows="3" class="form-control" placeholder="請款備註" id="tbx_cBillNotes" name="tbx_cBillNotes" title="@ViewBag.cBillNotes">@ViewBag.cBillNotes</textarea>
							</div>
						</div>
						<div class="form-group row">
							<button id="btn_submit" class="btn btn-primary btn-lg" type="button" onclick="ShowSRConfirmDialogMsg('確認', '您是否確認儲存？');">
								<i class="fa fa-arrow-circle-up" style="font-size:large"> 儲 存</i>
							</button>
							<img id="waitingImg" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
						</div>
					</form>
				</div>
			</div>
		</div>		

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>下包合約</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content" id="dataDiv" style="overflow: scroll">
					<table id="tableAll" class="table table-striple table-bordered table-hover dataTables-example">
						<thead>
							<tr>
								<th>下包文件編號</th>
								<th>下包商統一編號</th>
								<th>下包商名稱</th>
								<th>下包備註</th>
								<th>標的</th>								
							</tr>
						</thead>
						<tbody>
							@{
								if (ViewBag.QueryToListBean != null)
								{
									foreach (string[] QueryInfo in ViewBag.QueryToListBean)
									{
										<tr>
											<td><a href="@QueryInfo[1]">@QueryInfo[0]</a></td>
											<td>@Html.Raw(QueryInfo[2])</td>
											<td>@Html.Raw(QueryInfo[3])</td>
											<td>@Html.Raw(QueryInfo[4])</td>
											<td><a href="@QueryInfo[5]" target="_blank">查詢</a></td>
										</tr>
									}
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!--ShowSRConfirmDialog-->
	<div class="modal fade" id="ShowSRConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ShowSRConfirmdialogTitle">確認</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="ShowSRConfirmdialogContent">
				</div>
				<div class="modal-footer">
					<button id="BtnCancel" type="button" class="btn btn-lg btn-dark" data-dismiss="modal">取消</button>
					<button id="BtnSave" type="button" class="btn btn-lg btn-primary" data-dismiss="modal" onclick="onclickBtnSave();">確認</button>
				</div>
			</div>
		</div>
	</div>