@{
	ViewData["Title"] = "ContractDetailSub";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		$(document).ready(function () {
			initPage();
		});

		//初始頁面
		function initPage() {
			//查詢更改歷史記錄popup
			$('#btn_ShowHistoryLog').click(function () {
				getHistoryLog();			//顯示更改歷史記錄
				$('#dialog_ShowHistoryLog').modal('show');
			})

			//判斷是否可以編輯
			var hid_IsCanEdit = $('#hid_IsCanEdit');
			if (hid_IsCanEdit.val() == "Y") {

				disabledPopup("#form1", true);

				$("#btnSave").hide();
				$("#btn_Edit").show();
				$("#btn_ShowHistoryLog").show();
				$("#btn_ShowHistoryLog").prop('disabled', false);
			}
			else {
				disabledPopup("#form1", true);

				$("#btnSave").hide();
				$("#btn_Edit").hide();
				$("#btn_ShowHistoryLog").hide();
			}
		}

		//呼叫日期轉換
		function TransDate(Obj) {
			if (Obj != null) {
				return getDateString(new Date(Obj));
			}

			return "";
		}

		//日期Format(補0)
		function pad(v) {
			return (v < 10) ? '0' + v : v
		}

		//日期Format
		function getDateString(d) {
			try {
				var year = d.getFullYear();
				var month = pad(d.getMonth() + 1);
				var day = pad(d.getDate());
				var hour = pad(d.getHours());
				var min = pad(d.getMinutes());
				var sec = pad(d.getSeconds());

				return year + "-" + month + "-" + day + " " + hour + ":" + min + ":" + sec;
			}
			catch (e) {
				return "";
			}
		}

		//查詢更改歷史記錄
		function getHistoryLog() {
			var cContractID = $("#tbx_cSubContractID").val();	//下包文件編號
			var cIsSubContract = "Y";							//是否為下包合約(Y.是 N.否)

			$.ajax({
				url: '@Url.Action("GetHistoryLog", "Contract")',
				type: 'post',
				dataType: 'json',
				data: {
					cContractID: cContractID,
					cIsSubContract: cIsSubContract
				},
				success: function (result) {
					var ALLList = ""
					var listOneLog = "";					

					//↓↓↓↓↓歷史記錄資訊(共用) ↓↓↓↓↓/
					$.each(result.srOneLog, function (i, bean) {
						if (bean != null) {
							var tDate = TransDate(bean.createdDate);
							var strLog = bean.log.replace(/\n/g, "<br />");

							listOneLog += '<tr>'
								+ "<td style='vertical-align: left;'>" + bean.cSrid + "</td>"
								+ "<td style='vertical-align: left;'>" + bean.eventName + "</td>"
								+ "<td style='vertical-align: left;'>" + strLog + "</td>"
								+ "<td style='vertical-align: left;'>" + tDate + "</td>"
								+ "<td style='vertical-align: left;'>" + bean.createdUserName + "</td>"
								+ "</tr>";
						}
					});

					if (listOneLog != "") {
						listOneLog = "<div class='col-lg-12'>"
							+ "	<div class='ibox'>"
							+ "		<div class='ibox-title'>"
							+ "			<h5>下包合約明細內容資訊</h5>"
							+ "          <div class='ibox-tools'><a class='collapse-linkZ'><i class='fa fa-chevron-up'></i></a></div>"
							+ "      </div>"
							+ "      <div class='ibox-content'>"
							+ "			<table class='table table-striple table-bordered table-hover dataTables-example'>"
							+ "				<thead><tr>"
							+ "				<th>文件編號</th>"
							+ "				<th>事件名稱</th>"
							+ "				<th>Log</th>"
							+ "				<th>異動時間</th>"
							+ "				<th>異動人員</th>"
							+ "				</tr></thead><tbody>"
							+ listOneLog
							+ "</tbody></table></div></div></div>";
					}
					//↑↑↑↑↑歷史記錄資訊(共用) ↑↑↑↑↑/
					
					ALLList += listOneLog;

					$("#tb_ShowHistoryLog").html(ALLList);					
				}
			});
		}

		//popup各欄位reset
		function resetPopup(popupId) {
			$(popupId).find("input").each(function (index, value) {
				$(this).val("");
			});
			$(popupId).find("select").each(function (index, value) {
				$(this).val("-1");
			});
			$(popupId).find("textarea").each(function (index, value) {
				$(this).val("");
			});
			$(popupId).find(".file-box").each(function (index, value) {
				$(this).remove();
			});
		}

		//popup各欄位disabled
		//popupId.傳入的obj、IsDisabled(true.不准許輸入 false.准許輸入)
		function disabledPopup(popupId, IsDisabled) {

			$(popupId).find("input").each(function (index, value) {
				var reValue = checkInputSkipList($(this).attr("name"));
				if (!reValue) {
					$(this).prop('disabled', IsDisabled);
				}
			});

			$(popupId).find("select").each(function (index, value) {
				var reValue = checkSelectSkipList($(this).attr("name"));
				if (!reValue) {
					$(this).prop('disabled', IsDisabled);
				}
			});

			$(popupId).find("button").each(function (index, value) {
				var reValue = checkButtonSkipList($(this).attr("name"));
				if (!reValue) {
					$(this).prop('disabled', IsDisabled);
				}
			});

			$(popupId).find("textarea").each(function (index, value) {
				var reValue = checkTextareaSkipList($(this).attr("name"));
				if (!reValue) {
					$(this).prop('disabled', IsDisabled);
				}
			});
		}

		//要略過的清單(Input)
		function checkInputSkipList(tID) {
			var ArrayList = ["tbx_cContractID", "tbx_cSubContractID", "tbx_cSubSupplierID", "tbx_cSubSupplierName"];
			return SkiptList(tID, ArrayList);
		}

		//要略過的清單(select)
		function checkSelectSkipList(tID) {
			//var ArrayList = ["ddl_cSRPathWay", "ddl_cCustomerType"];
			//return SkiptList(tID, ArrayList);
		}

		//要略過的清單(button)
		function checkButtonSkipList(tID) {
			var ArrayList = ["btnBack"];
			return SkiptList(tID, ArrayList);
		}

		//要略過的清單(textarea)
		function checkTextareaSkipList(tID) {
			//var ArrayList = ["tbx_cBillCycle"];
			//return SkiptList(tID, ArrayList);
		}

		//執行要略過的清單
		function SkiptList(tID, ArrayList) {
			var tIsExits = false;

			ArrayList.every(function (v) {
				if (v == tID) {
					tIsExits = true;
					return false;
				}
				else {
					return true;
				}
			});

			return tIsExits;
		}

		//按下編輯事件
		function EditContract() {
			$("#btn_Edit").hide();
			$("#btnSave").show();

			disabledPopup("#form1", false);
		}

		//返回合約主數據主檔
		function backToContractMain()
		{
			window.location.href = "@Url.Action("ContractMain", "Contract", new { ContractID = ViewBag.cContractID })";
		}

		//儲存前檢查
		function BeforeSave() {
			$("#waitingImg").show();
			$("#btnSave").hide();

			var tMsg = "";

			var hid_cID = $('#hid_cID');				//系統ID
			var tbx_cSubNotes = $('#tbx_cSubNotes');	//下包備註

			if (tbx_cSubNotes.val() == "") {
				tMsg += "下包備註不得為空！　\n";
			}

			if (tMsg != "") {
				alert(tMsg);
				$("#waitingImg").hide();
				$("#btnSave").show();
				return false;
			}
			else {
				saveDetailSub(hid_cID.val(), tbx_cSubNotes.val());
			}

			return true;
		}

		//儲存下包合約明細內容
		function saveDetailSub(cID, cSubNotes) {
			$.ajax({
				url: '@Url.Action("saveDetailSub", "Contract")',
				type: 'post',
				dataType: 'json',
				data: {
					cID: cID,
					cSubNotes: cSubNotes					
				},
				success: function (result) {
					if (result == "SUCCESS") {
						alert("儲存成功！");
						$("#btnSave").show();
					}
					else {
						alert("儲存失敗！原因：" + result);
					}

					$("#waitingImg").hide();
				}
			});
		}		
	</script>
}

@section breadcrumb_section{
<div class="col-lg-10">
	<h2>合約主數據維護作業</h2>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">合約管理</a>
		</li>
		<li class="breadcrumb-item active">
			<strong>合約主數據維護作業</strong>
		</li>
	</ol>
</div>
}

<div class="row">

	<div class="col-lg-12">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>
					下包合約明細內容						
				</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">	
				<div class="form-group row">							
					<button id="btn_Edit" class="btn btn-info btn-lg" type="button" onclick="EditContract();">
						<i class="fa fa-pencil" style="font-size:large"> 編 輯</i>
					</button>
					<img id="waitingImgEdit" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button id="btn_ShowHistoryLog" class="btn btn-success btn-lg" type="button">
						<i class="fa fa-search" style="font-size:large">更改歷史記錄</i>
					</button>
				</div>
				<form id="form1" name="form" action='#' method="post">						
				<!--登人者公司別(Comp-1、Comp-2...)-->
				<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
				<!--登人者公司別(T012、T016...)-->
				<input type="hidden" id="hid_cLoginUser_BUKRS" name="hid_cLoginUser_BUKRS" value="@ViewBag.cLoginUser_BUKRS">
				<!--下包合約資料檔系統ID-->
				<input type="hidden" id="hid_cID" name="hid_cID" value="@ViewBag.cID">
				<!--是否可編輯下包合約相關內容-->
				<input type="hidden" id="hid_IsCanEdit" name="hid_IsCanEdit" value="@ViewBag.IsCanEdit">
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">*主約文件編號</label>
					<div class="col-lg-4">
								<input type="text" name="tbx_cContractID" id="tbx_cContractID" class="form-control" placeholder="主約文件編號" value="@ViewBag.cContractID" title="@ViewBag.cContractID" disabled>
					</div>
					<label class="col-lg-2 col-form-label">*下包文件編號</label>
					<div class="col-lg-4">
						<input type="text" name="tbx_cSubContractID" id="tbx_cSubContractID" class="form-control" placeholder="下包文件編號" value="@ViewBag.cSubContractID" title="@ViewBag.cSubContractID" disabled>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">*下包商代號</label>
					<div class="col-lg-4">
						<input type="text" name="tbx_cSubSupplierID" id="tbx_cSubSupplierID" class="form-control" placeholder="下包商代號" value="@ViewBag.cSubSupplierID" title="@ViewBag.cSubSupplierID" disabled>
					</div>
					<label class="col-lg-2 col-form-label">*下包商名稱</label>
					<div class="col-lg-4">
						<input type="text" name="tbx_cSubSupplierName" id="tbx_cSubSupplierName" class="form-control" placeholder="下包商名稱" value="@ViewBag.cSubSupplierName" title="@ViewBag.cSubSupplierName" disabled>
					</div>
				</div>							
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">*下包備註</label>
					<div class="col-lg-4">
						<textarea rows="3" class="form-control" placeholder="下包備註" id="tbx_cSubNotes" name="tbx_cSubNotes" title="@ViewBag.cSubNotes">@ViewBag.cSubNotes</textarea>
					</div>	
					<label class="col-lg-2 col-form-label">下包合約書link</label>
					<div class="col-lg-4">
					@{
						if (ViewBag.IsCanRead == "Y")
						{
							<a href="@ViewBag.cSubContractReport" target="_blank">@ViewBag.cSubContractID</a>
						}
						else
						{
							<label class="col-form-label" style="color:blue;">您無權限查閱！</label>
						}
					}
				</div>
				</div>							
				<div class="hr-line-dashed"></div>
				<div class="form-group row">
					@{
						if (ViewBag.IsCanEdit != "Y")
						{
							<button id="btnSave" name="btnSave" class="btn btn-primary btn-lg" type="button" onclick="if (!BeforeSave()) { return false; }" style="display:none;" ><i class="fa fa-floppy-o"></i> 儲 存 </button>
						}
						else
						{
							<button id="btnSave" name="btnSave" class="btn btn-primary btn-lg" type="button" onclick="if (!BeforeSave()) { return false; }"><i class="fa fa-floppy-o"></i> 儲 存 </button>
						}
					}
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button id="btnBack" name="btnBack" class="btn btn-secondary btn-lg" type="button" onclick="backToContractMain();"><i class="fa fa-reply"></i> 返回主約</button>
					<img id="waitingImg" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
				</div>
			</form>
			</div>
		</div>
	</div>
</div>