@{
	ViewData["Title"] = "ContractMain";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		$(document).ready(function () {
			initTable();
			CustSearch();
			PeopleSearch();			
		});

		function initTable() {
			var buttonCommon = {
				exportOptions: {
					format: {
						body: function (data, row, column, node) {
							//替換&符號
							var translate_re = /&(nbsp|amp|quot|lt|gt);/g,
								translate = {
									'nbsp': String.fromCharCode(160),
									'amp': '&',
									'quot': '"',
									'lt': '<',
									'gt': '>'
								},
								translator = function ($0, $1) {
									return translate[$1];
								};

							if (typeof data === 'string')
								data = data.replace(translate_re, translator);

							if (column === 0 || column === 4) //去除連結的部份
							{
								var splitName = data.split(">");
								var length = splitName.length;

								if (length > 1) {
									return data.split(">")[1].split("<")[0];
								}
								else {
									return data;
								}
							}
							else if (column === 3) //將換行符號<br>換成excel可以識別的\n
							{
								return data.replace(/<br\s*\/?>/ig, "\n"); //匯出需要在每筆紀錄前，多換一行
							}
							else
							return data;
						}
					}
				}
			};

			$('#tableAll').DataTable({
				language: {
					"lengthMenu": "每頁顯示筆數 _MENU_ ",
					"info": "顯示第 _START_ 到 _END_ 筆，全部共 _TOTAL_ 筆",
					"search": " 關鍵字篩選"
				},
				pageLength: 25,
				responsive: true,				
				dom: '<"top"i><"wrapper"Blfrtip>', //Blfrtip =>可顯示筆數
				buttons: [
					$.extend(true, {}, buttonCommon, {
						extend: 'excelHtml5',
						title: '下包合約_' + new Date().toISOString().slice(0, 10).replace("-", "").replace("-", ""),
						text: '匯出Excel',
						sheetName: '下包合約',
						exportOptions: {
							columns: [0, 1, 2, 3, 4] //要顯示的欄位
						},
						customize: function (xlsx) {
							addCustomNumberFormat(xlsx, '0');
							formatTargetColumn(xlsx, 'A');
							formatTargetColumn(xlsx, 'B');
							formatTargetColumn(xlsx, 'C');
							formatTargetColumn(xlsx, 'D');
							formatTargetColumn(xlsx, 'E');							
						}
					}),
				],
			});

			$("#tableAll_wrapper .dt-buttons.btn-group").css("float", "right"); //匯出excel按鈕位置靠右
			$('#ddl_cTeamID option').prop('selected', false).trigger('chosen:updated');	//服務團隊
		}

		function addCustomNumberFormat(xlsx, numberFormat) {
			// this adds a new custom number format to the Excel "styles" document:
			var numFmtsElement = xlsx.xl['styles.xml'].getElementsByTagName('numFmts')[0];
			// assume 6 custom number formats already exist, and next available ID is 176:
			var numFmtElement = '<numFmt numFmtId="176" formatCode="' + numberFormat + '"/>';
			$(numFmtsElement).append(numFmtElement);
			$(numFmtsElement).attr("count", "7"); // increment the count

			// now add a new "cellXfs" cell formatter, which uses our new number format (numFmt 176):
			var celXfsElement = xlsx.xl['styles.xml'].getElementsByTagName('cellXfs');
			var cellStyle = '<xf numFmtId="176" fontId="0" fillId="0" borderId="0" xfId="0" applyNumberFormat="1"'
				+ ' applyFont="1" applyFill="1" applyBorder="1"/>';
			// this will be the 8th "xf" element - and will therefore have an index of "7", when we use it later:
			$(celXfsElement).append(cellStyle);
			$(celXfsElement).attr("count", "66"); //(1.2.3版)官方提供0-64共65種格式，在此自己新增加一種
		}

		function formatTargetColumn(xlsx, col) {
			var sheet = xlsx.xl.worksheets['sheet1.xml'];

			if (col == "A") {
				$('row c[r^="' + col + '"]', sheet).attr('s', '65'); //使用自定義格式
			}
			else {
				$('row c[r^="' + col + '"]', sheet).attr('s', '0'); //設成文字格式
			}
		}

		//SAP客戶代號/客戶名稱查詢
		//compcde(Comp-1.大世科 Comp-2.群輝 Comp-3.上海 Comp-4.協志)
		function CustSearch() {
			var compcde = $("#hid_cLoginUser_CompCode").val();

			$(".CustName").unbind();

			$(".CustName").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							$.ajax({
								url: '@Url.Action("findCustByKeywordAndComp", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: { functionName: 'findCustByKeywordAndComp', keyword: keyword, compcde: compcde },
								success: function (result) {
									Customers = [];
									$.each(result, function (i, idata) {
										Customers[i] = {
											label: idata.Kna1Kunnr + "\\" + idata.Kna1Name1, //顯示在清單的東西
											idx: i,
											value: idata.Kna1Kunnr //這個是要填入textbox的值
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: Customers
									}).bind('focus', function () { $(this).autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
								}
							})
						}
					}

				}
			})
		}

		//Ajax用中文或英文姓名查詢人員帳號
		function PeopleSearch() {
			$(".Peoploe").unbind();

			$(".Peoploe").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							var ojbID = $(this).attr("id");

							$.ajax({
								url: '@Url.Action("AjaxfindEmployeeByKeyword", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: {
									functionName: 'AjaxfindEmployeeByKeyword', keyword: keyword
								},
								success: function (result) {
									objects = [];
									$.each(result, function (i, idata) {
										objects[i] = {
											label: idata.CEmployeeCName + "\\" + idata.CEmployeeEname + "\\" + idata.CEmployeeErpid,
											idx: i,
											value: idata.CEmployeeErpid //value這個值，一定要在label裡才能顯示出下拉											
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: objects
									}).bind('focus', function () { obj.autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();									
								}
							})

						}
					}
				}
			})
		}

		//儲存前檢查
		function BeforeSave() {
			$("#waitingImg").show();

			var tMsg = "";						
			var SRCaseType = $("#ddl_cSRCaseType").val().join();		//服務案件種類
			var Status = $("#ddl_cStatus").val().join();				//狀態
			var tbx_cStartCreatedDate = $('#tbx_cStartCreatedDate');		//派單起始日期
			var tbx_cEndCreatedDate = $('#tbx_cEndCreatedDate');			//派單結束日期
			var tbx_cCustomerID = $('#tbx_cCustomerID');				//客戶代號
			var tbx_cCustomerName = $('#tbx_cCustomerName');				//客戶名稱
			var tbx_cSRID = $('#tbx_cSRID');							//SRID
			var tbx_CreatedUserName = $('#tbx_CreatedUserName');			//派單人員
			var tbx_cRepairName = $('#tbx_cRepairName');				//報修人姓名			
			var SRPathWay = $("#ddl_cSRPathWay").val().join();			//報修管道
			var tbx_cMainEngineerID = $('#tbx_cMainEngineerID');			//主要工程師ERPID
			var tbx_cAssEngineerID = $('#tbx_cAssEngineerID');			//協助工程師ERPID
			var tbx_cTechManagerID = $('#tbx_cTechManagerID');			//技術主管ERPID
			var cTeamID = $("#ddl_cTeamID").val().join();			    //服務團隊

			var ddl_cSRTypeOne = $('#ddl_cSRTypeOne');					//報修類別-大類
			var ddl_cSRTypeSec = $('#ddl_cSRTypeSec');					//報修類別-中類
			var ddl_cSRTypeThr = $('#ddl_cSRTypeThr');					//報修類別-小類

			var tbx_cSerialID = $('#tbx_cSerialID');					//產品序號
			var tbx_cMaterialName = $('#tbx_cMaterialName');				//產品機器型號
			var tbx_cProductNumber = $('#tbx_cProductNumber');			//Product Number

			if (SRCaseType == "" && Status == "" && tbx_cStartCreatedDate.val() == "" && tbx_cEndCreatedDate.val() == "" &&
				tbx_cCustomerID.val() == "" && tbx_cCustomerName.val() == "" && tbx_cSRID.val() == "" && tbx_CreatedUserName.val() == "" && tbx_cRepairName.val() == "" && SRPathWay == "" &&
				tbx_cMainEngineerID.val() == "" && tbx_cAssEngineerID.val() == "" && tbx_cTechManagerID.val() == "" && cTeamID == "" &&
				ddl_cSRTypeOne.val() == "" && tbx_cSerialID.val() == "" && tbx_cMaterialName.val() == "" && tbx_cProductNumber.val() == "" &&
				(ddl_cSRTypeSec.val() == null || ddl_cSRTypeSec.val() == "") && 
				(ddl_cSRTypeThr.val() == null || ddl_cSRTypeThr.val() == "")) {

				tMsg += "請至少輸入一項查詢條件！　\n";
			}

			if (tbx_cStartCreatedDate.val() != "" && tbx_cEndCreatedDate.val() != "") {

				if (tbx_cStartCreatedDate.val() > tbx_cEndCreatedDate.val()) {
					tMsg += '派單起始日期不能大於結束日期！\n';
					tbx_cEndCreatedDate.val(""); //清空
				}
			}

			if (tMsg != "") {
				alert(tMsg);
				$("#waitingImg").hide();
				return false;
			}
			else {
				searchQuerySRProgress(SRCaseType, Status, tbx_cStartCreatedDate.val(), tbx_cEndCreatedDate.val(), tbx_cCustomerID.val(),
									  tbx_cCustomerName.val(), tbx_cSRID.val(), tbx_CreatedUserName.val(), tbx_cRepairName.val(), SRPathWay,
									  tbx_cMainEngineerID.val(), tbx_cAssEngineerID.val(), tbx_cTechManagerID.val(), cTeamID,
									  ddl_cSRTypeOne.val(), ddl_cSRTypeSec.val(), ddl_cSRTypeThr.val(),
									  tbx_cSerialID.val(), tbx_cMaterialName.val(), tbx_cProductNumber.val());
			}

			return true;
		}

		//查詢結果
		function searchQuerySRProgress(cSRCaseType, cStatus, cStartCreatedDate, cEndCreatedDate, cCustomerID,cCustomerName, cSRID, CreatedUserName, cRepairName, cSRPathWay,
									  cMainEngineerID, cAssEngineerID, cTechManagerID, cTeamID, cSRTypeOne, cSRTypeSec, cSRTypeThr, cSerialID, cMaterialName, cProductNumber) {
			
			var cCompanyID = $("#hid_cLoginUser_BUKRS").val(); //公司別
			$("#dataDiv").html('');

			$.ajax({
				url: '@Url.Action("QuerySRProgressResult", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					cCompanyID: cCompanyID,
					cSRCaseType: cSRCaseType,
					cStatus: cStatus,
					cStartCreatedDate: cStartCreatedDate,
					cEndCreatedDate: cEndCreatedDate,
					cCustomerID: cCustomerID,
					cCustomerName: cCustomerName,
					cSRID: cSRID,
					CreatedUserName: CreatedUserName,
					cRepairName: cRepairName,
					cSRPathWay: cSRPathWay,
					cMainEngineerID: cMainEngineerID,
					cAssEngineerID: cAssEngineerID,
					cTechManagerID: cTechManagerID,
					cTeamID: cTeamID,
					cSRTypeOne: cSRTypeOne,
					cSRTypeSec: cSRTypeSec,
					cSRTypeThr: cSRTypeThr,
					cSerialID: cSerialID,
					cMaterialName: cMaterialName,
					cProductNumber: cProductNumber
				},
				success: function (result) {
				},
				complete: function (result) {
					$("#dataDiv").html(result.responseText);
					$("#waitingImg").hide();
				}
			});
		}		
	</script>
}

	@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>合約主數據維護作業</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">合約管理</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>合約主數據維護作業</strong>
			</li>
		</ol>
	</div>
}

	<div class="row">

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>
						合約主數據內容						
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">	
					<div class="form-group row">
						<button id="btn_Edit" class="btn btn-info btn-lg" type="button" onclick="EditSRID();">
							<i class="fa fa-pencil" style="font-size:large"> 編 輯</i>
						</button>
						<img id="waitingImgEdit" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button id="btn_ShowHistoryLog" class="btn btn-success btn-lg" type="button">
							<i class="fa fa-search" style="font-size:large">更改歷史記錄</i>
						</button>
					</div>
					<form id="form1" name="form" action='#' method="post">						
						<!--登人者公司別(Comp-1、Comp-2...)-->
						<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
						<!--登人者公司別(T012、T016...)-->
						<input type="hidden" id="hid_cLoginUser_BUKRS" name="hid_cLoginUser_BUKRS" value="@ViewBag.cLoginUser_BUKRS">						
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">*文件編號</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cContractID" id="tbx_cContractID" class="form-control" placeholder="文件編號" value="@ViewBag.cContractID" title="@ViewBag.cContractID"disabled>
							</div>	
							<label class="col-lg-2 col-form-label">銷售單號</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSoNo" id="tbx_cSoNo" class="form-control" placeholder="銷售單號" value="@ViewBag.cSoNo" title="@ViewBag.cSoNo">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">*客戶代號</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cCustomerID" id="tbx_cCustomerID" class="form-control CustName" placeholder="客戶代號" value="@ViewBag.cCustomerID" title="@ViewBag.cCustomerID" disabled>
							</div>
							<label class="col-lg-2 col-form-label">*客戶名稱</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cCustomerName" id="tbx_cCustomerName" class="form-control" placeholder="客戶名稱" value="@ViewBag.cCustomerName" title="@ViewBag.cCustomerName" disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">*業務員ERPID</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSoSales" id="tbx_cSoSales" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋" value="@ViewBag.cSoSales" title="@ViewBag.cSoSales" disabled>
							</div>
							<label class="col-lg-2 col-form-label">*業務員姓名</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSoSalesName" id="tbx_cSoSalesName" class="form-control" placeholder="業務員姓名" value="@ViewBag.cSoSalesName" title="@ViewBag.cSoSalesName" disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">*業務祕書ERPID</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSoSalesASS" id="tbx_cSoSalesASS" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋" value="@ViewBag.cSoSalesASS" title="@ViewBag.cSoSalesASS" disabled>
							</div>
							<label class="col-lg-2 col-form-label">*業務祕書姓名</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSoSalesASSName" id="tbx_cSoSalesASSName" class="form-control" placeholder="業務祕書姓名" value="@ViewBag.cSoSalesASSName" title="@ViewBag.cSoSalesASSName" disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">*維護業務員ERPID</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cMASales" id="tbx_cMASales" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋" value="@ViewBag.cMASales" title="@ViewBag.cMASales" disabled>
							</div>
							<label class="col-lg-2 col-form-label">*維護業務員姓名</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cMASalesName" id="tbx_cMASalesName" class="form-control" placeholder="維護業務員姓名" value="@ViewBag.cMASalesName" title="@ViewBag.cMASalesName" disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">*訂單說明</label>
							<div class="col-lg-4">
								<textarea rows="3" class="form-control" placeholder="訂單說明" id="tbx_cDesc" name="tbx_cDesc" title="@ViewBag.cDesc">@ViewBag.cDesc</textarea>
							</div>							
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">維護日期</label>
							<div class="input-group col-md-10 col-lg-6">
								<span class="input-group-addon">起</span>
								<input type="text" name="tbx_cStartDate" id="tbx_cStartDate" class="calendar form-control" placeholder="起" value="@ViewBag.cStartDate" disabled><span class="input-group-addon">迄</span>
								<input type="text" name="tbx_cEndDate" id="tbx_cEndDate" class="calendar form-control" placeholder="迄" value="@ViewBag.cEndDate" disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">*維護週期</label>
							<div class="col-lg-4">
								<textarea rows="3" class="form-control" placeholder="維護週期" id="tbx_cMACycle" name="tbx_cMACycle" title="@ViewBag.cMACycle">@ViewBag.cMACycle</textarea>
							</div>
							<label class="col-lg-2 col-form-label">*維護備註</label>
							<div class="col-lg-4">
								<textarea rows="3" class="form-control" placeholder="維護備註" id="tbx_cMANotes" name="tbx_cMANotes" title="@ViewBag.cMANotes">@ViewBag.cMANotes</textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">*維護地址</label>
							<div class="col-lg-4">
								<textarea rows="3" class="form-control" placeholder="維護地址" id="tbx_cMAAddress" name="tbx_cMAAddress" title="@ViewBag.cMAAddress">@ViewBag.cMAAddress</textarea>
							</div>		
							<label class="col-lg-2 col-form-label">*合約備註</label>
							<div class="col-lg-4">
								<textarea rows="3" class="form-control" placeholder="合約備註" id="tbx_cContractNotes" name="tbx_cContractNotes" title="@ViewBag.cContractNotes">@ViewBag.cContractNotes</textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">*回應條件</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSLARESP" id="tbx_cSLARESP" class="form-control" placeholder="回應條件" value="@ViewBag.cSLARESP" title="@ViewBag.cSLARESP">
							</div>
							<label class="col-lg-2 col-form-label">*服務條件</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSLASRV" id="tbx_cSLASRV" class="form-control" placeholder="服務條件" value="@ViewBag.cSLASRV" title="@ViewBag.cSLASRV" disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">主要工程師姓名</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cMainEngineerID" id="tbx_cMainEngineerID" class="form-control" placeholder="主要工程師" value="@ViewBag.cMainEngineerID" title="@ViewBag.cMainEngineerID" disabled>
							</div>
							<label class="col-lg-2 col-form-label">合約書link</label>
							<div class="col-lg-4">
								@{
									if (ViewBag.IsCanRead == "Y")
									{
										<a href="@ViewBag.cContractReport" target="_blank">@ViewBag.cContractID</a>
									}
									else
									{
										<label class="col-form-label" style="color:blue;">您無權限查閱！</label>
									}
								}								
							</div>
						</div>											
						<div class="hr-line-dashed"></div>
						<div class="form-group row">
							<button class="btn btn-primary btn-lg" type="button" onclick="if (!BeforeSave()) { return false; }"><i class="fa fa-floppy-o"></i> 儲 存 </button>
							<img id="waitingImg" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
						</div>
					</form>
				</div>
			</div>
		</div>		

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>下包合約</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content" id="dataDiv" style="overflow: scroll">
					<table id="tableAll" class="table table-striple table-bordered table-hover dataTables-example">
						<thead>
							<tr>
								<th>下包文件編號</th>
								<th>下包商統一編號</th>
								<th>下包商名稱</th>
								<th>下包備註</th>
								<th>標的</th>								
							</tr>
						</thead>
						<tbody>
							@{
							if (ViewBag.QueryToListBean != null)
							{
								foreach (string[] QueryInfo in ViewBag.QueryToListBean)
								{
										<tr>
											<td><a href="@QueryInfo[1]" target="_blank">@QueryInfo[0]</a></td>
											<td>@Html.Raw(QueryInfo[2])</td>
											<td>@Html.Raw(QueryInfo[3])</td>
											<td>@Html.Raw(QueryInfo[4])</td>
											<td><a href="@QueryInfo[5]" target="_blank">查詢</a></td>
										</tr>
								}
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	</div>