@{
	ViewData["Title"] = "QueryContractMain";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		$(document).ready(function () {
			initTable();
			init_iChceck();
			CustSearch();
			PeopleSearch();
		});

		function initTable() {
			var buttonCommon = {
				exportOptions: {
					format: {
						body: function (data, row, column, node) {
							//替換&符號
							var translate_re = /&(nbsp|amp|quot|lt|gt);/g,
								translate = {
									'nbsp': String.fromCharCode(160),
									'amp': '&',
									'quot': '"',
									'lt': '<',
									'gt': '>'
								},
								translator = function ($0, $1) {
									return translate[$1];
								};

							if (typeof data === 'string')
								data = data.replace(translate_re, translator);

							if (column === 0) //去除連結的部份
							{
								var splitName = data.split(">");
								var length = splitName.length;

								if (length > 1) {
									return data.split(">")[1].split("<")[0];
								}
								else {
									return data;
								}
							}
							else if (column === 13 || column === 16) //將換行符號<br>換成excel可以識別的\n
							{
								return data.replace(/<br\s*\/?>/ig, "\n"); //匯出需要在每筆紀錄前，多換一行
							}
							else
								return data;
						}
					}
				}
			};

			$('#tableAll').DataTable({
				language: {
					"lengthMenu": "每頁顯示筆數 _MENU_ ",
					"info": "顯示第 _START_ 到 _END_ 筆，全部共 _TOTAL_ 筆",
					"search": " 關鍵字篩選"
				},
				pageLength: 25,
				responsive: true,
				dom: '<"top"i><"wrapper"Blfrtip>', //Blfrtip =>可顯示筆數
				buttons: [
					$.extend(true, {}, buttonCommon, {
						extend: 'excelHtml5',
						title: '合約主數據查詢_' + new Date().toISOString().slice(0, 10).replace("-", "").replace("-", ""),
						text: '匯出Excel',
						sheetName: '合約主數據查詢',
						exportOptions: {
							columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16] //要顯示的欄位
						},
						customize: function (xlsx) {
							addCustomNumberFormat(xlsx, '0');
							formatTargetColumn(xlsx, 'A');
							formatTargetColumn(xlsx, 'B');
							formatTargetColumn(xlsx, 'C');
							formatTargetColumn(xlsx, 'D');
							formatTargetColumn(xlsx, 'E');
							formatTargetColumn(xlsx, 'F');
							formatTargetColumn(xlsx, 'G');
							formatTargetColumn(xlsx, 'H');
							formatTargetColumn(xlsx, 'I');
							formatTargetColumn(xlsx, 'J');
							formatTargetColumn(xlsx, 'K');
							formatTargetColumn(xlsx, 'L');
							formatTargetColumn(xlsx, 'M');
							formatTargetColumn(xlsx, 'N');
							formatTargetColumn(xlsx, 'O');
							formatTargetColumn(xlsx, 'P');
							formatTargetColumn(xlsx, 'Q');							
						}
					}),
				],
			});

			$("#tableAll_wrapper .dt-buttons.btn-group").css("float", "right"); //匯出excel按鈕位置靠右			
		}

		function addCustomNumberFormat(xlsx, numberFormat) {
			// this adds a new custom number format to the Excel "styles" document:
			var numFmtsElement = xlsx.xl['styles.xml'].getElementsByTagName('numFmts')[0];
			// assume 6 custom number formats already exist, and next available ID is 176:
			var numFmtElement = '<numFmt numFmtId="176" formatCode="' + numberFormat + '"/>';
			$(numFmtsElement).append(numFmtElement);
			$(numFmtsElement).attr("count", "7"); // increment the count

			// now add a new "cellXfs" cell formatter, which uses our new number format (numFmt 176):
			var celXfsElement = xlsx.xl['styles.xml'].getElementsByTagName('cellXfs');
			var cellStyle = '<xf numFmtId="176" fontId="0" fillId="0" borderId="0" xfId="0" applyNumberFormat="1"'
				+ ' applyFont="1" applyFill="1" applyBorder="1"/>';
			// this will be the 8th "xf" element - and will therefore have an index of "7", when we use it later:
			$(celXfsElement).append(cellStyle);
			$(celXfsElement).attr("count", "66"); //(1.2.3版)官方提供0-64共65種格式，在此自己新增加一種
		}

		function formatTargetColumn(xlsx, col) {
			var sheet = xlsx.xl.worksheets['sheet1.xml'];

			if (col == "A") {
				$('row c[r^="' + col + '"]', sheet).attr('s', '65'); //使用自定義格式
			}
			else {
				$('row c[r^="' + col + '"]', sheet).attr('s', '0'); //設成文字格式
			}
		}

		//初始Checkbox
		function init_iChceck() {
			$('.i-checks').iCheck({
				checkboxClass: 'icheckbox_square-green',
				radioClass: 'iradio_square-green',
			});

			//保固SLA產生時，要初始本次使用的chang事件
			$(".i-checks input[name='chk_cMainEngineerID']").on('ifChanged', function (event) {
				var objUsed = $("#hid_cAssignMainEngineer"); //未指派主要工程師

				if (event.target.checked) {
					objUsed.val("Y");
				}
				else {
					objUsed.val("");
				}				
			});			
		}

		//SAP客戶代號/客戶名稱查詢
		//compcde(Comp-1.大世科 Comp-2.群輝 Comp-3.上海 Comp-4.協志)
		function CustSearch() {
			var compcde = $("#hid_cLoginUser_CompCode").val();

			$(".CustName").unbind();

			$(".CustName").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							$.ajax({
								url: '@Url.Action("findCustByKeywordAndComp", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: { functionName: 'findCustByKeywordAndComp', keyword: keyword, compcde: compcde },
								success: function (result) {
									Customers = [];
									$.each(result, function (i, idata) {
										Customers[i] = {
											label: idata.Kna1Kunnr + "\\" + idata.Kna1Name1, //顯示在清單的東西
											idx: i,
											Name: idata.Kna1Name1,
											value: idata.Kna1Kunnr //這個是要填入textbox的值
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: Customers,
										select: function (event, ui) {
											$("#lbl_cCustomerName").html(ui.item.Name);
										}
									}).bind('focus', function () { $(this).autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
								}
							})
						}
					}

				}
			})
		}

		//Ajax用中文或英文姓名查詢人員帳號
		function PeopleSearch() {
			$(".Peoploe").unbind();

			$(".Peoploe").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							var ojbID = $(this).attr("id");

							$.ajax({
								url: '@Url.Action("AjaxfindEmployeeByKeyword", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: {
									functionName: 'AjaxfindEmployeeByKeyword', keyword: keyword
								},
								success: function (result) {
									objects = [];
									$.each(result, function (i, idata) {
										objects[i] = {
											label: idata.CEmployeeCName + "\\" + idata.CEmployeeEname + "\\" + idata.CEmployeeErpid,
											idx: i,
											value: idata.CEmployeeErpid //value這個值，一定要在label裡才能顯示出下拉
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: objects
									}).bind('focus', function () { obj.autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
								}
							})

						}
					}
				}
			})
		}		

		//查詢
		function Query() {
			$("#waitingImg").show();

			var tMsg = "";
			var tbx_cContractID = $('#tbx_cContractID');				//文件編號
			var ddl_cIsSubContract = $('#ddl_cIsSubContract');			//合約類型
			var tbx_cCustomerID = $('#tbx_cCustomerID');				//客戶代號
			var tbx_cCustomerName = $('#tbx_cCustomerName');				//客戶名稱
			var tbx_cSoSales = $('#tbx_cSoSales');						//業務員ERPID
			var tbx_cMASales = $('#tbx_cMASales');						//維護業務員ERPID			
			var tbx_cMainEngineerID = $('#tbx_cMainEngineerID');			//主要工程師ERPID
			var tbx_cStartDate = $('#tbx_cStartDate');					//合約到期日(起)
			var tbx_cEndDate = $('#tbx_cEndDate');						//合約到期日(迄)
			var hid_cAssignMainEngineer = $("#hid_cAssignMainEngineer");	//未指派主要工程師

			if (tbx_cContractID.val() == "" && tbx_cCustomerID.val() == "" && tbx_cCustomerName.val() == "" && 
			    tbx_cSoSales.val() == "" && tbx_cMASales.val() == "" && tbx_cMainEngineerID.val() == "" && 
				tbx_cStartDate.val() == "" && tbx_cEndDate.val() == "" && hid_cAssignMainEngineer.val() == "") 
			{

				tMsg += "除【合約類型】之外，請至少輸入一項查詢條件！\n";
			}

			if (tbx_cStartDate.val() != "" && tbx_cEndDate.val() != "") {

				if (tbx_cStartDate.val() > tbx_cEndDate.val()) {
					tMsg += '合約到期日(起)不能大於合約到期日(迄)！\n';
					tbx_cEndDate.val(""); //清空
				}
			}

			if (tMsg != "") {
				alert(tMsg);
				$("#waitingImg").hide();
				return false;
			}
			else {
				searchQuery(ddl_cIsSubContract.val(), tbx_cContractID.val(), tbx_cCustomerID.val(), tbx_cCustomerName.val(),
					tbx_cSoSales.val(), tbx_cMASales.val(), tbx_cMainEngineerID.val(),
					tbx_cStartDate.val(), tbx_cEndDate.val(), hid_cAssignMainEngineer.val());
			}

			return true;
		}

		//查詢結果
		function searchQuery(cIsSubContract, cContractID, cCustomerID, cCustomerName, cSoSales, cMASales, cMainEngineerID, cStartDate, cEndDate, cAssignMainEngineer) {
			$("#dataDiv").html('');

			$.ajax({
				url: '@Url.Action("QueryContractMainResult", "Contract")',
				type: 'post',
				dataType: 'json',
				data: {
					cIsSubContract: cIsSubContract,					
					cContractID: cContractID,					
					cCustomerID: cCustomerID,
					cCustomerName: cCustomerName,
					cSoSales: cSoSales,
					cMASales: cMASales,
					cMainEngineerID: cMainEngineerID,
					cStartDate: cStartDate,
					cEndDate: cEndDate,
					cAssignMainEngineer: cAssignMainEngineer					
				},
				success: function (result) {
				},
				complete: function (result) {
					$("#dataDiv").html(result.responseText);
					$("#waitingImg").hide();
				}
			});
		}

		//清除
		function clearQuery() {
			$('#tbx_cContractID').val("");
			$('#ddl_cIsSubContract').val("N");
			$('#tbx_cCustomerID').val("");
			$("#lbl_cCustomerName").html("");
			$('#tbx_cCustomerName').val("");
			$('#tbx_cSoSales').val("");
			$('#tbx_cMASales').val("");			
			$('#tbx_cMainEngineerID').val("");
			$('#tbx_cStartDate').val("");
			$('#tbx_cEndDate').val("");
			$("#chk_cMainEngineerID").iCheck('uncheck'); //拿掉勾勾
			$("#hid_cAssignMainEngineer").val("");
		}
	</script>
}

	@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>合約主數據查詢/維護作業</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">合約管理</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>合約主數據查詢/維護作業</strong>
			</li>
		</ol>
	</div>
}

	<div class="row">

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>
						合約主數據查詢作業
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">					
					<form id="form1" name="form" action='#' method="post">
						<!--登人者公司別(Comp-1、Comp-2...)-->
						<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
						<!--登人者公司別(T012、T016...)-->
						<input type="hidden" id="hid_cLoginUser_BUKRS" name="hid_cLoginUser_BUKRS" value="@ViewBag.cLoginUser_BUKRS">
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">文件編號</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cContractID" id="tbx_cContractID" class="form-control" placeholder="文件編號">
							</div>
							<label class="col-lg-2 col-form-label">合約類型</label>
							<div class="col-lg-4">
								<!--用是否為下包約來判斷(Y.有下包代表是供應商、N.無下包代表是客戶)-->
								<select class="form-control" style="width:120px;" name="ddl_cIsSubContract" id="ddl_cIsSubContract">
									<option value="N" selected="selected">客戶</option>
									<option value="Y">供應商</option>									
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">客戶代號</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cCustomerID" id="tbx_cCustomerID" class="form-control CustName" placeholder="請輸入客戶名稱或統編的關鍵字">
								<label id="lbl_cCustomerName" class="col-form-label" style="color:blue;"></label>
							</div>
							<label class="col-lg-2 col-form-label">客戶名稱</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cCustomerName" id="tbx_cCustomerName" class="form-control" placeholder="客戶名稱">
							</div>
						</div>						
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">業務員ERPID</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSoSales" id="tbx_cSoSales" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋">
							</div>
							<label class="col-lg-2 col-form-label">維護業務員ERPID</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cMASales" id="tbx_cMASales" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋">
							</div>
						</div>
						<div class="form-group row">						
							<label class="col-lg-2 col-form-label">主要工程師ERPID</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cMainEngineerID" id="tbx_cMainEngineerID" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋">
							</div>
							<label class="col-lg-2 i-checks" style="text-align: right;">
								未指派主要工程師
								<input id="chk_cMainEngineerID" name="chk_cMainEngineerID" type="checkbox">
								<input type="hidden" id="hid_cAssignMainEngineer" name="hid_cAssignMainEngineer">
							</label>
						</div>						
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">合約到期日</label>
							<div class="input-group col-md-10 col-lg-6">
								<span class="input-group-addon">起</span>
								<input type="text" name="tbx_cStartDate" id="tbx_cStartDate" class="calendar form-control" placeholder="起始日期"><span class="input-group-addon">迄</span>
								<input type="text" name="tbx_cEndDate" id="tbx_cEndDate" class="calendar form-control" placeholder="結束日期">
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group row">
							<button class="btn btn-success btn-lg" type="button" onclick="if (!Query()) { return false; }"><i class="fa fa-search"></i> 查 詢 </button>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button class="btn btn-default btn-lg" type="button" onclick="clearQuery();"><i class="fa fa-trash"></i> 清 除 </button>
							<img id="waitingImg" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>合約主數據查詢結果</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content" id="dataDiv" style="overflow: scroll">
					<table id="tableAll" class="table table-striple table-bordered table-hover dataTables-example">
						<thead>
							<tr>
								<th>文件編號</th>
								<th>合約類型</th>								
								<th>銷售單號</th>
								<th>業務ERPID</th>
								<th>業務姓名</th>
								<th>業務祕書ERPID</th>
								<th>業務祕書姓名</th>
								<th>維護業務ERPID</th>
								<th>維護業務姓名</th>
								<th>主要工程師ERPID</th>
								<th>主要工程師姓名</th>
								<th>客戶代號</th>
								<th>客戶名稱</th>
								<th>訂單說明</th>
								<th>維護開始</th>
								<th>維護結束</th>
								<th>合約備註</th>
							</tr>
						</thead>
						<tbody>
							@{
							if (ViewBag.QueryToListBean != null)
							{
								foreach (string[] QueryInfo in ViewBag.QueryToListBean)
								{
												<tr>
													<td><a href="@QueryInfo[1]" target="_blank">@QueryInfo[0]</a></td>
													<td>@Html.Raw(QueryInfo[2])</td>
													<td>@Html.Raw(QueryInfo[3])</td>
													<td>@Html.Raw(QueryInfo[4])</td>
													<td>@Html.Raw(QueryInfo[5])</td>
													<td>@Html.Raw(QueryInfo[6])</td>
													<td>@Html.Raw(QueryInfo[7])</td>
													<td>@Html.Raw(QueryInfo[8])</td>
													<td>@Html.Raw(QueryInfo[9])</td>
													<td>@Html.Raw(QueryInfo[10])</td>
													<td>@Html.Raw(QueryInfo[11])</td>
													<td>@Html.Raw(QueryInfo[12])</td>
													<td>@Html.Raw(QueryInfo[13])</td>
													<td>@Html.Raw(QueryInfo[14])</td>
													<td>@Html.Raw(QueryInfo[15])</td>
													<td>@Html.Raw(QueryInfo[16])</td>
													<td>@Html.Raw(QueryInfo[17])</td>											
												</tr>
								}
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>