@{
	ViewData["Title"] = "QueryContractMain";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		$(document).ready(function () {
			initTable();
			init_iChceck();
			CustSearch();
			PeopleSearch();
		});

		function initTable() {
			var buttonCommon = {
				exportOptions: {
					format: {
						body: function (data, row, column, node) {
							//替換&符號
							var translate_re = /&(nbsp|amp|quot|lt|gt);/g,
								translate = {
									'nbsp': String.fromCharCode(160),
									'amp': '&',
									'quot': '"',
									'lt': '<',
									'gt': '>'
								},
								translator = function ($0, $1) {
									return translate[$1];
								};

							if (typeof data === 'string')
								data = data.replace(translate_re, translator);

							if (column === 0) //去除連結的部份
							{
								var splitName = data.split(">");
								var length = splitName.length;

								if (length > 1) {
									return data.split(">")[1].split("<")[0];
								}
								else {
									return data;
								}
							}
							else if (column === 13 || column === 16) //將換行符號<br>換成excel可以識別的\n
							{
								return data.replace(/<br\s*\/?>/ig, "\n"); //匯出需要在每筆紀錄前，多換一行
							}
							else
								return data;
						}
					}
				}
			};

			$('#tableAll').DataTable({
				language: {
					"lengthMenu": "每頁顯示筆數 _MENU_ ",
					"info": "顯示第 _START_ 到 _END_ 筆，全部共 _TOTAL_ 筆",
					"search": " 關鍵字篩選"
				},
				pageLength: 25,
				responsive: true,
				dom: '<"top"i><"wrapper"Blfrtip>', //Blfrtip =>可顯示筆數
				buttons: [
					$.extend(true, {}, buttonCommon, {
						extend: 'excelHtml5',
						title: '合約主數據查詢_' + new Date().toISOString().slice(0, 10).replace("-", "").replace("-", ""),
						text: '匯出Excel',
						sheetName: '合約主數據查詢',
						exportOptions: {
							columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16] //要顯示的欄位
						},
						customize: function (xlsx) {
							addCustomNumberFormat(xlsx, '0');
							formatTargetColumn(xlsx, 'A');
							formatTargetColumn(xlsx, 'B');
							formatTargetColumn(xlsx, 'C');
							formatTargetColumn(xlsx, 'D');
							formatTargetColumn(xlsx, 'E');
							formatTargetColumn(xlsx, 'F');
							formatTargetColumn(xlsx, 'G');
							formatTargetColumn(xlsx, 'H');
							formatTargetColumn(xlsx, 'I');
							formatTargetColumn(xlsx, 'J');
							formatTargetColumn(xlsx, 'K');
							formatTargetColumn(xlsx, 'L');
							formatTargetColumn(xlsx, 'M');
							formatTargetColumn(xlsx, 'N');
							formatTargetColumn(xlsx, 'O');
							formatTargetColumn(xlsx, 'P');
							formatTargetColumn(xlsx, 'Q');							
						}
					}),
				],
			});

			$("#tableAll_wrapper .dt-buttons.btn-group").css("float", "right"); //匯出excel按鈕位置靠右		
			
			//顯示服務團隊設定popup
			$('#btn_pjTeam').click(function () {
				$('#dialog_pjTeam').modal('show');
			})

			//顯示工程師設定popup
			$('#btn_pjAssEngineer').click(function () {
				$('#dialog_pjAssEngineer').modal('show');
			})
		}

		function addCustomNumberFormat(xlsx, numberFormat) {
			// this adds a new custom number format to the Excel "styles" document:
			var numFmtsElement = xlsx.xl['styles.xml'].getElementsByTagName('numFmts')[0];
			// assume 6 custom number formats already exist, and next available ID is 176:
			var numFmtElement = '<numFmt numFmtId="176" formatCode="' + numberFormat + '"/>';
			$(numFmtsElement).append(numFmtElement);
			$(numFmtsElement).attr("count", "7"); // increment the count

			// now add a new "cellXfs" cell formatter, which uses our new number format (numFmt 176):
			var celXfsElement = xlsx.xl['styles.xml'].getElementsByTagName('cellXfs');
			var cellStyle = '<xf numFmtId="176" fontId="0" fillId="0" borderId="0" xfId="0" applyNumberFormat="1"'
				+ ' applyFont="1" applyFill="1" applyBorder="1"/>';
			// this will be the 8th "xf" element - and will therefore have an index of "7", when we use it later:
			$(celXfsElement).append(cellStyle);
			$(celXfsElement).attr("count", "66"); //(1.2.3版)官方提供0-64共65種格式，在此自己新增加一種
		}

		function formatTargetColumn(xlsx, col) {
			var sheet = xlsx.xl.worksheets['sheet1.xml'];

			if (col == "A") {
				$('row c[r^="' + col + '"]', sheet).attr('s', '65'); //使用自定義格式
			}
			else {
				$('row c[r^="' + col + '"]', sheet).attr('s', '0'); //設成文字格式
			}
		}

		//初始Checkbox
		function init_iChceck() {
			$('.i-checks').iCheck({
				checkboxClass: 'icheckbox_square-green',
				radioClass: 'iradio_square-green',
			});

			//要初始本次使用的chang事件
			$(".i-checks input[name='chk_cMainEngineerID']").on('ifChanged', function (event) {
				var objUsed = $("#hid_cAssignMainEngineer"); //未指派主要工程師

				if (event.target.checked) {
					objUsed.val("Y");
				}
				else {
					objUsed.val("");
				}				
			});			

			//要初始本次使用的chang事件
			$(".i-checks input[name='chk_cObjID']").on('ifChanged', function (event) {
				var objUsed = $("#hid_cUploadObjID"); //未上傳合約標的

				if (event.target.checked) {
					objUsed.val("Y");
				}
				else {
					objUsed.val("");
				}				
			});
		}

		//SAP客戶代號/客戶名稱查詢
		//compcde(Comp-1.大世科 Comp-2.群輝 Comp-3.上海 Comp-4.協志)
		function CustSearch() {
			var compcde = $("#hid_cLoginUser_CompCode").val();

			$(".CustName").unbind();

			$(".CustName").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							$.ajax({
								url: '@Url.Action("findCustByKeywordAndComp", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: { functionName: 'findCustByKeywordAndComp', keyword: keyword, compcde: compcde },
								success: function (result) {
									Customers = [];
									$.each(result, function (i, idata) {
										Customers[i] = {
											label: idata.Kna1Kunnr + "\\" + idata.Kna1Name1, //顯示在清單的東西
											idx: i,
											Name: idata.Kna1Name1,
											value: idata.Kna1Kunnr //這個是要填入textbox的值
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: Customers,
										select: function (event, ui) {
											$("#lbl_cCustomerName").html(ui.item.Name);
										}
									}).bind('focus', function () { $(this).autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
								}
							})
						}
					}

				}
			})
		}

		//Ajax用中文或英文姓名查詢人員帳號
		function PeopleSearch() {
			$(".Peoploe").unbind();

			$(".Peoploe").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							var ojbID = $(this).attr("id");

							$.ajax({
								url: '@Url.Action("AjaxfindEmployeeInCludeLeaveByKeyword", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: {
									functionName: 'AjaxfindEmployeeInCludeLeaveByKeyword', keyword: keyword
								},
								success: function (result) {
									objects = [];
									$.each(result, function (i, idata) {
										objects[i] = {
											label: idata.CEmployeeCName + "\\" + idata.CEmployeeEname + "\\" + idata.CEmployeeErpid,
											idx: i,
											Name: idata.CEmployeeCName + "\\" + idata.CEmployeeEname,
											ERPID : idata.CEmployeeErpid,
											value: idata.CEmployeeErpid //value這個值，一定要在label裡才能顯示出下拉
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: objects,
										select: function (event, ui) {											
											if (ojbID.indexOf('tbx_cSoSales') >= 0) {
												$('#lbl_cSoSales').html(ui.item.Name);
											}
											else if (ojbID.indexOf('tbx_cMASales') >= 0) {
												$('#lbl_cMASales').html(ui.item.Name);
											}
											else if (ojbID.indexOf('tbx_pjAssEngineerName') >= 0) {
												$('#hid_pjAssEngineerAcc').val(ui.item.ERPID);
											}
										}
									}).bind('focus', function () { $(this).autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
									$(".ui-autocomplete").css({ 'z-index': '2051', 'font-size': '16px' }); //可以正常顯示關鍵字查詢
								}
							})

						}
					}
				}
			})
		}		

		//-----↓↓↓↓↓服務團隊 ↓↓↓↓↓-----
		//儲存個人常用服務團隊
		function savepjPersonallyTeam() {			
			var hid_cTeamID = $("#hid_cTeamID");
			var tbx_cTeamName = $("#tbx_cTeamName");

			if ($("#tbx_cTeamName").val() == "") {
				alert("您未選擇任何服務團隊");
			}
			else {
				var tIsDo = confirm("您是否要儲存本次清單至個人常用服務團隊?")

				if (tIsDo) {
					$("#btn_savepjPersonallyTeam").hide();
					$("#img_waiting_savepjPersonallyTeam").show();

					$.ajax({
						url: '@Url.Action("savepjPersonallyTeam", "ServiceRequest")',
						type: 'post',
						dataType: 'json',
						data: {
							cTeamID: hid_cTeamID.val()
						},
						success: function (result) {
							if (result == "SUCCESS") {
								alert("儲存成功！");
							}
							else
							{
								alert(result);
							}
						}
					});

					$("#img_waiting_savepjPersonallyTeam").hide();
					$("#btn_savepjPersonallyTeam").show();
				}				
			}
		}

		//帶入個人常用服務團隊
		function getpjPersonallyTeam() {
			var hid_cTeamID = $("#hid_cTeamID");

			$("#btn_getpjPersonallyTeam").hide();
			$("#img_waiting_savepjPersonallyTeam").show();

			$.ajax({
				url: '@Url.Action("getpjPersonallyTeam", "ServiceRequest")',
				type: 'post',
				dataType: 'json',				
				success: function (result) {
					if (result == "")
					{
						alert("您未設定個人常用服務團隊！");
					}
					else
					{
						hid_cTeamID.val(result);
						getpjTeam();
					}
				}
			});

			$("#img_waiting_savepjPersonallyTeam").hide();
			$("#btn_getpjPersonallyTeam").show();			
		}

        //修改服務團隊
        function savepjTeam() {
            var hid_cTeamID = $("#hid_cTeamID");

			if ($("#ddl_cTeamID").val() == "") {
                alert("請選擇服務團隊");
            }
            else {
					$("#btn_savepjTeam").hide();
                    $("#img_waiting_savepjTeam").show();

				    $.ajax({
					    url: '@Url.Action("SavepjTeam", "ServiceRequest")',
					    type: 'post',
					    dataType: 'json',
                        data: {                            
                            cTeamID: hid_cTeamID.val(),
							cTeamAcc: $("#ddl_cTeamID").val(),
                        },
                        success: function (result) {
                            if (result.indexOf("Error") >= 0) {
							   alert("儲存失敗！" + result);
							}
							else {
								//alert("儲存成功");
								hid_cTeamID.val(result);
								getpjTeam();                            
							}
                        }
                    });

                    $("#img_waiting_savepjTeam").hide();
                    $("#btn_savepjTeam").show();
            }
        }

        //取得服務團隊
        function getpjTeam() {            
			$("#ddl_cTeamID").val("");
			
			var hid_cTeamID = $("#hid_cTeamID");
            
			$.ajax({
				url: '@Url.Action("GetpjTeam", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
                data: {                    
					cTeamID : hid_cTeamID.val(),
                },
                success: function (result) {
                    var list = "";
					var pjTeamName = "";
					$.each(result, function (i, bean) {
                        if (bean != null) {
							pjTeamName += bean.teamName + ";";

                            list += '<tr id="tr_pjTeam_' + bean.id + '">'
                                + "<input type='hidden' class='hidpjTeamAcc' value='" + bean.teamID + "'>"
                                + '<td>'
                                    + '<button class="btn btn-danger btn-sm btnCtDelete btnPreventDefault" type="button" onclick="deletepjTeam(this);" style="margin: 2px;">'
                                        + '<i class="fa fa-trash"></i>'
                                    + '</button>'
                                + '</td>'								
                                + "<td style='vertical-align: middle;'>" + bean.teamName + "</td>"
								+ "<td style='vertical-align: middle;'>" + bean.deptId + "</td>"
                                + "<td style='vertical-align: middle;'>" + bean.deptName + "</td>"
                            + "</tr>";
						}
                    });

                    if (list != "") {
                        list = "<table class='table table-striple table-bordered table-hover dataTables-example' style='word-break: keep-all; white-space: nowrap; text-align: center;'>"
                            + "<thead><tr>"
                                + "<th>刪除</th>"                                
                                + "<th>服務團隊</th>"
                                + "<th>部門ID</th>"
                                + "<th>部門名稱</th>"                                
                            + "</tr></thead><tbody>"
                            + list
                            + "</tbody></table>";
					}
                    $("#tb_pjTeam").html(list);

                    pjTeamName = pjTeamName.substr(0, pjTeamName.length - 1);
                    $("#tbx_cTeamName").val(pjTeamName);
                }
			});
        }

        //刪除服務團隊
        function deletepjTeam(obj) {
            var pjTeamAcc = $(obj).parent().parent().find(".hidpjTeamAcc").val();
			var hid_cTeamID = $("#hid_cTeamID");

            if (confirm("確認刪除此服務團隊？")) {
                $.ajax({
					url: '@Url.Action("DeletepjTeam", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
                    data: {
                        cTeamID: hid_cTeamID.val(),
						cTeamAcc: pjTeamAcc,
                    },
                    success: function (result) {
                        if (result.indexOf("Error") >= 0) {
                           alert("刪除失敗！");
                        }
                        else {
							//alert("刪除成功");
							hid_cTeamID.val(result);
                            getpjTeam();                            
                        }
                    }
				});
            }
        }
		//-----↑↑↑↑↑服務團隊 ↑↑↑↑↑-----

		//-----↓↓↓↓↓協助工程師 ↓↓↓↓↓-----
		//儲存個人常用工程師
		function savepjPersonallyEngineer() {			
			var hid_cAssEngineerID = $("#hid_cAssEngineerID");
			var tbx_cAssEngineerName = $("#tbx_cAssEngineerName");

			if ($("#tbx_cAssEngineerName").val() == "") {
				alert("您無輸入任何工程師姓名");
			}
			else {
				var tIsDo = confirm("您是否要儲存本次清單至個人常用工程師?")

				if (tIsDo) {
					$("#btn_savepjPersonallyEngineer").hide();
					$("#img_waiting_savepjAssEngineer").show();

					$.ajax({
						url: '@Url.Action("savepjPersonallyEngineer", "ServiceRequest")',
						type: 'post',
						dataType: 'json',
						data: {
							cAssEngineerID: hid_cAssEngineerID.val()						
						},
						success: function (result) {
							if (result == "SUCCESS") {
								alert("儲存成功！");
							}
							else
							{
								alert(result);
							}
						}
					});

					$("#img_waiting_savepjAssEngineer").hide();
					$("#btn_savepjPersonallyEngineer").show();
				}				
			}
		}

		//帶入個人常用工程師
		function getpjPersonallyEngineer() {
			var hid_cAssEngineerID = $("#hid_cAssEngineerID");

			$("#btn_getpjPersonallyEngineer").hide();
			$("#img_waiting_savepjAssEngineer").show();

			$.ajax({
				url: '@Url.Action("getpjPersonallyEngineer", "ServiceRequest")',
				type: 'post',
				dataType: 'json',				
				success: function (result) {
					if (result == "")
					{
						alert("您未設定個人常用工程師！");
					}
					else
					{
						hid_cAssEngineerID.val(result);
						getpjAssEngineer();
					}
				}
			});

			$("#img_waiting_savepjAssEngineer").hide();
			$("#btn_getpjPersonallyEngineer").show();			
		}

		//修改工程師
		function savepjAssEngineer() {
			var hid_cAssEngineerID = $("#hid_cAssEngineerID");

			if ($("#hid_pjAssEngineerAcc").val() == "") {
				alert("請輸入工程師姓名");
			}
			else {
				$("#btn_savepjAssEngineer").hide();
				$("#img_waiting_savepjAssEngineer").show();

				$.ajax({
					url: '@Url.Action("SavepjAssEngineer", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: {
						cAssEngineerID: hid_cAssEngineerID.val(),
						cAssEngineerAcc: $("#hid_pjAssEngineerAcc").val(),
					},
					success: function (result) {
						if (result.indexOf("Error") >= 0) {
							alert("儲存失敗！" + result);
						}
						else {							
							hid_cAssEngineerID.val(result);
							getpjAssEngineer();
						}
					}
				});

				$("#img_waiting_savepjAssEngineer").hide();
				$("#btn_savepjAssEngineer").show();
			}
		}

		//取得工程師
		function getpjAssEngineer() {
			$("#hid_pjAssEngineerAcc").val("");
			$("#tbx_pjAssEngineerName").val("");

			var hid_cAssEngineerID = $("#hid_cAssEngineerID");

			$.ajax({
				url: '@Url.Action("GetpjAssEngineer", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					cAssEngineerID: hid_cAssEngineerID.val(),
				},
				success: function (result) {
					var list = "";
					var pjAssEngineerName = "";
					$.each(result, function (i, bean) {
						if (bean != null) {
							pjAssEngineerName += bean.name + ";";

							list += '<tr id="tr_pjAssEngineer_' + bean.id + '">'
								+ "<input type='hidden' class='hidpjAssEngineerAcc' value='" + bean.acc + "'>"
								+ '<td>'
								+ '<button class="btn btn-danger btn-sm btnCtDelete btnPreventDefault" type="button" onclick="deletepjAssEngineer(this);" style="margin: 2px;">'
								+ '<i class="fa fa-trash"></i>'
								+ '</button>'
								+ '</td>'
								+ "<td style='vertical-align: middle;'>" + bean.name + "</td>"
								+ "<td style='vertical-align: middle;'>" + bean.ext + "</td>"
								+ "<td style='vertical-align: middle;'>" + bean.mobile + "</td>"
								+ "<td style='vertical-align: middle; text-align: left;'>" + bean.email + "</td>"
								+ "<td style='vertical-align: middle;'>" + bean.deptName + "</td>"
								+ "</tr>";
						}
					});

					if (list != "") {
						list = "<table class='table table-striple table-bordered table-hover dataTables-example' style='word-break: keep-all; white-space: nowrap; text-align: center;'>"
							+ "<thead><tr>"
							+ "<th>刪除</th>"
							+ "<th>姓名</th>"
							+ "<th>分機</th>"
							+ "<th>手機</th>"
							+ "<th>Email</th>"
							+ "<th>部門</th>"
							+ "</tr></thead><tbody>"
							+ list
							+ "</tbody></table>";
					}
					$("#tb_pjAssEngineer").html(list);

					pjAssEngineerName = pjAssEngineerName.substr(0, pjAssEngineerName.length - 1);
					$("#tbx_cAssEngineerName").val(pjAssEngineerName);
				}
			});
		}

		//刪除工程師
		function deletepjAssEngineer(obj) {
			var pjAssEngineerAcc = $(obj).parent().parent().find(".hidpjAssEngineerAcc").val();
			var hid_cAssEngineerID = $("#hid_cAssEngineerID");

			if (confirm("確認刪除此工程師？")) {
				$.ajax({
					url: '@Url.Action("DeletepjAssEngineer", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: {
						cAssEngineerID: hid_cAssEngineerID.val(),
						cAssEngineerAcc: pjAssEngineerAcc,
					},
					success: function (result) {
						if (result.indexOf("Error") >= 0) {
							alert("刪除失敗！");
						}
						else {
							//alert("刪除成功");
							hid_cAssEngineerID.val(result);
							getpjAssEngineer();
						}
					}
				});
			}
		}
		//-----↑↑↑↑↑工程師 ↑↑↑↑↑-----

		//查詢
		function Query() {
			$("#waitingImg").show();

			var tMsg = "";
			var tbx_cContractID = $('#tbx_cContractID');				//文件編號
			var ddl_cIsSubContract = $('#ddl_cIsSubContract');			//合約類型
			var tbx_cCustomerID = $('#tbx_cCustomerID');				//客戶代號
			var tbx_cCustomerName = $('#tbx_cCustomerName');				//客戶名稱
			var tbx_cSoSales = $('#tbx_cSoSales');						//業務員ERPID
			var tbx_cMASales = $('#tbx_cMASales');						//維護業務員ERPID			
			var hid_cAssEngineerID = $('#hid_cAssEngineerID');			//主要工程師ERPID
			var tbx_cDesc = $('#tbx_cDesc');							//訂單說明
			var tbx_cStartDate = $('#tbx_cStartDate');					//合約期間(起)
			var tbx_cEndDate = $('#tbx_cEndDate');						//合約期間(迄)
			var hid_cAssignMainEngineer = $("#hid_cAssignMainEngineer");	//未指派主要工程師
			var hid_cUploadObjID = $("#hid_cUploadObjID");				//未上傳合約標的
			var cTeamID = $("#hid_cTeamID").val();						//服務團隊

			if (tbx_cContractID.val() == "" && tbx_cCustomerID.val() == "" && tbx_cCustomerName.val() == "" && 
			    tbx_cSoSales.val() == "" && tbx_cMASales.val() == "" && hid_cAssEngineerID.val() == "" && tbx_cDesc.val() == "" &&
				tbx_cStartDate.val() == "" && tbx_cEndDate.val() == "" && hid_cAssignMainEngineer.val() == "" && hid_cUploadObjID.val() == "" && cTeamID == "") 
			{

				tMsg += "除【合約類型】之外，請至少輸入一項查詢條件！\n";
			}

			if (tbx_cStartDate.val() != "" && tbx_cEndDate.val() != "") {

				if (tbx_cStartDate.val() > tbx_cEndDate.val()) {
					tMsg += '合約期間(起)不能大於合約期間(迄)！\n';
					tbx_cEndDate.val(""); //清空
				}
			}

			if (tMsg != "") {
				alert(tMsg);
				$("#waitingImg").hide();
				return false;
			}
			else {
				searchQuery(ddl_cIsSubContract.val(), tbx_cContractID.val(), tbx_cCustomerID.val(), tbx_cCustomerName.val(),
					tbx_cSoSales.val(), tbx_cMASales.val(), hid_cAssEngineerID.val(), tbx_cDesc.val(),
					tbx_cStartDate.val(), tbx_cEndDate.val(), hid_cAssignMainEngineer.val(), hid_cUploadObjID.val(), cTeamID);
			}

			return true;
		}

		//查詢結果
		function searchQuery(cIsSubContract, cContractID, cCustomerID, cCustomerName, cSoSales, cMASales, cMainEngineerID, cDesc, cStartDate, cEndDate, cAssignMainEngineer, cUploadObjID, cTeamID) {
			$("#dataDiv").html('');

			$.ajax({
				url: '@Url.Action("QueryContractMainResult", "Contract")',
				type: 'post',
				dataType: 'json',
				data: {
					cIsSubContract: cIsSubContract,					
					cContractID: cContractID,					
					cCustomerID: cCustomerID,
					cCustomerName: cCustomerName,
					cSoSales: cSoSales,
					cMASales: cMASales,
					cMainEngineerID: cMainEngineerID,
					cDesc: cDesc,
					cStartDate: cStartDate,
					cEndDate: cEndDate,
					cAssignMainEngineer: cAssignMainEngineer,
					cUploadObjID: cUploadObjID,
					cTeamID: cTeamID
				},
				success: function (result) {
				},
				complete: function (result) {
					$("#dataDiv").html(result.responseText);
					$("#waitingImg").hide();
				}
			});
		}

		//清除
		function clearQuery() {
			$('#tbx_cContractID').val("");
			$('#ddl_cIsSubContract').val("N");
			$('#tbx_cCustomerID').val("");
			$("#lbl_cCustomerName").html("");
			$('#tbx_cCustomerName').val("");
			$('#tbx_cSoSales').val("");
			$('#lbl_cSoSales').html("");
			$('#tbx_cMASales').val("");
			$('#lbl_cMASales').html("");
			$('#tbx_cDesc').val("");
			$('#tbx_cStartDate').val("");
			$('#tbx_cEndDate').val("");
			$("#chk_cMainEngineerID").iCheck('uncheck'); //拿掉勾勾
			$("#chk_cObjID").iCheck('uncheck'); //拿掉勾勾
			$("#hid_cAssignMainEngineer").val("");			

			//清空服務團隊
			$('#hid_cTeamID').val("");
			$('#tbx_cTeamName').val("");
			getpjTeam();

			//清空工程師
			$('#hid_cAssEngineerID').val("");
			$('#tbx_cAssEngineerName').val("");
			getpjAssEngineer();
		}
	</script>
}

	@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>合約主數據查詢/維護作業</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">合約管理</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>合約主數據查詢/維護作業</strong>
			</li>
		</ol>
	</div>
}

	<div class="row">

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>
						合約主數據查詢作業
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<form id="form1" name="form" action='#' method="post">
						<!--登人者公司別(Comp-1、Comp-2...)-->
						<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
						<!--登人者公司別(T012、T016...)-->
						<input type="hidden" id="hid_cLoginUser_BUKRS" name="hid_cLoginUser_BUKRS" value="@ViewBag.cLoginUser_BUKRS">
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">文件編號</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cContractID" id="tbx_cContractID" class="form-control" placeholder="文件編號">
							</div>
							<label class="col-lg-2 col-form-label">合約類型</label>
							<div class="col-lg-4">
								<!--用是否為下包約來判斷(Y.有下包代表是供應商、N.無下包代表是客戶)-->
								<select class="form-control" style="width:120px;" name="ddl_cIsSubContract" id="ddl_cIsSubContract">
									<option value="N" selected="selected">客戶</option>
									<option value="Y">供應商</option>									
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">客戶代號</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cCustomerID" id="tbx_cCustomerID" class="form-control CustName" placeholder="請輸入客戶名稱或統編的關鍵字">
								<label id="lbl_cCustomerName" class="col-form-label" style="color:blue;"></label>
							</div>
							<label class="col-lg-2 col-form-label">客戶名稱</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cCustomerName" id="tbx_cCustomerName" class="form-control" placeholder="客戶名稱">
							</div>
						</div>						
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">業務員ERPID</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSoSales" id="tbx_cSoSales" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋">
								<label id="lbl_cSoSales" class="col-form-label" style="color:blue;"></label>
							</div>
							<label class="col-lg-2 col-form-label">維護業務員ERPID</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cMASales" id="tbx_cMASales" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋">
								<label id="lbl_cMASales" class="col-form-label" style="color:blue;"></label>
							</div>
						</div>
						<div class="form-group row">						
							<label class="col-lg-2 col-form-label">訂單說明</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_cDesc" name="tbx_cDesc" class="form-control" placeholder="若有輸入訂單說明，最大限制1,000筆">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">主要工程師</label>
							<div class="col-lg-10 col-sm-10 input-group">
								<input type="hidden" id="hid_cAssEngineerID" name="hid_cAssEngineerID" value="@ViewBag.cAssEngineerID">
								<input id="tbx_cAssEngineerName" name="tbx_cAssEngineerName" type="text" class="form-control labelDisabled" placeholder="主要工程師" disabled>
								<div class="input-group-append">
									<button id="btn_pjAssEngineer" class="btn btn-primary" type="button">
										<i class="fa fa-user-plus" aria-hidden="true"></i>
									</button>
								</div>
							</div>													
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">服務團隊</label>
							<div class="col-lg-10 col-sm-10 input-group">
								<input type="hidden" id="hid_cTeamID" name="hid_cTeamID" value="@ViewBag.cTeamID">
								<input id="tbx_cTeamName" name="tbx_cTeamName" type="text" class="form-control labelDisabled" placeholder="服務團隊" disabled>
								<div class="input-group-append">
									<button id="btn_pjTeam" class="btn btn-primary" type="button">
										<i class="fa fa-user-plus" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">合約期間</label>
							<div class="input-group col-md-10 col-lg-6">
								<span class="input-group-addon">起</span>
								<input type="text" name="tbx_cStartDate" id="tbx_cStartDate" class="calendar form-control" placeholder="起始日期"><span class="input-group-addon">迄</span>
								<input type="text" name="tbx_cEndDate" id="tbx_cEndDate" class="calendar form-control" placeholder="結束日期">
							</div>
						</div>
						<div class="form-group row">		
							<label class="col-lg-2 col-form-label"></label>
							<label class="col-lg-4 i-checks" style="text-align: left;">
								未指派主要工程師
								<input id="chk_cMainEngineerID" name="chk_cMainEngineerID" type="checkbox">
								<input type="hidden" id="hid_cAssignMainEngineer" name="hid_cAssignMainEngineer">
							</label>
							<label class="col-lg-4 i-checks" style="text-align: left;">
								未指上傳合約標的
								<input id="chk_cObjID" name="chk_cObjID" type="checkbox">
								<input type="hidden" id="hid_cUploadObjID" name="hid_cUploadObjID">
							</label>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group row">
							<button class="btn btn-success btn-lg" type="button" onclick="if (!Query()) { return false; }"><i class="fa fa-search"></i> 查 詢 </button>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button class="btn btn-default btn-lg" type="button" onclick="clearQuery();"><i class="fa fa-trash"></i> 清 除 </button>
							<img id="waitingImg" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>合約主數據查詢結果</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content" id="dataDiv" style="overflow: scroll">
					<table id="tableAll" class="table table-striple table-bordered table-hover dataTables-example">
						<thead>
							<tr>
								<th>文件編號</th>
								<th>合約類型</th>								
								<th>銷售單號</th>
								<th>業務ERPID</th>
								<th>業務姓名</th>
								<th>業務祕書ERPID</th>
								<th>業務祕書姓名</th>
								<th>維護業務ERPID</th>
								<th>維護業務姓名</th>
								<th>主要工程師ERPID</th>
								<th>主要工程師姓名</th>
								<th>客戶代號</th>
								<th>客戶名稱</th>
								<th>訂單說明</th>
								<th>維護開始</th>
								<th>維護結束</th>
								<th>合約備註</th>
							</tr>
						</thead>
						<tbody>
							@{
							if (ViewBag.QueryToListBean != null)
							{
								foreach (string[] QueryInfo in ViewBag.QueryToListBean)
								{
									<tr>
										<td><a href="@QueryInfo[1]" target="_blank">@QueryInfo[0]</a></td>
										<td>@Html.Raw(QueryInfo[2])</td>
										<td>@Html.Raw(QueryInfo[3])</td>
										<td>@Html.Raw(QueryInfo[4])</td>
										<td>@Html.Raw(QueryInfo[5])</td>
										<td>@Html.Raw(QueryInfo[6])</td>
										<td>@Html.Raw(QueryInfo[7])</td>
										<td>@Html.Raw(QueryInfo[8])</td>
										<td>@Html.Raw(QueryInfo[9])</td>
										<td>@Html.Raw(QueryInfo[10])</td>
										<td>@Html.Raw(QueryInfo[11])</td>
										<td>@Html.Raw(QueryInfo[12])</td>
										<td>@Html.Raw(QueryInfo[13])</td>
										<td>@Html.Raw(QueryInfo[14])</td>
										<td>@Html.Raw(QueryInfo[15])</td>
										<td>@Html.Raw(QueryInfo[16])</td>
										<td>@Html.Raw(QueryInfo[17])</td>											
									</tr>
								}
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!--服務團隊彈出視窗-->
<div class="modal fade" id="dialog_pjTeam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<label class="col-form-label"><i class="fa fa-users"></i> 服務團隊設定</label>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row">						
					<label class="col-lg-2 col-form-label">服務團隊名稱</label>
					<div class="input-group col-sm-10 col-lg-6" style="height: 36px;">							
						@Html.DropDownList("ddl_cTeamID", (IEnumerable<SelectListItem>)ViewBag.SRTeamIDList, new { @class = "form-control" })
					</div>					
				</div>
				<div class="form-group row">
					<div class="col-lg-12">
						<button id="btn_savepjTeam" class="btn btn-primary col-lg-4 col-xs-4" type="button" onclick="savepjTeam();">
							<i class="fa fa-save" style="margin-right: 4px;"></i> 儲 存
						</button>&nbsp;&nbsp;&nbsp;
						<button id="btn_getpjPersonallyTeam" class="btn btn-warning col-lg-4 col-xs-4" type="button" onclick="getpjPersonallyTeam();">
							<i class="fa fa-upload" style="margin-right: 4px;"></i> 帶入個人常用服務團隊
						</button>
						<img id="img_waiting_savepjPersonallyTeam" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:6px" alt="">
					</div>
				</div>
			</div>
			<hr style="border: 1px solid lightgray; width: 98%;" />
			<div class="col-lg-12">
				<button id="btn_savepjPersonallyTeam" class="btn btn-success col-lg-4 col-xs-4" type="button" onclick="savepjPersonallyTeam();">
					<i class="fa fa-download" style="margin-right: 4px;"></i> 儲存下方清單至個人常用服務團隊
				</button>&nbsp;&nbsp;&nbsp;
			</div>
			<div class="modal-body" id="tb_pjTeam" style="overflow: scroll;">

			</div>
		</div>
	</div>
</div>

<!--工程師彈出視窗-->
<div class="modal fade" id="dialog_pjAssEngineer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<label class="col-form-label"><i class="fa fa-users"></i> 工程師設定</label>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row">						
					<label class="col-lg-2 col-form-label">工程師姓名</label>
					<div class="input-group col-sm-10 col-lg-6" style="height: 36px;">
						<input type="hidden" id="hid_pjAssEngineerAcc" />
						<input type="text" id="tbx_pjAssEngineerName" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋">
					</div>
				</div>
				<div class="form-group row">					
					<div class="col-lg-12">
						<button id="btn_savepjAssEngineer" class="btn btn-primary col-lg-4 col-xs-4" type="button" onclick="savepjAssEngineer();">
							<i class="fa fa-save" style="margin-right: 4px;"></i> 儲 存
						</button>&nbsp;&nbsp;&nbsp;						
						<button id="btn_getpjPersonallyEngineer" class="btn btn-warning col-lg-4 col-xs-4" type="button" onclick="getpjPersonallyEngineer();">
							<i class="fa fa-upload" style="margin-right: 4px;"></i> 帶入個人常用工程師
						</button>
						<img id="img_waiting_savepjAssEngineer" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:6px" alt="">
					</div>
				</div>
			</div>
			<hr style="border: 1px solid lightgray; width: 98%;" />
			<div class="col-lg-12">
				<button id="btn_savepjPersonallyEngineer" class="btn btn-success col-lg-4 col-xs-4" type="button" onclick="savepjPersonallyEngineer();">
					<i class="fa fa-download" style="margin-right: 4px;"></i> 儲存下方清單至個人常用工程師
				</button>&nbsp;&nbsp;&nbsp;
			</div>			
			<div class="modal-body" id="tb_pjAssEngineer" style="overflow: scroll;">

			</div>
		</div>
	</div>
</div>