@{
	ViewData["Title"] = "QueryContractDetailObj";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		$(document).ready(function () {			
			initTable();			
		});

		function initTable() {
			var buttonCommon = {
				exportOptions: {
					format: {
						body: function (data, row, column, node) {
							//替換&符號
							var translate_re = /&(nbsp|amp|quot|lt|gt);/g,
								translate = {
									'nbsp': String.fromCharCode(160),
									'amp': '&',
									'quot': '"',
									'lt': '<',
									'gt': '>'
								},
								translator = function ($0, $1) {
									return translate[$1];
								};

							if (typeof data === 'string')
								data = data.replace(translate_re, translator);

							if (column === 0) //去除連結的部份
							{
								var splitName = data.split(">");
								var length = splitName.length;

								if (length > 1) {
									return data.split(">")[1].split("<")[0];
								}
								else {
									return data;
								}
							}
							else if (column === 12 || column === 13) //將換行符號<br>換成excel可以識別的\n
							{
								return data.replace(/<br\s*\/?>/ig, "\n"); //匯出需要在每筆紀錄前，多換一行
							}
							else
								return data;
						}
					}
				}
			};

			$('#tableAll').DataTable({
				language: {
					"lengthMenu": "每頁顯示筆數 _MENU_ ",
					"info": "顯示第 _START_ 到 _END_ 筆，全部共 _TOTAL_ 筆",
					"search": " 關鍵字篩選"
				},
				pageLength: 25,
				responsive: true,
				dom: '<"top"i><"wrapper"Blfrtip>', //Blfrtip =>可顯示筆數
				buttons: [
					$.extend(true, {}, buttonCommon, {
						extend: 'excelHtml5',
						title: '合約標的明細查詢_' + new Date().toISOString().slice(0, 10).replace("-", "").replace("-", ""),
						text: '匯出Excel',
						sheetName: '合約標的明細查詢',
						exportOptions: {
							columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13] //要顯示的欄位
						},
						customize: function (xlsx) {
							addCustomNumberFormat(xlsx, '0');
							formatTargetColumn(xlsx, 'A');
							formatTargetColumn(xlsx, 'B');
							formatTargetColumn(xlsx, 'C');
							formatTargetColumn(xlsx, 'D');
							formatTargetColumn(xlsx, 'E');
							formatTargetColumn(xlsx, 'F');
							formatTargetColumn(xlsx, 'G');
							formatTargetColumn(xlsx, 'H');
							formatTargetColumn(xlsx, 'I');
							formatTargetColumn(xlsx, 'J');
							formatTargetColumn(xlsx, 'K');
							formatTargetColumn(xlsx, 'L');
							formatTargetColumn(xlsx, 'M');
						}
					}),
				],
			});

			$("#tableAll_wrapper .dt-buttons.btn-group").css("float", "right"); //匯出excel按鈕位置靠右

			$(".btnPreventDefault").click(function (e) {
				e.preventDefault();
			});
		}

		function addCustomNumberFormat(xlsx, numberFormat) {
			// this adds a new custom number format to the Excel "styles" document:
			var numFmtsElement = xlsx.xl['styles.xml'].getElementsByTagName('numFmts')[0];
			// assume 6 custom number formats already exist, and next available ID is 176:
			var numFmtElement = '<numFmt numFmtId="176" formatCode="' + numberFormat + '"/>';
			$(numFmtsElement).append(numFmtElement);
			$(numFmtsElement).attr("count", "7"); // increment the count

			// now add a new "cellXfs" cell formatter, which uses our new number format (numFmt 176):
			var celXfsElement = xlsx.xl['styles.xml'].getElementsByTagName('cellXfs');
			var cellStyle = '<xf numFmtId="176" fontId="0" fillId="0" borderId="0" xfId="0" applyNumberFormat="1"'
				+ ' applyFont="1" applyFill="1" applyBorder="1"/>';
			// this will be the 8th "xf" element - and will therefore have an index of "7", when we use it later:
			$(celXfsElement).append(cellStyle);
			$(celXfsElement).attr("count", "66"); //(1.2.3版)官方提供0-64共65種格式，在此自己新增加一種
		}

		function formatTargetColumn(xlsx, col) {
			var sheet = xlsx.xl.worksheets['sheet1.xml'];

			if (col == "A") {
				$('row c[r^="' + col + '"]', sheet).attr('s', '65'); //使用自定義格式
			}
			else {
				$('row c[r^="' + col + '"]', sheet).attr('s', '0'); //設成文字格式
			}
		}		

		//popup各欄位reset
		function resetPopup(popupId) {
			$(popupId).find("input").each(function (index, value) {
				$(this).val("");
			});
			$(popupId).find("select").each(function (index, value) {
				$(this).val("-1");
			});
			$(popupId).find("textarea").each(function (index, value) {
				$(this).val("");
			});
		}

		//檢查上傳Excel檔案路徑是否有填寫
		function checkEmpty() {
			var reValue = false;
			var strFileName = $("#postedFile").val();

			if (strFileName == "") {
				alert('請先選擇欲上傳的檔案！');
			}
			else {
				reValue = confirm('上傳的檔案會覆蓋原本該文件編號裡【序號】相同的資料，是否確定繼續上傳?');
			}

			return reValue;
		}

		//新增合約標的明細內容
		function addDetailOBJ() {
			resetPopup("#dialog_DetailOBJ"); //新增/編輯合約標的popup各欄位reset

			//設定各欄位資料
			$("#hid_taskcID").val("");								//系統ID
			$("#txt_cContractID").val($("#hid_cContractID").val());		//文件編號			
			$("#ddl_cSLARESP").val("");								//回應條件
			$("#ddl_cSLASRV").val("");								//服務條件

			$("#dialog_DetailOBJ").modal('show');
		}

		//編輯合約標的明細內容
		function editDetailOBJ(obj) {
			resetPopup("#dialog_DetailOBJ"); //新增/編輯合約標的popup各欄位reset

			//設定各欄位資料
			$("#hid_taskcID").val($(obj).parent().parent().find('.taskcID').val());					//系統ID
			$("#txt_cContractID").val($(obj).parent().parent().find('.taskContractID').val());			//文件編號
			$("#txt_cHostName").val($(obj).parent().parent().find('.taskHostName').text());				//HostName
			$("#txt_cSerialID").val($(obj).parent().parent().find('.taskSerialID').text());				//序號
			$("#txt_cPID").val($(obj).parent().parent().find('.taskPID').text());						//ProductID
			$("#txt_cBrands").val($(obj).parent().parent().find('.taskBrands').text());					//廠牌
			$("#txt_cModel").val($(obj).parent().parent().find('.taskModel').text());					//ProductModel
			$("#txt_cLocation").val($(obj).parent().parent().find('.taskLocation').text());				//Location
			$("#txt_cAddress").val($(obj).parent().parent().find('.taskAddress').text());				//地址
			$("#txt_cArea").val($(obj).parent().parent().find('.taskArea').text());					//區域

			var cSLARESP = $(obj).parent().parent().find('.taskSLARESP').text();
			if (cSLARESP == "") cSLARESP = "-1";
			$("#ddl_cSLARESP").val(cSLARESP);															//回應條件

			var SLASRV = $(obj).parent().parent().find('.taskSLASRV').text();
			if (SLASRV == "") SLASRV = "-1";
			$("#ddl_cSLASRV").val(SLASRV);																//服務條件

			$("#tbx_cNotes").val($(obj).parent().parent().find('.taskNotes').text());					//備註
			$("#txt_cSubContractID").val($(obj).parent().parent().find('.taskSubContractID').text());	//下包文件編號

			//$("#dialog_DetailOBJ .modal-content").css({ 'width': '110%' });
			$("#dialog_DetailOBJ").modal('show');
		}

		//刪除合約標的明細內容
		function deleteDetailOBJ(obj, rowId) {
			var cID = parseInt($(obj).closest("tr").find(".taskcID").val());

			if (confirm("確認刪除此筆合約標的明細內容？")) {
				$.ajax({
					url: '@Url.Action("DeleteDetailOBJ", "Contract")',
					type: 'post',
					dataType: 'json',
					data: {
						cID: cID,
					},
					success: function (result) {
						if (result > 0) {
							alert("刪除成功");
							Query();
						}
						else {
							alert("刪除失敗");
						}
					},
				});
			}
		}

		//儲存合約標的明細內容
		function saveDetailOBJ(cID) {

			var strMsg = "";
			var txt_cContractID = $("#txt_cContractID");		//文件編號
			var txt_cHostName = $("#txt_cHostName");			//HostName
			var txt_cSerialID = $("#txt_cSerialID");			//序號
			var txt_cPID = $("#txt_cPID");						//ProductID
			var txt_cBrands = $("#txt_cBrands");				//廠牌
			var txt_cModel = $("#txt_cModel");					//ProductModel
			var txt_cLocation = $("#txt_cLocation");			//Location
			var txt_cAddress = $("#txt_cAddress");				//地址
			var txt_cArea = $("#txt_cArea");					//區域
			var ddl_cSLARESP = $("#ddl_cSLARESP");				//回應條件
			var ddl_cSLASRV = $("#ddl_cSLASRV");				//服務條件
			var tbx_cNotes = $("#tbx_cNotes");					//備註
			var txt_cSubContractID = $("#txt_cSubContractID");	//下包文件編號

			if (txt_cSerialID.val() == "") strMsg += "【序號】不得為空！\n";
			if (txt_cPID.val() == "") strMsg += "【ProductID】不得為空！\n";
			if (txt_cBrands.val() == "") strMsg += "【廠牌】不得為空！\n";
			if (txt_cModel.val() == "") strMsg += "【ProductModel】不得為空！\n";
			if (txt_cLocation.val() == "") strMsg += "【Location】不得為空！\n";
			if (txt_cAddress.val() == "") strMsg += "【地址】不得為空！\n";
			if (ddl_cSLARESP.val() == "") strMsg += "請選擇【回應條件】！\n";
			if (ddl_cSLASRV.val() == "") strMsg += "請選擇【服務條件】！\n";

			if (strMsg != "") {
				alert(strMsg);
			}
			else {
				$("#btn_saveDetailOBJ").hide();
				$("#img_waiting_saveDetailOBJ").show();
				$.ajax({
					url: '@Url.Action("saveDetailOBJ", "Contract")',
					type: 'post',
					dataType: 'json',
					data: {
						cID: cID,
						cContractID: txt_cContractID.val(),
						cHostName: txt_cHostName.val(),
						cSerialID: txt_cSerialID.val(),
						cPID: txt_cPID.val(),
						cBrands: txt_cBrands.val(),
						cModel: txt_cModel.val(),
						cLocation: txt_cLocation.val(),
						cAddress: txt_cAddress.val(),
						cArea: txt_cArea.val(),
						cSLARESP: ddl_cSLARESP.val(),
						cSLASRV: ddl_cSLASRV.val(),
						cNotes: tbx_cNotes.val(),
						cSubContractID: txt_cSubContractID.val()
					},
					success: function (result) {
						if (result == "SUCCESS") {
							alert("儲存成功！");
							Query();
							$("#dialog_DetailOBJ").modal('hide');
						}
						else {
							alert("儲存失敗！原因：" + result);
						}
					},
				});
				$("#btn_saveDetailOBJ").show();
				$("#img_waiting_saveDetailOBJ").hide();
			}
		}

		//查詢
		function Query() {
			$("#waitingImg").show();

			var tMsg = "";
			var tbx_QuerycContractID = $('#tbx_QuerycContractID');	//文件編號
			var tbx_QuerycHostName = $('#tbx_QuerycHostName');		//HostName
			var tbx_QuerycSerialID = $('#tbx_QuerycSerialID');		//序號
			var tbx_QuerycModel = $('#tbx_QuerycModel');			//ProductModel
			var txt_QuerycArea = $("#txt_QuerycArea");				//區域
			var tbx_QuerycStartDate = $('#tbx_QuerycStartDate');		//合約期間(起)
			var tbx_QuerycEndDate = $('#tbx_QuerycEndDate');			//合約期間(迄)

			if (tbx_QuerycContractID.val() == "" && tbx_QuerycHostName.val() == "" && tbx_QuerycSerialID.val() == "" &&
				tbx_QuerycModel.val() == "" && txt_QuerycArea.val() == "" && tbx_QuerycStartDate.val() == "" && tbx_QuerycEndDate.val() == "") {
				tMsg += "請至少輸入一項查詢條件！\n";
			}

			if (tbx_QuerycStartDate.val() != "" && tbx_QuerycEndDate.val() != "") {

				if (tbx_QuerycStartDate.val() > tbx_QuerycEndDate.val()) {
					tMsg += '合約期間(起)不能大於合約期間(迄)！\n';
					tbx_QuerycEndDate.val(""); //清空
				}
			}

			if (tMsg != "") {
				alert(tMsg);
				$("#waitingImg").hide();
				return false;
			}
			else {
				$('#lbl_Message').html("");
				searchQuery(tbx_QuerycContractID.val(), tbx_QuerycHostName.val(), tbx_QuerycSerialID.val(), tbx_QuerycModel.val(),
					txt_QuerycArea.val(), tbx_QuerycStartDate.val(), tbx_QuerycEndDate.val());
			}

			return true;
		}

		//查詢結果
		function searchQuery(cContractID, cHostName, cSerialID, cModel, cArea, cStartDate, cEndDate) {
			$("#dataDiv").html('');

			$.ajax({
				url: '@Url.Action("QueryContractDetailObjResult", "Contract")',
				type: 'post',
				dataType: 'json',
				data: {
					cContractID: cContractID,
					cHostName: cHostName,
					cSerialID: cSerialID,
					cModel: cModel,
					cArea: cArea,
					cStartDate: cStartDate,
					cEndDate: cEndDate
				},
				success: function (result) {
				},
				complete: function (result) {
					$("#dataDiv").html(result.responseText);
					$("#waitingImg").hide();
				}
			});
		}

		//清除
		function clearQuery() {
			if ($('#hid_cContractID').val() == "") //若不是透過主約進來的才可以清掉
			{
				$('#tbx_QuerycContractID').val("");
			}

			$('#lbl_Message').html("");
			$('#tbx_QuerycHostName').val("");
			$('#tbx_QuerycSerialID').val("");
			$('#tbx_QuerycModel').val("");
			$("#txt_QuerycArea").val("");
			$("#tbx_QuerycStartDate").val("");
			$("#tbx_QuerycEndDate").val("");
			$("#chk_QuerycIsNoUpload").iCheck('uncheck'); //拿掉勾勾			
		}

		//返回合約主數據主檔
		function backToContractMain() {
			window.location.href = "@Url.Action("ContractMain", "Contract", new { ContractID = ViewBag.cContractID })";
		}

		function DownloadTaskSample(filePath) {
			var link = document.createElement('a');
			link.href = filePath;
			link.download = "合約標的(匯入範本).xlsx";
			//link.target = "_blank";
			link.click();
		}
	</script>

}

@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>合約主數據查詢/維護作業</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">合約管理</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>合約標的明細查詢/上傳/維護作業</strong>
			</li>
		</ol>
	</div>
}

<div class="row">

	<div class="col-lg-12">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>合約標的明細查詢/上傳/維護作業</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">				
				<form name="form" asp-controller="Contract" asp-action="ImportContractOBJExcel" method="post" enctype="multipart/form-data">
					@if (ViewBag.cContractID != "" && ViewBag.IsCanEdit == "Y")
					{
						<div class="form-group row">
							<div class="col-lg-12" id="div_excelFile">							
								<input type="file" id="postedFile" name="postedFile" />
								<input type="submit" value="匯入Excel" class="btn btn-success btn-lg" onclick="if (!checkEmpty()){event.returnValue=false;return false;}" />
								<button id="btn_download_task" class="btn btn-primary" type="button" onclick="DownloadTaskSample('@ViewBag.DownloadURL');" style="margin-left: 10px;">
									<i class="fa fa-download" aria-hidden="true" style="font-size: 16px;"></i>
									<span style="font-weight: bold; margin: 2px;">合約標的範本下載</span>
								</button>
							</div>
						</div>
					}
					else
					{
						<div class="form-group row">
							<div class="col-lg-12" id="div_excelFile">
								<button id="btn_download_task" class="btn btn-primary" type="button" onclick="DownloadTaskSample('@ViewBag.DownloadURL');" style="margin-left: 10px;">
									<i class="fa fa-download" aria-hidden="true" style="font-size: 16px;"></i>
									<span style="font-weight: bold; margin: 2px;">合約標的範本下載</span>
								</button>
							</div>
						</div>
					}

					<div class="form-group row">
						<!--顯示匯入成功或失敗訊息-->
						<label class="col-lg-12 col-form-label" style="font-size:larger;color:blue;" id="lbl_Message">@Html.Raw(ViewBag.Message)</label>
					</div>
					<!--登人者公司別(Comp-1、Comp-2...)-->
					<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
					<!--登人者公司別(T012、T016...)-->
					<input type="hidden" id="hid_cLoginUser_BUKRS" name="hid_cLoginUser_BUKRS" value="@ViewBag.cLoginUser_BUKRS">
					<!--主約文件編號隱藏欄位(從主約過來才會有值)-->
					<input type="hidden" id="hid_cContractID" name="hid_cContractID" value="@ViewBag.cContractID">
					<!--下包文件編號隱藏欄位(從主約過來才會有值)-->
					<input type="hidden" id="hid_cSubContractID" name="hid_cSubContractID" value="@ViewBag.cSubContractID">					
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">文件編號</label>
						<div class="col-lg-4">
							@{
								if (ViewBag.cSubContractID != "")
								{
										<input type="text" name="tbx_QuerycContractID" id="tbx_QuerycContractID" class="form-control" value="@ViewBag.cSubContractID" placeholder="文件編號" disabled>
								}
								else if (ViewBag.cContractID != "")
								{
										<input type="text" name="tbx_QuerycContractID" id="tbx_QuerycContractID" class="form-control" value="@ViewBag.cContractID" placeholder="文件編號" disabled>
								}
								else
								{
										<input type="text" name="tbx_QuerycContractID" id="tbx_QuerycContractID" class="form-control" placeholder="文件編號">
								}
							}

						</div>
						<label class="col-lg-2 col-form-label">HostName</label>
						<div class="col-lg-4">
							<input type="text" name="tbx_QuerycHostName" id="tbx_QuerycHostName" class="form-control" placeholder="HostName">
						</div>
					</div>
					<div class="form-group row">						
						<label class="col-lg-2 col-form-label">序號</label>
						<div class="col-lg-4">
							<input type="text" name="tbx_QuerycSerialID" id="tbx_QuerycSerialID" class="form-control" placeholder="序號">
						</div>
						<label class="col-lg-2 col-form-label">ProductModel</label>
						<div class="col-lg-4">
							<input type="text" name="tbx_QuerycModel" id="tbx_QuerycModel" class="form-control" placeholder="ProductModel">
						</div>		
					</div>	
					<div class="form-group row">						
						<label class="col-lg-2 col-form-label">區域</label>
						<div class="col-lg-4">
							<input type="text" name="txt_QuerycArea" id="txt_QuerycArea" class="form-control" placeholder="區域">
						</div>						
					</div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">合約期間</label>
						<div class="input-group col-md-10 col-lg-6">
							<span class="input-group-addon">起</span>
							<input type="text" name="tbx_QuerycStartDate" id="tbx_QuerycStartDate" class="calendar form-control" placeholder="起始日期"><span class="input-group-addon">迄</span>
							<input type="text" name="tbx_QuerycEndDate" id="tbx_QuerycEndDate" class="calendar form-control" placeholder="結束日期">
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group row">
						<button class="btn btn-success btn-lg" type="button" onclick="if (!Query()) { return false; }"><i class="fa fa-search"></i> 查 詢 </button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-default btn-lg" type="button" onclick="clearQuery();"><i class="fa fa-trash"></i> 清 除 </button>
						&nbsp;&nbsp;&nbsp;&nbsp;

						@if (ViewBag.cContractID != "")
						{
							<button id="btnBack" name="btnBack" class="btn btn-secondary btn-lg" type="button" onclick="backToContractMain();"><i class="fa fa-reply"></i> 返回主約</button>
						}
						<img id="waitingImg" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>
					合約標的明細查詢/上傳/維護結果
					@if (ViewBag.cContractID != "" && ViewBag.IsCanEdit == "Y")
					{
						<button type="button" class="btn btn-success" onclick="addDetailOBJ();"><i class="fa fa-plus" style="margin-right: 5px;"></i>新增</button>
					}
				</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content" id="dataDiv" style="overflow: scroll">
				<table id="tableAll" class="table table-striple table-bordered table-hover dataTables-example">
					<thead>
						<tr>
							<th>編輯/刪除</th>
							<th>文件編號</th>
							<th>HostName</th>
							<th>序號</th>
							<th>ProductID</th>
							<th>廠牌</th>
							<th>ProductModel</th>
							<th>Location</th>
							<th>地址</th>
							<th>區域</th>
							<th>回應條件</th>
							<th>服務條件</th>
							<th>備註</th>
							<th>下包文件編號</th>
						</tr>
					</thead>
					<tbody>
						@{
							if (ViewBag.QueryToListBean != null)
							{
								int count = 0;
								foreach (string[] QueryInfo in ViewBag.QueryToListBean)
								{
									count++;
									<tr id='tr@(QueryInfo[1])'>
									@if (@QueryInfo[0] == "Y")
									{
										<td>
											<input type="hidden" value="@QueryInfo[1]" class="taskcID" />
											<input type="hidden" value="@QueryInfo[2]" class="taskContractID" />
											<button class="btn btn-info btn-sm btnTaskEdit btnPreventDefault" type="button" onclick="editDetailOBJ(this);" style="margin: 2px;">
												<i class="glyphicon glyphicon-pencil"></i>
											</button>
											<button class="btn btn-danger btn-sm btnTaskDelete btnPreventDefault" type="button" onclick="deleteDetailOBJ(this, 'tr@(QueryInfo[1])');" style="margin: 2px;">
												<i class="fa fa-trash"></i>
											</button>
										</td>
									}
									else
									{
										<td>
											<input type="hidden" value="@QueryInfo[1]" class="taskcID" />
											<input type="hidden" value="@QueryInfo[2]" class="taskContractID" />
										</td>
									}

									<td><a href="@QueryInfo[15]" target="_blank">@QueryInfo[2]</a></td>									
									<td class="taskHostName">@Html.Raw(QueryInfo[3])</td>
									<td class="taskSerialID">@Html.Raw(QueryInfo[4])</td>
									<td class="taskPID">@Html.Raw(QueryInfo[5])</td>
									<td class="taskBrands">@Html.Raw(QueryInfo[6])</td>
									<td class="taskModel">@Html.Raw(QueryInfo[7])</td>
									<td class="taskLocation">@Html.Raw(QueryInfo[8])</td>
									<td class="taskAddress">@Html.Raw(QueryInfo[9])</td>
									<td class="taskArea">@Html.Raw(QueryInfo[10])</td>
									<td class="taskSLARESP">@Html.Raw(QueryInfo[11])</td>
									<td class="taskSLASRV">@Html.Raw(QueryInfo[12])</td>
									<td class="taskNotes">@Html.Raw(QueryInfo[13])</td>
									<td class="taskSubContractID">@Html.Raw(QueryInfo[14])</td>
								</tr>
								}
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!--新增/編輯合約標的明細彈出視窗-->
<div class="modal fade" id="dialog_DetailOBJ" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<label class="col-form-label"><i class="fa fa-check-square-o" aria-hidden="true"></i> 新增/編輯合約標的明細</label>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" id="hid_taskcID" />				
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">文件編號*</label>
					<input type="text" id="txt_cContractID" class="form-control col-lg-4" placeholder="文件編號" disabled/>
					<label class="col-lg-2 col-form-label">HostName</label>
					<input type="text" id="txt_cHostName" class="form-control col-lg-4" placeholder="HostName" />
				</div>
				<div class="form-group row">					
					<label class="col-lg-2 col-form-label">序號*</label>
					<input type="text" id="txt_cSerialID" class="form-control col-lg-4" placeholder="序號" />
					<label class="col-lg-2 col-form-label">ProductID*</label>
					<input type="text" id="txt_cPID" class="form-control col-lg-4" placeholder="ProductID" />
				</div>
				<div class="form-group row">					
					<label class="col-lg-2 col-form-label">廠牌*</label>
					<input type="text" id="txt_cBrands" class="form-control col-lg-4" placeholder="廠牌" />
					<label class="col-lg-2 col-form-label">ProductModel*</label>
					<input type="text" id="txt_cModel" class="form-control col-lg-4" placeholder="ProductModel" />
				</div>
				<div class="form-group row">					
					<label class="col-lg-2 col-form-label">Location*</label>
					<input type="text" id="txt_cLocation" class="form-control col-lg-4" placeholder="Location" />
					<label class="col-lg-2 col-form-label">區域</label>
					<input type="text" id="txt_cArea" class="form-control col-lg-4" placeholder="區域" />
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">地址*</label>
					<input type="text" id="txt_cAddress" class="form-control col-lg-10" placeholder="地址" />					
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">回應條件*</label>
					@Html.DropDownList("ddl_cSLARESP", (IEnumerable<SelectListItem>)ViewBag.SLARESPList, new { @class = "form-control col-lg-4" })	
					<label class="col-lg-2 col-form-label">服務條件*</label>
					@Html.DropDownList("ddl_cSLASRV", (IEnumerable<SelectListItem>)ViewBag.SLASRVList, new { @class = "form-control col-lg-4" })
				</div>
				<div class="form-group row">					
					<label class="col-lg-2 col-form-label">下包文件編號</label>
					<input type="text" id="txt_cSubContractID" class="form-control col-lg-4" placeholder="下包文件編號" />
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">備註</label>
					<textarea rows="3" class="form-control col-lg-10" placeholder="備註" id="tbx_cNotes"></textarea>					
				</div>				
			</div>
			<div class="modal-footer">
				<div class="col-lg-5"></div>
				<button id="btn_saveDetailOBJ" class="btn btn-primary col-lg-2 col-xs-12" type="button" onclick="saveDetailOBJ($('#hid_taskcID').val());"> <i class="fa fa-save"></i> 儲 存</button>
				<img id="img_waiting_saveDetailOBJ" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:6px" alt="">
				<div class="col-lg-5"></div>
			</div>
		</div>
	</div>
</div>