@{
	ViewData["Title"] = "GenerallySR";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		var trProductNoCount = 0;		//記錄目前明細列(產品序號資訊檔)的ID數
		var trWarrantyNoCount = 0;		//記錄目前明細列(保固SLA檔)的ID數
		var trPartsNoCount = 0;		//記錄目前明細列(零件更換檔)的ID數

		$(document).ready(function () {
			openPostAddress();			
			CustSearch('Comp-1');		//取得客戶資料	
			SerialSearch();				//產品序號資訊查詢
			findMaterialByKeyword();	//用關鍵字查詢物料
			PeopleSearch();				//Ajax用中文或英文姓名查詢人員帳號
			getpjAssEngineer();			//取得協助工程師

			 $(".i-checks input[name='CheckUsed']").on('ifChanged', function (event) {
                getShowCheck();
            });

			//顯示協助工程師設定popup
            $('#btn_pjAssEngineer').click(function () {
                $('#dialog_pjAssEngineer').modal('show');
            })
		});

		function hidePopupInit() {
            setTimeout(function () {
                init();
            }, 1200);

        }

		function init() {
			$('.calendar').datepicker({
				todayBtn: "linked",
				keyboardNavigation: false,
				forceParse: false,
				calendarWeeks: false,
				autoclose: true,
				format: "yyyy-mm-dd"
			});
		}	
		
		//確認提交事件
		function onclickBtnSave() {
			var cStatus = $("#ddl_cStatus").val();

			if (cStatus == "E0001" || cStatus == "E0014") //新建 or 駁回
			{
				if (checkBeforeSend()) { getSRID(); }
			}
			else //處理中
			{
				if (checkBeforeApprove()) { getSRID(); }
			}			
		}

		//產生SRID
		function getSRID() {
			var cTitle = "61";	//SRID開頭編號(一般服務請求)
			var cSRID = $("input[name='hid_cSRID']").val();
			var cGUID = $("input[name='hid_cSystemGUID']").val();

			$.ajax({
				url: '@Url.Action("getSRID", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				async: false,
				data: { cTitle: cTitle, cSRID: cSRID, cGUID: cGUID },
				success: function (result) {
					if (result != "") {
						if (result == "CHANGE") {
							alert("【資料已被其他人異動】，請關閉頁面後再重新登入此表單！！");
							$("#waitingImg").hide();
							event.returnValue = false;
						}
						else {
							$("input[name='hid_cSRID']").val(result);
							$("#form1").submit();
						}
					}
					else {
						alert("產生SRID失敗！");
						$("#waitingImg").hide();
						event.returnValue = false;
					}
				}
			})
		}

		 //送出前檢查
		function checkBeforeSend() {

			$("#btn_submit").hide();
			$("#waitingImg").show();

			var Msg = "";
			var ddl_cStatus = $("#ddl_cStatus");					//狀態
			var tbx_cCustomerName = $("#tbx_cCustomerName");			//客戶名稱	
			var hid_cCustomerID = $("#hid_cCustomerID");			//客戶ID				
			var tbx_cRepairName = $("#tbx_cRepairName");			//客戶報修人
			var tbx_cDesc = $("#tbx_cDesc");						//說明
			var tbx_cNotes = $("#tbx_cNotes");						//詳細描述
			var ddl_cMAServiceType = $("#ddl_cMAServiceType");		//維護服務種類
			var ddl_cSRTypeOne = $("#ddl_cSRTypeOne");				//報修類別(大類)
			var ddl_cSRTypeSec = $("#ddl_cSRTypeSec");				//報修類別(中類)
			var ddl_cSRPathWay = $("#ddl_cSRPathWay");				//報修管道
			var ddl_cSRProcessWay = $("#ddl_cSRProcessWay");			//處理方式

			var tbx_cContacterName = $("#tbx_cContacterName");		//客戶聯絡人姓名
			var tbx_cContactAddress = $("#tbx_cContactAddress");		//客戶聯絡人地址
			var tbx_cContactPhone = $("#tbx_cContactPhone");			//客戶聯絡人電話
			var tbx_cContactEmail	= $("#tbx_cContactEmail");			//客戶聯絡人Email

			var ddl_cTeamID = $("#ddl_cTeamID");					//服務團隊
			var tbx_cMainEngineerName = $("#tbx_cMainEngineerName");	//主要工程師
			var hid_cMainEngineerID = $("#hid_cMainEngineerID");		//主要工程師ERPID

			if (ddl_cStatus.val() == "") {
				Msg += "請選擇【狀態】！\n";
			}

			if (tbx_cCustomerName.val() == "") {
				Msg += "【客戶名稱】不得為空！\n";
			}

			if (hid_cCustomerID.val() == "") {
				Msg += "您未下拉選取【客戶名稱】，請輸入關鍵字後再重新選取！\n";
			}

			if (tbx_cRepairName.val() == "") {
				Msg += "【客戶報修人】不得為空！\n";
			}

			if (tbx_cDesc.val() == "") {
				Msg += "【說明】不得為空！\n";
			}

			if (tbx_cNotes.val() == "") {
				Msg += "【詳細描述】不得為空！\n";
			}

			if (ddl_cMAServiceType.val() == "") {
				Msg += "【維護服務種類】不得為空！\n";
			}

			if (ddl_cSRTypeOne.val() == "") {
				Msg += "請選擇【報修類別(大類)】！\n";
			}

			if (ddl_cSRTypeSec.val() == "") {
				Msg += "請選擇【報修類別(中類)】！\n";
			}

			if (ddl_cSRPathWay.val() == "") {
				Msg += "請選擇【報修管道】！\n";
			}

			if (ddl_cSRProcessWay.val() == "") {
				Msg += "請選擇【處理方式】！\n";
			}

			if (tbx_cContacterName.val() == "") {
				Msg += "【客戶聯絡人姓名】不得為空！\n";
			}

			if (tbx_cContactAddress.val() == "") {
				Msg += "【客戶聯絡人地址】不得為空！\n";
			}

			if (tbx_cContactPhone.val() == "") {
				Msg += "【客戶聯絡人電話】不得為空！\n";
			}

			if (tbx_cContactEmail.val() == "") {
				Msg += "【客戶聯絡人Email】不得為空！\n";
			}

			if (ddl_cTeamID.val() == "") {
				Msg += "請選擇【服務團隊】！\n";
			}

			if (tbx_cMainEngineerName.val() == "") {
				Msg += "【主要工程師】不得為空！\n";
			}

			if (hid_cMainEngineerID.val() == "") {
				Msg += "您未下拉選取【主要工程師】，請輸入關鍵字後再重新選取！\n";
			}

             //明細判斷
			if ($("#tableAddPR tr").length == 1) {
				Msg += "請至少新增一筆【產品序號資訊】明細！\n";
			}			

			//【產品序號資訊】明細檢查
			Msg += checkDetail_PR();

			if (Msg != "") {
				alert(Msg);
				
				$("#btn_submit").show();
				$("#waitingImg").hide();
				return false;
			}
			else {
				SetAllobjEnabledorDisabled(false); 
			}

			return true;
		}

		//送審前【產品序號資訊】明細檢查
		function checkDetail_PR() {
			var Msg = "";
			var cStatus = $("#ddl_cStatus").val();			
			var tableName = "";			
            var hid_cLoginUser_BUKRS = $("#hid_cLoginUser_BUKRS").val();		  //公司別

			if (cStatus == "E0001" || cStatus == "E0014") //新建 or 駁回
			{
				tableName = "tableAddPR";
			}
			else
			{
				tableName = "tableDispatchPR";
			}

			var trs = $("#" + tableName + " tr");

			$.each(trs, function (i, itr) {
				var tds = $(itr).find('td');

				if (cStatus == "E0001" || cStatus == "E0014") //新建 or 駁回
				{
					var objSerialID = tds.eq(0).children();		//序號
					var objMaterialID = tds.eq(1).children();		//料號
					var objMaterialName = tds.eq(2).children();	//料號說明					

					if (objSerialID.val() != undefined) {
                        if (objSerialID.val() == "") {
							Msg += "明細【產品序號資訊-序號】不得為空！\n";
						}
						else
						{
							if (objMaterialID.val() == "") {
								Msg += "明細【產品序號資訊-序號】「" + objSerialID.val() + "」的【料號】不得為空！\n";
							}

							if (objMaterialName.val() == "") {
								Msg += "明細【產品序號資訊-序號】「" + objSerialID.val() + "」的【料號說明】不得為空！\n";
							}							
							
						}
                    }					
				}				
			})			

			return Msg;
		}

		//將所有要儲存的欄位(Disabled、Enabled互換)
		//IsDisabled：true.不可改 false.可改
		function SetAllobjEnabledorDisabled(IsDisabled) {
			//儲存前將客戶報修人設為可改，後端才能儲存
			$(".RepairName").each(function () {
				var obj = $(this);
				obj.prop('disabled', IsDisabled);
			});

			//儲存前將報修管理設為可改，後端才能儲存
			$(".SRPathWay").each(function () {
				var obj = $(this);
				obj.prop('disabled', IsDisabled);
			});

			//儲存前將客戶聯絡人姓名設為可改，後端才能儲存
			$(".ContacterName").each(function () {
				var obj = $(this);
				obj.prop('disabled', IsDisabled);
			});

			//儲存前將客戶聯絡人地址設為可改，後端才能儲存
			$(".ContactAddress").each(function () {
				var obj = $(this);
				obj.prop('disabled', IsDisabled);
			});

			//儲存前將客戶聯絡人電話設為可改，後端才能儲存
			$(".ContactPhone").each(function () {
				var obj = $(this);
				obj.prop('disabled', IsDisabled);
			});

			//儲存前將客戶聯絡人Email設為可改，後端才能儲存
			$(".ContactEmail").each(function () {
				var obj = $(this);
				obj.prop('disabled', IsDisabled);
			});			
		}

		//核可前檢查
		function checkBeforeApprove()
		{

		}

		//SAP客戶代號/客戶名稱查詢
		//compcde(Comp-1.大世科 Comp-2.群輝 Comp-3.上海 Comp-4.協志)
		function CustSearch(compcde) {
			$(".CustName").unbind();

			$(".CustName").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							$.ajax({
								url: '@Url.Action("findCustByKeywordAndComp", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: { functionName: 'findCustByKeywordAndComp', keyword: keyword, compcde: compcde },
								success: function (result) {
									Customers = [];
									$.each(result, function (i, idata) {
										Customers[i] = {
											label: idata.Kna1Kunnr + "\\" + idata.Kna1Name1, //顯示在清單的東西
											idx: i,
											id: idata.Kna1Kunnr,
											value: idata.Kna1Name1 //這個是要填入textbox的值
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: Customers,
										select: function (event, ui) {
											$("#lbl_cCustomerID").html(ui.item.id);
											$('#hid_cCustomerID').val(ui.item.id);
										}
									}).bind('focus', function () { $(this).autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
								}
							})
						}
					}

				}
			})
		}

		//產品序號資訊查詢
	    function SerialSearch() {
			$(".Serial").unbind();

			$(".Serial").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var IV_SERIAL = $(this).val();

						if (IV_SERIAL.length > 1) {
							var obj = $(this);
							$.ajax({
								url: '@Url.Action("findMaterialBySerial", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: { functionName: 'findMaterialBySerial', IV_SERIAL: IV_SERIAL},
								success: function (result) {
									materials = [];
									$.each(result, function (i, idata) {
										materials[i] = {
											label: idata.iV_SERIAL + "\\" + idata.prodID + "\\" + idata.product, //顯示在清單的東西
											idx: i,
											value: idata.iV_SERIAL,       //這個是要填入textbox的值(序號)
                                            ProdID: idata.prodID,			//料號
											Product: idata.product,		//品名/規格
											MFRPN: idata.mfrpn,			//製造商零件號碼
											InstallNo: idata.installNo   //裝機號碼
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: materials,
										select: function (event, ui) {
											findMFRPandInstallNumber(obj, IV_SERIAL, ui.item.ProdID, ui.item.Product);
										}
									}).bind('focus', function () { $(this).autocomplete("search"); });

									//開啟autocomplete選單
                                    obj.focus();									
								}
							})
						}
					}

				}
			})
        }

		//取得製造商零件號碼和裝機號碼
		function findMFRPandInstallNumber(obj, IV_SERIAL, ProdID, Product) {			

			$.ajax({
				url: '@Url.Action("findMFRPandInstallNumber", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: { functionName: 'findMFRPandInstallNumber', ProdID: ProdID, IV_SERIAL: IV_SERIAL },
				success: function (result) {
					if (result != undefined) {
						var tr = obj.parent().parent();
						var tds = tr.find("td");											
											
						tds.eq(1).children().val(ProdID);
						tds.eq(2).children().val(Product);
						tds.eq(3).children().val(result[0]);
						tds.eq(5).children().val(result[1]);
					}
				}
			})
		}

		//用物料編號查詢BOM表
		function showBOMDialog(thisID) {
			var obj = $("#" + thisID);		
			
			var ProdID = obj.val();

			if (ProdID != "")
			{
				$("#ShowBOMDialog").modal("show");
				$("#ShowBOMdialogTitle").html("BOM表");
				
				$.ajax({
					url: '@Url.Action("SpareBOM", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: {
						ProdID: ProdID		//物料編號
					},
					success: function (result) {
					},
					complete: function (result) {
						$("#ShowBOMdialogContent").html(result.responseText);
					}
				});
			}
		}

		//用關鍵字查詢物料
		function findMaterialByKeyword() {
			$(".material").unbind();

			$(".material").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 38 && event.keyCode != 40) {
						var keyword = $(this).val();

						var obj = $(this);
							$.ajax({
								url: '@Url.Action("findMaterial", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: { functionName: 'findMaterial', keyword: keyword },
								success: function (result) {
									materials = [];
									$.each(result, function (i, idata) {
										materials[i] = {
											label: idata.maraMatnr + "\\" + idata.maktTxza1Zf,
											idx: i,
											value: idata.maraMatnr,
										Desc: idata.maktTxza1Zf
										};
									});

									 //綁定foucs事件
									obj.autocomplete({
										source: materials
									}).bind('focus', function () { $(this).autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
								}
							})
					}
				}
			})
		}

		//Ajax用中文或英文姓名查詢人員帳號
		function PeopleSearch() {
			$(".Peoploe").unbind();

			$(".Peoploe").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();						
						if (keyword.length > 1) {
							var obj = $(this);
							var ojbID = $(this).attr("id");

							$.ajax({
									url: '@Url.Action("AjaxfindEmployeeByKeyword", "ServiceRequest")',
									type: 'post',
									dataType: 'json',
									data: { 
										functionName: 'AjaxfindEmployeeByKeyword', keyword: keyword },
										success: function (result) {
										objects = [];
										$.each(result, function (i, idata) {
											objects[i] = {
												label: idata.CEmployeeCName + "\\" + idata.CEmployeeEname + "\\" + idata.CEmployeeErpid,
												idx: i,
												value: idata.CEmployeeCName + " " + idata.CEmployeeEname,
												ERPID: idata.CEmployeeErpid  //value這個值，一定要在label裡才能顯示出下拉
											};
										});

										//綁定foucs事件
										obj.autocomplete({
											source: objects,
											select: function (event, ui) {
												if (ojbID.indexOf('tbx_cMainEngineerName') >= 0)
												{
													$('#hid_cMainEngineerID').val(ui.item.ERPID)
												}
												else if (ojbID.indexOf('tbx_cSalesName') >= 0)
												{
													$('#hid_cSalesID').val(ui.item.ERPID)
												}
												else if (ojbID.indexOf('txt_pjAssEngineerName') >= 0)
												{
													$('#hid_pjAssEngineerAcc').val(ui.item.ERPID)
												}
											}
										}).bind('focus', function () { obj.autocomplete("search"); });

										//開啟autocomplete選單
										obj.focus();
									$(".ui-autocomplete").css({ 'z-index': '2051', 'font-size': '16px' }); //可以正常顯示關鍵字查詢
									}
								})
							
						}
					}
				}
			})
		}
		//-----↓↓↓↓↓客戶聯絡人 ↓↓↓↓↓-----

		//Email格式檢查
		function CheckEmailValid() {
			var email =$("#tbx_cAddContactEmail").val();

			$.ajax({
				url: '@Url.Action("CheckEmailValid", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: { functionName: 'CheckEmailValid', email: email },
				success: function (result) {
					if (!result) {
						alert("Email格式不正確，請重新輸入！");
						$("#tbx_cAddContactEmail").val("");
					}
				}
			})
		}

		//顯示選擇客戶聯絡人popup
		function showContactInfo(tIDName) {			
			var CustomerID = $('#hid_cCustomerID').val();
			var cBUKRS = "T012";

			if (CustomerID == "")
			{
				alert("您尚未輸入【客戶】！");
			}
			else
			{
				GetContactInfo(tIDName, cBUKRS, CustomerID);
				$('#dialog_pContactInfo').modal('show');
			}
		}		

		//取得客戶聯絡人
		//cBUKRS.公司別
		//CustomerID.客戶ID
		function GetContactInfo(tIDName, cBUKRS, CustomerID) {
			$.ajax({
				url: '@Url.Action("GetContactInfo", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					cBUKRS: cBUKRS,
					CustomerID: CustomerID
				},
				success: function (result) {
					var list = "";
					$.each(result, function (i, bean) {
						if (bean != null) {
								var stremail = bean.email;							
								var straddress = bean.address;
								var strphone = bean.phone;
								
								stremail = stremail.replace(/\s+/g, "&nbsp;");
								stremail = stremail.replace(/\"/g, "&quot;");
								stremail = stremail.replace(/\'/g, "’"); //單引號，半型->全型

								straddress = straddress.replace(/\s+/g, "&nbsp;");
								straddress = straddress.replace(/\"/g, "&quot;");
								straddress = straddress.replace(/\'/g, "’"); //單引號，半型->全型

								strphone = strphone.replace(/\s+/g, "&nbsp;");
								strphone = strphone.replace(/\"/g, "&quot;");
								strphone = strphone.replace(/\'/g, "’"); //單引號，半型->全型

								list += "<tbody>"
									+ "<tr>"
									+ "<td>"
									+ "    <input name='rdSelect' type='radio' onclick=selectContactInfo('" + tIDName + "','" + bean.customerName + "','" + bean.name + "','" + stremail + "','" + bean.city + "','" + straddress + "','" + strphone + "') />"
									+ '    <input type="hidden" class="hid_ContactID" value="' + bean.ContactID + '" />'
									+ '</td>'
									+ "<td style='vertical-align: middle;'>" + bean.customerID + "</td>"
									+ "<td style='vertical-align: middle;'>" + bean.customerName + "</td>"
									+ "<td style='vertical-align: middle;'>" + bean.name + "</td>"
									+ "<td style='vertical-align: middle;'>" + bean.city + "</td>"
									+ "<td style='vertical-align: middle;'>" + bean.address + "</td>"
									+ "<td style='vertical-align: middle;'>" + bean.email + "</td>"
									+ "<td style='vertical-align: middle;'>" + bean.phone + "</td>"
									+ "</tr>"
									+ "</tbody>";
							}
					});

					if (list != "") {
						list = "<table class='table table-striple table-bordered table-hover dataTables-example' style='text-align: center;'>"
							+ "<thead><tr>"
							+ "<th>選取</th>"
							+ "<th>客戶代號</th>"
							+ "<th>客戶名稱</th>"
							+ "<th>聯絡人姓名</th>"
							+ "<th>聯絡人城市</th>"
							+ "<th>聯絡人地址</th>"
							+ "<th>聯絡人Email</th>"
							+ "<th>聯絡人電話</th>"							
							+ "</tr></thead>"
							+ list
							+ "</table>";
					}
					else {
						list = "查無聯絡人資訊!";
					}

					$("#tb_pContactInfo").html(list);
				}
			});
		}

		//選取客戶聯絡人並將相關資訊帶回已更新聯絡資訊
		function selectContactInfo(tIDName, CustomerName, Name, Email, City, Address, phone) {
			var tbx_cRepairName = $("#tbx_cRepairName");		//客戶報修人

			var tbx_cContacterName = $("#tbx_cContacterName");	//客戶聯絡人姓名
			var tbx_cContactAddress = $("#tbx_cContactAddress"); //客戶聯絡人地址
			var tbx_cContactPhone = $("#tbx_cContactPhone");		//客戶聯絡人電話
			var tbx_cContactEmail	= $("#tbx_cContactEmail");		//客戶聯絡人Email

			Name = Name.replace(/\’/g, "'");					//單引號，全型->半型
			Address = Address.replace(/\’/g, "'");			//單引號，全型->半型
			phone = phone.replace(/\’/g, "'");				//單引號，全型->半型
			
			if (tIDName == "tbx_cRepairName") {
				tbx_cRepairName.val(Name);
			}
			else
			{
				tbx_cContacterName.val(Name);
				tbx_cContactAddress.val(Address);
				tbx_cContactPhone.val(phone);
				tbx_cContactEmail.val(Email);
			}

			$("#dialog_pContactInfo").modal('hide');
		}

		//清除客戶報修人
		function clearRepairName() {
			$("#tbx_cRepairName").val('');
		}

		//清除客戶聯絡人
		function clearContacterName() {
			$("#tbx_cContacterName").val('');		//客戶聯絡人姓名
			$("#tbx_cContactAddress").val('');		//客戶聯絡人地址
			$("#tbx_cContactPhone").val('');		//客戶聯絡人電話
			$("#tbx_cContactEmail").val('');		//客戶聯絡人Email
		}

		//popup各欄位reset
		function resetPopup(popupId) {
			$(popupId).find("input").each(function (index, value) {
				$(this).val("");
			});
			$(popupId).find("select").each(function (index, value) {
				$(this).val("-1");
			});
			$(popupId).find("textarea").each(function (index, value) {
				$(this).val("");
			});
			$(popupId).find(".file-box").each(function (index, value) {
				$(this).remove();
			});
		}		

		//新增客戶聯絡人
		function btn_AddContactInfo_onclick() {
			var OperationID = $('#hid_OperationID').val();
			var CustomerID = $('#hid_cCustomerID').val();
			var cBUKRS = "T012";

			if (CustomerID == "")
			{
				alert("您尚未輸入【客戶】！");
			}
			else
			{
				resetPopup("#dialog_pAddContactInfo");		//popup各欄位reset
				$('#tbx_cAddContactID').val(OperationID);  //程式作業編號檔系統ID

				$("#dialog_pAddContactInfo .dropzone").show();
				$("#dialog_pAddContactInfo").modal('show');
			}
		}

		//儲存客戶聯絡人
		function saveContactInfo() {
			var strMsg = "";
			
			var hid_cLoginUser_Name = $("#hid_cLoginUser_Name");
			var hid_cLoginUser_BUKRS = $("#hid_cLoginUser_BUKRS");
			var tbx_cCustomerName = $("#tbx_cCustomerName");
			var hid_cCustomerID = $("#hid_cCustomerID");

			var tbx_cAddContactID = $("#tbx_cAddContactID");					//程式作業編號檔系統ID
			var tbx_cAddContactName = $("#tbx_cAddContactName");				//客戶聯絡人姓名
			var tbx_cAddContactCity = $("#tbx_cAddContactCity");				//客戶聯絡人城市
			var tbx_cAddContactAddress = $("#tbx_cAddContactAddress");		//客戶聯絡人詳細地址
			var tbx_cAddContactAddress_No = $("#tbx_cAddContactAddress_No");	//客戶聯絡人門牌號碼/樓層
			var tbx_cAddContactPhone = $("#tbx_cAddContactPhone");			//客戶聯絡人電話
			var tbx_cAddContactEmail = $("#tbx_cAddContactEmail");			//客戶聯絡人Email

			if (tbx_cAddContactID.val() == "") {
				strMsg += "程式作業編號檔系統ID不得為空！\n";
			}

			if (tbx_cAddContactName.val() == "") {
				strMsg += "客戶聯絡人【姓名】不得為空！\n";
			}

			if (tbx_cAddContactCity.val() == "") {
				strMsg += "客戶聯絡人【城市】不得為空！\n";
			}

			if (tbx_cAddContactAddress.val() == "") {
				strMsg += "客戶聯絡人【詳細地址】不得為空！\n";
			}

			if (tbx_cAddContactAddress_No.val() == "") {
				strMsg += "客戶聯絡人【門牌號碼/樓層】不得為空！\n";
			}

			if (tbx_cAddContactPhone.val() == "") {
				strMsg += "客戶聯絡人【電話】不得為空！\n";
			}

			if (tbx_cAddContactEmail.val() == "") {
				strMsg += "客戶聯絡人【Email】不得為空！\n";
			}

			if (strMsg != "") {
				alert(strMsg);
			}
            else {
				var tAddress = tbx_cAddContactAddress.val() + tbx_cAddContactAddress_No.val();

				$("#btn_saveContactInfo").hide();
                $("#img_waiting_saveContactInfo").show();
				$.ajax({
					url: '@Url.Action("SaveContactInfo", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
                    data: {
						cAddContactID: tbx_cAddContactID.val(),
						cBUKRS:hid_cLoginUser_BUKRS.val(),
						cCustomerID: hid_cCustomerID.val(),
						cCustomerName: tbx_cCustomerName.val(),
						cAddContactName: tbx_cAddContactName.val(),
						cAddContactCity: tbx_cAddContactCity.val(),
						cAddContactAddress: tAddress,
						cAddContactPhone: tbx_cAddContactPhone.val(),
						cAddContactEmail: tbx_cAddContactEmail.val(),
						ModifiedUserName: hid_cLoginUser_Name.val()
                    },
                    success: function (result) {
                        if (result > 0) {                           
                            alert("儲存成功！");
							$("#dialog_pAddContactInfo").modal('hide');							
                        }
                        else {
							alert("儲存失敗！");
                        }
                        $("#img_waiting_saveContactInfo").hide();
                        $("#btn_saveContactInfo").show();
                    },                   
				});
			}
        }
		//-----↑↑↑↑↑客戶聯絡人 ↑↑↑↑↑-----

		//-----↓↓↓↓↓協助工程師 ↓↓↓↓↓-----
        //修改協助工程師
        function savepjAssEngineer() {
            var tbx_cAssEngineerID = $("#tbx_cAssEngineerID");

			if ($("#hid_pjAssEngineerAcc").val() == "") {
                alert("請輸入協助工程師姓名");
            }
            else {
					$("#btn_savepjAssEngineer").hide();
                    $("#img_waiting_savepjAssEngineer").show();

				    $.ajax({
					    url: '@Url.Action("SavepjAssEngineer", "ServiceRequest")',
					    type: 'post',
					    dataType: 'json',
                        data: {                            
                            cAssEngineerID: tbx_cAssEngineerID.val(),
							AssEngineerAcc: $("#hid_pjAssEngineerAcc").val(),
                        },
                        success: function (result) {
                            if (result.indexOf("Error") >= 0) {
							   alert("儲存失敗！");
							}
							else {
							alert("儲存成功");
								tbx_cAssEngineerID.val(result);
								getpjAssEngineer();                            
							}
                        }
                    });

                    $("#img_waiting_savepjAssEngineer").hide();
                    $("#btn_savepjAssEngineer").show();
            }
        }

        //取得協助工程師
        function getpjAssEngineer() {
            $("#hid_pjAssEngineerAcc").val("");
            $("#txt_pjAssEngineerName").val("");
			
			var tbx_cAssEngineerID = $("#tbx_cAssEngineerID");
            
			$.ajax({
				url: '@Url.Action("GetpjAssEngineer", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
                data: {                    
					cAssEngineerID : tbx_cAssEngineerID.val(),
                },
                success: function (result) {
                    var list = "";
					var pjAssEngineerName = "";
					$.each(result, function (i, bean) {
                        if (bean != null) {
                            pjAssEngineerName += bean.name + ",";

                            list += '<tr id="tr_pjAssEngineer_' + bean.id + '">'
                                + "<input type='hidden' class='hidpjAssEngineerAcc' value='" + bean.acc + "'>"
                                + '<td>'
                                    + '<button class="btn btn-danger btn-sm btnCtDelete btnPreventDefault" type="button" onclick="deletepjAssEngineer(this);" style="margin: 2px;">'
                                        + '<i class="fa fa-trash"></i>'
                                    + '</button>'
                                + '</td>'
                                + "<td style='vertical-align: middle;'>" + bean.name + "</td>"
                                + "<td style='vertical-align: middle;'>" + bean.ext + "</td>"
                                + "<td style='vertical-align: middle;'>" + bean.mobile + "</td>"
                                + "<td style='vertical-align: middle; text-align: left;'>" + bean.email + "</td>"
                                + "<td style='vertical-align: middle;'>" + bean.deptName + "</td>"                                
                            + "</tr>";
						}
                    });

                    if (list != "") {
                        list = "<table class='table table-striple table-bordered table-hover dataTables-example' style='word-break: keep-all; white-space: nowrap; text-align: center;'>"
                            + "<thead><tr>"
                                + "<th>刪除</th>"
                                + "<th>姓名</th>"
                                + "<th>分機</th>"
                                + "<th>手機</th>"
                                + "<th>Email</th>"
                                + "<th>部門</th>"                                
                            + "</tr></thead><tbody>"
                            + list
                            + "</tbody></table>";
					}
                    $("#tb_pjAssEngineer").html(list);

                    pjAssEngineerName = pjAssEngineerName.substr(0, pjAssEngineerName.length - 1);
                    $("#tbx_cAssEngineerName").val(pjAssEngineerName);
                }
			});
        }

        //刪除協助工程師
        function deletepjAssEngineer(obj) {
            var pjAssEngineerAcc = $(obj).parent().parent().find(".hidpjAssEngineerAcc").val();
			var tbx_cAssEngineerID = $("#tbx_cAssEngineerID");

            if (confirm("確認刪除此協助工程師？")) {
                $.ajax({
					url: '@Url.Action("DeletepjAssEngineer", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
                    data: {
                        cAssEngineerID: tbx_cAssEngineerID.val(),
						cAssEngineerAcc: pjAssEngineerAcc,
                    },
                    success: function (result) {
                        if (result.indexOf("Error") >= 0) {
                           alert("刪除失敗！");
                        }
                        else {
							alert("刪除成功");
							tbx_cAssEngineerID.val(result);
                            getpjAssEngineer();                            
                        }
                    }
				});
            }
        }
		//-----↑↑↑↑↑協助工程師 ↑↑↑↑↑-----

		//-----↓↓↓↓↓報修類別 ↓↓↓↓↓-----
		//第一階(大類) onChange
		function onChangecSRTypeOne() {

			//先清空下拉選單選項，才不會一直append
			$('#ddl_cSRTypeSec').empty();
			$('#ddl_cSRTypeThr').empty();

			$.ajax({
				url: '@Url.Action("findSRTypeSecList", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
                data: {
					keyword: $('#ddl_cSRTypeOne').val(),
				},
                success: function (result) {
                    $.each(result, function (index, obj) {
						$("#ddl_cSRTypeSec").append(
                            $('<option></option>').val(obj.value).html(obj.text)
                        );
                    });
				}
			});
		}

		//第二階(中類) onChange
		function onChangecSRTypeSec() {

			//先清空下拉選單選項，才不會一直append
			$('#ddl_cSRTypeThr').empty();			

			$.ajax({
				url: '@Url.Action("findSRTypeThrList", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
                data: {
					keyword: $('#ddl_cSRTypeSec').val(),
				},
                success: function (result) {
                    $.each(result, function (index, obj) {
						$("#ddl_cSRTypeThr").append(
                            $('<option></option>').val(obj.value).html(obj.text)
                        );
                    });
				}
			});
		}
		//-----↑↑↑↑↑報修類別 ↑↑↑↑↑-----

		//-----↓↓↓↓↓產品序號資訊檔 ↓↓↓↓↓-----		

		//新增明細
		function AddDetailItem_Product(tableName) {
			trProductNoCount = $("input[name='hid_trProductNo']").val();

			if (trProductNoCount == "") {
				trProductNoCount = 1;
			}
			else {
				trProductNoCount = parseInt(trProductNoCount) + 1;
			}

			$("input[name='hid_trProductNo']").val(trProductNoCount);

			var SerialID = SetSerialID();			
			var MaterialID = SetMaterialID();
			var MaterialName = SetMaterialName();
			var ProductNumber = SetProductNumber();
			var BOM = SetBOM();
			var InstallID = SetInstallID();
			var tDelButton = SetPRDelButton();

			var tAlltd = SerialID + MaterialID + MaterialName + ProductNumber + BOM + InstallID + tDelButton;

			$("#" + tableName).append("<tr id='tr" + trProductNoCount + "'>" + tAlltd + "</tr>");

			SerialSearch();				//產品序號資訊查詢
			findMaterialByKeyword();	//用關鍵字查詢物料
		}

		//組序號
		function SetSerialID() {
			var reValue = "<td><input type='text' name='tbx_PRcSerialID' id='tbx_PRcSerialID" + trProductNoCount + "' class='form-control Serial' style='width:200px;' placeholder='請輸入序號關鍵字查詢'></td>";
			return reValue;
		}		

		//組料號
		function SetMaterialID() {
			var reValue = "<td><input type='text' name='tbx_PRcMaterialID' id='tbx_PRcMaterialID" + trProductNoCount + "' class='form-control material' style='width:200px;' placeholder='請輸入料號或料號說明關鍵字查詢'></td>";
			return reValue;
		}		

		//組料號說明
		function SetMaterialName() {
			var reValue = "<td><textarea rows='3' class='form-control' style='width:200px;' placeholder='料號說明' name='tbx_PRcMaterialName' readonly></textarea></td>";
			return reValue;
		}

		//組ProductNumber
		function SetProductNumber() {
			var reValue = "<td><input type='text' name='tbx_PRcProductNumber' id='tbx_PRcProductNumber" + trProductNoCount + "' class='form-control' style='width:200px;' placeholder='Product Number' readonly></td>";
			return reValue;
		}

		//組BOM
		function SetBOM() {
			var reValue = "<td><a href=\"javascript:void(0);showBOMDialog('tbx_PRcMaterialID" + trProductNoCount + "')\">BOM表</a></td>";
			return reValue;
		}

		//組裝機資訊
		function SetInstallID() {
			var reValue = "<td><input type='text' name='tbx_PRcInstallID' id='tbx_PRcInstallID" + trProductNoCount + "' class='form-control' style='width:150px;' placeholder='裝機資訊'></td>";
			return reValue;
		}

		//組刪除按鈕
		function SetPRDelButton()
		{
			var tTrID = $("input[name='hid_trProductNo']").val();
			var reValue = "<td><button class='btn btn-danger' type='button' onclick=DelDetailItem_Product('tr" + tTrID + "');><i class='fa fa-trash'></i></button><input type='hidden' id='hid_PRcID" + trProductNoCount + "'></td>";
			return reValue;
		}		

		//刪除明細(For借料狀態)
		function DelDetailItem_Product(rowId) {
			$('#' + rowId).remove();
		}
		//-----↑↑↑↑↑產品序號資訊檔 ↑↑↑↑↑-----

		//-----↓↓↓↓↓保固SLA檔 ↓↓↓↓↓-----

		function init_iChceck()
		{
			$('.i-checks').iCheck({
				checkboxClass: 'icheckbox_square-green',
				radioClass: 'iradio_square-green',
			});

			$(".i-checks input[name='CheckUsed']").on('ifChanged', function (event) {
				var objID =$(this).attr("id");
				
				var tNumber = objID.replace('CheckThisID','');
				var objUsed = $("#hid_CheckUsedID" + tNumber); //本次使用hiddenValue

				if (event.target.checked)
				{
					objUsed.val("Y");
				}
				else
				{
					objUsed.val("N");
				}

				getShowCheck(objID, event.target.checked);
            });
		}

		//取得要顯示的Checkbox
		//若傳入的ID有勾選，其他就不要勾選，反之若傳入的ID沒勾選，其他就要勾選
        function getShowCheck(objID, checked) {			
			$.each($(".i-checks input[name='CheckUsed']"), function (i, cbx) {
				if ($(this).attr("id") == objID) {
                    //不做事
                }
                else {
					if (checked)
					{
						$(this).iCheck('uncheck');

						var tNumber = $(this).attr("id").replace('CheckThisID', '');
						var objUsed = $("#hid_CheckUsedID" + tNumber); //本次使用hiddenValue
						objUsed.val("N");
					}					
                }
            })
        }

		function QuerySRDetail_Warranty(tableName)
		{
			var cStatus = $("#ddl_cStatus").val();

			var ArySERIAL = new Array();

			var trs = $("#" + tableName + " tr");

			$.each(trs, function (i, itr) {
				var tds = $(itr).find('td');
				var pQuantity = 0;
				var pAtoBQuantity = 0;

				if (cStatus == "E0001" || hid_NowStage == "E0014") //新建 or 駁回
				{					
					var objSerial = tds.eq(0).children();	//序號					

					if (objSerial.val() != undefined) {
						ArySERIAL.push(objSerial.val());
					}
				}				
			})

			var countItem = 0;
			$("#dataDivWA").html('');

			$.ajax({
				url: '@Url.Action("QuerySRDetail_Warranty", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					ArySERIAL: ArySERIAL
				},
				success: function (result) {
					var list = "";
					$.each(result, function (i, bean) {
                        if (bean != null) {
							countItem++;

							var tIsCheck = "";

							if (bean.cUsed == "Y")
							{
								tIsCheck="checked";
							}

							list += '<tr id="tr_WA' + bean.cID + '">'                                
								+ "<td class='hidWAItemID' style='vertical-align: middle;'>" + countItem 
								+ "    <input type='hidden' name='hidcID' value=" + countItem + ">"
								+ "</td>"
								+ "<td class='hidWASerialID' style='vertical-align: middle;'>" + bean.cSerialID
								+ "    <input type='hidden' name='hidcSerialID' value=" + bean.cSerialID + ">"
								+ "</td>"
								+ "<td class='hidWAWTYID' style='vertical-align: middle;'>" + bean.cWTYID
								+ "    <input type='hidden' name='hidcWTYID' value=" + bean.cWTYID + ">"
								+ "</td>"
								+ "<td class='hidWAWTYName' style='vertical-align: middle;'>" + bean.cWTYName
								+ "    <input type='hidden' name='hidcWTYName' value=" + bean.cWTYName + ">"
								+ "</td>"
								+ "<td class='hidWAWTYSDATE' style='vertical-align: middle;'>" + bean.cWTYSDATE
								+ "    <input type='hidden' name='hidcWTYSDATE' value=" + bean.cWTYSDATE + ">"
								+ "</td>"
								+ "<td class='hidWAWTYEDATE' style='vertical-align: middle;'>" + bean.cWTYEDATE
								+ "    <input type='hidden' name='hidcWTYEDATE' value=" + bean.cWTYEDATE + ">"
								+ "</td>"
                                + "<td class='hidWASLARESP' style='vertical-align: middle;'>" + bean.cSLARESP
								+ "    <input type='hidden' name='hidcSLARESP' value=" + bean.cSLARESP + ">"
								+ "</td>"
								+ "<td class='hidWASLASRV' style='vertical-align: middle;'>" + bean.cSLASRV
								+ "    <input type='hidden' name='hidcSLASRV' value=" + bean.cSLASRV + ">"
								+ "</td>"
								+ "<td class='hidWAContractID' style='vertical-align: middle;'>" + bean.cContractID
								+ "    <input type='hidden' name='hidcContractID' value=" + bean.cContractID + ">"
								+ "</td>"
								+ "<td>"
								+ "    <a href=" + bean.cBPMFormNoUrl + ">" + bean.cBPMFormNo + "</a>"
								+ "    <input type='hidden' name='hidcBPMFormNo' value=" + bean.cBPMFormNo + ">"
								+ "</td>"
								+ '<td>'
								+ '    <label class="i-checks">'
								+ "	       <input id='CheckThisID" + bean.cID + "' name='CheckUsed' class='AllCheck' type='checkbox' " + tIsCheck + ">"
								+ '    </label>'
								+ "    <input type='hidden' id='hid_CheckUsedID" + bean.cID + "' name='hid_CheckUsed' value='" + bean.cUsed + "'>"
								+ '</td>'								
								+ "</tr>";
						}
                    });

					if (list != "") {
						list = '<table id="tableWA" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">'
                                + "<thead>"                                							    
                                + "<th>項次</th>"
                                + "<th>序號</th>"
								+ "<th>保固代號</th>"
                                + "<th>保固說明</th>"
							    + "<th>保固起始日</th>"
								+ "<th>保固到期日</th>"
								+ "<th>SLA回應條件</th>"
								+ "<th>SLA服務條件</th>"
								+ "<th>合約編號</th>"
								+ "<th>保固申請</th>"
								+ "<th>本次使用</th>"							    
                                + "</tr></thead><tbody>"
                                + list
                                + "</tbody></table>";
					}
                    else {
						list = "查無保固資訊!";
                    }

					$("#dataDivWA").html(list);
					init_iChceck();
				}
			});
		}

		//查詢保固SLA
		function AddDetailItem_Warranty(tableName) {
			trWarrantyNoCount = $("input[name='hid_trWarrantyNo']").val();

			if (trWarrantyNoCount == "") {
				trWarrantyNoCount = 1;
			}
			else {
				trWarrantyNoCount = parseInt(trWarrantyNoCount) + 1;
			}

			$("input[name='hid_trWarrantyNo']").val(trWarrantyNoCount);

			var SerialID = SetWASerialID();
			var WTYID = SetWAWTYID();
			var WTYName = SetWAWTYName();
			var WTYSDATE = SetWAWTYSDATE();
			var WTYEDATE = SetWAWTYEDATE();
			var SLARESP = SetWASLARESP();
			var SLASRV = SetWASLASRV();
			var ContractID = SetWAContractID();
			var BPMFormNo = SetWABPMFormNo();
			var Used = SetWAUsed();

			var tAlltd = SerialID + WTYID + WTYName + WTYSDATE + WTYEDATE + SLARESP + SLASRV + ContractID + BPMFormNo + Used;

			$("#" + tableName).append("<tr id='tr" + trWarrantyNoCount + "'>" + tAlltd + "</tr>");
		}

		//組序號
		function SetWASerialID() {
			var reValue = "<td><input type='text' name='tbx_WAcSerialID' id='tbx_WAcSerialID" + trWarrantyNoCount + "' class='form-control' style='width:150px;' placeholder='序號' readonly></td>";
			return reValue;
		}		

		//組保固代號
		function SetWAWTYID() {
			var reValue = "<td><input type='text' name='tbx_WAcWTYID' id='tbx_WAcWTYID" + trWarrantyNoCount + "' class='form-control' style='width:100px;' placeholder='保固代號' readonly></td>";
			return reValue;
		}

		//組保固說明
		function SetWAWTYName() {
			var reValue = "<td><textarea rows='3' class='form-control' style='width:200px;' placeholder='料號說明' name='tbx_WAcWTYName' readonly></textarea></td>";
			return reValue;
		}

		//組保固起始日
		function SetWAWTYSDATE() {
			var reValue = "<td><input type='text' name='tbx_WAcWTYSDATE' id='tbx_WAcWTYSDATE" + trWarrantyNoCount + "' class='calendar form-control' style='width:100px;' placeholder='保固起始日' readonly></td>";
			return reValue;
		}

		//組保固到期日
		function SetWAWTYEDATE() {
			var reValue = "<td><input type='text' name='tbx_WAcWTYEDATE' id='tbx_WAcWTYEDATE" + trWarrantyNoCount + "' class='calendar form-control' style='width:100px;' placeholder='保固到期日' readonly></td>";
			return reValue;
		}

		//組SLA回應條件
		function SetWASLARESP() {
			var reValue = "<td><input type='text' name='tbx_WAcSLARESP' id='tbx_WAcSLARESP" + trWarrantyNoCount + "' class='form-control' style='width:100px;' placeholder='SLA回應條件' readonly></td>";
			return reValue;
		}

		//組SLA服務條件
		function SetWASLASRV() {
			var reValue = "<td><input type='text' name='tbx_WAcSLASRV' id='tbx_WAcSLASRV" + trWarrantyNoCount + "' class='form-control' style='width:100px;' placeholder='SLA服務條件' readonly></td>";
			return reValue;
		}

		//組合約編號
		function SetWAContractID() {
			var reValue = "<td><input type='text' name='tbx_WAcContractID' id='tbx_WAcContractID" + trWarrantyNoCount + "' class='form-control' style='width:100px;' placeholder='合約編號' readonly></td>";
			return reValue;
		}

		//組保固申請
		function SetWABPMFormNo() {
			var reValue = "<td><a href='javascript:void(0);'>保固申請</a></td>";
			return reValue;
		}

		//組本次使用
		function SetWAUsed()
		{			
			var reValue = "<td><button class='btn btn-danger' type='button' onclick=DelDetailItem_Warranty('tr" + tTrID + "');></td>";
			return reValue;
		}
		//-----↑↑↑↑↑保固SLA檔 ↑↑↑↑↑-----

		//-----↓↓↓↓↓零件更換檔 ↓↓↓↓↓-----		

		//新增明細
		function AddDetailItem_Parts(tableName) {
			trPartsNoCount = $("input[name='hid_trPartsNo']").val();

			if (trPartsNoCount == "") {
				trPartsNoCount = 1;
			}
			else {
				trPartsNoCount = parseInt(trPartsNoCount) + 1;
			}

			$("input[name='hid_trPartsNo']").val(trPartsNoCount);

			var XCHP = SetXCHP();
			var OldCT = SetOldCT();
			var NewCT = SetNewCT();
			var OldUEFI = SetOldUEFI();
			var NewUEFI = SetNewUEFI();
			var StandbySerialID = SetStandbySerialID();
			var HPCT = SetHPCT();			
			var MaterialID = SetMaterialID_Parts();
			var MaterialName = SetMaterialName_Parts();
			var ArriveDate = SetArriveDate();
			var APM = SetAPM();
			var ReturnDate = SetReturnDate();
			var MaterialItem = SetMaterialItem();			
			var HPOrderStatus = SetHPOrderStatus();
			var Note = SetNote();
			var tDelButton = SetPADelButton();

			var tAlltd = XCHP + OldCT + NewCT + OldUEFI + NewUEFI + StandbySerialID + 
			            HPCT + MaterialID + MaterialName + ArriveDate + APM +
						ReturnDate + MaterialItem + HPOrderStatus + Note + tDelButton;

			$("#" + tableName).append("<tr id='tr" + trPartsNoCount + "'>" + tAlltd + "</tr>");
			hidePopupInit();
		}

		//組XC HP申請零件
		function SetXCHP() {
			var reValue = "<td><input type='text' name='tbx_PAcXCHP' id='tbx_PAcXCHP" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='XC HP申請零件'></td>";
			return reValue;
		}		

		//組Old CT
		function SetOldCT() {
			var reValue = "<td><input type='text' name='tbx_PAcOldCT' id='tbx_PAcOldCT" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='Old CT'></td>";
			return reValue;
		}		

		//組New CT
		function SetNewCT() {
			var reValue = "<td><input type='text' name='tbx_PAcNewCT' id='tbx_PAcNewCT" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='New CT'></td>";
			return reValue;
		}

		//組Old UEFI
		function SetOldUEFI() {
			var reValue = "<td><input type='text' name='tbx_PAcOldUEFI' id='tbx_PAcOldUEFI" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='Old UEFI'></td>";
			return reValue;
		}

		//組New UEFI 
		function SetNewUEFI () {
			var reValue = "<td><input type='text' name='tbx_PAcNewUEFI ' id='tbx_PAcNewUEFI " + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='New UEFI '></td>";
			return reValue;
		}

		//組備機序號
		function SetStandbySerialID() {
			var reValue = "<td><input type='text' name='tbx_PAcStandbySerialID' id='tbx_PAcStandbySerialID" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='備機序號'></td>";
			return reValue;
		}

		//組cHPCT
		function SetHPCT() {
			var reValue = "<td><input type='text' name='tbx_PAcHPCT' id='tbx_PAcHPCT" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='HP CT'></td>";
			return reValue;
		}

		//組更換零件料號ID
		function SetMaterialID_Parts() {
			var reValue = "<td><input type='text' name='tbx_PAcMaterialID' id='tbx_PAcMaterialID" + trPartsNoCount + "' class='form-control material' style='width:100px;' placeholder='請輸入料號或料號說明的關鍵字'></td>";
			return reValue;
		}

		//組料號說明
		function SetMaterialName_Parts() {
			var reValue = "<td><textarea rows='3' class='form-control' style='width:200px;' placeholder='料號說明' name='tbx_PAcMaterialName' readonly></textarea></td>";
			return reValue;
		}

		//組到貨日
		function SetArriveDate() {
			var reValue = "<td><input type='text' name='tbx_PAcArriveDate' id='tbx_PAcArriveDate" + trPartsNoCount + "' class='form-control calendar' style='width:100px;' placeholder='到貨日'></td>";
			return reValue;
		}

		//組APM
		function SetAPM() {
			var reValue = "<td><input type='text' name='tbx_PAcAPM' id='tbx_PAcAPM" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='A.P.M'></td>";
			return reValue;
		}

		//組歸還日
		function SetReturnDate() {
			var reValue = "<td><input type='text' name='tbx_PAcReturnDate' id='tbx_PAcReturnDate" + trPartsNoCount + "' class='form-control calendar' style='width:100px;' placeholder='歸還日'></td>";
			return reValue;
		}

		//組零件服務項目
		function SetMaterialItem() {
			var reValue = "<td><input type='text' name='tbx_PAcMaterialItem' id='tbx_PAcMaterialItem" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='零件服務項目'></td>";
			return reValue;
		}

		//組HP Order Status
		function SetHPOrderStatus() {
			var reValue = "<td><input type='text' name='tbx_PAcHPOrderStatus' id='tbx_PAcHPOrderStatus" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='HP Order Status'></td>";
			return reValue;
		}

		//組備註
		function SetNote() {
			var reValue = "<td><textarea rows='3' class='form-control' style='width:200px;' placeholder='備註' name='tbx_PAcNote'></textarea></td>";
			return reValue;
		}

		//組刪除按鈕
		function SetPADelButton() {
			var tTrID = $("input[name='hid_trPartsNo']").val();
			var reValue = "<td><button class='btn btn-danger' type='button' onclick=DelDetailItem_Parts('tr" + tTrID + "');><i class='fa fa-trash'></i></button><input type='hidden' id='hid_PRcID" + trPartsNoCount + "'></td>";
			return reValue;
		}		

		//刪除明細(For借料狀態)
		function DelDetailItem_Parts(rowId) {
			$('#' + rowId).remove();
		}
		//-----↑↑↑↑↑零件更換檔 ↑↑↑↑↑-----
		
	</script>
}

	@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>一般服務請求</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">服務請求管理</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>一般服務請求</strong>
			</li>
		</ol>
	</div>
}

	<div class="row">
		<!--報修資訊-->
		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>
						報修資訊						
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					@model OneService.Controllers.ServiceRequestController.ViewModel //載入StatusViewModel

					<form id="form1" name="form" action='@Url.Action("SaveGenerallySR", "ServiceRequest")' method="post">
						@if (ViewBag.pStatus == "E0014")
						{
							<!--目前tr的筆數-->
							<input type="hidden" name="hid_trProductNo" value="@ViewBag.trProductNo">
							<input type="hidden" name="hid_trWarrantyNo" value="@ViewBag.trWarrantyNo">
							<input type="hidden" name="hid_trPartsNo" value="@ViewBag.trPartsNo">
						}
						else
						{
							<!--目前tr的筆數-->
							<input type="hidden" name="hid_trProductNo">
							<input type="hidden" name="hid_trWarrantyNo">
							<input type="hidden" name="hid_trPartsNo">
						}
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">ID</label>
							<div class="col-lg-4">
								<label class="col-form-label" style="color:blue;">@ViewBag.cSRID</label>								
							</div>
							<!--目前SRID-->
							<input type="hidden" name="hid_cSRID" value="@ViewBag.cSRID">
							<!--目前系統GUID-->
							<input type="hidden" name="hid_cSystemGUID" value="@ViewBag.pGUID">
							<!--登人者姓名-->
							<input type="hidden" id="hid_cLoginUser_Name" name="hid_cLoginUser_Name" value="@ViewBag.cLoginUser_Name">
							<!--登人者帳號-->
							<input type="hidden" id="hid_cLoginUser_EmployeeNO" name="hid_cLoginUser_EmployeeNO" value="@ViewBag.cLoginUser_EmployeeNO">
							<!--登人者ERPID-->
							<input type="hidden" id="hid_cLoginUser_ERPID" name="hid_cLoginUser_ERPID" value="@ViewBag.cLoginUser_ERPID">
							<!--登人者工作地點-->
							<input type="hidden" id="hid_cLoginUser_WorkPlace" name="hid_cLoginUser_WorkPlace" value="@ViewBag.cLoginUser_WorkPlace">
							<!--登人者公司別-->
							<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
							<!--登人者工廠別-->
							<input type="hidden" id="hid_cLoginUser_BUKRS" name="hid_cLoginUser_BUKRS" value="@ViewBag.cLoginUser_BUKRS">
							<!--登人者單位-->
							<input type="hidden" id="hid_cLoginUser_DepartmentName" name="hid_cLoginUser_DepartmentName" value="@ViewBag.cLoginUser_DepartmentName">
							<!--登人者單位NO-->
							<input type="hidden" id="hid_cLoginUser_DepartmentNO" name="hid_cLoginUser_DepartmentNO" value="@ViewBag.cLoginUser_DepartmentNO">
							<!--程式作業編號檔系統ID(一般服務請求)-->
							<input type="hidden" id="hid_OperationID" name="hid_OperationID" value="@ViewBag.pOperationID">
							<label class="col-lg-2 col-form-label">狀態</label>
							<div class="col-lg-4">
								<select asp-for="ddl_cStatus" asp-items="Model.ListStatus" class="form-control"></select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">客戶</label>
							<div class="col-lg-4">
							<input type="text" id="tbx_cCustomerName" name="tbx_cCustomerName" class="form-control CustName" placeholder="請輸入客戶名稱或統編的關鍵字" value="@ViewBag.cCustomerName">
								<label class="col-lg-2 col-form-label" id="lbl_cCustomerID" name="lbl_cCustomerID">@ViewBag.cCustomerID</label>
								<input type="hidden" id="hid_cCustomerID" name="hid_cCustomerID" value="@ViewBag.cCustomerID" />
							</div>
							<label class="col-lg-2 col-form-label">客戶報修人</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_cRepairName" name="tbx_cRepairName" class="form-control RepairName" placeholder="客戶報修人" disabled>								
								<button id="btn_showRepairInfo" class="btn btn-info showContactInfo" type="button" onclick="showContactInfo('tbx_cRepairName');" >
									<i class="fa fa-user-circle-o" style="font-size: 16px;"></i>
									<span style="font-weight: bold; margin: 5px;">選擇客戶報修人</span>									
								</button>
								<button class="btn btn-default btn-lg" type="button" onclick="clearRepairName();">
									<i class="fa fa-trash"></i>
									<span style="font-weight: bold; margin: 5px;">清除客戶報修人</span>
								</button>
								<button id="btn_add_RepairName" class="btn btn-success" type="button" style="margin-left: 10px;" onclick="btn_AddContactInfo_onclick();">
									<i class="fa fa-plus" style="margin-right: 5px;"></i>
									<span style="font-weight: bold; margin: 5px;">新增</span>
								</button>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">說明</label>
							<div class="col-lg-10">
								<input type="text" id="tbx_cDesc" name="tbx_cDesc" class="form-control" placeholder="說明" value="@ViewBag.cDesc" title="@ViewBag.cDesc">
							</div>							
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">詳細描述</label>
							<div class="col-lg-10">
								<textarea rows="3" class="form-control" placeholder="詳細描述" id="tbx_cNotes" name="tbx_cNotes" title="@ViewBag.cNotes">@ViewBag.cNotes</textarea>
							</div>							
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">檢附文件</label>
							<div class="col-lg-10">
								<!-- 檔案上傳start-->
								<div class="form-group row">
									<div class="col-lg-3 dropzone" id="zone_1">
										<div class="fallback">
											<input name="file" type="file" multiple />
										</div>
									</div>
									<div class="col-lg-9">
										<div class="attachment" id="filezone_1"></div>
										<input type="hidden" class="fileids" name="hid_filezone_1" id="hid_filezone_1" />
									</div>
								</div>
								<!-- 檔案上傳end-->
							</div>
						</div>

						<div class="hr-line-dashed"></div>

						<div class="form-group row">
							<label class="col-lg-2 col-form-label">維護服務種類</label>
							<div class="col-lg-4">								
								<select asp-for="ddl_cMAServiceType" asp-items="Model.ListMAServiceType" class="form-control"></select>
							</div>
							<label class="col-lg-2 col-form-label">建立日期</label>
							<div class="col-lg-4">
							<input type="text" id="tbx_CreatedDate" name="tbx_CreatedDate" class="form-control" placeholder="建立日期" value="@ViewBag.CreatedDate" readonly>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">報修類別</label>
							<div class="col-lg-4">
								@Html.DropDownList("ddl_cSRTypeOne", (IEnumerable<SelectListItem>)ViewBag.SRTypeOneList, new { @class = "form-control", @onchange = "javascript:onChangecSRTypeOne();" })
								@Html.DropDownList("ddl_cSRTypeSec", (IEnumerable<SelectListItem>)ViewBag.SRTypeSecList, new { @class = "form-control", @onchange = "javascript:onChangecSRTypeSec();" })
								@Html.DropDownList("ddl_cSRTypeThr", (IEnumerable<SelectListItem>)ViewBag.SRTypeThrList, new { @class = "form-control" })
							</div>							
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">報修管道</label>
							<div class="col-lg-4">								
								<select asp-for="ddl_cSRPathWay" asp-items="Model.ListSRPathWay" class="form-control SRPathWay" disabled></select>
							</div>
							<label class="col-lg-2 col-form-label">處理方式</label>
							<div class="col-lg-4">								
								<select asp-for="ddl_cSRProcessWay" asp-items="Model.ListSRProcessWay" class="form-control"></select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">延遲結案原因</label>
							<div class="col-lg-10">
								<textarea rows="3" class="form-control" placeholder="延遲結案原因" id="tbx_cDelayReason" name="tbx_cDelayReason" title="@ViewBag.cDelayReason">@ViewBag.cDelayReason</textarea>
							</div>							
						</div>						

						<!--客戶聯絡窗口資訊-->
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>
										客戶聯絡窗口資訊										
										<button id="btn_showContactInfo" class="btn btn-info showContactInfo" type="button" onclick="showContactInfo('tbx_cContacterName');">
											<i class="fa fa-user-circle-o" style="font-size: 16px;"></i>
											<span style="font-weight: bold; margin: 5px;">選擇客戶聯絡人</span>
										</button>
										<button class="btn btn-default btn-lg" type="button" onclick="clearContacterName();">
											<i class="fa fa-trash"></i>
											<span style="font-weight: bold; margin: 5px;">清除客戶聯絡人</span>
										</button>
										<button id="btn_add_ContacterName" class="btn btn-success" type="button" style="margin-left: 10px;" onclick="btn_AddContactInfo_onclick();">
											<i class="fa fa-plus" style="margin-right: 5px;"></i>
										<span style="font-weight: bold; margin: 5px;">新增</span>
										</button>
									</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>
								<div class="ibox-content">
									<div class="form-group row">
										<label class="col-lg-2 col-form-label">姓名</label>
										<div class="col-lg-4">
											<input type="text" id="tbx_cContacterName" name="tbx_cContacterName" class="form-control ContacterName" value="@ViewBag.cContacterName" placeholder="姓名" disabled>
										</div>
										<label class="col-lg-2 col-form-label">地址</label>
										<div class="col-lg-4">
											<input type="text" id="tbx_cContactAddress" name="tbx_cContactAddress" class="form-control ContactAddress" value="@ViewBag.cContactAddress" placeholder="地址" disabled>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-2 col-form-label">電話</label>
										<div class="col-lg-4">
											<input type="text" id="tbx_cContactPhone" name="tbx_cContactPhone" class="form-control ContactPhone" value="@ViewBag.cContactPhone" placeholder="電話" disabled>
										</div>
										<label class="col-lg-2 col-form-label">Email</label>
										<div class="col-lg-4">
											<input type="text" id="tbx_cContactEmail" name="tbx_cContactEmail" class="form-control ContactEmail" value="@ViewBag.cContactEmail" placeholder="Email" disabled>
										</div>
									</div>									
								</div>
							</div>
						</div>

						<!--產品序號資訊-->
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>
										產品序號資訊
									<button type="button" class="btn btn-success" onclick="AddDetailItem_Product('tableAddPR');"><i class="fa fa-plus" style="margin-right: 5px;"></i>新增</button>
									</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>
								@{
									if (ViewBag.pStatus == "E0001")
									{
																										<!--新建階段-->
																										<div class="ibox-content" style="overflow: scroll">											
																											<table id="tableAddPR" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																												<thead>
																													<tr>													
																														<th>序號</th>														
																														<th>料號</th>
																														<th>料號說明</th>
																														<th>Product Number</th>
																														<th>BOM</th>
																														<th>裝機資訊</th>
																														<th width="130">刪除</th>
																													</tr>
																												</thead>
																												<tbody>
																												</tbody>
																											</table>
																										</div>
									}
									else
									{
																										<!--審核階段-->
																										<div class="ibox-content" style="overflow: scroll">
																											@if (ViewBag.pStatus == "E0014") //駁回
											{
																												<div class="form-group row">
																													<button type="button" class="btn btn-w-m btn-primary" onclick="AddDetailItem_Product('tableDispatchPR');">新增</button>
																												</div>
											}
																											<table id="tableDispatchPR" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																												<thead>
																													<tr>
																														@if (ViewBag.pStatus != "E0014")
														{
																															<th>項次</th>
														}
																														<th>序號</th>														
																														<th>料號</th>
																														<th>料號說明</th>
																														<th>Product Number</th>
																														<th>BOM</th>
																														<th>裝機資訊</th>
																														else if (ViewBag.pStatus == "E0014")
																														{
																															<th width="130">刪除</th>
																														}														
																													</tr>
																												</thead>
																												<tbody>
																													@{
														if (ViewBag.pSRID != "")
														{
															int count = 0;
															foreach (var bean in ViewBag.Detailbean_Product)
															{
																count++;
																																																<tr id='trProductNo@(count)'>
																																																	@if (ViewBag.pStatus != "E0014")
	{
																																																		<td>
																																																			<label class="col-form-label" @("id=lbl_PRcItemID" + count)>@bean.cItem</label>
																																																		</td>
	}
																																																	<td>
																																																		<input type='text' name='tbx_PRcSerialID' @("id=tbx_PRcSerialID" + count) class='form-control' style="width:150px;" placeholder='序號' value="@bean.cSerialID" title="@bean.cSerialID" readonly>
																																																		<input type='hidden' name='hid_PRcID' @("id=hid_PRcID" + count) value=@bean.cID>																		
																																																	</td>																	
																																																	<td>
																																																		<input type='text' name='tbx_PRcMaterialID' @("id=tbx_PRcMaterialID" + count) class='form-control material' style="width:150px;" placeholder='請輸入料號或料號說明的關鍵字' value="@bean.cMaterialID" title="@bean.cMaterialID" readonly>
																																																	</td>																	
																																																	<td>
																																																		<textarea rows="3" class="form-control" style='width:200px;' placeholder="料號說明" name="tbx_PRcMaterialName" title="@bean.cMaterialName" readonly>@bean.cMaterialName</textarea>
																																																	</td>
																																																	<td>
																																																		<input type='text' name='tbx_PRcProductNumber' @("id=tbx_PRcProductNumber" + count) class='form-control' style='width:150px;' value="@bean.cProductNumber" title="@bean.cProductNumber" ) readonly>
																																																	</td>
																																																	<td>
																																																		<a href="javascript:void(0);">BOM表</a>
																																																	</td>
																																																	<td>
																																																		<input type='text' name='tbx_PRcInstallID' @("id=tbx_PRcInstallID" + count) class='form-control' style='width:150px;' value="@bean.cInstallID" title="@bean.cInstallID" ) readonly>
																																																	</td>
																																																	else if (ViewBag.pStatus == "E0014")
																																																	{
																																																		<td>
																																																			<button class='btn btn-danger' type='button' onclick="DelDetailItem_Product('trProductNo@(count)')" ;><i class='fa fa-trash'></i></button>
																																																		</td>
																																																	}																							
																																																</tr>
															}
														}
																													}
																												</tbody>
																											</table>
																										</div>
									}								
								}
							</div>
						</div>

						<!--保固SLA資訊-->
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
								<h5>
									保固SLA資訊
									<button type="button" class="btn btn-success" onclick="QuerySRDetail_Warranty('tableAddPR');"><i class="fa fa-plus" style="margin-right: 5px;"></i>查詢保固SLA</button>
								</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>								
								<div class="ibox-content" id="dataDivWA" style="overflow: scroll">										
									<table id="tableWA" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
										<thead>
											<tr>
												<th>項次</th>
												<th>序號</th>
												<th>保固代號</th>
												<th>保固說明</th>
												<th>保固起始日</th>
												<th>保固到期日</th>
												<th>SLA回應條件</th>
												<th>SLA服務條件</th>
												<th>合約編號</th>
												<th>保固申請</th>
												<th>本次使用</th>
											</tr>
										</thead>
										<tbody>
																								
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<!--服務團隊-->
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>
										服務團隊										
									</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>
								<div class="ibox-content">
									<div class="form-group row">
										<label class="col-lg-2 col-form-label">服務團隊</label>
										<div class="col-lg-4">
											@Html.DropDownList("ddl_cTeamID", (IEnumerable<SelectListItem>)ViewBag.SRTeamIDList, new { @class = "form-control" })
										</div>
										<label class="col-lg-2 col-form-label">SQ人員</label>
										<div class="col-lg-4">
											<input type="text" id="tbx_cSQPerson" name="tbx_cSQPerson" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋" value="@ViewBag.cSQPerson">											
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-2 col-form-label">主要工程師</label>
										<div class="col-lg-4">
											<input type="text" id="tbx_cMainEngineerName" name="tbx_cMainEngineerName" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋" value="@ViewBag.cMainEngineerName">
											<input type="hidden" id="hid_cMainEngineerID" name="hid_cMainEngineerID" value="@ViewBag.cMainEngineerID" />											
										</div>
										<label class="col-lg-2 col-form-label">計費業務</label>
										<div class="col-lg-4">
										<input type="text" id="tbx_cSalesName" name="tbx_cSalesName" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋" value="@ViewBag.cSalesName">
										<input type="hidden" id="hid_cSalesID" name="hid_cSalesID" value="@ViewBag.cSalesID" />
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-2 col-form-label">協助工程師</label>
										<div class="col-lg-10 col-sm-10 input-group">
											<input type="hidden" id="tbx_cAssEngineerID" name="tbx_cAssEngineerID" value="@ViewBag.cAssEngineerID">
											<input id="tbx_cAssEngineerName" type="text" class="form-control labelDisabled" title="@ViewBag.cAssEngineerName" value="@ViewBag.cAssEngineerName" placeholder="協助工程師姓名" disabled>
											<div class="input-group-append">
												<button id="btn_pjAssEngineer" class="btn btn-primary" type="button">
													<i class="fa fa-user-plus" aria-hidden="true"></i>
												</button>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>

						<!--處理與工時紀錄-->
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>
										處理與工時紀錄
										<button id="btn_add_pRecord" class="btn btn-success" type="button" style="margin-left: 10px;" onclick="btn_add_pRecordonclick();"><i class="fa fa-plus" style="margin-right: 5px;"></i>新增</button>
									</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>
                            @{
                                if (ViewBag.pStatus == "E0001")
                                {
																			<!--新建階段-->
																			<div class="ibox-content" style="overflow: scroll">
																				<table id="tableAddRE" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																					<thead>
																						<tr>
																							<th>服務工程師</th>
																							<th>接單時間</th>
																							<th>出發時間</th>
																							<th>到場時間</th>
																							<th>完成時間</th>
																							<th>工時(分鐘)</th>
																							<th>處理紀錄</th>
																							<th>服務報告書</th>
																						</tr>
																					</thead>
																					<tbody>
																						@{
                                                    //int count = 0;
                                                    //foreach (var bean in ViewBag.Detailbean_Warranty)
                                                    //{
                                                    //	count++;
                                                    //	<tr id='trWarrantyNo@(count)'>
                                                    //		@if (ViewBag.pStatus != "E0014")
                                                    //		{
                                                    //			<td>
                                                    //				<label class="col-form-label" @("id=lbl_WAcItemID" + count)>@bean.cItem</label>
                                                    //			</td>
                                                    //		}
                                                    //		<td>
                                                    //			<input type='text' name='tbx_WAcSerialID' @("id=tbx_WAcSerialID" + count) class='form-control' style="width:150px;" placeholder='序號' value="@bean.cSerialID" title="@bean.cSerialID" readonly>
                                                    //			<input type='hidden' name='hid_WAcID' @("id=hid_WAcID" + count) value=@bean.cID>
                                                    //		</td>
                                                    //		<td>
                                                    //			<input type='text' name='tbx_WAcWTYID' @("id=tbx_WAcWTYID" + count) class='form-control' style="width:100px;" placeholder='保固代號' value="@bean.cWTYID" title="@bean.cWTYID" readonly>
                                                    //		</td>
                                                    //		<td>
                                                    //			<textarea rows="3" class="form-control" style='width:200px;' placeholder="保固說明" name="tbx_WAcWTYName" title="@bean.cWTYName" readonly>@bean.cWTYName</textarea>
                                                    //		</td>
                                                    //		<td>
                                                    //			<input type="text" name="tbx_WAcWTYSDATE" class="calendar form-control" placeholder="保固起始日" value="@bean.cWTYSDATE" readonly>
                                                    //		</td>
                                                    //		<td>
                                                    //			<input type="text" name="tbx_WAcWTYEDATE" class="calendar form-control" placeholder="保固到期日" value="@bean.cWTYEDATE" readonly>
                                                    //		</td>
                                                    //		<td>
                                                    //			@*@Html.DropDownList("ddl_WAcSLARESP", (IEnumerable<SelectListItem>)ViewBag.WAcSLARESP, new { @class = "form-control"})*@
                                                    //		</td>
                                                    //		<td>
                                                    //			@*@Html.DropDownList("ddl_WAcSLASRV", (IEnumerable<SelectListItem>)ViewBag.WAcSLASRV, new { @class = "form-control"})*@
                                                    //		</td>
                                                    //		<td>
                                                    //			<input type='text' name='tbx_WAcContractID' @("id=tbx_WAcContractID" + count) class='form-control' style="width:100px;" placeholder='合約編號' value="@bean.cContractID" title="@bean.cContractID" readonly>
                                                    //		</td>
                                                    //		<td>
                                                    //			<a href="javascript:void(0);">保固申請</a>
                                                    //		</td>
                                                    //		<td>
                                                    //			<input @("id=ckb_WAcUsed" + count) name="ckb_WAcUsed" type="checkbox" class="checkbox" onclick="SetIsUsed(this, @count)" checked='checked' />
                                                    //			<input type="hidden" @("id=hid_WAcUsed" + count) name="hid_WAcUsed" value="Y">
                                                    //		</td>
                                                    //	</tr>
                                                    //}
																						}
																					</tbody>
																				</table>
																			</div>
                                }
                                else
                                {
																			<!--審核階段-->
																			<div class="ibox-content" style="overflow: scroll">
																				@if (ViewBag.pStatus == "E0014") //駁回
                                        {
																					<div class="form-group row">
																						<button id="btn_add_pRecord" class="btn btn-success" type="button" style="margin-left: 10px;" onclick="btn_add_pRecordonclick();"><i class="fa fa-plus" style="margin-right: 5px;"></i>新增</button>
																					</div>
                                        }
																				<table id="tableDispatchRE" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																					<thead>
																						<tr>
																							<th>項次</th>
																							<th>服務工程師</th>
																							<th>接單時間</th>
																							<th>出發時間</th>
																							<th>到場時間</th>
																							<th>完成時間</th>
																							<th>工時(分鐘)</th>
																							<th>處理紀錄</th>
																							<th>服務報告書</th>
																						</tr>
																					</thead>
																					<tbody>
																						@{
                                                    if (ViewBag.pSRID != "")
                                                    {
                                                        int count = 0;
                                                        foreach (var bean in ViewBag.Detailbean_Warranty)
                                                        {
                                                            count++;
																																			<tr id='trWarrantyNo@(count)'>
																																				@if (ViewBag.pStatus != "E0014")
                                                                {
																																					<td>
																																						<label class="col-form-label" @("id=lbl_WAcItemID" + count)>@bean.cItem</label>
																																					</td>
                                                                }
																																				<td>
																																					<input type='text' name='tbx_WAcSerialID' @("id=tbx_WAcSerialID" + count) class='form-control' style="width:150px;" placeholder='序號' value="@bean.cSerialID" title="@bean.cSerialID" readonly>
																																					<input type='hidden' name='hid_WAcID' @("id=hid_WAcID" + count) value=@bean.cID>
																																				</td>
																																				<td>
																																					<input type='text' name='tbx_WAcWTYID' @("id=tbx_WAcWTYID" + count) class='form-control' style="width:100px;" placeholder='保固代號' value="@bean.cWTYID" title="@bean.cWTYID" readonly>
																																				</td>
																																				<td>
																																					<textarea rows="3" class="form-control" style='width:200px;' placeholder="保固說明" name="tbx_WAcWTYName" title="@bean.cWTYName" readonly>@bean.cWTYName</textarea>
																																				</td>
																																				<td>
																																					<input type="text" name="tbx_WAcWTYSDATE" class="calendar form-control" placeholder="保固起始日" value="@bean.cWTYSDATE" readonly>
																																				</td>
																																				<td>
																																					<input type="text" name="tbx_WAcWTYEDATE" class="calendar form-control" placeholder="保固到期日" value="@bean.cWTYEDATE" readonly>
																																				</td>
																																				<td>
																																					@*@Html.DropDownList("ddl_WAcSLARESP", (IEnumerable<SelectListItem>)ViewBag.WAcSLARESP, new { @class = "form-control"})*@
																																				</td>
																																				<td>
																																					@*@Html.DropDownList("ddl_WAcSLASRV", (IEnumerable<SelectListItem>)ViewBag.WAcSLASRV, new { @class = "form-control"})*@
																																				</td>
																																				<td>
																																					<input type='text' name='tbx_WAcContractID' @("id=tbx_WAcContractID" + count) class='form-control' style="width:100px;" placeholder='合約編號' value="@bean.cContractID" title="@bean.cContractID" readonly>
																																				</td>
																																				<td>
																																					<a href="javascript:void(0);">保固申請</a>
																																				</td>
																																				<td>
																																					<input @("id=ckb_WAcUsed" + count) name="ckb_WAcUsed" type="checkbox" class="checkbox" onclick="SetIsUsed(this, @count)" checked='checked' />
																																					<input type="hidden" @("id=hid_WAcUsed" + count) name="hid_WAcUsed" value="Y">
																																				</td>
																																			</tr>
                                                        }
                                                    }
																						}
																					</tbody>
																				</table>
																			</div>
                                }
                            }
							</div>
						</div>

						<!--零件更換資訊-->
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>
									零件更換資訊
										<button type="button" class="btn btn-success" onclick="AddDetailItem_Parts('tableAddPA');"><i class="fa fa-plus" style="margin-right: 5px;"></i>新增</button>
									</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>
								@{
									if (ViewBag.pStatus == "E0001")
									{
																																					<!--新建階段-->
																																					<div class="ibox-content" style="overflow: scroll">
																																						<table id="tableAddPA" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																																							<thead>
																																								<tr>
																																									<th>XC HP申請零件</th>
																																									<th>更換零件料號ID</th>
																																									<th>料號說明</th>
																																									<th>Old CT</th>
																																									<th>New CT</th>
																																									<th>HP CT </th>
																																									<th>New UEFI</th>
																																									<th>備機序號</th>
																																									<th>HP Case ID</th>
																																									<th>到貨日</th>
																																									<th>歸還日</th>
																																									<th>零件服務項目</th>
																																									<th>備註</th>
																																									<th width="130">刪除</th>
																																								</tr>
																																							</thead>
																																							<tbody>
																																							</tbody>
																																						</table>
																																					</div>
									}
									else
									{
																																					<!--審核階段-->
																																					<div class="ibox-content" style="overflow: scroll">
																																						@if (ViewBag.pStatus == "E0014") //駁回
											{
																																							<div class="form-group row">
																																								<button type="button" class="btn btn-w-m btn-primary" onclick="AddDetailItem_Parts('tableDispatchPA');">新增</button>
																																							</div>
											}
																																						<table id="tableDispatchPA" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																																							<thead>
																																								<tr>
																																									@if (ViewBag.pStatus != "E0014")
														{
																																										<th>項次</th>
														}
																																									<th>XC HP申請零件</th>
																																									<th>更換零件料號ID</th>
																																									<th>料號說明</th>
																																									<th>Old CT</th>
																																									<th>New CT</th>
																																									<th>HP CT </th>
																																									<th>New UEFI</th>
																																									<th>備機序號</th>
																																									<th>HP Case ID</th>
																																									<th>到貨日</th>
																																									<th>歸還日</th>
																																									<th>零件服務項目</th>
																																									<th>備註</th>														
																																									else if (ViewBag.pStatus == "E0014")
																																									{
																																										<th width="130">刪除</th>
																																									}
																																								</tr>
																																							</thead>
																																							<tbody>
																																								@{
														if (ViewBag.pSRID != "")
														{
															int count = 0;
															foreach (var bean in ViewBag.Detailbean_Parts)
															{
																count++;
																																																																						<tr id='trPartsNo@(count)'>
																																																																							@if (ViewBag.pStatus != "E0014")
																	{
																																																																								<td>
																																																																									<label class="col-form-label" @("id=lbl_PRcItemID" + count)>@bean.cItem</label>
																																																																								</td>
																	}
																																																																							<td>
																																																																								<input type='text' name='tbx_PRcSerialID' @("id=tbx_PRcSerialID" + count) class='form-control' style="width:150px;" placeholder='序號' value="@bean.cSerialID" title="@bean.cSerialID" readonly>
																																																																								<input type='hidden' name='hid_PRcID' @("id=hid_PRcID" + count) value=@bean.cID>
																																																																							</td>
																																																																							<td>
																																																																								<input type='text' name='tbx_PRcMaterialID' @("id=tbx_PRcMaterialID" + count) class='form-control material' style="width:150px;" placeholder='請輸入料號或料號說明的關鍵字' value="@bean.cMaterialID" title="@bean.cMaterialID" readonly>
																																																																							</td>
																																																																							<td>
																																																																								<textarea rows="3" class="form-control" style='width:200px;' placeholder="料號說明" name="tbx_PRcMaterialName" title="@bean.cMaterialName" readonly>@bean.cMaterialName</textarea>
																																																																							</td>
																																																																							<td>
																																																																								<input type='text' name='tbx_PRcProductNumber' @("id=tbx_PRcProductNumber" + count) class='form-control' style='width:150px;' value="@bean.cProductNumber" title="@bean.cProductNumber" ) readonly>
																																																																							</td>
																																																																							<td>
																																																																								<a href="javascript:void(0);">BOM表</a>
																																																																							</td>
																																																																							<td>
																																																																								<input type='text' name='tbx_PRcInstallID' @("id=tbx_PRcInstallID" + count) class='form-control' style='width:150px;' value="@bean.cInstallID" title="@bean.cInstallID" ) readonly>
																																																																							</td>
																																																																							else if (ViewBag.pStatus == "E0014")
																																																																							{
																																																																							<td>
																																																																								<button class='btn btn-danger' type='button' onclick="DelDetailItem_Parts('trPartsNo@(count)')" ;><i class='fa fa-trash'></i></button>
																																																																							</td>
																																																																							}
																																																																						</tr>
															}
														}
																																								}
																																							</tbody>
																																						</table>
																																					</div>
									}
								}
							</div>
						</div>

						<div class="form-group row">
						@{
							if (ViewBag.pStatus == "E0001" || ViewBag.pStatus == "E0014") //新建 or 駁回
							{
																										<button id="btn_submit" class="btn btn-primary btn-lg" type="button" onclick="ShowSRConfirmDialogMsg('確認', '您是否確認提交？');" @(ViewBag.pActionType == "History" ? " style =display:none" : "")>提 交 </button>							
							}
							else
							{
																										<button id="btn_Approve" class="btn btn-primary btn-lg" type="button" onclick="ShowSRConfirmDialogMsg('確認', '您是否確認提交？');" @(ViewBag.pActionType == "History" ? " style =display:none" : "")>提 交 </button>
							}
						}
							<img id="waitingImg" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>

	<!--新增客戶聯絡人彈出視窗-->
	<div class="modal fade" id="dialog_pAddContactInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<label class="col-form-label"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>新增客戶聯絡人資訊</label>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">														
					<div class="form-group row">
					<label class="col-lg-2 col-form-label">查詢郵遞區號和地址</label>
                        <div class="input-group col-lg-10">
                            <div class="col-lg-6 col-xs-12">
								<label class="col-form-label">縣市名稱：</label>
								<select id="ddl_PostAddressCity" class="changePostCity form-control"></select>
							</div>
							<div class="col-lg-6 col-xs-12">
								<label class="col-form-label">鄉鎮市區：</label>
								<select id="ddl_PostAddressTownship" class="changePostTownship form-control"></select>
							</div>
							<div class="col-lg-6 col-xs-12">
								<label class="col-form-label">路段(名)：</label>
								<select id="ddl_PostAddressRoad" class="changePostRoad form-control"></select>
							</div>
							<div class="col-lg-6 col-xs-12">
								<label class="col-form-label">門牌號碼：</label>
								<select id="ddl_PostAddressNo" class="form-control"></select>
							</div>
							<div class="col-lg-12 col-xs-12">
								<button id="btnPostAddress" class="btn btn-primary col-lg-12 col-xs-12" type="button" onclick="findPostAddress()"><i class="fa fa-search"></i> 查 詢</button>
							</div>
							<div class="modal-body" id="div_PostAddressList"></div>
                        </div>                       
                    </div>
					<div class="hr-line-dashed"></div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">程式作業編號檔系統ID</label>
						<div class="col-lg-10">
							<input type="text" id="tbx_cAddContactID" name="tbx_cAddContactID" class="form-control" placeholder="程式作業編號檔系統ID" disabled>
						</div>						
					</div>					
					<div class="form-group row">						
						<label class="col-lg-2 col-form-label">姓名*</label>
						<div class="col-lg-4">
							<input type="text" id="tbx_cAddContactName" name="tbx_cAddContactName" class="form-control" placeholder="姓名">
						</div>
						<label class="col-lg-2 col-form-label">電話*</label>
						<div class="col-lg-4">
							<input type="text" id="tbx_cAddContactPhone" name="tbx_cAddContactPhone" class="form-control" placeholder="電話">
						</div>
					</div>	
					<div class="form-group row">						
						<label class="col-lg-2 col-form-label">城市*</label>
						<div class="col-lg-4">
							<input type="text" id="tbx_cAddContactCity" name="tbx_cAddContactCity" class="form-control" placeholder="城市" disabled>
						</div>						
					</div>
					<div class="form-group row">						
						<label class="col-lg-2 col-form-label">詳細地址*</label>
						<div class="col-lg-10">							
							<input type="text" id="tbx_cAddContactAddress" name="tbx_cAddContactAddress" class="form-control" placeholder="詳細地址" disabled>							
							<input type="text" id="tbx_cAddContactAddress_No" name="tbx_cAddContactAddress_No" class="form-control" placeholder="門牌號碼/樓層">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Email*</label>
						<div class="col-lg-10">
							<input type="text" id="tbx_cAddContactEmail" name="tbx_cAddContactEmail" class="form-control" placeholder="Email" onblur="CheckEmailValid();">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-lg-5"></div>
					<button id="btn_saveContactInfo" class="btn btn-primary col-lg-2 col-xs-12" type="button" onclick="saveContactInfo();">
						<i class="fa fa-save"></i> 儲 存
					</button>
					<img id="img_waiting_saveContactInfo" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:6px" alt="">
					<div class="col-lg-5"></div>
				</div>
			</div>
		</div>
	</div>

	<!--選擇客戶聯絡人彈出視窗-->
	<div class="modal fade" id="dialog_pContactInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<label class="col-form-label">客戶聯絡人資訊</label>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="tb_pContactInfo">
				</div>
			</div>
		</div>
	</div>

	<!--ShowSRConfirmDialog-->
	<div class="modal fade" id="ShowSRConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ShowSRConfirmdialogTitle">確認</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="ShowSRConfirmdialogContent">
				</div>
				<div class="modal-footer">
					<button id="BtnCancel" type="button" class="btn btn-lg btn-dark" data-dismiss="modal">取消</button>
					<button id="BtnSave" type="button" class="btn btn-lg btn-primary" data-dismiss="modal" onclick="onclickBtnSave();">確認</button>
				</div>
			</div>
		</div>
	</div>

	<!--協助工程師彈出視窗-->
	<div class="modal fade" id="dialog_pjAssEngineer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<label class="col-form-label"><i class="fa fa-users"></i> 協助工程師設定</label>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<div class="col-lg-2"></div>
						<label class="col-lg-2 col-form-label">協助工程師姓名</label>
						<div class="input-group col-sm-10 col-lg-4" style="height: 36px;">
							<input type="hidden" id="hid_pjAssEngineerAcc" />
							<input type="text" id="txt_pjAssEngineerName" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋">
						</div>
						<div class="col-lg-2">
							<button id="btn_savepjAssEngineer" class="btn btn-primary col-lg-12 col-xs-12" type="button" onclick="savepjAssEngineer();">
								<i class="fa fa-save" style="margin-right: 4px;"></i> 儲 存
							</button>
							<img id="img_waiting_savepjAssEngineer" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:6px" alt="">
						</div>
					</div>
				</div>
				<hr style="border: 1px solid lightgray; width: 98%;" />
				<div class="modal-body" id="tb_pjAssEngineer" style="overflow: scroll;">

				</div>
			</div>
		</div>
	</div>
