@{
	ViewData["Title"] = "GenerallySR";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		var trProductNoCount = 0;		//記錄目前明細列(產品序號資訊檔)的ID數
		var trWarrantyNoCount = 0;		//記錄目前明細列(保固SLA檔)的ID數
		var trPartsNoCount = 0;		//記錄目前明細列(零件更換檔)的ID數

		$(document).ready(function () {
			openPostAddress();			
			CustSearch('Comp-1'); //取得客戶資料			
		});

		function hidePopupInit() {
            setTimeout(function () {
                init();
            }, 1200);

        }

		function init() {
			$('.calendar').datepicker({
				todayBtn: "linked",
				keyboardNavigation: false,
				forceParse: false,
				calendarWeeks: false,
				autoclose: true,
				format: "yyyy-mm-dd"
			});
		}	
		
		//確認提交事件
		function onclickBtnSave() {
			var cStatus = $("#ddl_cStatus").val();

			if (cStatus == "E0001" || cStatus == "E0014") //新建 or 駁回
			{
				if (checkBeforeSend()) { getFormNo(); }
			}
			else //處理中
			{
				if (checkBeforeApprove()) { getFormNo(); }
			}			
		}

		//產生SRID
		function getFormNo() {
			var cTitle = "61";	//SRID開頭編號(一般服務請求)
			var cSRID = $("input[name='hid_cSRID']").val();
			var cGUID = $("input[name='hid_cSystemGUID']").val();

			$.ajax({
				url: '@Url.Action("getSRID", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				async: false,
				data: { cTitle: cTitle, cSRID: cSRID, cGUID: cGUID },
				success: function (result) {
					if (result != "") {
						if (result == "CHANGE") {
							alert("【資料已被其他人異動】，請關閉頁面後再重新登入此表單！！");
							$("#waitingImg").hide();
							event.returnValue = false;
						}
						else {
							$("#form1").submit();
						}
					}
					else {
						alert("產生SRID失敗！");
						$("#waitingImg").hide();
						event.returnValue = false;
					}
				}
			})
		}

		 //送出前檢查
		function checkBeforeSend() {

			$("#btn_submit").hide();
			$("#waitingImg").show();

			//var Msg = "";
			//var hid_SRID = $("input[name='hid_SRID']");
			//var ddl_cApplicationType = $("#ddl_cApplicationType");
			//ddl_cApplicationType.removeAttr("disabled");
			//var typeValue = ddl_cApplicationType.val();
			//var tbx_cSRID = $("input[name='tbx_cSRID']");
   //         var tbx_cApplicationNote = $("textarea[name='tbx_cApplicationNote']");
			//var tbx_cStartDate = $("input[name='tbx_cStartDate']");
			//var tbx_cEndDate = $("input[name='tbx_cEndDate']");

			//if (typeValue == "REPAIR" && tbx_cSRID.val() == "") //備品維修
			//{
			//	Msg += "服務請求ID不得為空！\n";
			//}

			//if (typeValue == "INTERNAL") //內部借用
			//{
   //             if (tbx_cApplicationNote.val() == "") {
   //                 Msg += "申請說明不得為空！\n";
			//	}

			//	if (tbx_cStartDate.val() == "" || tbx_cEndDate.val() == "") {
			//		Msg += "內部借用起、迄日期不得為空！\n";
			//	}
			//	else {
			//		if (tbx_cStartDate.val() > tbx_cEndDate.val()) {
			//			Msg += '起始日期不能大於結束日期！\n';
			//			tbx_cEndDate.val(""); //清空
			//		}
			//	}
			//}

   //          //明細判斷
			//if ($("#tableAdd tr").length == 1) {
			//	Msg += "請至少新增一筆明細！\n";
			//}

			////明細借用數量檢查
			//Msg += checkDetail();

			//if (Msg != "") {
			//	alert(Msg);

			//	if (hid_SRID.val() != "") {
			//		ddl_cApplicationType.attr('disabled', true);
			//	}

			//	$("#btn_submit").show();
			//	$("#waitingImg").hide();
			//	return false;
			//}
			//else {
			//	SetobjUnitAndLocationEnabled(); //將所有單位、倉區設為可改
			//}

			return true;
		}

		//核可前檢查
		function checkBeforeApprove()
		{

		}

		//SAP客戶代號/客戶名稱查詢
		//compcde(Comp-1.大世科 Comp-2.群輝 Comp-3.上海 Comp-4.協志)
		function CustSearch(compcde) {
			$(".CustName").unbind();

			$(".CustName").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							$.ajax({
								url: '@Url.Action("findCustByKeywordAndComp", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: { functionName: 'findCustByKeywordAndComp', keyword: keyword, compcde: compcde },
								success: function (result) {
									Customers = [];
									$.each(result, function (i, idata) {
										Customers[i] = {
											label: idata.Kna1Kunnr + "\\" + idata.Kna1Name1, //顯示在清單的東西
											idx: i,
											id: idata.Kna1Kunnr,
											value: idata.Kna1Name1 //這個是要填入textbox的值
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: Customers,
										select: function (event, ui) {
											$("#lbl_cCustomerID").html(ui.item.id);
											$('#hid_cCustomerID').val(ui.item.id);
										}
									}).bind('focus', function () { $(this).autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
								}
							})
						}
					}

				}
			})
		}

		//-----↓↓↓↓↓客戶聯絡人 ↓↓↓↓↓-----

		//Email格式檢查
		function CheckEmailValid() {
			var email =$("#tbx_cAddContactEmail").val();

			$.ajax({
				url: '@Url.Action("CheckEmailValid", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: { functionName: 'CheckEmailValid', email: email },
				success: function (result) {
					if (!result) {
						alert("Email格式不正確，請重新輸入！");
						$("#tbx_cAddContactEmail").val("");
					}
				}
			})
		}

		//顯示選擇客戶聯絡人popup
		function showContactInfo(tIDName) {			
			var CustomerID = $('#hid_cCustomerID').val();
			var cBUKRS = "T012";

			if (CustomerID == "")
			{
				alert("您尚未輸入【客戶】！");
			}
			else
			{
				GetContactInfo(tIDName, cBUKRS, CustomerID);
				$('#dialog_pContactInfo').modal('show');
			}
		}		

		//取得客戶聯絡人
		//cBUKRS.公司別
		//CustomerID.客戶ID
		function GetContactInfo(tIDName, cBUKRS, CustomerID) {
			$.ajax({
				url: '@Url.Action("GetContactInfo", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					cBUKRS: cBUKRS,
					CustomerID: CustomerID
				},
				success: function (result) {
					var list = "";
					$.each(result, function (i, bean) {
						if (bean != null) {
								var stremail = bean.email;							
								var straddress = bean.address;
								var strphone = bean.phone;
								
								stremail = stremail.replace(/\s+/g, "&nbsp;");
								stremail = stremail.replace(/\"/g, "&quot;");
								stremail = stremail.replace(/\'/g, "’"); //單引號，半型->全型

								straddress = straddress.replace(/\s+/g, "&nbsp;");
								straddress = straddress.replace(/\"/g, "&quot;");
								straddress = straddress.replace(/\'/g, "’"); //單引號，半型->全型

								strphone = strphone.replace(/\s+/g, "&nbsp;");
								strphone = strphone.replace(/\"/g, "&quot;");
								strphone = strphone.replace(/\'/g, "’"); //單引號，半型->全型

								list += "<tbody>"
									+ "<tr>"
									+ "<td>"
									+ "    <input name='rdSelect' type='radio' onclick=selectContactInfo('" + tIDName + "','" + bean.customerName + "','" + bean.name + "','" + stremail + "','" + bean.city + "','" + straddress + "','" + strphone + "') />"
									+ '    <input type="hidden" class="hid_ContactID" value="' + bean.ContactID + '" />'
									+ '</td>'
									+ "<td style='vertical-align: middle;'>" + bean.customerID + "</td>"
									+ "<td style='vertical-align: middle;'>" + bean.customerName + "</td>"
									+ "<td style='vertical-align: middle;'>" + bean.name + "</td>"
									+ "<td style='vertical-align: middle;'>" + bean.city + "</td>"
									+ "<td style='vertical-align: middle;'>" + bean.address + "</td>"
									+ "<td style='vertical-align: middle;'>" + bean.email + "</td>"
									+ "<td style='vertical-align: middle;'>" + bean.phone + "</td>"
									+ "</tr>"
									+ "</tbody>";
							}
					});

					if (list != "") {
						list = "<table class='table table-striple table-bordered table-hover dataTables-example' style='text-align: center;'>"
							+ "<thead><tr>"
							+ "<th>選取</th>"
							+ "<th>客戶代號</th>"
							+ "<th>客戶名稱</th>"
							+ "<th>聯絡人姓名</th>"
							+ "<th>聯絡人城市</th>"
							+ "<th>聯絡人地址</th>"
							+ "<th>聯絡人Email</th>"
							+ "<th>聯絡人電話</th>"							
							+ "</tr></thead>"
							+ list
							+ "</table>";
					}
					else {
						list = "查無聯絡人資訊!";
					}

					$("#tb_pContactInfo").html(list);
				}
			});
		}

		//選取客戶聯絡人並將相關資訊帶回已更新聯絡資訊
		function selectContactInfo(tIDName, CustomerName, Name, Email, City, Address, phone) {
			var tbx_cRepairName = $("#tbx_cRepairName");		//客戶報修人

			var tbx_cContacterName = $("#tbx_cContacterName");	//客戶聯絡人姓名
			var tbx_cContactAddress = $("#tbx_cContactAddress"); //客戶聯絡人地址
			var tbx_cContactPhone = $("#tbx_cContactPhone");		//客戶聯絡人電話
			var tbx_cContactEmail	= $("#tbx_cContactEmail");		//客戶聯絡人Email

			Name = Name.replace(/\’/g, "'");					//單引號，全型->半型
			Address = Address.replace(/\’/g, "'");			//單引號，全型->半型
			phone = phone.replace(/\’/g, "'");				//單引號，全型->半型
			
			if (tIDName == "tbx_cRepairName") {
				tbx_cRepairName.val(Name);
			}
			else
			{
				tbx_cContacterName.val(Name);
				tbx_cContactAddress.val(Address);
				tbx_cContactPhone.val(phone);
				tbx_cContactEmail.val(Email);
			}

			$("#dialog_pContactInfo").modal('hide');
		}

		//清除客戶報修人
		function clearRepairName() {
			$("#tbx_cRepairName").val('');
		}

		//清除客戶聯絡人
		function clearContacterName() {
			$("#tbx_cContacterName").val('');		//客戶聯絡人姓名
			$("#tbx_cContactAddress").val('');		//客戶聯絡人地址
			$("#tbx_cContactPhone").val('');		//客戶聯絡人電話
			$("#tbx_cContactEmail").val('');		//客戶聯絡人Email
		}

		//popup各欄位reset
		function resetPopup(popupId) {
			$(popupId).find("input").each(function (index, value) {
				$(this).val("");
			});
			$(popupId).find("select").each(function (index, value) {
				$(this).val("-1");
			});
			$(popupId).find("textarea").each(function (index, value) {
				$(this).val("");
			});
			$(popupId).find(".file-box").each(function (index, value) {
				$(this).remove();
			});
		}		

		//新增客戶聯絡人
		function btn_AddContactInfo_onclick() {
			var OperationID = $('#hid_OperationID').val();
			var CustomerID = $('#hid_cCustomerID').val();
			var cBUKRS = "T012";

			if (CustomerID == "")
			{
				alert("您尚未輸入【客戶】！");
			}
			else
			{
				resetPopup("#dialog_pAddContactInfo");		//popup各欄位reset
				$('#tbx_cAddContactID').val(OperationID);  //程式作業編號檔系統ID

				$("#dialog_pAddContactInfo .dropzone").show();
				$("#dialog_pAddContactInfo").modal('show');
			}
		}

		//儲存客戶聯絡人
		function saveContactInfo() {
			var strMsg = "";
			
			var hid_cLoginUser_Name = $("#hid_cLoginUser_Name");
			var hid_cLoginUser_BUKRS = $("#hid_cLoginUser_BUKRS");
			var tbx_cCustomerName = $("#tbx_cCustomerName");
			var hid_cCustomerID = $("#hid_cCustomerID");

			var tbx_cAddContactID = $("#tbx_cAddContactID");					//程式作業編號檔系統ID
			var tbx_cAddContactName = $("#tbx_cAddContactName");				//客戶聯絡人姓名
			var tbx_cAddContactCity = $("#tbx_cAddContactCity");				//客戶聯絡人城市
			var tbx_cAddContactAddress = $("#tbx_cAddContactAddress");		//客戶聯絡人詳細地址
			var tbx_cAddContactAddress_No = $("#tbx_cAddContactAddress_No");	//客戶聯絡人門牌號碼/樓層
			var tbx_cAddContactPhone = $("#tbx_cAddContactPhone");			//客戶聯絡人電話
			var tbx_cAddContactEmail = $("#tbx_cAddContactEmail");			//客戶聯絡人Email

			if (tbx_cAddContactID.val() == "") {
				strMsg += "程式作業編號檔系統ID不得為空！\n";
			}

			if (tbx_cAddContactName.val() == "") {
				strMsg += "客戶聯絡人【姓名】不得為空！\n";
			}

			if (tbx_cAddContactCity.val() == "") {
				strMsg += "客戶聯絡人【城市】不得為空！\n";
			}

			if (tbx_cAddContactAddress.val() == "") {
				strMsg += "客戶聯絡人【詳細地址】不得為空！\n";
			}

			if (tbx_cAddContactAddress_No.val() == "") {
				strMsg += "客戶聯絡人【門牌號碼/樓層】不得為空！\n";
			}

			if (tbx_cAddContactPhone.val() == "") {
				strMsg += "客戶聯絡人【電話】不得為空！\n";
			}

			if (tbx_cAddContactEmail.val() == "") {
				strMsg += "客戶聯絡人【Email】不得為空！\n";
			}

			if (strMsg != "") {
				alert(strMsg);
			}
            else {
				var tAddress = tbx_cAddContactAddress.val() + tbx_cAddContactAddress_No.val();

				$("#btn_saveContactInfo").hide();
                $("#img_waiting_saveContactInfo").show();
				$.ajax({
					url: '@Url.Action("SaveContactInfo", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
                    data: {
						cAddContactID: tbx_cAddContactID.val(),
						cBUKRS:hid_cLoginUser_BUKRS.val(),
						cCustomerID: hid_cCustomerID.val(),
						cCustomerName: tbx_cCustomerName.val(),
						cAddContactName: tbx_cAddContactName.val(),
						cAddContactCity: tbx_cAddContactCity.val(),
						cAddContactAddress: tAddress,
						cAddContactPhone: tbx_cAddContactPhone.val(),
						cAddContactEmail: tbx_cAddContactEmail.val(),
						ModifiedUserName: hid_cLoginUser_Name.val()
                    },
                    success: function (result) {
                        if (result > 0) {                           
                            alert("儲存成功！");
							$("#dialog_pAddContactInfo").modal('hide');							
                        }
                        else {
							alert("儲存失敗！");
                        }
                        $("#img_waiting_saveContactInfo").hide();
                        $("#btn_saveContactInfo").show();
                    },                   
				});
			}
        }
		//-----↑↑↑↑↑客戶聯絡人 ↑↑↑↑↑-----

		//-----↓↓↓↓↓報修類別 ↓↓↓↓↓-----
		//第一階(大類) onChange
		function onChangecSRTypeOne() {

			//先清空下拉選單選項，才不會一直append
			$('#ddl_cSRTypeSec').empty();
			$('#ddl_cSRTypeThr').empty();

			$.ajax({
				url: '@Url.Action("findSRTypeSecList", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
                data: {
					keyword: $('#ddl_cSRTypeOne').val(),
				},
                success: function (result) {
                    $.each(result, function (index, obj) {
						$("#ddl_cSRTypeSec").append(
                            $('<option></option>').val(obj.value).html(obj.text)
                        );
                    });
				}
			});
		}

		//第二階(中類) onChange
		function onChangecSRTypeSec() {

			//先清空下拉選單選項，才不會一直append
			$('#ddl_cSRTypeThr').empty();			

			$.ajax({
				url: '@Url.Action("findSRTypeThrList", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
                data: {
					keyword: $('#ddl_cSRTypeSec').val(),
				},
                success: function (result) {
                    $.each(result, function (index, obj) {
						$("#ddl_cSRTypeThr").append(
                            $('<option></option>').val(obj.value).html(obj.text)
                        );
                    });
				}
			});
		}
		//-----↑↑↑↑↑報修類別 ↑↑↑↑↑-----

		//-----↓↓↓↓↓產品序號資訊檔 ↓↓↓↓↓-----		

		//新增明細
		function AddDetailItem_Product(tableName) {
			trProductNoCount = $("input[name='hid_trProductNo']").val();

			if (trProductNoCount == "") {
				trProductNoCount = 1;
			}
			else {
				trProductNoCount = parseInt(trProductNoCount) + 1;
			}

			$("input[name='hid_trProductNo']").val(trProductNoCount);

			var SerialID = SetSerialID();			
			var MaterialID = SetMaterialID();
			var MaterialName = SetMaterialName();
			var ProductNumber = SetProductNumber();
			var BOM = SetBOM();
			var InstallID = SetInstallID();
			var tDelButton = SetPRDelButton();

			var tAlltd = SerialID + MaterialID + MaterialName + ProductNumber + BOM + InstallID + tDelButton;

			$("#" + tableName).append("<tr id='tr" + trProductNoCount + "'>" + tAlltd + "</tr>");
		}

		//組序號
		function SetSerialID() {
			var reValue = "<td><input type='text' name='tbx_PRcSerialID' id='tbx_PRcSerialID" + trProductNoCount + "' class='form-control' style='width:150px;' placeholder='序號'></td>";
			return reValue;
		}		

		//組料號
		function SetMaterialID() {
			var reValue = "<td><input type='text' name='tbx_PRcMaterialID' id='tbx_PRcMaterialID" + trProductNoCount + "' class='form-control material' style='width:150px;' placeholder='請輸入料號或料號說明的關鍵字'></td>";
			return reValue;
		}		

		//組料號說明
		function SetMaterialName() {
			var reValue = "<td><textarea rows='3' class='form-control' style='width:200px;' placeholder='料號說明' name='tbx_PRcMaterialName' readonly></textarea></td>";
			return reValue;
		}

		//組ProductNumber
		function SetProductNumber() {
			var reValue = "<td><input type='text' name='tbx_PRcProductNumber' id='tbx_PRcProductNumber" + trProductNoCount + "' class='form-control' style='width:150px;' placeholder='櫃位' readonly></td>";
			return reValue;
		}

		//組BOM
		function SetBOM() {
			var reValue = "<td><a href='javascript:void(0);'>BOM表</a></td>";
			return reValue;
		}

		//組裝機資訊
		function SetInstallID() {
			var reValue = "<td><input type='text' name='tbx_PRcInstallID' id='tbx_PRcInstallID" + trProductNoCount + "' class='form-control' style='width:150px;' placeholder='裝機資訊'></td>";
			return reValue;
		}

		//組刪除按鈕
		function SetPRDelButton()
		{
			var tTrID = $("input[name='hid_trProductNo']").val();
			var reValue = "<td><button class='btn btn-danger' type='button' onclick=DelDetailItem_Product('tr" + tTrID + "');><i class='fa fa-trash'></i></button><input type='hidden' id='hid_PRcID" + trProductNoCount + "'></td>";
			return reValue;
		}		

		//刪除明細(For借料狀態)
		function DelDetailItem_Product(rowId) {
			$('#' + rowId).remove();
		}
		//-----↑↑↑↑↑產品序號資訊檔 ↑↑↑↑↑-----

		//-----↓↓↓↓↓保固SLA檔 ↓↓↓↓↓-----

		//查詢保固SLA
		function AddDetailItem_Warranty(tableName) {
			trWarrantyNoCount = $("input[name='hid_trWarrantyNo']").val();

			if (trWarrantyNoCount == "") {
				trWarrantyNoCount = 1;
			}
			else {
				trWarrantyNoCount = parseInt(trWarrantyNoCount) + 1;
			}

			$("input[name='hid_trWarrantyNo']").val(trWarrantyNoCount);

			var SerialID = SetWASerialID();
			var WTYID = SetWAWTYID();
			var WTYName = SetWAWTYName();
			var WTYSDATE = SetWAWTYSDATE();
			var WTYEDATE = SetWAWTYEDATE();
			var SLARESP = SetWASLARESP();
			var SLASRV = SetWASLASRV();
			var ContractID = SetWAContractID();
			var BPMFormNo = SetWABPMFormNo();
			var Used = SetWAUsed();

			var tAlltd = SerialID + WTYID + WTYName + WTYSDATE + WTYEDATE + SLARESP + SLASRV + ContractID + BPMFormNo + Used;

			$("#" + tableName).append("<tr id='tr" + trWarrantyNoCount + "'>" + tAlltd + "</tr>");
		}

		//組序號
		function SetWASerialID() {
			var reValue = "<td><input type='text' name='tbx_WAcSerialID' id='tbx_WAcSerialID" + trWarrantyNoCount + "' class='form-control' style='width:150px;' placeholder='序號' readonly></td>";
			return reValue;
		}		

		//組保固代號
		function SetWAWTYID() {
			var reValue = "<td><input type='text' name='tbx_WAcWTYID' id='tbx_WAcWTYID" + trWarrantyNoCount + "' class='form-control' style='width:100px;' placeholder='保固代號' readonly></td>";
			return reValue;
		}

		//組保固說明
		function SetWAWTYName() {
			var reValue = "<td><textarea rows='3' class='form-control' style='width:200px;' placeholder='料號說明' name='tbx_WAcWTYName' readonly></textarea></td>";
			return reValue;
		}

		//組保固起始日
		function SetWAWTYSDATE() {
			var reValue = "<td><input type='text' name='tbx_WAcWTYSDATE' id='tbx_WAcWTYSDATE" + trWarrantyNoCount + "' class='calendar form-control' style='width:100px;' placeholder='保固起始日' readonly></td>";
			return reValue;
		}

		//組保固到期日
		function SetWAWTYEDATE() {
			var reValue = "<td><input type='text' name='tbx_WAcWTYEDATE' id='tbx_WAcWTYEDATE" + trWarrantyNoCount + "' class='calendar form-control' style='width:100px;' placeholder='保固到期日' readonly></td>";
			return reValue;
		}

		//組SLA回應條件
		function SetWASLARESP() {
			var reValue = "<td><input type='text' name='tbx_WAcSLARESP' id='tbx_WAcSLARESP" + trWarrantyNoCount + "' class='form-control' style='width:100px;' placeholder='SLA回應條件' readonly></td>";
			return reValue;
		}

		//組SLA服務條件
		function SetWASLASRV() {
			var reValue = "<td><input type='text' name='tbx_WAcSLASRV' id='tbx_WAcSLASRV" + trWarrantyNoCount + "' class='form-control' style='width:100px;' placeholder='SLA服務條件' readonly></td>";
			return reValue;
		}

		//組合約編號
		function SetWAContractID() {
			var reValue = "<td><input type='text' name='tbx_WAcContractID' id='tbx_WAcContractID" + trWarrantyNoCount + "' class='form-control' style='width:100px;' placeholder='合約編號' readonly></td>";
			return reValue;
		}

		//組保固申請
		function SetWABPMFormNo() {
			var reValue = "<td><a href='javascript:void(0);'>保固申請</a></td>";
			return reValue;
		}

		//組本次使用
		function SetWAUsed()
		{			
			var reValue = "<td><button class='btn btn-danger' type='button' onclick=DelDetailItem_Warranty('tr" + tTrID + "');></td>";
			return reValue;
		}
		//-----↑↑↑↑↑保固SLA檔 ↑↑↑↑↑-----

		//-----↓↓↓↓↓零件更換檔 ↓↓↓↓↓-----		

		//新增明細
		function AddDetailItem_Parts(tableName) {
			trPartsNoCount = $("input[name='hid_trPartsNo']").val();

			if (trPartsNoCount == "") {
				trPartsNoCount = 1;
			}
			else {
				trPartsNoCount = parseInt(trPartsNoCount) + 1;
			}

			$("input[name='hid_trPartsNo']").val(trPartsNoCount);

			var XCHP = SetXCHP();
			var OldCT = SetOldCT();
			var NewCT = SetNewCT();
			var OldUEFI = SetOldUEFI();
			var NewUEFI = SetNewUEFI();
			var StandbySerialID = SetStandbySerialID();
			var HPCT = SetHPCT();			
			var MaterialID = SetMaterialID();
			var MaterialName = SetMaterialName();
			var ArriveDate = SetArriveDate();
			var APM = SetAPM();
			var ReturnDate = SetReturnDate();
			var MaterialItem = SetMaterialItem();			
			var HPOrderStatus = SetHPOrderStatus();
			var Note = SetNote();
			var tDelButton = SetPADelButton();

			var tAlltd = XCHP + OldCT + NewCT + OldUEFI + NewUEFI + StandbySerialID + 
			            HPCT + MaterialID + MaterialName + ArriveDate + APM +
						ReturnDate + MaterialItem + HPOrderStatus + Note + tDelButton;

			$("#" + tableName).append("<tr id='tr" + trPartsNoCount + "'>" + tAlltd + "</tr>");
			hidePopupInit();
		}

		//組XC HP申請零件
		function SetXCHP() {
			var reValue = "<td><input type='text' name='tbx_PAcXCHP' id='tbx_PAcXCHP" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='XC HP申請零件'></td>";
			return reValue;
		}		

		//組Old CT
		function SetOldCT() {
			var reValue = "<td><input type='text' name='tbx_PAcOldCT' id='tbx_PAcOldCT" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='Old CT'></td>";
			return reValue;
		}		

		//組New CT
		function SetNewCT() {
			var reValue = "<td><input type='text' name='tbx_PAcNewCT' id='tbx_PAcNewCT" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='New CT'></td>";
			return reValue;
		}

		//組Old UEFI
		function SetOldUEFI() {
			var reValue = "<td><input type='text' name='tbx_PAcOldUEFI' id='tbx_PAcOldUEFI" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='Old UEFI'></td>";
			return reValue;
		}

		//組New UEFI 
		function SetNewUEFI () {
			var reValue = "<td><input type='text' name='tbx_PAcNewUEFI ' id='tbx_PAcNewUEFI " + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='New UEFI '></td>";
			return reValue;
		}

		//組備機序號
		function SetStandbySerialID() {
			var reValue = "<td><input type='text' name='tbx_PAcStandbySerialID' id='tbx_PAcStandbySerialID" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='備機序號'></td>";
			return reValue;
		}

		//組cHPCT
		function SetHPCT() {
			var reValue = "<td><input type='text' name='tbx_PAcHPCT' id='tbx_PAcHPCT" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='HP CT'></td>";
			return reValue;
		}

		//組更換零件料號ID
		function SetMaterialID() {
			var reValue = "<td><input type='text' name='tbx_PAcMaterialID' id='tbx_PAcMaterialID" + trPartsNoCount + "' class='form-control material' style='width:100px;' placeholder='請輸入料號或料號說明的關鍵字'></td>";
			return reValue;
		}

		//組料號說明
		function SetMaterialName() {
			var reValue = "<td><textarea rows='3' class='form-control' style='width:200px;' placeholder='料號說明' name='tbx_PAcMaterialName' readonly></textarea></td>";
			return reValue;
		}

		//組到貨日
		function SetArriveDate() {
			var reValue = "<td><input type='text' name='tbx_PAcArriveDate' id='tbx_PAcArriveDate" + trPartsNoCount + "' class='form-control calendar' style='width:100px;' placeholder='到貨日'></td>";
			return reValue;
		}

		//組APM
		function SetAPM() {
			var reValue = "<td><input type='text' name='tbx_PAcAPM' id='tbx_PAcAPM" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='A.P.M'></td>";
			return reValue;
		}

		//組歸還日
		function SetReturnDate() {
			var reValue = "<td><input type='text' name='tbx_PAcReturnDate' id='tbx_PAcReturnDate" + trPartsNoCount + "' class='form-control calendar' style='width:100px;' placeholder='歸還日'></td>";
			return reValue;
		}

		//組零件服務項目
		function SetMaterialItem() {
			var reValue = "<td><input type='text' name='tbx_PAcMaterialItem' id='tbx_PAcMaterialItem" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='零件服務項目'></td>";
			return reValue;
		}

		//組HP Order Status
		function SetHPOrderStatus() {
			var reValue = "<td><input type='text' name='tbx_PAcHPOrderStatus' id='tbx_PAcHPOrderStatus" + trPartsNoCount + "' class='form-control' style='width:100px;' placeholder='HP Order Status'></td>";
			return reValue;
		}

		//組備註
		function SetNote() {
			var reValue = "<td><textarea rows='3' class='form-control' style='width:200px;' placeholder='備註' name='tbx_PAcNote'></textarea></td>";
			return reValue;
		}

		//組刪除按鈕
		function SetPADelButton() {
			var tTrID = $("input[name='hid_trPartsNo']").val();
			var reValue = "<td><button class='btn btn-danger' type='button' onclick=DelDetailItem_Parts('tr" + tTrID + "');><i class='fa fa-trash'></i></button><input type='hidden' id='hid_PRcID" + trPartsNoCount + "'></td>";
			return reValue;
		}		

		//刪除明細(For借料狀態)
		function DelDetailItem_Parts(rowId) {
			$('#' + rowId).remove();
		}
		//-----↑↑↑↑↑零件更換檔 ↑↑↑↑↑-----
		
	</script>
}

	@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>一般服務請求</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">服務請求管理</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>一般服務請求</strong>
			</li>
		</ol>
	</div>
}

	<div class="row">
		<!--報修資訊-->
		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>
						報修資訊						
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					@model OneService.Controllers.ServiceRequestController.StatusViewModel //載入StatusViewModel

					<form id="form1" name="form" action='@Url.Action("SaveGenerallySR", "ServiceRequest")' method="post">
						@if (ViewBag.pStatus == "E0014")
						{
							<!--目前tr的筆數-->
							<input type="hidden" name="hid_trProductNo" value="@ViewBag.trProductNo">
							<input type="hidden" name="hid_trWarrantyNo" value="@ViewBag.trWarrantyNo">
							<input type="hidden" name="hid_trPartsNo" value="@ViewBag.trPartsNo">
						}
						else
						{
							<!--目前tr的筆數-->
							<input type="hidden" name="hid_trProductNo">
							<input type="hidden" name="hid_trWarrantyNo">
							<input type="hidden" name="hid_trPartsNo">
						}
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">ID</label>
							<div class="col-lg-4">
								<label class="col-form-label" style="color:blue;">@ViewBag.cSRID</label>								
							</div>
							<!--目前SRID-->
							<input type="hidden" name="hid_cSRID" value="@ViewBag.cSRID">
							<!--目前系統GUID-->
							<input type="hidden" name="hid_cSystemGUID" value="@ViewBag.pGUID">
							<!--登人者姓名-->
							<input type="hidden" id="hid_cLoginUser_Name" name="hid_cLoginUser_Name" value="@ViewBag.cLoginUser_Name">
							<!--登人者帳號-->
							<input type="hidden" id="hid_cLoginUser_EmployeeNO" name="hid_cLoginUser_EmployeeNO" value="@ViewBag.cLoginUser_EmployeeNO">
							<!--登人者ERPID-->
							<input type="hidden" id="hid_cLoginUser_ERPID" name="hid_cLoginUser_ERPID" value="@ViewBag.cLoginUser_ERPID">
							<!--登人者工作地點-->
							<input type="hidden" id="hid_cLoginUser_WorkPlace" name="hid_cLoginUser_WorkPlace" value="@ViewBag.cLoginUser_WorkPlace">
							<!--登人者公司別-->
							<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
							<!--登人者工廠別-->
							<input type="hidden" id="hid_cLoginUser_BUKRS" name="hid_cLoginUser_BUKRS" value="@ViewBag.cLoginUser_BUKRS">
							<!--登人者單位-->
							<input type="hidden" id="hid_cLoginUser_DepartmentName" name="hid_cLoginUser_DepartmentName" value="@ViewBag.cLoginUser_DepartmentName">
							<!--登人者單位NO-->
							<input type="hidden" id="hid_cLoginUser_DepartmentNO" name="hid_cLoginUser_DepartmentNO" value="@ViewBag.cLoginUser_DepartmentNO">
							<!--程式作業編號檔系統ID(一般服務請求)-->
							<input type="hidden" id="hid_OperationID" name="hid_OperationID" value="@ViewBag.pOperationID">
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">客戶</label>
							<div class="col-lg-4">
							<input type="text" id="tbx_cCustomerName" name="tbx_cCustomerName" class="form-control CustName" placeholder="請輸入客戶名稱或統編的關鍵字" value="@ViewBag.cCustomerName">
								<label class="col-lg-2 col-form-label" id="lbl_cCustomerID" name="lbl_cCustomerID">@ViewBag.cCustomerID</label>
								<input type="hidden" id="hid_cCustomerID" name="hid_cCustomerID" value="@ViewBag.cCustomerID" />
							</div>
							<label class="col-lg-2 col-form-label">客戶報修人</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_cRepairName" name="tbx_cRepairName" class="form-control" placeholder="客戶報修人" disabled>								
								<button id="btn_showRepairInfo" class="btn btn-info showContactInfo" type="button" onclick="showContactInfo('tbx_cRepairName');" >
									<i class="fa fa-user-circle-o" style="font-size: 16px;"></i>
									<span style="font-weight: bold; margin: 5px;">選擇客戶報修人</span>									
								</button>
								<button class="btn btn-default btn-lg" type="button" onclick="clearRepairName();">
									<i class="fa fa-trash"></i>
									<span style="font-weight: bold; margin: 5px;">清除客戶報修人</span>
								</button>
								<button id="btn_add_RepairName" class="btn btn-success" type="button" style="margin-left: 10px;" onclick="btn_AddContactInfo_onclick();">
									<i class="fa fa-plus" style="margin-right: 5px;"></i>
									<span style="font-weight: bold; margin: 5px;">新增</span>
								</button>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">說明</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_cDesc" name="tbx_cDesc" class="form-control" placeholder="說明" value="@ViewBag.cDesc" title="@ViewBag.cDesc">
							</div>
							<label class="col-lg-2 col-form-label">狀態</label>
							<div class="col-lg-4">								
								@*<select class="form-control" name='ddl_cStatus' id="ddl_cStatus" onload="">
									<option value="E0001" selected="selected">新建 </option>
									<option value="E0002" >L2處理中</option>
									<option value="E0003" >報價中</option>
									<option value="E0004" >3rd Party處理中</option>
									<option value="E0005" >L3處理中</option>
									<option value="E0006" >完修</option>
									<option value="E0012" >HPGCSN 申請</option>
									<option value="E0013" >HPGCSN 完成</option>
									<option value="E0014" >駁回</option>
									<option value="E0015" >取消</option>
								</select>*@
							<select asp-for="ddl_cStatus" asp-items="Model.ListStatus" class="form-control"></select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">詳細描述</label>
							<div class="col-lg-4">
								<textarea rows="3" class="form-control" placeholder="詳細描述" id="tbx_cNotes" name="tbx_cNotes" title="@ViewBag.cNotes">@ViewBag.cNotes</textarea>
							</div>
							<div class="col-lg-6">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">檢附文件</label>
							<div class="col-lg-10">
								<!-- 檔案上傳start-->
								<div class="form-group row">
									<div class="col-lg-3 dropzone" id="zone_1">
										<div class="fallback">
											<input name="file" type="file" multiple />
										</div>
									</div>
									<div class="col-lg-9">
										<div class="attachment" id="filezone_1"></div>
										<input type="hidden" class="fileids" name="hid_filezone_1" id="hid_filezone_1" />
									</div>
								</div>
								<!-- 檔案上傳end-->
							</div>
						</div>

						<div class="hr-line-dashed"></div>

						<div class="form-group row">
							<label class="col-lg-2 col-form-label">維護服務種類</label>
							<div class="col-lg-4">
								<select class="form-control" name='ddl_cMAServiceType' id="ddl_cMAServiceType">
									<option value="-1" selected="selected">請選擇</option>
									<option value="Z01">保固內</option>
									<option value="Z02">保固外</option>
									<option value="Z03">合約</option>
									<option value="Z04">3rd Party</option>
								</select>
							</div>
							<label class="col-lg-2 col-form-label">建立日期</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_cDesc" name="tbx_cDesc" class="form-control" placeholder="建立日期" readonly>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">報修類別</label>
							<div class="col-lg-4">
								@Html.DropDownList("ddl_cSRTypeOne", (IEnumerable<SelectListItem>)ViewBag.SRTypeOneList, new { @class = "form-control", @onchange = "javascript:onChangecSRTypeOne();" })
								@Html.DropDownList("ddl_cSRTypeSec", (IEnumerable<SelectListItem>)ViewBag.SRTypeSecList, new { @class = "form-control", @onchange = "javascript:onChangecSRTypeSec();" })
								@Html.DropDownList("ddl_cSRTypeThr", (IEnumerable<SelectListItem>)ViewBag.SRTypeThrList, new { @class = "form-control", @onchange = "javascript:onChangecSRTypeThr();" })
							</div>							
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">報修管道</label>
							<div class="col-lg-4">
								<select class="form-control" name='ddl_cSRPathWay' id="ddl_cSRPathWay" disabled>									
									<option value="Z01">線上客服(tiCC)</option>
									<option value="Z02">0800網頁報修</option>
									<option value="Z03">Line報修</option>
									<option value="Z04">主動式告警</option>
									<option value="Z05" selected="selected">手動建立</option>
								</select>
							</div>
							<label class="col-lg-2 col-form-label">處理方式</label>
							<div class="col-lg-4">
								<select class="form-control" name='ddl_cSRProcessWay' id="ddl_cSRProcessWay">
									<option value="-1" selected="selected">請選擇</option>
									<option value="Z01">線上</option>
									<option value="Z02">遠端</option>									
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">延遲結案原因</label>
							<div class="col-lg-10">
								<textarea rows="3" class="form-control" placeholder="延遲結案原因" id="tbx_cDelayReason" name="tbx_cDelayReason"></textarea>
							</div>							
						</div>						

						<!--客戶聯絡窗口資訊-->
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>
										客戶聯絡窗口資訊										
										<button id="btn_showContactInfo" class="btn btn-info showContactInfo" type="button" onclick="showContactInfo('tbx_cContacterName');">
											<i class="fa fa-user-circle-o" style="font-size: 16px;"></i>
											<span style="font-weight: bold; margin: 5px;">選擇客戶聯絡人</span>
										</button>
										<button class="btn btn-default btn-lg" type="button" onclick="clearContacterName();">
											<i class="fa fa-trash"></i>
											<span style="font-weight: bold; margin: 5px;">清除客戶聯絡人</span>
										</button>
										<button id="btn_add_ContacterName" class="btn btn-success" type="button" style="margin-left: 10px;" onclick="btn_AddContactInfo_onclick();">
											<i class="fa fa-plus" style="margin-right: 5px;"></i>
										<span style="font-weight: bold; margin: 5px;">新增</span>
										</button>
									</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>
								<div class="ibox-content">
									<div class="form-group row">
										<label class="col-lg-2 col-form-label">姓名</label>
										<div class="col-lg-4">
											<input type="text" id="tbx_cContacterName" name="tbx_cContacterName" class="form-control" placeholder="姓名" disabled>
										</div>
										<label class="col-lg-2 col-form-label">地址</label>
										<div class="col-lg-4">
											<input type="text" id="tbx_cContactAddress" name="tbx_cContactAddress" class="form-control" placeholder="地址" disabled>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-2 col-form-label">電話</label>
										<div class="col-lg-4">
											<input type="text" id="tbx_cContactPhone" name="tbx_cContactPhone" class="form-control" placeholder="電話" disabled>
										</div>
										<label class="col-lg-2 col-form-label">Email</label>
										<div class="col-lg-4">
											<input type="text" id="tbx_cContactEmail" name="tbx_cContactEmail" class="form-control" placeholder="Email" disabled>
										</div>
									</div>									
								</div>
							</div>
						</div>

						<!--產品序號資訊-->
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>
										產品序號資訊
									<button type="button" class="btn btn-success" onclick="AddDetailItem_Product('tableAddPR');"><i class="fa fa-plus" style="margin-right: 5px;"></i>新增</button>
									</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>
								@{
									if (ViewBag.pStatus == "E0001")
									{
																			<!--新建階段-->
																			<div class="ibox-content" style="overflow: scroll">											
																				<table id="tableAddPR" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																					<thead>
																						<tr>													
																							<th>序號</th>														
																							<th>料號</th>
																							<th>料號說明</th>
																							<th>Product Number</th>
																							<th>BOM</th>
																							<th>裝機資訊</th>
																							<th width="130">刪除</th>
																						</tr>
																					</thead>
																					<tbody>
																					</tbody>
																				</table>
																			</div>
									}
									else
									{
																			<!--審核階段-->
																			<div class="ibox-content" style="overflow: scroll">
																				@if (ViewBag.pStatus == "E0014") //駁回
											{
																					<div class="form-group row">
																						<button type="button" class="btn btn-w-m btn-primary" onclick="AddDetailItem_Product('tableDispatchPR');">新增</button>
																					</div>
											}
																				<table id="tableDispatchPR" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																					<thead>
																						<tr>
																							@if (ViewBag.pStatus != "E0014")
														{
																								<th>項次</th>
														}
																							<th>序號</th>														
																							<th>料號</th>
																							<th>料號說明</th>
																							<th>Product Number</th>
																							<th>BOM</th>
																							<th>裝機資訊</th>
																							else if (ViewBag.pStatus == "E0014")
																							{
																								<th width="130">刪除</th>
																							}														
																						</tr>
																					</thead>
																					<tbody>
																						@{
														if (ViewBag.pSRID != "")
														{
															int count = 0;
															foreach (var bean in ViewBag.Detailbean_Product)
															{
																count++;
																																		<tr id='trProductNo@(count)'>
																																			@if (ViewBag.pStatus != "E0014")
{
																																				<td>
																																					<label class="col-form-label" @("id=lbl_PRcItemID" + count)>@bean.cItem</label>
																																				</td>
}
																																			<td>
																																				<input type='text' name='tbx_PRcSerialID' @("id=tbx_PRcSerialID" + count) class='form-control' style="width:150px;" placeholder='序號' value="@bean.cSerialID" title="@bean.cSerialID" readonly>
																																				<input type='hidden' name='hid_PRcID' @("id=hid_PRcID" + count) value=@bean.cID>																		
																																			</td>																	
																																			<td>
																																				<input type='text' name='tbx_PRcMaterialID' @("id=tbx_PRcMaterialID" + count) class='form-control material' style="width:150px;" placeholder='請輸入料號或料號說明的關鍵字' value="@bean.cMaterialID" title="@bean.cMaterialID" readonly>
																																			</td>																	
																																			<td>
																																				<textarea rows="3" class="form-control" style='width:200px;' placeholder="料號說明" name="tbx_PRcMaterialName" title="@bean.cMaterialName" readonly>@bean.cMaterialName</textarea>
																																			</td>
																																			<td>
																																				<input type='text' name='tbx_PRcProductNumber' @("id=tbx_PRcProductNumber" + count) class='form-control' style='width:150px;' value="@bean.cProductNumber" title="@bean.cProductNumber" ) readonly>
																																			</td>
																																			<td>
																																				<a href="javascript:void(0);">BOM表</a>
																																			</td>
																																			<td>
																																				<input type='text' name='tbx_PRcInstallID' @("id=tbx_PRcInstallID" + count) class='form-control' style='width:150px;' value="@bean.cInstallID" title="@bean.cInstallID" ) readonly>
																																			</td>
																																			else if (ViewBag.pStatus == "E0014")
																																			{
																																				<td>
																																					<button class='btn btn-danger' type='button' onclick="DelDetailItem_Product('trProductNo@(count)')" ;><i class='fa fa-trash'></i></button>
																																				</td>
																																			}																							
																																		</tr>
															}
														}
																						}
																					</tbody>
																				</table>
																			</div>
									}								
								}
							</div>
						</div>

						<!--保固SLA資訊-->
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
								<h5>
									保固SLA資訊
									<button type="button" class="btn btn-success" onclick="AddDetailItem_Warranty('tableAddWA');"><i class="fa fa-plus" style="margin-right: 5px;"></i>查詢保固SLA</button>
								</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>
								@{
									if (ViewBag.pStatus == "E0001")
									{
																			<!--新建階段-->
																			<div class="ibox-content" style="overflow: scroll">										
																				<table id="tableAddWA" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																					<thead>
																						<tr>
																							<th>項次</th>
																							<th>序號</th>
																							<th>保固代號</th>
																							<th>保固說明</th>
																							<th>保固起始日</th>
																							<th>保固到期日</th>
																							<th>SLA回應條件</th>
																							<th>SLA服務條件</th>
																							<th>合約編號</th>
																							<th>保固申請</th>
																							<th>本次使用</th>
																						</tr>
																					</thead>
																					<tbody>
																						@{
														//int count = 0;
														//foreach (var bean in ViewBag.Detailbean_Warranty)
														//{
														//	count++;
														//	<tr id='trWarrantyNo@(count)'>
														//		@if (ViewBag.pStatus != "E0014")
														//		{
														//			<td>
														//				<label class="col-form-label" @("id=lbl_WAcItemID" + count)>@bean.cItem</label>
														//			</td>
														//		}
														//		<td>
														//			<input type='text' name='tbx_WAcSerialID' @("id=tbx_WAcSerialID" + count) class='form-control' style="width:150px;" placeholder='序號' value="@bean.cSerialID" title="@bean.cSerialID" readonly>
														//			<input type='hidden' name='hid_WAcID' @("id=hid_WAcID" + count) value=@bean.cID>
														//		</td>
														//		<td>
														//			<input type='text' name='tbx_WAcWTYID' @("id=tbx_WAcWTYID" + count) class='form-control' style="width:100px;" placeholder='保固代號' value="@bean.cWTYID" title="@bean.cWTYID" readonly>
														//		</td>
														//		<td>
														//			<textarea rows="3" class="form-control" style='width:200px;' placeholder="保固說明" name="tbx_WAcWTYName" title="@bean.cWTYName" readonly>@bean.cWTYName</textarea>
														//		</td>
														//		<td>
														//			<input type="text" name="tbx_WAcWTYSDATE" class="calendar form-control" placeholder="保固起始日" value="@bean.cWTYSDATE" readonly>
														//		</td>
														//		<td>
														//			<input type="text" name="tbx_WAcWTYEDATE" class="calendar form-control" placeholder="保固到期日" value="@bean.cWTYEDATE" readonly>
														//		</td>
														//		<td>
														//			@*@Html.DropDownList("ddl_WAcSLARESP", (IEnumerable<SelectListItem>)ViewBag.WAcSLARESP, new { @class = "form-control"})*@
														//		</td>
														//		<td>
														//			@*@Html.DropDownList("ddl_WAcSLASRV", (IEnumerable<SelectListItem>)ViewBag.WAcSLASRV, new { @class = "form-control"})*@
														//		</td>
														//		<td>
														//			<input type='text' name='tbx_WAcContractID' @("id=tbx_WAcContractID" + count) class='form-control' style="width:100px;" placeholder='合約編號' value="@bean.cContractID" title="@bean.cContractID" readonly>
														//		</td>
														//		<td>
														//			<a href="javascript:void(0);">保固申請</a>
														//		</td>
														//		<td>
														//			<input @("id=ckb_WAcUsed" + count) name="ckb_WAcUsed" type="checkbox" class="checkbox" onclick="SetIsUsed(this, @count)" checked='checked' />
														//			<input type="hidden" @("id=hid_WAcUsed" + count) name="hid_WAcUsed" value="Y">
														//		</td>
														//	</tr>
														//}
																						}
																					</tbody>
																				</table>
																			</div>
									}
									else
									{
																			<!--審核階段-->
																			<div class="ibox-content" style="overflow: scroll">
																				@if (ViewBag.pStatus == "E0014") //駁回
											{
																					<div class="form-group row">
																						<button type="button" class="btn btn-w-m btn-primary" onclick="AddDetailItem_Warranty('tableDispatchWA');">查詢保固SLA</button>
																					</div>
											}
																				<table id="tableDispatchWA" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																					<thead>
																						<tr>
																							<th>項次</th>
																							<th>序號</th>
																							<th>保固代號</th>
																							<th>保固說明</th>
																							<th>保固起始日</th>
																							<th>保固到期日</th>
																							<th>SLA回應條件</th>
																							<th>SLA服務條件</th>
																							<th>合約編號</th>
																							<th>保固申請</th>
																							<th>本次使用</th>
																						</tr>
																					</thead>
																					<tbody>
																						@{
														if (ViewBag.pSRID != "")
														{
															int count = 0;
															foreach (var bean in ViewBag.Detailbean_Warranty)
															{
																count++;
																																		<tr id='trWarrantyNo@(count)'>
																																			@if (ViewBag.pStatus != "E0014")
{
																																				<td>
																																					<label class="col-form-label" @("id=lbl_WAcItemID" + count)>@bean.cItem</label>
																																				</td>
}
																																			<td>
																																				<input type='text' name='tbx_WAcSerialID' @("id=tbx_WAcSerialID" + count) class='form-control' style="width:150px;" placeholder='序號' value="@bean.cSerialID" title="@bean.cSerialID" readonly>
																																				<input type='hidden' name='hid_WAcID' @("id=hid_WAcID" + count) value=@bean.cID>																		
																																			</td>
																																			<td>
																																				<input type='text' name='tbx_WAcWTYID' @("id=tbx_WAcWTYID" + count) class='form-control' style="width:100px;" placeholder='保固代號' value="@bean.cWTYID" title="@bean.cWTYID" readonly>
																																			</td>
																																			<td>
																																				<textarea rows="3" class="form-control" style='width:200px;' placeholder="保固說明" name="tbx_WAcWTYName" title="@bean.cWTYName" readonly>@bean.cWTYName</textarea>
																																			</td>
																																			<td>
																																				<input type="text" name="tbx_WAcWTYSDATE" class="calendar form-control" placeholder="保固起始日" value="@bean.cWTYSDATE" readonly>
																																			</td>
																																			<td>
																																				<input type="text" name="tbx_WAcWTYEDATE" class="calendar form-control" placeholder="保固到期日" value="@bean.cWTYEDATE" readonly>
																																			</td>
																																			<td>
																																				@*@Html.DropDownList("ddl_WAcSLARESP", (IEnumerable<SelectListItem>)ViewBag.WAcSLARESP, new { @class = "form-control"})*@
																																			</td>
																																			<td>
																																				@*@Html.DropDownList("ddl_WAcSLASRV", (IEnumerable<SelectListItem>)ViewBag.WAcSLASRV, new { @class = "form-control"})*@
																																			</td>																					
																																			<td>
																																				<input type='text' name='tbx_WAcContractID' @("id=tbx_WAcContractID" + count) class='form-control' style="width:100px;" placeholder='合約編號' value="@bean.cContractID" title="@bean.cContractID" readonly>
																																			</td>
																																			<td>
																																				<a href="javascript:void(0);">保固申請</a>
																																			</td>
																																			<td>
																																				<input @("id=ckb_WAcUsed" + count) name="ckb_WAcUsed" type="checkbox" class="checkbox" onclick="SetIsUsed(this, @count)" checked='checked' />
																																				<input type="hidden" @("id=hid_WAcUsed" + count) name="hid_WAcUsed" value="Y">
																																			</td>																																												
																																		</tr>
															}
														}
																						}
																					</tbody>
																				</table>
																			</div>
									}								
								}
							</div>
						</div>

						<!--服務團隊-->
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>
										服務團隊										
									</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>
								<div class="ibox-content">
									<div class="form-group row">
										<label class="col-lg-2 col-form-label">服務團隊</label>
										<div class="col-lg-4">
											@*@Html.DropDownList("ddl_cTeamID", (IEnumerable<SelectListItem>)ViewBag.cTeamID, new { @class = "form-control", @onchange = "javascript:onChangecTeamID();" })*@
										</div>
										<label class="col-lg-2 col-form-label">SQ人員</label>
										<div class="col-lg-4">
											<input type="text" id="tbx_cSQPerson" name="tbx_cSQPerson" class="form-control ContractUser" placeholder="請輸入關鍵字【中/英文姓名】">											
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-2 col-form-label">主要工程師</label>
										<div class="col-lg-4">
											<input type="text" id="tbx_cMainEngineerName" name="tbx_cMainEngineerName" class="form-control ContractUser" placeholder="請輸入關鍵字【中/英文姓名】">
											<input type="hidden" id="hid_cMainEngineerID" />
										</div>
										<label class="col-lg-2 col-form-label">計費業務</label>
										<div class="col-lg-4">
										<input type="text" id="tbx_cSalesName" name="tbx_cSalesName" class="form-control ContractUser" placeholder="請輸入關鍵字【中/英文姓名】">
										<input type="hidden" id="hid_cSalesID" />
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-2 col-form-label">協助工程師</label>
										<div class="col-lg-10 col-sm-10 input-group">
											<input id="txt_cAssEngineerID" type="hidden">
											<input id="txt_cAssEngineerName" type="text" class="form-control labelDisabled" title="@ViewBag.cAssEngineerName" value="@ViewBag.cAssEngineerName" placeholder="協助工程師姓名" disabled>
											<div class="input-group-append">
												<button id="btn_AssEngineer" class="btn btn-primary" type="button">
													<i class="fa fa-user-plus" aria-hidden="true"></i>
												</button>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>

						<!--處理與工時紀錄-->
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>
										處理與工時紀錄
										<button id="btn_add_pRecord" class="btn btn-success" type="button" style="margin-left: 10px;" onclick="btn_add_pRecordonclick();"><i class="fa fa-plus" style="margin-right: 5px;"></i>新增</button>
									</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>
								@{
									if (ViewBag.pStatus == "E0001")
									{
																			<!--新建階段-->
																			<div class="ibox-content" style="overflow: scroll">
																				<table id="tableAddPR" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																					<thead>
																						<tr>
																							<th>服務工程師</th>
																							<th>接單時間</th>
																							<th>出發時間</th>
																							<th>到場時間</th>
																							<th>完成時間</th>
																							<th>工時(分鐘)</th>
																							<th>處理紀錄</th>
																							<th>服務報告書</th>														
																						</tr>
																					</thead>
																					<tbody>
																						@{
														//int count = 0;
														//foreach (var bean in ViewBag.Detailbean_Warranty)
														//{
														//	count++;
														//	<tr id='trWarrantyNo@(count)'>
														//		@if (ViewBag.pStatus != "E0014")
														//		{
														//			<td>
														//				<label class="col-form-label" @("id=lbl_WAcItemID" + count)>@bean.cItem</label>
														//			</td>
														//		}
														//		<td>
														//			<input type='text' name='tbx_WAcSerialID' @("id=tbx_WAcSerialID" + count) class='form-control' style="width:150px;" placeholder='序號' value="@bean.cSerialID" title="@bean.cSerialID" readonly>
														//			<input type='hidden' name='hid_WAcID' @("id=hid_WAcID" + count) value=@bean.cID>
														//		</td>
														//		<td>
														//			<input type='text' name='tbx_WAcWTYID' @("id=tbx_WAcWTYID" + count) class='form-control' style="width:100px;" placeholder='保固代號' value="@bean.cWTYID" title="@bean.cWTYID" readonly>
														//		</td>
														//		<td>
														//			<textarea rows="3" class="form-control" style='width:200px;' placeholder="保固說明" name="tbx_WAcWTYName" title="@bean.cWTYName" readonly>@bean.cWTYName</textarea>
														//		</td>
														//		<td>
														//			<input type="text" name="tbx_WAcWTYSDATE" class="calendar form-control" placeholder="保固起始日" value="@bean.cWTYSDATE" readonly>
														//		</td>
														//		<td>
														//			<input type="text" name="tbx_WAcWTYEDATE" class="calendar form-control" placeholder="保固到期日" value="@bean.cWTYEDATE" readonly>
														//		</td>
														//		<td>
														//			@*@Html.DropDownList("ddl_WAcSLARESP", (IEnumerable<SelectListItem>)ViewBag.WAcSLARESP, new { @class = "form-control"})*@
														//		</td>
														//		<td>
														//			@*@Html.DropDownList("ddl_WAcSLASRV", (IEnumerable<SelectListItem>)ViewBag.WAcSLASRV, new { @class = "form-control"})*@
														//		</td>
														//		<td>
														//			<input type='text' name='tbx_WAcContractID' @("id=tbx_WAcContractID" + count) class='form-control' style="width:100px;" placeholder='合約編號' value="@bean.cContractID" title="@bean.cContractID" readonly>
														//		</td>
														//		<td>
														//			<a href="javascript:void(0);">保固申請</a>
														//		</td>
														//		<td>
														//			<input @("id=ckb_WAcUsed" + count) name="ckb_WAcUsed" type="checkbox" class="checkbox" onclick="SetIsUsed(this, @count)" checked='checked' />
														//			<input type="hidden" @("id=hid_WAcUsed" + count) name="hid_WAcUsed" value="Y">
														//		</td>
														//	</tr>
														//}
																						}
																					</tbody>
																				</table>
																			</div>
									}
									else
									{
																			<!--審核階段-->
																			<div class="ibox-content" style="overflow: scroll">
																				@if (ViewBag.pStatus == "E0014") //駁回
											{
																					<div class="form-group row">
																						<button id="btn_add_pRecord" class="btn btn-success" type="button" style="margin-left: 10px;" onclick="btn_add_pRecordonclick();"><i class="fa fa-plus" style="margin-right: 5px;"></i>新增</button>
																					</div>
											}
																				<table id="tableDispatchPR" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																					<thead>
																						<tr>
																							<th>項次</th>
																							<th>服務工程師</th>
																							<th>接單時間</th>
																							<th>出發時間</th>
																							<th>到場時間</th>
																							<th>完成時間</th>
																							<th>工時(分鐘)</th>
																							<th>處理紀錄</th>
																							<th>服務報告書</th>
																						</tr>
																					</thead>
																					<tbody>
																						@{
														if (ViewBag.pSRID != "")
														{
															int count = 0;
															foreach (var bean in ViewBag.Detailbean_Warranty)
															{
																count++;
																																		<tr id='trWarrantyNo@(count)'>
																																			@if (ViewBag.pStatus != "E0014")
																	{
																																				<td>
																																					<label class="col-form-label" @("id=lbl_WAcItemID" + count)>@bean.cItem</label>
																																				</td>
																	}
																																			<td>
																																				<input type='text' name='tbx_WAcSerialID' @("id=tbx_WAcSerialID" + count) class='form-control' style="width:150px;" placeholder='序號' value="@bean.cSerialID" title="@bean.cSerialID" readonly>
																																				<input type='hidden' name='hid_WAcID' @("id=hid_WAcID" + count) value=@bean.cID>
																																			</td>
																																			<td>
																																				<input type='text' name='tbx_WAcWTYID' @("id=tbx_WAcWTYID" + count) class='form-control' style="width:100px;" placeholder='保固代號' value="@bean.cWTYID" title="@bean.cWTYID" readonly>
																																			</td>
																																			<td>
																																				<textarea rows="3" class="form-control" style='width:200px;' placeholder="保固說明" name="tbx_WAcWTYName" title="@bean.cWTYName" readonly>@bean.cWTYName</textarea>
																																			</td>
																																			<td>
																																				<input type="text" name="tbx_WAcWTYSDATE" class="calendar form-control" placeholder="保固起始日" value="@bean.cWTYSDATE" readonly>
																																			</td>
																																			<td>
																																				<input type="text" name="tbx_WAcWTYEDATE" class="calendar form-control" placeholder="保固到期日" value="@bean.cWTYEDATE" readonly>
																																			</td>
																																			<td>
																																				@*@Html.DropDownList("ddl_WAcSLARESP", (IEnumerable<SelectListItem>)ViewBag.WAcSLARESP, new { @class = "form-control"})*@
																																			</td>
																																			<td>
																																				@*@Html.DropDownList("ddl_WAcSLASRV", (IEnumerable<SelectListItem>)ViewBag.WAcSLASRV, new { @class = "form-control"})*@
																																			</td>
																																			<td>
																																				<input type='text' name='tbx_WAcContractID' @("id=tbx_WAcContractID" + count) class='form-control' style="width:100px;" placeholder='合約編號' value="@bean.cContractID" title="@bean.cContractID" readonly>
																																			</td>
																																			<td>
																																				<a href="javascript:void(0);">保固申請</a>
																																			</td>
																																			<td>
																																				<input @("id=ckb_WAcUsed" + count) name="ckb_WAcUsed" type="checkbox" class="checkbox" onclick="SetIsUsed(this, @count)" checked='checked' />
																																				<input type="hidden" @("id=hid_WAcUsed" + count) name="hid_WAcUsed" value="Y">
																																			</td>
																																		</tr>
															}
														}
																						}
																					</tbody>
																				</table>
																			</div>
									}
								}
							</div>
						</div>

						<!--零件更換資訊-->
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>
									零件更換資訊
										<button type="button" class="btn btn-success" onclick="AddDetailItem_Parts('tableAddPA');"><i class="fa fa-plus" style="margin-right: 5px;"></i>新增</button>
									</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>
								@{
									if (ViewBag.pStatus == "E0001")
									{
																			<!--新建階段-->
																			<div class="ibox-content" style="overflow: scroll">
																				<table id="tableAddPA" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																					<thead>
																						<tr>
																							<th>XC HP申請零件</th>
																							<th>更換零件料號ID</th>
																							<th>料號說明</th>
																							<th>Old CT</th>
																							<th>New CT</th>
																							<th>HP CT </th>
																							<th>New UEFI</th>
																							<th>備機序號</th>
																							<th>HP Case ID</th>
																							<th>到貨日</th>
																							<th>歸還日</th>
																							<th>零件服務項目</th>
																							<th>備註</th>
																							<th width="130">刪除</th>
																						</tr>
																					</thead>
																					<tbody>
																					</tbody>
																				</table>
																			</div>
									}
									else
									{
																			<!--審核階段-->
																			<div class="ibox-content" style="overflow: scroll">
																				@if (ViewBag.pStatus == "E0014") //駁回
											{
																					<div class="form-group row">
																						<button type="button" class="btn btn-w-m btn-primary" onclick="AddDetailItem_Parts('tableDispatchPA');">新增</button>
																					</div>
											}
																				<table id="tableDispatchPA" class="table table-striple table-bordered table-hover dataTables-example" style="width:1280px !important">
																					<thead>
																						<tr>
																							@if (ViewBag.pStatus != "E0014")
														{
																								<th>項次</th>
														}
																							<th>XC HP申請零件</th>
																							<th>更換零件料號ID</th>
																							<th>料號說明</th>
																							<th>Old CT</th>
																							<th>New CT</th>
																							<th>HP CT </th>
																							<th>New UEFI</th>
																							<th>備機序號</th>
																							<th>HP Case ID</th>
																							<th>到貨日</th>
																							<th>歸還日</th>
																							<th>零件服務項目</th>
																							<th>備註</th>														
																							else if (ViewBag.pStatus == "E0014")
																							{
																								<th width="130">刪除</th>
																							}
																						</tr>
																					</thead>
																					<tbody>
																						@{
														if (ViewBag.pSRID != "")
														{
															int count = 0;
															foreach (var bean in ViewBag.Detailbean_Parts)
															{
																count++;
																																		<tr id='trPartsNo@(count)'>
																																			@if (ViewBag.pStatus != "E0014")
																	{
																																				<td>
																																					<label class="col-form-label" @("id=lbl_PRcItemID" + count)>@bean.cItem</label>
																																				</td>
																	}
																																			<td>
																																				<input type='text' name='tbx_PRcSerialID' @("id=tbx_PRcSerialID" + count) class='form-control' style="width:150px;" placeholder='序號' value="@bean.cSerialID" title="@bean.cSerialID" readonly>
																																				<input type='hidden' name='hid_PRcID' @("id=hid_PRcID" + count) value=@bean.cID>
																																			</td>
																																			<td>
																																				<input type='text' name='tbx_PRcMaterialID' @("id=tbx_PRcMaterialID" + count) class='form-control material' style="width:150px;" placeholder='請輸入料號或料號說明的關鍵字' value="@bean.cMaterialID" title="@bean.cMaterialID" readonly>
																																			</td>
																																			<td>
																																				<textarea rows="3" class="form-control" style='width:200px;' placeholder="料號說明" name="tbx_PRcMaterialName" title="@bean.cMaterialName" readonly>@bean.cMaterialName</textarea>
																																			</td>
																																			<td>
																																				<input type='text' name='tbx_PRcProductNumber' @("id=tbx_PRcProductNumber" + count) class='form-control' style='width:150px;' value="@bean.cProductNumber" title="@bean.cProductNumber" ) readonly>
																																			</td>
																																			<td>
																																				<a href="javascript:void(0);">BOM表</a>
																																			</td>
																																			<td>
																																				<input type='text' name='tbx_PRcInstallID' @("id=tbx_PRcInstallID" + count) class='form-control' style='width:150px;' value="@bean.cInstallID" title="@bean.cInstallID" ) readonly>
																																			</td>
																																			else if (ViewBag.pStatus == "E0014")
																																			{
																																			<td>
																																				<button class='btn btn-danger' type='button' onclick="DelDetailItem_Parts('trPartsNo@(count)')" ;><i class='fa fa-trash'></i></button>
																																			</td>
																																			}
																																		</tr>
															}
														}
																						}
																					</tbody>
																				</table>
																			</div>
									}
								}
							</div>
						</div>

						<div class="form-group row">
						@{
							if (ViewBag.pStatus == "E0001" || ViewBag.pStatus == "E0014") //新建 or 駁回
							{
								<button id="btn_submit" class="btn btn-primary btn-lg" type="button" onclick="ShowSRConfirmDialogMsg('確認', '您是否確認提交？');" @(ViewBag.pActionType == "History" ? " style =display:none" : "")>提 交 </button>							
							}
							else
							{
								<button id="btn_Approve" class="btn btn-primary btn-lg" type="button" onclick="ShowSRConfirmDialogMsg('確認', '您是否確認提交？');" @(ViewBag.pActionType == "History" ? " style =display:none" : "")>提 交 </button>
							}
						}
							<img id="waitingImg" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>

	<!--新增客戶聯絡人彈出視窗-->
	<div class="modal fade" id="dialog_pAddContactInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<label class="col-form-label"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>新增客戶聯絡人資訊</label>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">														
					<div class="form-group row">
					<label class="col-lg-2 col-form-label">查詢郵遞區號和地址</label>
                        <div class="input-group col-lg-10">
                            <div class="col-lg-6 col-xs-12">
								<label class="col-form-label">縣市名稱：</label>
								<select id="ddl_PostAddressCity" class="changePostCity form-control"></select>
							</div>
							<div class="col-lg-6 col-xs-12">
								<label class="col-form-label">鄉鎮市區：</label>
								<select id="ddl_PostAddressTownship" class="changePostTownship form-control"></select>
							</div>
							<div class="col-lg-6 col-xs-12">
								<label class="col-form-label">路段(名)：</label>
								<select id="ddl_PostAddressRoad" class="changePostRoad form-control"></select>
							</div>
							<div class="col-lg-6 col-xs-12">
								<label class="col-form-label">門牌號碼：</label>
								<select id="ddl_PostAddressNo" class="form-control"></select>
							</div>
							<div class="col-lg-12 col-xs-12">
								<button id="btnPostAddress" class="btn btn-primary col-lg-12 col-xs-12" type="button" onclick="findPostAddress()"><i class="fa fa-search"></i> 查 詢</button>
							</div>
							<div class="modal-body" id="div_PostAddressList"></div>
                        </div>                       
                    </div>
					<div class="hr-line-dashed"></div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">程式作業編號檔系統ID</label>
						<div class="col-lg-10">
							<input type="text" id="tbx_cAddContactID" name="tbx_cAddContactID" class="form-control" placeholder="程式作業編號檔系統ID" disabled>
						</div>						
					</div>					
					<div class="form-group row">						
						<label class="col-lg-2 col-form-label">姓名*</label>
						<div class="col-lg-4">
							<input type="text" id="tbx_cAddContactName" name="tbx_cAddContactName" class="form-control" placeholder="姓名">
						</div>
						<label class="col-lg-2 col-form-label">電話*</label>
						<div class="col-lg-4">
							<input type="text" id="tbx_cAddContactPhone" name="tbx_cAddContactPhone" class="form-control" placeholder="電話">
						</div>
					</div>	
					<div class="form-group row">						
						<label class="col-lg-2 col-form-label">城市*</label>
						<div class="col-lg-4">
							<input type="text" id="tbx_cAddContactCity" name="tbx_cAddContactCity" class="form-control" placeholder="城市" disabled>
						</div>						
					</div>
					<div class="form-group row">						
						<label class="col-lg-2 col-form-label">詳細地址*</label>
						<div class="col-lg-10">							
							<input type="text" id="tbx_cAddContactAddress" name="tbx_cAddContactAddress" class="form-control" placeholder="詳細地址" disabled>							
							<input type="text" id="tbx_cAddContactAddress_No" name="tbx_cAddContactAddress_No" class="form-control" placeholder="門牌號碼/樓層">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Email*</label>
						<div class="col-lg-10">
							<input type="text" id="tbx_cAddContactEmail" name="tbx_cAddContactEmail" class="form-control" placeholder="Email" onblur="CheckEmailValid();">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-lg-5"></div>
					<button id="btn_saveContactInfo" class="btn btn-primary col-lg-2 col-xs-12" type="button" onclick="saveContactInfo();">
						<i class="fa fa-save"></i> 儲 存
					</button>
					<img id="img_waiting_saveContactInfo" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:6px" alt="">
					<div class="col-lg-5"></div>
				</div>
			</div>
		</div>
	</div>

	<!--選擇客戶聯絡人彈出視窗-->
	<div class="modal fade" id="dialog_pContactInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<label class="col-form-label">客戶聯絡人資訊</label>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="tb_pContactInfo">
				</div>
			</div>
		</div>
	</div>

	<!--ShowSRConfirmDialog-->
	<div class="modal fade" id="ShowSRConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ShowSRConfirmdialogTitle">確認</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="ShowSRConfirmdialogContent">
				</div>
				<div class="modal-footer">
					<button id="BtnCancel" type="button" class="btn btn-lg btn-dark" data-dismiss="modal">取消</button>
					<button id="BtnSave" type="button" class="btn btn-lg btn-primary" data-dismiss="modal" onclick="onclickBtnSave();">確認</button>
				</div>
			</div>
		</div>
	</div>