@{
	ViewData["Title"] = "QuerySRProgress";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		$(document).ready(function () {
			initTable();
			CustSearch();
			PeopleSearch();			
		});

		function initTable() {
			var buttonCommon = {
				exportOptions: {
					format: {
						body: function (data, row, column, node) {
							//替換&符號
							var translate_re = /&(nbsp|amp|quot|lt|gt);/g,
								translate = {
									'nbsp': String.fromCharCode(160),
									'amp': '&',
									'quot': '"',
									'lt': '<',
									'gt': '>'
								},
								translator = function ($0, $1) {
									return translate[$1];
								};

							if (typeof data === 'string')
								data = data.replace(translate_re, translator);

							if (column === 0) //去除連結的部份
							{
								var splitName = data.split(">");
								var length = splitName.length;

								if (length > 1) {
									return data.split(">")[1].split("<")[0];
								}
								else {
									return data;
								}
							}
							else if (column === 3 || column === 5 || column === 6 || column === 7 || column === 9 || column === 11) //將換行符號<br>換成excel可以識別的\n
							{
								return data.replace(/<br\s*\/?>/ig, "\n"); //匯出需要在每筆紀錄前，多換一行
							}
							else
							return data;
						}
					}
				}
			};

			$('#tableAll').DataTable({
				language: {
					"lengthMenu": "每頁顯示筆數 _MENU_ ",
					"info": "顯示第 _START_ 到 _END_ 筆，全部共 _TOTAL_ 筆",
					"search": " 關鍵字篩選"
				},
				order: [[14, 'desc']], //畫面排序才有用
				pageLength: 25,
				responsive: true,				
				dom: '<"top"i><"wrapper"Blfrtip>', //Blfrtip =>可顯示筆數
				buttons: [
					$.extend(true, {}, buttonCommon, {
						extend: 'excelHtml5',
						title: '服務進度查詢作業_' + new Date().toISOString().slice(0, 10).replace("-", "").replace("-", ""),
						text: '匯出Excel',
						sheetName: '服務進度查詢作業',
						exportOptions: {
							columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16] //要顯示的欄位
						},
						customize: function (xlsx) {
							addCustomNumberFormat(xlsx, '0');
							formatTargetColumn(xlsx, 'A');
							formatTargetColumn(xlsx, 'B');
							formatTargetColumn(xlsx, 'C');
							formatTargetColumn(xlsx, 'D');
							formatTargetColumn(xlsx, 'E');
							formatTargetColumn(xlsx, 'F');
							formatTargetColumn(xlsx, 'G');
							formatTargetColumn(xlsx, 'H');
							formatTargetColumn(xlsx, 'I');
							formatTargetColumn(xlsx, 'J');
							formatTargetColumn(xlsx, 'K');
							formatTargetColumn(xlsx, 'L');
							formatTargetColumn(xlsx, 'M');
							formatTargetColumn(xlsx, 'N');
							formatTargetColumn(xlsx, 'O');
							formatTargetColumn(xlsx, 'P');
							formatTargetColumn(xlsx, 'Q');
						}
					}),
				],
			});

			$("#tableAll_wrapper .dt-buttons.btn-group").css("float", "right"); //匯出excel按鈕位置靠右
			$('#ddl_cTeamID option').prop('selected', false).trigger('chosen:updated');	//服務團隊

			//顯示服務團隊設定popup
			$('#btn_pjTeam').click(function () {
				$('#dialog_pjTeam').modal('show');
			})

			//顯示工程師設定popup
			$('#btn_pjAssEngineer').click(function () {
				$('#dialog_pjAssEngineer').modal('show');
			})
		}

		function addCustomNumberFormat(xlsx, numberFormat) {
			// this adds a new custom number format to the Excel "styles" document:
			var numFmtsElement = xlsx.xl['styles.xml'].getElementsByTagName('numFmts')[0];
			// assume 6 custom number formats already exist, and next available ID is 176:
			var numFmtElement = '<numFmt numFmtId="176" formatCode="' + numberFormat + '"/>';
			$(numFmtsElement).append(numFmtElement);
			$(numFmtsElement).attr("count", "7"); // increment the count

			// now add a new "cellXfs" cell formatter, which uses our new number format (numFmt 176):
			var celXfsElement = xlsx.xl['styles.xml'].getElementsByTagName('cellXfs');
			var cellStyle = '<xf numFmtId="176" fontId="0" fillId="0" borderId="0" xfId="0" applyNumberFormat="1"'
				+ ' applyFont="1" applyFill="1" applyBorder="1"/>';
			// this will be the 8th "xf" element - and will therefore have an index of "7", when we use it later:
			$(celXfsElement).append(cellStyle);
			$(celXfsElement).attr("count", "66"); //(1.2.3版)官方提供0-64共65種格式，在此自己新增加一種
		}

		function formatTargetColumn(xlsx, col) {
			var sheet = xlsx.xl.worksheets['sheet1.xml'];

			if (col == "A") {
				$('row c[r^="' + col + '"]', sheet).attr('s', '65'); //使用自定義格式
			}
			else {
				$('row c[r^="' + col + '"]', sheet).attr('s', '0'); //設成文字格式
			}
		}

		//SAP客戶代號/客戶名稱查詢
		//compcde(Comp-1.大世科 Comp-2.群輝 Comp-3.上海 Comp-4.協志)
		function CustSearch() {
			var compcde = $("#hid_cLoginUser_CompCode").val();

			$(".CustName").unbind();

			$(".CustName").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							$.ajax({
								url: '@Url.Action("findCustByKeywordAndComp", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: { functionName: 'findCustByKeywordAndComp', keyword: keyword, compcde: compcde },
								success: function (result) {
									Customers = [];
									$.each(result, function (i, idata) {
										Customers[i] = {
											label: idata.Kna1Kunnr + "\\" + idata.Kna1Name1, //顯示在清單的東西
											idx: i,
											Name: idata.Kna1Name1,
											value: idata.Kna1Kunnr //這個是要填入textbox的值
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: Customers,
										select: function (event, ui) {
											$("#lbl_cCustomerName").html(ui.item.Name);
										}
									}).bind('focus', function () { $(this).autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
								}
							})
						}
					}

				}
			})
		}

		//Ajax用中文或英文姓名查詢人員帳號
		function PeopleSearch() {
			$(".Peoploe").unbind();

			$(".Peoploe").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							var ojbID = $(this).attr("id");

							$.ajax({
								url: '@Url.Action("AjaxfindEmployeeByKeyword", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: {
									functionName: 'AjaxfindEmployeeByKeyword', keyword: keyword
								},
								success: function (result) {
									objects = [];
									$.each(result, function (i, idata) {
										objects[i] = {
											label: idata.CEmployeeCName + "\\" + idata.CEmployeeEname + "\\" + idata.CEmployeeErpid,
											idx: i,
											Name: idata.CEmployeeCName + "\\" + idata.CEmployeeEname,
											ERPID: idata.CEmployeeErpid,
											value: idata.CEmployeeErpid //value這個值，一定要在label裡才能顯示出下拉											
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: objects,
										select: function (event, ui) {
											if (ojbID.indexOf('tbx_cTechManagerID') >= 0) {
												$('#lbl_cTechManagerID').html(ui.item.Name);
											}
											else if (ojbID.indexOf('tbx_pjAssEngineerName') >= 0) {
												$('#hid_pjAssEngineerAcc').val(ui.item.ERPID);
											}
										}
									}).bind('focus', function () { $(this).autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
									$(".ui-autocomplete").css({ 'z-index': '2051', 'font-size': '16px' }); //可以正常顯示關鍵字查詢
								}
							})

						}
					}
				}
			})
		}

		//-----↓↓↓↓↓服務團隊 ↓↓↓↓↓-----
		//儲存個人常用服務團隊
		function savepjPersonallyTeam() {			
			var hid_cTeamID = $("#hid_cTeamID");
			var tbx_cTeamName = $("#tbx_cTeamName");

			if ($("#tbx_cTeamName").val() == "") {
				alert("您未選擇任何服務團隊");
			}
			else {
				var tIsDo = confirm("您是否要儲存本次清單至個人常用服務團隊?")

				if (tIsDo) {
					$("#btn_savepjPersonallyTeam").hide();
					$("#img_waiting_savepjPersonallyTeam").show();

					$.ajax({
						url: '@Url.Action("savepjPersonallyTeam", "ServiceRequest")',
						type: 'post',
						dataType: 'json',
						data: {
							cTeamID: hid_cTeamID.val()
						},
						success: function (result) {
							if (result == "SUCCESS") {
								alert("儲存成功！");
							}
							else
							{
								alert(result);
							}
						}
					});

					$("#img_waiting_savepjPersonallyTeam").hide();
					$("#btn_savepjPersonallyTeam").show();
				}				
			}
		}

		//帶入個人常用服務團隊
		function getpjPersonallyTeam() {
			var hid_cTeamID = $("#hid_cTeamID");

			$("#btn_getpjPersonallyTeam").hide();
			$("#img_waiting_savepjPersonallyTeam").show();

			$.ajax({
				url: '@Url.Action("getpjPersonallyTeam", "ServiceRequest")',
				type: 'post',
				dataType: 'json',				
				success: function (result) {
					if (result == "")
					{
						alert("您未設定個人常用服務團隊！");
					}
					else
					{
						hid_cTeamID.val(result);
						getpjTeam();
					}
				}
			});

			$("#img_waiting_savepjPersonallyTeam").hide();
			$("#btn_getpjPersonallyTeam").show();			
		}

        //修改服務團隊
        function savepjTeam() {
            var hid_cTeamID = $("#hid_cTeamID");

			if ($("#ddl_cTeamID").val() == "") {
                alert("請選擇服務團隊");
            }
            else {
					$("#btn_savepjTeam").hide();
                    $("#img_waiting_savepjTeam").show();

				    $.ajax({
					    url: '@Url.Action("SavepjTeam", "ServiceRequest")',
					    type: 'post',
					    dataType: 'json',
                        data: {                            
                            cTeamID: hid_cTeamID.val(),
							cTeamAcc: $("#ddl_cTeamID").val(),
                        },
                        success: function (result) {
                            if (result.indexOf("Error") >= 0) {
							   alert("儲存失敗！" + result);
							}
							else {
								//alert("儲存成功");
								hid_cTeamID.val(result);
								getpjTeam();                            
							}
                        }
                    });

                    $("#img_waiting_savepjTeam").hide();
                    $("#btn_savepjTeam").show();
            }
        }

        //取得服務團隊
        function getpjTeam() {            
			$("#ddl_cTeamID").val("");
			
			var hid_cTeamID = $("#hid_cTeamID");
            
			$.ajax({
				url: '@Url.Action("GetpjTeam", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
                data: {                    
					cTeamID : hid_cTeamID.val(),
                },
                success: function (result) {
                    var list = "";
					var pjTeamName = "";
					$.each(result, function (i, bean) {
                        if (bean != null) {
							pjTeamName += bean.teamName + ";";

                            list += '<tr id="tr_pjTeam_' + bean.id + '">'
                                + "<input type='hidden' class='hidpjTeamAcc' value='" + bean.teamID + "'>"
                                + '<td>'
                                    + '<button class="btn btn-danger btn-sm btnCtDelete btnPreventDefault" type="button" onclick="deletepjTeam(this);" style="margin: 2px;">'
                                        + '<i class="fa fa-trash"></i>'
                                    + '</button>'
                                + '</td>'								
                                + "<td style='vertical-align: middle;'>" + bean.teamName + "</td>"
								+ "<td style='vertical-align: middle;'>" + bean.deptId + "</td>"
                                + "<td style='vertical-align: middle;'>" + bean.deptName + "</td>"
                            + "</tr>";
						}
                    });

                    if (list != "") {
                        list = "<table class='table table-striple table-bordered table-hover dataTables-example' style='word-break: keep-all; white-space: nowrap; text-align: center;'>"
                            + "<thead><tr>"
                                + "<th>刪除</th>"                                
                                + "<th>服務團隊</th>"
                                + "<th>部門ID</th>"
                                + "<th>部門名稱</th>"                                
                            + "</tr></thead><tbody>"
                            + list
                            + "</tbody></table>";
					}
                    $("#tb_pjTeam").html(list);

                    pjTeamName = pjTeamName.substr(0, pjTeamName.length - 1);
                    $("#tbx_cTeamName").val(pjTeamName);
                }
			});
        }

        //刪除服務團隊
        function deletepjTeam(obj) {
            var pjTeamAcc = $(obj).parent().parent().find(".hidpjTeamAcc").val();
			var hid_cTeamID = $("#hid_cTeamID");

            if (confirm("確認刪除此服務團隊？")) {
                $.ajax({
					url: '@Url.Action("DeletepjTeam", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
                    data: {
                        cTeamID: hid_cTeamID.val(),
						cTeamAcc: pjTeamAcc,
                    },
                    success: function (result) {
                        if (result.indexOf("Error") >= 0) {
                           alert("刪除失敗！");
                        }
                        else {
							//alert("刪除成功");
							hid_cTeamID.val(result);
                            getpjTeam();                            
                        }
                    }
				});
            }
        }
		//-----↑↑↑↑↑服務團隊 ↑↑↑↑↑-----

		//-----↓↓↓↓↓協助工程師 ↓↓↓↓↓-----
		//儲存個人常用工程師
		function savepjPersonallyEngineer() {			
			var hid_cAssEngineerID = $("#hid_cAssEngineerID");
			var tbx_cAssEngineerName = $("#tbx_cAssEngineerName");

			if ($("#tbx_cAssEngineerName").val() == "") {
				alert("您無輸入任何工程師姓名");
			}
			else {
				var tIsDo = confirm("您是否要儲存本次清單至個人常用工程師?")

				if (tIsDo) {
					$("#btn_savepjPersonallyEngineer").hide();
					$("#img_waiting_savepjAssEngineer").show();

					$.ajax({
						url: '@Url.Action("savepjPersonallyEngineer", "ServiceRequest")',
						type: 'post',
						dataType: 'json',
						data: {
							cAssEngineerID: hid_cAssEngineerID.val()						
						},
						success: function (result) {
							if (result == "SUCCESS") {
								alert("儲存成功！");
							}
							else
							{
								alert(result);
							}
						}
					});

					$("#img_waiting_savepjAssEngineer").hide();
					$("#btn_savepjPersonallyEngineer").show();
				}				
			}
		}

		//帶入個人常用工程師
		function getpjPersonallyEngineer() {
			var hid_cAssEngineerID = $("#hid_cAssEngineerID");

			$("#btn_getpjPersonallyEngineer").hide();
			$("#img_waiting_savepjAssEngineer").show();

			$.ajax({
				url: '@Url.Action("getpjPersonallyEngineer", "ServiceRequest")',
				type: 'post',
				dataType: 'json',				
				success: function (result) {
					if (result == "")
					{
						alert("您未設定個人常用工程師！");
					}
					else
					{
						hid_cAssEngineerID.val(result);
						getpjAssEngineer();
					}
				}
			});

			$("#img_waiting_savepjAssEngineer").hide();
			$("#btn_getpjPersonallyEngineer").show();			
		}

		//修改工程師
		function savepjAssEngineer() {
			var hid_cAssEngineerID = $("#hid_cAssEngineerID");

			if ($("#hid_pjAssEngineerAcc").val() == "") {
				alert("請輸入工程師姓名");
			}
			else {
				$("#btn_savepjAssEngineer").hide();
				$("#img_waiting_savepjAssEngineer").show();

				$.ajax({
					url: '@Url.Action("SavepjAssEngineer", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: {
						cAssEngineerID: hid_cAssEngineerID.val(),
						cAssEngineerAcc: $("#hid_pjAssEngineerAcc").val(),
					},
					success: function (result) {
						if (result.indexOf("Error") >= 0) {
							alert("儲存失敗！" + result);
						}
						else {							
							hid_cAssEngineerID.val(result);
							getpjAssEngineer();
						}
					}
				});

				$("#img_waiting_savepjAssEngineer").hide();
				$("#btn_savepjAssEngineer").show();
			}
		}

		//取得工程師
		function getpjAssEngineer() {
			$("#hid_pjAssEngineerAcc").val("");
			$("#tbx_pjAssEngineerName").val("");

			var hid_cAssEngineerID = $("#hid_cAssEngineerID");

			$.ajax({
				url: '@Url.Action("GetpjAssEngineer", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					cAssEngineerID: hid_cAssEngineerID.val(),
				},
				success: function (result) {
					var list = "";
					var pjAssEngineerName = "";
					$.each(result, function (i, bean) {
						if (bean != null) {
							pjAssEngineerName += bean.name + ";";

							list += '<tr id="tr_pjAssEngineer_' + bean.id + '">'
								+ "<input type='hidden' class='hidpjAssEngineerAcc' value='" + bean.acc + "'>"
								+ '<td>'
								+ '<button class="btn btn-danger btn-sm btnCtDelete btnPreventDefault" type="button" onclick="deletepjAssEngineer(this);" style="margin: 2px;">'
								+ '<i class="fa fa-trash"></i>'
								+ '</button>'
								+ '</td>'
								+ "<td style='vertical-align: middle;'>" + bean.name + "</td>"
								+ "<td style='vertical-align: middle;'>" + bean.ext + "</td>"
								+ "<td style='vertical-align: middle;'>" + bean.mobile + "</td>"
								+ "<td style='vertical-align: middle; text-align: left;'>" + bean.email + "</td>"
								+ "<td style='vertical-align: middle;'>" + bean.deptName + "</td>"
								+ "</tr>";
						}
					});

					if (list != "") {
						list = "<table class='table table-striple table-bordered table-hover dataTables-example' style='word-break: keep-all; white-space: nowrap; text-align: center;'>"
							+ "<thead><tr>"
							+ "<th>刪除</th>"
							+ "<th>姓名</th>"
							+ "<th>分機</th>"
							+ "<th>手機</th>"
							+ "<th>Email</th>"
							+ "<th>部門</th>"
							+ "</tr></thead><tbody>"
							+ list
							+ "</tbody></table>";
					}
					$("#tb_pjAssEngineer").html(list);

					pjAssEngineerName = pjAssEngineerName.substr(0, pjAssEngineerName.length - 1);
					$("#tbx_cAssEngineerName").val(pjAssEngineerName);
				}
			});
		}

		//刪除工程師
		function deletepjAssEngineer(obj) {
			var pjAssEngineerAcc = $(obj).parent().parent().find(".hidpjAssEngineerAcc").val();
			var hid_cAssEngineerID = $("#hid_cAssEngineerID");

			if (confirm("確認刪除此工程師？")) {
				$.ajax({
					url: '@Url.Action("DeletepjAssEngineer", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: {
						cAssEngineerID: hid_cAssEngineerID.val(),
						cAssEngineerAcc: pjAssEngineerAcc,
					},
					success: function (result) {
						if (result.indexOf("Error") >= 0) {
							alert("刪除失敗！");
						}
						else {
							//alert("刪除成功");
							hid_cAssEngineerID.val(result);
							getpjAssEngineer();
						}
					}
				});
			}
		}
		//-----↑↑↑↑↑工程師 ↑↑↑↑↑-----

		//-----↓↓↓↓↓報修類別 ↓↓↓↓↓-----
		//第一階(大類) onChange
		function onChangecSRTypeOne() {

			//先清空下拉選單選項，才不會一直append
			$('#ddl_cSRTypeSec').empty();
			$('#ddl_cSRTypeThr').empty();

			$.ajax({
				url: '@Url.Action("findSRTypeSecList", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					keyword: $('#ddl_cSRTypeOne').val(),
				},
				success: function (result) {
					$.each(result, function (index, obj) {
						$("#ddl_cSRTypeSec").append(
							$('<option></option>').val(obj.value).html(obj.text)
						);
					});					
				}
			});
		}

		//第二階(中類) onChange
		function onChangecSRTypeSec() {

			//先清空下拉選單選項，才不會一直append
			$('#ddl_cSRTypeThr').empty();

			$.ajax({
				url: '@Url.Action("findSRTypeThrList", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					keyword: $('#ddl_cSRTypeSec').val(),
				},
				success: function (result) {
					$.each(result, function (index, obj) {
						$("#ddl_cSRTypeThr").append(
							$('<option></option>').val(obj.value).html(obj.text)
						);
					});					
				}
			});
		}
		//-----↑↑↑↑↑報修類別 ↑↑↑↑↑-----

		//查詢
		function Query() {
			$("#waitingImg").show();

			var tMsg = "";						
			var SRCaseType = $("#ddl_cSRCaseType").val().join();		//服務案件種類
			var Status = $("#ddl_cStatus").val().join();				//狀態
			var tbx_cStartCreatedDate = $('#tbx_cStartCreatedDate');		//派單起始日期
			var tbx_cEndCreatedDate = $('#tbx_cEndCreatedDate');		    //派單結束日期
			var tbx_cCustomerID = $('#tbx_cCustomerID');				//客戶代號
			var tbx_cCustomerName = $('#tbx_cCustomerName');			    //客戶名稱
			var tbx_cSRID = $('#tbx_cSRID');							//SRID
			var tbx_cDesc = $('#tbx_cDesc');							//說明
			var ddl_cIsSecondFix = $('#ddl_cIsSecondFix');				//是否為二修
			var tbx_CreatedUserName = $('#tbx_CreatedUserName');		    //派單人員
			var tbx_cRepairName = $('#tbx_cRepairName');				//報修人姓名			
			var tbx_cContactName = $('#tbx_cContactName');				//聯絡人姓名
			var SRPathWay = $("#ddl_cSRPathWay").val().join();			//報修管道			
			var hid_cAssEngineerID = $('#hid_cAssEngineerID');			//工程師ERPID
			var tbx_cTechManagerID = $('#tbx_cTechManagerID');			//技術主管ERPID
			var cTeamID = $("#hid_cTeamID").val();						//服務團隊
			var tbx_cContractID = $('#tbx_cContractID');				//合約文件編號			

			var ddl_cSRTypeOne = $('#ddl_cSRTypeOne');					//報修類別-大類
			var ddl_cSRTypeSec = $('#ddl_cSRTypeSec');					//報修類別-中類
			var ddl_cSRTypeThr = $('#ddl_cSRTypeThr');					//報修類別-小類

			var tbx_cSerialID = $('#tbx_cSerialID');					//報修/裝機序號
			var tbx_cMaterialName = $('#tbx_cMaterialName');				//報修機器型號/裝機料號說明
			var tbx_cProductNumber = $('#tbx_cProductNumber');			//報修Product Number/裝機料號

			if (SRCaseType == "" && Status == "" && tbx_cStartCreatedDate.val() == "" && tbx_cEndCreatedDate.val() == "" &&
				tbx_cCustomerID.val() == "" && tbx_cCustomerName.val() == "" && tbx_cSRID.val() == "" && tbx_cDesc.val() == "" && ddl_cIsSecondFix.val() == "" && tbx_CreatedUserName.val() == "" && tbx_cRepairName.val() == "" && tbx_cContactName.val() == "" && SRPathWay == "" &&
				hid_cAssEngineerID.val() == "" && tbx_cTechManagerID.val() == "" && cTeamID == "" && tbx_cContractID.val() == "" && 
				ddl_cSRTypeOne.val() == "" && tbx_cSerialID.val() == "" && tbx_cMaterialName.val() == "" && tbx_cProductNumber.val() == "" &&
				(ddl_cSRTypeSec.val() == null || ddl_cSRTypeSec.val() == "") && 
				(ddl_cSRTypeThr.val() == null || ddl_cSRTypeThr.val() == "")) {

				tMsg += "請至少輸入一項查詢條件！\n";
			}

			if (tbx_cStartCreatedDate.val() != "" && tbx_cEndCreatedDate.val() != "") {

				if (tbx_cStartCreatedDate.val() > tbx_cEndCreatedDate.val()) {
					tMsg += '派單起始日期不能大於結束日期！\n';
					tbx_cEndCreatedDate.val(""); //清空
				}
			}

			if (tMsg != "") {
				alert(tMsg);
				$("#waitingImg").hide();
				return false;
			}
			else {
				searchQuerySRProgress(SRCaseType, Status, tbx_cStartCreatedDate.val(), tbx_cEndCreatedDate.val(), tbx_cCustomerID.val(),
									  tbx_cCustomerName.val(), tbx_cSRID.val(), tbx_cDesc.val(), ddl_cIsSecondFix.val(), tbx_CreatedUserName.val(), tbx_cRepairName.val(), tbx_cContactName.val(), SRPathWay,
									  hid_cAssEngineerID.val(), tbx_cTechManagerID.val(), cTeamID, tbx_cContractID.val(),
									  ddl_cSRTypeOne.val(), ddl_cSRTypeSec.val(), ddl_cSRTypeThr.val(),
									  tbx_cSerialID.val(), tbx_cMaterialName.val(), tbx_cProductNumber.val());
			}

			return true;
		}

		//查詢結果
		function searchQuerySRProgress(cSRCaseType, cStatus, cStartCreatedDate, cEndCreatedDate, cCustomerID, cCustomerName, cSRID, cDesc, cIsSecondFix, CreatedUserName, cRepairName, cContactName, cSRPathWay,
			cAssEngineerID, cTechManagerID, cTeamID, cContractID, cSRTypeOne, cSRTypeSec, cSRTypeThr, cSerialID, cMaterialName, cProductNumber) {
			
			var cCompanyID = $("#hid_cLoginUser_BUKRS").val(); //公司別
			$("#dataDiv").html('');

			$.ajax({
				url: '@Url.Action("QuerySRProgressResult", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					cCompanyID: cCompanyID,
					cSRCaseType: cSRCaseType,
					cStatus: cStatus,
					cStartCreatedDate: cStartCreatedDate,
					cEndCreatedDate: cEndCreatedDate,
					cCustomerID: cCustomerID,
					cCustomerName: cCustomerName,
					cSRID: cSRID,
					cDesc: cDesc,
					cIsSecondFix: cIsSecondFix,
					CreatedUserName: CreatedUserName,
					cRepairName: cRepairName,
					cContactName: cContactName,
					cSRPathWay: cSRPathWay,					
					cAssEngineerID: cAssEngineerID,
					cTechManagerID: cTechManagerID,
					cTeamID: cTeamID,
					cContractID: cContractID,
					cSRTypeOne: cSRTypeOne,
					cSRTypeSec: cSRTypeSec,
					cSRTypeThr: cSRTypeThr,
					cSerialID: cSerialID,
					cMaterialName: cMaterialName,
					cProductNumber: cProductNumber
				},
				success: function (result) {
				},
				complete: function (result) {
					$("#dataDiv").html(result.responseText);
					$("#waitingImg").hide();
				}
			});
		}

		//清除
		function clearQuerySRProgress(IsCancelALL) {						
			if (IsCancelALL)
			{
				$('#tbx_cPersonalFilter').val("");
				$('#ddl_cPersonalFilter').val("");
			}

			$("#ddl_cCreatedDate").val("");
			$('#tbx_cStartCreatedDate').val("");
			$('#tbx_cEndCreatedDate').val("");
			$('#tbx_cCustomerID').val("");
			$("#lbl_cCustomerName").html("");
			$('#tbx_cCustomerName').val("");
			$('#tbx_cSRID').val("");
			$('#tbx_cDesc').val("");
			$('#tbx_cContractID').val("");
			$('#ddl_cIsSecondFix').val("");
			$('#tbx_CreatedUserName').val("");
			$('#tbx_cRepairName').val("");		
			$('#tbx_cContactName').val("");
			$('#lbl_cMainEngineerID').html("");			
			$('#tbx_cTechManagerID').val("");
			$('#lbl_cTechManagerID').html("");
			$('#tbx_cSerialID').val("");
			$('#tbx_cMaterialName').val("");
			$('#tbx_cProductNumber').val("");

			$("#ddl_cSRCaseType").val("").trigger('chosen:updated');	//服務案件種類
			$("#ddl_cStatus").val("").trigger('chosen:updated');	//狀態
			$("#ddl_cSRPathWay").val("").trigger('chosen:updated');	//報修管道			
			
			$('#ddl_cSRTypeOne').val("");			
			$('#ddl_cSRTypeSec').empty(); //清空下拉選項
			$('#ddl_cSRTypeThr').empty(); //清空下拉選項

			//清空服務團隊
			$('#hid_cTeamID').val("");
			$('#tbx_cTeamName').val("");
			getpjTeam();

			//清空工程師
			$('#hid_cAssEngineerID').val("");
			$('#tbx_cAssEngineerName').val("");
			getpjAssEngineer();
		}

		//個人查詢條件儲存
		function SavePersonalFilter()
		{
			var tMsg = "";
			var SRSplitText = "＃＃";									//查詢欄位名稱用＃＃隔開
			var SRSplitValue = "＄＄";									//查詢欄位資料用＄＄隔開
			var SRFilter = "";									    //所有查詢條件值
			var SRCaseType = $("#ddl_cSRCaseType").val().join();		//服務案件種類
			var Status = $("#ddl_cStatus").val().join();				//狀態
			var ddl_cCreatedDate = $("#ddl_cCreatedDate");              //派單日期(期間)
			var tbx_cStartCreatedDate = $('#tbx_cStartCreatedDate');		//派單起始日期
			var tbx_cEndCreatedDate = $('#tbx_cEndCreatedDate');		    //派單結束日期
			var tbx_cCustomerID = $('#tbx_cCustomerID');				//客戶代號
			var tbx_cCustomerName = $('#tbx_cCustomerName');			    //客戶名稱
			var tbx_cSRID = $('#tbx_cSRID');							//SRID
			var tbx_cDesc = $('#tbx_cDesc');							//說明
			var ddl_cIsSecondFix = $('#ddl_cIsSecondFix');				//是否為二修
			var tbx_CreatedUserName = $('#tbx_CreatedUserName');		    //派單人員
			var tbx_cRepairName = $('#tbx_cRepairName');				//報修人姓名	
			var tbx_cContactName = $('#tbx_cContactName');				//聯絡人姓名
			var SRPathWay = $("#ddl_cSRPathWay").val().join();			//報修管道			
			var hid_cAssEngineerID = $('#hid_cAssEngineerID');			//工程師ERPID
			var tbx_cTechManagerID = $('#tbx_cTechManagerID');			//技術主管ERPID
			var cTeamID = $("#hid_cTeamID").val();						//服務團隊
			var tbx_cContractID = $('#tbx_cContractID');				//合約文件編號			

			var ddl_cSRTypeOne = $('#ddl_cSRTypeOne');					//報修類別-大類
			var ddl_cSRTypeSec = $('#ddl_cSRTypeSec');					//報修類別-中類
			var ddl_cSRTypeThr = $('#ddl_cSRTypeThr');					//報修類別-小類

			var tbx_cSerialID = $('#tbx_cSerialID');					//報修/裝機序號
			var tbx_cMaterialName = $('#tbx_cMaterialName');				//報修機器型號/裝機料號說明
			var tbx_cProductNumber = $('#tbx_cProductNumber');			//報修Product Number/裝機料號

			if (SRCaseType == "" && Status == "" && tbx_cStartCreatedDate.val() == "" && tbx_cEndCreatedDate.val() == "" &&
				tbx_cCustomerID.val() == "" && tbx_cCustomerName.val() == "" && tbx_cSRID.val() == "" && tbx_cDesc.val() == "" && ddl_cIsSecondFix.val() == "" && tbx_CreatedUserName.val() == "" && tbx_cRepairName.val() == "" && tbx_cContactName.val() == "" && SRPathWay == "" &&
				hid_cAssEngineerID.val() == "" && tbx_cTechManagerID.val() == "" && cTeamID == "" && tbx_cContractID.val() == "" && 
				ddl_cSRTypeOne.val() == "" && tbx_cSerialID.val() == "" && tbx_cMaterialName.val() == "" && tbx_cProductNumber.val() == "" &&
				(ddl_cSRTypeSec.val() == null || ddl_cSRTypeSec.val() == "") && 
				(ddl_cSRTypeThr.val() == null || ddl_cSRTypeThr.val() == "")) {

				tMsg += "請至少輸入一項查詢條件！\n";
			}

			if (tMsg != "") {
				alert(tMsg);				
				return false;
			}
			else {				
				if (SRCaseType != "")
				{
					SRFilter += "ddl_cSRCaseType" + SRSplitValue + SRCaseType + SRSplitText;
				}

				if (Status != "")
				{
					SRFilter += "ddl_cStatus" + SRSplitValue + Status + SRSplitText;
				}

				if (ddl_cCreatedDate.val() != "")
				{
					SRFilter += "ddl_cCreatedDate" + SRSplitValue + ddl_cCreatedDate.val() + SRSplitText;
				}

				if (tbx_cStartCreatedDate.val() != "")
				{
					SRFilter += "tbx_cStartCreatedDate" + SRSplitValue + tbx_cStartCreatedDate.val() + SRSplitText;
				}

				if (tbx_cEndCreatedDate.val() != "")
				{
					SRFilter += "tbx_cEndCreatedDate" + SRSplitValue + tbx_cEndCreatedDate.val() + SRSplitText;
				}

				if (tbx_cCustomerID.val() != "")
				{
					SRFilter += "tbx_cCustomerID" + SRSplitValue + tbx_cCustomerID.val() + SRSplitText;
				}

				if (tbx_cCustomerName.val() != "")
				{
					SRFilter += "tbx_cCustomerName" + SRSplitValue + tbx_cCustomerName.val() + SRSplitText;
				}

				if (tbx_cSRID.val() != "")
				{
					SRFilter += "tbx_cSRID" + SRSplitValue + tbx_cSRID.val() + SRSplitText;
				}

				if (tbx_cDesc.val() != "")
				{
					SRFilter += "tbx_cDesc" + SRSplitValue + tbx_cDesc.val() + SRSplitText;
				}

				if (ddl_cIsSecondFix.val() != "")
				{
					SRFilter += "ddl_cIsSecondFix" + SRSplitValue + ddl_cIsSecondFix.val() + SRSplitText;
				}
				
				if (tbx_CreatedUserName.val() != "")
				{
					SRFilter += "tbx_CreatedUserName" + SRSplitValue + tbx_CreatedUserName.val() + SRSplitText;
				}

				if (tbx_cRepairName.val() != "")
				{
					SRFilter += "tbx_cRepairName" + SRSplitValue + tbx_cRepairName.val() + SRSplitText;
				}

				if (tbx_cContactName.val() != "")
				{
					SRFilter += "tbx_cContactName" + SRSplitValue + tbx_cContactName.val() + SRSplitText;
				}

				if (SRPathWay != "")
				{
					SRFilter += "ddl_cSRPathWay" + SRSplitValue + SRPathWay + SRSplitText;
				}

				if (hid_cAssEngineerID.val() != "")
				{
					SRFilter += "hid_cAssEngineerID" + SRSplitValue + hid_cAssEngineerID.val() + SRSplitText;
				}

				if (tbx_cTechManagerID.val() != "")
				{
					SRFilter += "tbx_cTechManagerID" + SRSplitValue + tbx_cTechManagerID.val() + SRSplitText;
				}

				if (cTeamID != "")
				{
					SRFilter += "hid_cTeamID" + SRSplitValue + cTeamID + SRSplitText;
				}

				if (tbx_cContractID.val() != "")
				{
					SRFilter += "tbx_cContractID" + SRSplitValue + tbx_cContractID.val() + SRSplitText;
				}

				if (ddl_cSRTypeOne.val() != "")
				{
					SRFilter += "ddl_cSRTypeOne" + SRSplitValue + ddl_cSRTypeOne.val() + SRSplitText;
				}

				if (ddl_cSRTypeSec.val() != "" && ddl_cSRTypeSec.val() != null)
				{
					SRFilter += "ddl_cSRTypeSec" + SRSplitValue + ddl_cSRTypeSec.val() + SRSplitText;
				}

				if (ddl_cSRTypeThr.val() != "" && ddl_cSRTypeThr.val() != null)
				{
					SRFilter += "ddl_cSRTypeThr" + SRSplitValue + ddl_cSRTypeThr.val() + SRSplitText;
				}

				if (tbx_cSerialID.val() != "")
				{
					SRFilter += "tbx_cSerialID" + SRSplitValue + tbx_cSerialID.val() + SRSplitText;
				}

				if (tbx_cMaterialName.val() != "")
				{
					SRFilter += "tbx_cMaterialName" + SRSplitValue + tbx_cMaterialName.val() + SRSplitText;
				}

				if (tbx_cProductNumber.val() != "")
				{
					SRFilter += "tbx_cProductNumber" + SRSplitValue + tbx_cProductNumber.val() + SRSplitText;
				}

				DoSavePersonalFilter(SRFilter);
			}
		}

		//執行個人查詢條件儲存
		function DoSavePersonalFilter(SRFilter) 
		{
			var cPersonalFilter = $('#tbx_cPersonalFilter').val();  //另存個人查詢條件為

			if (cPersonalFilter != "")
			{
				$.ajax({
					url: '@Url.Action("DoSavePersonalFilter", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: {
						SRFilter: SRFilter,
						cPersonalFilter: cPersonalFilter
					},
					success: function (result) {
						if (result == "SUCCESS") {
							alert("儲存成功！");
							QuerySRPersonalFilter();
						}
						else
						{
							alert(result);
						}
					}
				});
			}
			else
			{
				alert("另存個人查詢條件不得為空！");
			}
		}

		//呼叫個人查詢條件下拉值
		function QuerySRPersonalFilter()
		{
			var ddl_cPersonalFilter = $('#ddl_cPersonalFilter');	   //個人查詢條件

			//先清空下拉選單選項，才不會一直append
			ddl_cPersonalFilter.empty();						

			$.ajax({
				url: '@Url.Action("QuerySRPersonalFilter", "ServiceRequest")',
				type: 'post',
				dataType: 'json',							
				success: function (result) {
					$.each(result, function (index, obj) {
						ddl_cPersonalFilter.append(
							$('<option></option>').val(obj.value).html(obj.text)
						);
					});
				}
			});
		}

		//個人查詢條件刪除
		function DeletePersonalFilter()
		{
			var reValue = false;
			var tbx_cPersonalFilter = $('#tbx_cPersonalFilter');     //另存個人查詢條件為		
			cPersonalFilter = tbx_cPersonalFilter.val();

			if (cPersonalFilter != "")
			{
				var IsDO = confirm("是否確定要刪除【" + cPersonalFilter + "】個人查詢條件？");			

				if (IsDO)
				{
					$.ajax({
						url: '@Url.Action("DeletePersonalFilter", "ServiceRequest")',
						type: 'post',
						dataType: 'json',
						data: {					
							cPersonalFilter: cPersonalFilter
						},
						success: function (result) {
							if (result == "SUCCESS") {
								alert("刪除成功！");
								QuerySRPersonalFilter();
							}
							else
							{
								alert(result);
							}
						}
					});
				}
			}
			else
			{
				alert("您尚未輸入另存個人查詢條件！");
			}

			return reValue;
		}

		//個人查詢條件onChange事件
		function onChangePersonalFilter()
		{
			var ddl_cPersonalFilter = $('#ddl_cPersonalFilter');	    //個人查詢條件
			var tbx_cPersonalFilter = $('#tbx_cPersonalFilter');     //另存個人查詢條件為

			tbx_cPersonalFilter.val(ddl_cPersonalFilter.val());

			$.ajax({
				url: '@Url.Action("QuerySRPersonalFilterValue", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {					
					cPersonalFilter: ddl_cPersonalFilter.val()
				},
				success: function (result) {
					if (result != "") {
						clearQuerySRProgress(false);						
						ImportPersonalFilter(result);
					}					
				}
			});
		}	

		//帶入查詢條件(cPersonalFilter.所有查詢條件值)
		function ImportPersonalFilter(cPersonalFilter)
		{
			var ArryColumn = cPersonalFilter.split('＃＃');

			ArryColumn.forEach(function (item, i) {
				var ArryValue = item.split('＄＄');
				var FieldName = ArryValue[0];
				var FieldValue = ArryValue[1];

				ShowPersonalFilter(FieldName, FieldValue);
			});
		}

		//顯示相關查詢條件到畫面上
		//FieldName.欄位名稱 FieldValue.欄位值
		function ShowPersonalFilter(FieldName,FieldValue)
		{
			if (FieldName == "ddl_cSRCaseType") //服務案件種類
			{
				var array = FieldValue.split(',');
				$("#ddl_cSRCaseType").val(array).trigger('chosen:updated');
			}

			if (FieldName == "ddl_cStatus") //狀態
			{
				var array = FieldValue.split(',');
				$("#ddl_cStatus").val(array).trigger('chosen:updated');
			}

			if (FieldName == "ddl_cCreatedDate") //派單日期(期間)
			{				
				$("#ddl_cCreatedDate").val(FieldValue);
			}

			if (FieldName == "tbx_cStartCreatedDate") //派單起始日期
			{				
				$("#tbx_cStartCreatedDate").val(FieldValue);
			}

			if (FieldName == "tbx_cEndCreatedDate") //派單結束日期
			{				
				$("#tbx_cEndCreatedDate").val(FieldValue);
			}

			if (FieldName == "tbx_cCustomerID") //客戶代號
			{
				$("#tbx_cCustomerID").val(FieldValue);
			}

			if (FieldName == "tbx_cCustomerName") //客戶名稱
			{
				$("#tbx_cCustomerName").val(FieldValue);
			}

			if (FieldName == "tbx_cSRID") //SRID
			{
				$("#tbx_cSRID").val(FieldValue);
			}

			if (FieldName == "tbx_cDesc") //說明
			{
				$("#tbx_cDesc").val(FieldValue);
			}

			if (FieldName == "ddl_cIsSecondFix") //是否為二修
			{
				$("#ddl_cIsSecondFix").val(FieldValue);
			}

			if (FieldName == "tbx_CreatedUserName") //派單人員
			{
				$("#tbx_CreatedUserName").val(FieldValue);
			}

			if (FieldName == "tbx_cRepairName") //報修人姓名
			{
				$("#tbx_cRepairName").val(FieldValue);
			}

			if (FieldName == "tbx_cContactName") //聯絡人姓名
			{
				$("#tbx_cContactName").val(FieldValue);
			}

			if (FieldName == "ddl_cSRPathWay") //報修管道
			{
				var array = FieldValue.split(',');
				$("#ddl_cSRPathWay").val(array).trigger('chosen:updated');
			}

			if (FieldName == "hid_cAssEngineerID") //工程師ERPID
			{
				$("#hid_cAssEngineerID").val(FieldValue);				
				getpjAssEngineer();
			}

			if (FieldName == "tbx_cTechManagerID") //技術主管
			{
				$("#tbx_cTechManagerID").val(FieldValue);
			}

			if (FieldName == "hid_cTeamID") //服務團隊
			{
				$("#hid_cTeamID").val(FieldValue);
				getpjTeam();
			}

			if (FieldName == "tbx_cContractID") //合約文件編號
			{
				$("#tbx_cContractID").val(FieldValue);
			}

			if (FieldName == "ddl_cSRTypeOne") //報修類別-大類
			{
				$("#ddl_cSRTypeOne").val(FieldValue);
				onChangecSRTypeOne();
			}

			if (FieldName == "ddl_cSRTypeSec") //報修類別-中類
			{
				setTimeout(function () {
					$("#ddl_cSRTypeSec").val(FieldValue);
					onChangecSRTypeSec();
				}, 300);
			}

			if (FieldName == "ddl_cSRTypeThr") //報修類別-小類
			{
				setTimeout(function () {
					$("#ddl_cSRTypeThr").val(FieldValue);
				}, 500);				
			}

			if (FieldName == "tbx_cSerialID") //報修/裝機序號
			{
				$("#tbx_cSerialID").val(FieldValue);
			}

			if (FieldName == "tbx_cMaterialName") //報修機器型號/裝機料號說明
			{
				$("#tbx_cMaterialName").val(FieldValue);
			}

			if (FieldName == "tbx_cProductNumber") //報修Product Number/裝機料號
			{
				$("#tbx_cProductNumber").val(FieldValue);
			}
		}

		//派單日期(期間)onChange事件
		function onChangeCreatedDate()
		{
			var tbx_cStartCreatedDate = $('#tbx_cStartCreatedDate');		//派單起始日期
			var tbx_cEndCreatedDate = $('#tbx_cEndCreatedDate');		    //派單結束日期
			var cCreatedDate = $("#ddl_cCreatedDate").val();			//派單日期(期間)

			if (cCreatedDate != "")
			{
				$.ajax({
					url: '@Url.Action("findCreatedDateRange", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: {					
						cCreatedDate: cCreatedDate
					},
					success: function (result) {
						tbx_cStartCreatedDate.val(result[0]);
						tbx_cEndCreatedDate.val(result[1]);
					}
				});
			}
			else
			{
				tbx_cStartCreatedDate.val("");
				tbx_cEndCreatedDate.val("");
			}
		}
	</script>
}

	@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>服務進度查詢作業</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">服務管理系統參數設定</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>服務進度查詢作業</strong>
			</li>
		</ol>
	</div>
}

	<div class="row">

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>
						服務進度查詢作業						
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					@model OneService.Controllers.ServiceRequestController.ViewModelQuerySRProgress //載入StatusViewModel
					<form id="form1" name="form" action='#' method="post">						
						<!--登人者公司別(Comp-1、Comp-2...)-->
						<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
						<!--登人者公司別(T012、T016...)-->
						<input type="hidden" id="hid_cLoginUser_BUKRS" name="hid_cLoginUser_BUKRS" value="@ViewBag.cLoginUser_BUKRS">
						<div class="form-group row">							
							<label class="col-lg-2 col-form-label">個人查詢條件</label>
							<div class="col-lg-4">
								@Html.DropDownList("ddl_cPersonalFilter", (IEnumerable<SelectListItem>)ViewBag.ddl_cPersonalFilter, new { @class = "form-control", @onchange = "javascript:onChangePersonalFilter();" })
							</div>	
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">派單日期(期間)</label>
							<div class="col-lg-4">
								@Html.DropDownList("ddl_cCreatedDate", (IEnumerable<SelectListItem>)ViewBag.ddl_cCreatedDate, new { @class = "form-control", @onchange = "javascript:onChangeCreatedDate();" })
							</div>						
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">派單日期(建立日期)</label>
							<div class="input-group col-md-10 col-lg-6">
								<span class="input-group-addon">起</span>
								<input type="text" name="tbx_cStartCreatedDate" id="tbx_cStartCreatedDate" class="calendar form-control" placeholder="起始日期"><span class="input-group-addon">迄</span>
								<input type="text" name="tbx_cEndCreatedDate" id="tbx_cEndCreatedDate" class="calendar form-control" placeholder="結束日期">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">服務案件種類</label>
							<div class="col-lg-4">								
								@Html.DropDownList("ddl_cSRCaseType", (IEnumerable<SelectListItem>)ViewBag.ddl_cSRCaseType, new { @class = "form-control chosen-select", @multiple = "true", @data_placeholder = "請選擇服務案件種類" })
							</div>
							<label class="col-lg-2 col-form-label">狀態</label>
							<div class="col-lg-4">
								@Html.DropDownList("ddl_cStatus", (IEnumerable<SelectListItem>)ViewBag.ddl_cStatus, new { @class = "form-control chosen-select", @multiple = "true", @data_placeholder = "請選擇狀態" })
							</div>
						</div>						
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">客戶代號</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cCustomerID" id="tbx_cCustomerID" class="form-control CustName" placeholder="請輸入客戶名稱或統編的關鍵字">
								<label id="lbl_cCustomerName" class="col-form-label" style="color:blue;"></label>
							</div>
							<label class="col-lg-2 col-form-label">客戶名稱</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cCustomerName" id="tbx_cCustomerName" class="form-control" placeholder="客戶名稱">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">SRID</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSRID" id="tbx_cSRID" class="form-control" placeholder="SRID">
							</div>
							<label class="col-lg-2 col-form-label">說明</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_cDesc" name="tbx_cDesc" class="form-control" placeholder="若有輸入說明，最大限制1,000筆">
							</div>	
						</div>
						<div class="form-group row">							
							<label class="col-lg-2 col-form-label">派單人員</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_CreatedUserName" id="tbx_CreatedUserName" class="form-control" placeholder="派單人員">
							</div>							
						</div>
						<div class="form-group row">														
							<label class="col-lg-2 col-form-label">報修人姓名</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cRepairName" id="tbx_cRepairName" class="form-control" placeholder="客戶報修人姓名">
							</div>
							<label class="col-lg-2 col-form-label">聯絡人姓名</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cContactName" id="tbx_cContactName" class="form-control" placeholder="聯絡人姓名">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">服務團隊</label>
							<div class="col-lg-10 col-sm-10 input-group">
								<input type="hidden" id="hid_cTeamID" name="hid_cTeamID" value="@ViewBag.cTeamID">
								<input id="tbx_cTeamName" name="tbx_cTeamName" type="text" class="form-control labelDisabled" placeholder="服務團隊" disabled>
								<div class="input-group-append">
									<button id="btn_pjTeam" class="btn btn-primary" type="button">
										<i class="fa fa-user-plus" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">工程師ERPID</label>
							<div class="col-lg-10 col-sm-10 input-group">
								<input type="hidden" id="hid_cAssEngineerID" name="hid_cAssEngineerID" value="@ViewBag.cAssEngineerID">
								<input id="tbx_cAssEngineerName" name="tbx_cAssEngineerName" type="text" class="form-control labelDisabled" placeholder="工程師ERPID" disabled>
								<div class="input-group-append">
									<button id="btn_pjAssEngineer" class="btn btn-primary" type="button">
										<i class="fa fa-user-plus" aria-hidden="true"></i>
									</button>
								</div>
							</div>													
						</div>
						<div class="form-group row">							
							<label class="col-lg-2 col-form-label">技術主管ERPID</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cTechManagerID" id="tbx_cTechManagerID" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋">
								<label id="lbl_cTechManagerID" class="col-form-label" style="color:blue;"></label>
							</div>
							<label class="col-lg-2 col-form-label">報修管道</label>
							<div class="col-lg-4">								
								@Html.DropDownList("ddl_cSRPathWay", (IEnumerable<SelectListItem>)ViewBag.ddl_cSRPathWay, new { @class = "form-control chosen-select", @multiple = "true", @data_placeholder = "請選擇報修管道" })
							</div>	
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">報修類別</label>
							<div class="col-lg-4">
								@Html.DropDownList("ddl_cSRTypeOne", (IEnumerable<SelectListItem>)ViewBag.SRTypeOneList, new { @class = "form-control", @onchange = "javascript:onChangecSRTypeOne();" })
								@Html.DropDownList("ddl_cSRTypeSec", (IEnumerable<SelectListItem>)ViewBag.SRTypeSecList, new { @class = "form-control", @onchange = "javascript:onChangecSRTypeSec();" })
								@Html.DropDownList("ddl_cSRTypeThr", (IEnumerable<SelectListItem>)ViewBag.SRTypeThrList, new { @class = "form-control" })
							</div>
							<label class="col-lg-2 col-form-label">是否為二修</label>
							<div class="col-lg-4">
								<select asp-for="ddl_cIsSecondFix" asp-items="Model.ListIsSecondFix" class="form-control"></select>
							</div>
						</div>	
						<div class="form-group row">							
							<label class="col-lg-2 col-form-label">合約文件編號</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_cContractID" name="tbx_cContractID" class="form-control" placeholder="合約文件編號">
							</div>							
						</div>
						<div class="form-group row">							
							<label class="col-lg-2 col-form-label">報修/裝機序號</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cSerialID" id="tbx_cSerialID" class="form-control" placeholder="報修/裝機序號">
							</div>
							<label class="col-lg-2 col-form-label">報修機器型號/裝機料號說明</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cMaterialName" id="tbx_cMaterialName" class="form-control" placeholder="報修機器型號/裝機料號說明">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">報修Product Number/裝機料號</label>
							<div class="col-lg-4">
								<input type="text" name="tbx_cProductNumber" id="tbx_cProductNumber" class="form-control" placeholder="報修Product Number/裝機料號">
							</div>
						</div>						
						<div class="hr-line-dashed"></div>
						<div class="form-group row">
							<button class="btn btn-success btn-lg" type="button" onclick="if (!Query()) { return false; }"><i class="fa fa-search"></i> 查 詢 </button>
							<button class="btn btn-default btn-lg" type="button" onclick="clearQuerySRProgress(true);"><i class="fa fa-trash"></i> 清 除 </button>
							<img id="waitingImg" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label class="col-form-label">另存個人查詢條件為：</label>
							<input type="text" name="tbx_cPersonalFilter" id="tbx_cPersonalFilter" class="form-control" style="width:250px;" placeholder="請輸入定義名稱">
							<button class="btn btn-info btn-lg" type="button" onclick="if (!SavePersonalFilter()) { return false; }"><i class="fa fa-floppy-o"></i> 儲 存 </button>
							<button class="btn btn-danger btn-lg" type="button" onclick="if (!DeletePersonalFilter()) { return false; }"><i class="fa fa-floppy-o"></i> 刪 除 </button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>服務進度查詢結果</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content" id="dataDiv" style="overflow: scroll">
					<table id="tableAll" class="table table-striple table-bordered table-hover dataTables-example">
						<thead>
							<tr>
								<th>SRID</th>
								<th>客戶</th>
								<th>客戶報修人</th>
								<th>客戶聯絡人</th>
								<th>說明</th>
								<th>延遲結案原因</th>
								<th>報修/裝機序號相關明細</th>
								<th>服務團隊</th>
								<th>報修管道</th>
								<th>報修類別</th>
								<th>主要工程師</th>
								<th>協助工程師</th>
								<th>合約文件編號</th>
								<th>派單人員</th>
								<th>派單日期</th>
								<th>最後編輯日期</th>
								<th>狀態</th>
							</tr>
						</thead>
						<tbody>
							@{
								if (ViewBag.QueryToListBean != null)
								{
									foreach (string[] QueryInfo in ViewBag.QueryToListBean)
									{
																																					<tr>
																																						<td><a href="@QueryInfo[1]" target="_blank">@QueryInfo[0]</a></td>
																																						<td>@Html.Raw(QueryInfo[2])</td>
																																						<td>@Html.Raw(QueryInfo[3])</td>						
																																						<td>@Html.Raw(QueryInfo[4])</td>
																																						<td>@Html.Raw(QueryInfo[5])</td>
																																						<td>@Html.Raw(QueryInfo[6])</td>
																																						<td>@Html.Raw(QueryInfo[7])</td>
																																						<td>@Html.Raw(QueryInfo[8])</td>
																																						<td>@Html.Raw(QueryInfo[9])</td>
																																						<td>@Html.Raw(QueryInfo[10])</td>
																																						<td>@Html.Raw(QueryInfo[12])</td>
																																						<td>@Html.Raw(QueryInfo[13])</td>
																																						<td>@Html.Raw(QueryInfo[19])</td>
																																						<td>@Html.Raw(QueryInfo[15])</td>
																																						<td>@Html.Raw(QueryInfo[16])</td>
																																						<td>@Html.Raw(QueryInfo[17])</td>
																																						<td>@Html.Raw(QueryInfo[18])</td>
																																					</tr>
									}
								}
							}
						</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!--服務團隊彈出視窗-->
<div class="modal fade" id="dialog_pjTeam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<label class="col-form-label"><i class="fa fa-users"></i> 服務團隊設定</label>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row">						
					<label class="col-lg-2 col-form-label">服務團隊名稱</label>
					<div class="input-group col-sm-10 col-lg-6" style="height: 36px;">							
						@Html.DropDownList("ddl_cTeamID", (IEnumerable<SelectListItem>)ViewBag.SRTeamIDList, new { @class = "form-control" })
					</div>					
				</div>
				<div class="form-group row">
					<div class="col-lg-12">
						<button id="btn_savepjTeam" class="btn btn-primary col-lg-4 col-xs-4" type="button" onclick="savepjTeam();">
							<i class="fa fa-save" style="margin-right: 4px;"></i> 儲 存
						</button>&nbsp;&nbsp;&nbsp;
						<button id="btn_getpjPersonallyTeam" class="btn btn-warning col-lg-4 col-xs-4" type="button" onclick="getpjPersonallyTeam();">
							<i class="fa fa-upload" style="margin-right: 4px;"></i> 帶入個人常用服務團隊
						</button>
						<img id="img_waiting_savepjPersonallyTeam" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:6px" alt="">
					</div>
				</div>
			</div>
			<hr style="border: 1px solid lightgray; width: 98%;" />
			<div class="col-lg-12">
				<button id="btn_savepjPersonallyTeam" class="btn btn-success col-lg-4 col-xs-4" type="button" onclick="savepjPersonallyTeam();">
					<i class="fa fa-download" style="margin-right: 4px;"></i> 儲存下方清單至個人常用服務團隊
				</button>&nbsp;&nbsp;&nbsp;
			</div>
			<div class="modal-body" id="tb_pjTeam" style="overflow: scroll;">

			</div>
		</div>
	</div>
</div>

<!--工程師彈出視窗-->
<div class="modal fade" id="dialog_pjAssEngineer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<label class="col-form-label"><i class="fa fa-users"></i> 工程師設定</label>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row">						
					<label class="col-lg-2 col-form-label">工程師姓名</label>
					<div class="input-group col-sm-10 col-lg-6" style="height: 36px;">
						<input type="hidden" id="hid_pjAssEngineerAcc" />
						<input type="text" id="tbx_pjAssEngineerName" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋">
					</div>
				</div>
				<div class="form-group row">					
					<div class="col-lg-12">
						<button id="btn_savepjAssEngineer" class="btn btn-primary col-lg-4 col-xs-4" type="button" onclick="savepjAssEngineer();">
							<i class="fa fa-save" style="margin-right: 4px;"></i> 儲 存
						</button>&nbsp;&nbsp;&nbsp;						
						<button id="btn_getpjPersonallyEngineer" class="btn btn-warning col-lg-4 col-xs-4" type="button" onclick="getpjPersonallyEngineer();">
							<i class="fa fa-upload" style="margin-right: 4px;"></i> 帶入個人常用工程師
						</button>
						<img id="img_waiting_savepjAssEngineer" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:6px" alt="">
					</div>
				</div>
			</div>
			<hr style="border: 1px solid lightgray; width: 98%;" />
			<div class="col-lg-12">
				<button id="btn_savepjPersonallyEngineer" class="btn btn-success col-lg-4 col-xs-4" type="button" onclick="savepjPersonallyEngineer();">
					<i class="fa fa-download" style="margin-right: 4px;"></i> 儲存下方清單至個人常用工程師
				</button>&nbsp;&nbsp;&nbsp;
			</div>			
			<div class="modal-body" id="tb_pjAssEngineer" style="overflow: scroll;">

			</div>
		</div>
	</div>
</div>