@{
	ViewData["Title"] = "SRCustomerEmailMapping";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		$(document).ready(function () {
			initTable();
			SRCustomerSearch();
			CustSearch();
			ContactInfoSearch();
		});

		function initTable() {
			var buttonCommon = {
				exportOptions: {
					format: {
						body: function (data, row, column, node) {
							//替換&符號
							var translate_re = /&(nbsp|amp|quot|lt|gt);/g,
								translate = {
									'nbsp': String.fromCharCode(160),
									'amp': '&',
									'quot': '"',
									'lt': '<',
									'gt': '>'
								},
								translator = function ($0, $1) {
									return translate[$1];
								};

							if (typeof data === 'string')
								data = data.replace(translate_re, translator);

							return data;
						}
					}
				}
			};

			$('#tableAll').DataTable({
				language: {
					"lengthMenu": "每頁顯示筆數 _MENU_ ",
					"info": "顯示第 _START_ 到 _END_ 筆，全部共 _TOTAL_ 筆",
					"search": " 關鍵字篩選"
				},
				pageLength: 25,
				responsive: true,
				order: [[0, "desc"]],
				dom: '<"top"i><"wrapper"Blfrtip>', //Blfrtip =>可顯示筆數
				buttons: [
					$.extend(true, {}, buttonCommon, {
						extend: 'excelHtml5',
						title: '客戶Email對照設定檔作業_' + new Date().toISOString().slice(0, 10).replace("-", "").replace("-", ""),
						text: '匯出Excel',
						sheetName: '客戶Email對照設定檔作業',
						exportOptions: {
							columns: [1, 2, 3, 4, 5, 6, 7, 8, 9] //要顯示的欄位
						},
						customize: function (xlsx) {
							var sheet = xlsx.xl.worksheets['sheet1.xml'];

							$('row c[r^="A"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="B"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="C"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="D"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="E"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="F"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="G"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="H"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="I"]', sheet).attr('s', '0');	//設成文字格式
						}
					}),
				],
			});

			$("#tableAll_wrapper .dt-buttons.btn-group").css("float", "right"); //匯出excel按鈕位置靠右
		}

		//Ajax用關鍵字查詢客戶Email對照的客戶代號
		function SRCustomerSearch() {
			$(".QuerycCustomerID").unbind();

			$(".QuerycCustomerID").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);

							$.ajax({
								url: '@Url.Action("AjaxfindSRCustomerEmailByKeyword", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: {
									functionName: 'AjaxfindSRCustomerEmailByKeyword', keyword: keyword
								},
								success: function (result) {
									objects = [];
									$.each(result, function (i, idata) {
										objects[i] = {
											label: idata.cCustomerId + "\\" + idata.cCustomerName,
											idx: i,
											value: idata.cCustomerId   //value這個值，一定要在label裡才能顯示出下拉
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: objects,
										select: function (event, ui) {
										}
									}).bind('focus', function () { obj.autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
								}
							})

						}
					}
				}
			})
		}

		//SAP客戶代號/客戶名稱查詢
		//compcde(Comp-1.大世科 Comp-2.群輝 Comp-3.上海 Comp-4.協志)
		function CustSearch() {
			var compcde = $("#hid_cLoginUser_CompCode").val();

			$(".CustName").unbind();

			$(".CustName").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							$.ajax({
								url: '@Url.Action("findCustByKeywordAndComp", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: { functionName: 'findCustByKeywordAndComp', keyword: keyword, compcde: compcde },
								success: function (result) {
									Customers = [];
									$.each(result, function (i, idata) {
										Customers[i] = {
											label: idata.Kna1Kunnr + "\\" + idata.Kna1Name1, //顯示在清單的東西
											idx: i,
											value: idata.Kna1Kunnr,
											Name: idata.Kna1Name1 //這個是要填入textbox的值
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: Customers,
										select: function (event, ui) {
											$("#tbx_cCustomerName").val(ui.item.Name);
										}
									}).bind('focus', function () { $(this).autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
									$(".ui-autocomplete").css({ 'z-index': '2051', 'font-size': '16px' }); //可以正常顯示關鍵字查詢
								}
							})
						}
					}

				}
			})
		}

		//客戶聯絡人資訊查詢
		function ContactInfoSearch() {
			var compcde = $("#hid_cLoginUser_CompCode").val();
			var cBUKRS = $("#hid_cLoginUser_BUKRS").val();		//公司別
			var tbx_cCustomerID = $("#tbx_cCustomerID");		//客戶代號			
			var tbx_cContactName = $("#tbx_cContactName");		//客戶聯絡人姓名
			var tbx_cContactPhone = $("#tbx_cContactPhone");		//客戶聯絡人電話
			var tbx_cContactMobile = $("#tbx_cContactMobile");	//客戶聯絡人手機
			var tbx_cContactEmail = $("#tbx_cContactEmail");		//客戶聯絡人E-Mail

			$(".ContactInfo").unbind();

			$(".ContactInfo").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {

						if (tbx_cCustomerID.val() == "") {
							alert("您尚未輸入客戶代號！");
						}
						else
						{
							var keyword = $(this).val();
							if (keyword.length > 1) {
								var obj = $(this);
								$.ajax({
									url: '@Url.Action("findContactInfoByKeywordAndComp", "ServiceRequest")',
									type: 'post',
									dataType: 'json',
									data: { 
										functionName: 'findContactInfoByKeywordAndComp',
										cBUKRS: cBUKRS,
										CustomerID: tbx_cCustomerID.val(),
										ContactName: tbx_cContactName.val()
									},
									success: function (result) {
										Customers = [];
										$.each(result, function (i, idata) {
											Customers[i] = {
												label: idata.name + "\\" + idata.email, //顯示在清單的東西
												idx: i,
												value: idata.name, //這個是要填入textbox的值
												Phone: idata.phone,
												Mobile: idata.mobile,
												Email: idata.email,
											};
										});

										//綁定foucs事件
										obj.autocomplete({
											source: Customers,
											select: function (event, ui) {												
												tbx_cContactPhone.val(ui.item.Phone);
												tbx_cContactMobile.val(ui.item.Mobile)
												tbx_cContactEmail.val(ui.item.Email);
											}
										}).bind('focus', function () { $(this).autocomplete("search"); });

										//開啟autocomplete選單
										obj.focus();
										$(".ui-autocomplete").css({ 'z-index': '2051', 'font-size': '16px' }); //可以正常顯示關鍵字查詢
									}
								})
							}
						}
					}

				}
			})
		}

		//儲存明細
		function saveCustomerEmail() {
			var strMsg = "";
			var cType = $("#hid_cType").val();					//目前狀態
			var IsDo = $("#hid_IsDoADD");						//是否已執行新增存檔過(Y.已執行 空白.未執行)

			var hid_cID = $("#hid_cID");						//系統ID
			var tbx_cCustomerID = $("#tbx_cCustomerID");		//客戶代號
			var tbx_cCustomerName = $("#tbx_cCustomerName");		//客戶名稱
			var ddl_cTeamID = $("#ddl_cTeamID");				//服務團隊ID
			var tbx_cEmailID = $("#tbx_cEmailID");				//Email網域名稱
			var tbx_cContactName = $("#tbx_cContactName");		//客戶聯絡人姓名
			var tbx_cContactPhone = $("#tbx_cContactPhone");		//客戶聯絡人電話
			var tbx_cContactMobile = $("#tbx_cContactMobile");	//客戶聯絡人手機
			var tbx_cContactEmail = $("#tbx_cContactEmail");		//客戶聯絡人E-Mail

			if (tbx_cCustomerID.val() == "") {
				strMsg += "客戶代號不得為空！\n";
			}

			if (tbx_cCustomerName.val() == "") {
				strMsg += "客戶名稱不得為空！\n";
			}

			if (ddl_cTeamID.val() == "") {
				strMsg += "請選擇服務團隊ID！\n";
			}

			if (tbx_cEmailID.val() == "") {
				strMsg += "Email網域名稱不得為空！\n";
			}

			if (tbx_cContactName.val() == "") {
				strMsg += "客戶聯絡人姓名不得為空！\n";
			}

			if (tbx_cContactPhone.val() == "") {
				strMsg += "客戶聯絡人電話不得為空！\n";
			}

			if (tbx_cContactEmail.val() == "") {
				strMsg += "客戶聯絡人E-Mail不得為空！\n";
			}

			if (strMsg != "") {
				alert(strMsg);
			}
			else {
				$("#btn_saveCustomerEmail").hide();
				$("#img_waiting_saveCustomerEmail").show();
				$.ajax({
					url: '@Url.Action("saveCustomerEmail", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: {
						cID: hid_cID.val(),
						cCustomerID: tbx_cCustomerID.val(),
						cCustomerName: tbx_cCustomerName.val(),
						cTeamID: ddl_cTeamID.val(),
						cEmailID: tbx_cEmailID.val(),
						cContactName: tbx_cContactName.val(),
						cContactPhone: tbx_cContactPhone.val(),
						cContactMobile: tbx_cContactMobile.val(),
						cContactEmail: tbx_cContactEmail.val()
					},
					success: function (result) {
						if (result == "") {
							alert("儲存成功");
							$("#dialog_pCustomerEmail").modal('hide');

							if (cType == "ADD") {
								IsDo.val("Y");
							}
							else {
								IsDo.val("");
							}

							Query();
						}
						else {
							alert(result);
						}
						$("#img_waiting_saveCustomerEmail").hide();
						$("#btn_saveCustomerEmail").show();
					},
				});
			}
		}

		//刪除
		function deleteCustomerEmail(rowId, cID) {
			if (confirm("確定刪除？")) {
				$.ajax({
					url: '@Url.Action("DeleteSRCustomerEmailMapping", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: { cID: cID },
					success: function (result) {
						if (result > 0) {
							$('#' + rowId).remove();
						}
					}
				})
			}
		}

		//新增
		function btn_add_pCustomerEmailonclick() {
			$("#hid_cType").val("ADD");	//目前狀態
			$("#hid_cID").val("");		//清空系統ID			

			resetPopup("#dialog_pCustomerEmail"); //popup各欄位reset

			$("#tbx_cCustomerID").removeAttr("disabled");	//客戶代號
			$("#ddl_cTeamID").removeAttr("disabled");		//服務團隊ID
			$("#ddl_cTeamID").val("");
			$("#tbx_cContactName").removeAttr("disabled");	//客戶聯絡人姓名
			$("#tbx_cContactPhone").attr('disabled', true);
			$("#tbx_cContactMobile").attr('disabled', true);
			$("#tbx_cContactEmail").attr('disabled', true);

			$("#dialog_pCustomerEmail .dropzone").show();
			$("#dialog_pCustomerEmail").modal('show');
		}

		//修改
		function EditCustomerEmailDialog(obj, cID) {
			$("#hid_cType").val("EDIT");	//目前狀態
			$("#hid_IsDoADD").val("");	//清空是否已執行新增存檔過(Y.已執行 空白.未執行)

			resetPopup("#dialog_pCustomerEmail"); //popup各欄位reset			

			var hid_cID = $("#hid_cID");						//系統ID
			var tbx_cCustomerID = $("#tbx_cCustomerID");		//客戶代號
			var tbx_cCustomerName = $("#tbx_cCustomerName");		//客戶名稱
			var ddl_cTeamID = $("#ddl_cTeamID");				//服務團隊ID
			var tbx_cEmailID = $("#tbx_cEmailID");				//Email網域名稱
			var tbx_cContactName = $("#tbx_cContactName");		//客戶聯絡人姓名
			var tbx_cContactPhone = $("#tbx_cContactPhone");		//客戶聯絡人電話
			var tbx_cContactMobile = $("#tbx_cContactMobile");	//客戶聯絡人手機
			var tbx_cContactEmail = $("#tbx_cContactEmail");		//客戶聯絡人E-Mail

			tbx_cCustomerID.attr('disabled', true);
			ddl_cTeamID.attr('disabled', true);			
			tbx_cContactPhone.attr('disabled', true);
			tbx_cContactMobile.attr('disabled', true);
			tbx_cContactEmail.attr('disabled', true);

			//設定各欄位資料
			hid_cID.val(cID);
			tbx_cCustomerID.val($(obj).parent().parent().find('.tdcCustomerID').text());
			tbx_cCustomerName.val($(obj).parent().parent().find('.tdcCustomerName').text());
			ddl_cTeamID.val($(obj).parent().parent().find('.tdcTeamID').text());
			tbx_cEmailID.val($(obj).parent().parent().find('.tdcEmailID').text());
			tbx_cContactName.val($(obj).parent().parent().find('.tdcContactName').text());
			tbx_cContactPhone.val($(obj).parent().parent().find('.tdcContactPhone').text());
			tbx_cContactMobile.val($(obj).parent().parent().find('.tdcContactMobile').text());
			tbx_cContactEmail.val($(obj).parent().parent().find('.tdcContactEmail').text());

			$("#dialog_pCustomerEmail .dropzone").show();
			$("#dialog_pCustomerEmail").modal('show');
		}

		//popup各欄位reset
		function resetPopup(popupId) {
			var cType = $("#hid_cType").val();		//ADD.新增 EDIT.編輯
			var cIsDo = $("#hid_IsDoADD").val();	//是否已執行新增存檔過(Y.已執行 空白.未執行)

			if (cType == "ADD" && cIsDo == "Y") {
				//不做事
			}
			else {
				$(popupId).find("input").each(function (index, value) {
					$(this).val("");
				});
				$(popupId).find("select").each(function (index, value) {
					$(this).val("-1");
				});
			}

			$(popupId).find("textarea").each(function (index, value) {
				$(this).val("");
			});
			$(popupId).find(".file-box").each(function (index, value) {
				$(this).remove();
			});
		}

		//查詢
		function Query() {
			$("#waitingImg").show();

			var tMsg = "";
			var tbx_QuerycCustomerID = $("#tbx_QuerycCustomerID");	//客戶代號
			var ddl_cQueryTeamID = $("#ddl_cQueryTeamID");			//服務團隊ID

			if (tMsg != "") {
				alert(tMsg);
				$("#waitingImg").hide();
				return false;
			}
			else {
				searchCustomerEmail(tbx_QuerycCustomerID.val(), ddl_cQueryTeamID.val());
			}

			return true;
		}

		//查詢結果
		function searchCustomerEmail(cCustomerID, cTeamID) {
			$("#dataDiv").html('');
			$.ajax({
				url: '@Url.Action("SRCustomerEmailMappingResult", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					cCustomerID: cCustomerID,
					cTeamID: cTeamID
				},
				success: function (result) {
				},
				complete: function (result) {
					$("#dataDiv").html(result.responseText);
					$("#waitingImg").hide();
				}
			});
		}

		//清除
		function clearCustomerEmail() {
			$("#tbx_QuerycCustomerID").val("");
			$('#ddl_cQueryTeamID').val("");
		}
	</script>
}

	@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>客戶Email對照設定作業</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">服務管理系統參數設定</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>客戶Email對照設定作業</strong>
			</li>
		</ol>
	</div>
}

	<div class="row">

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>
						客戶Email對照設定作業
						<button id="btn_add_pNA" class="btn btn-success" type="button" style="margin-left: 10px;" onclick="btn_add_pCustomerEmailonclick();"><i class="fa fa-plus" style="margin-right: 5px;"></i>新增</button>
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					@model OneService.Controllers.ServiceRequestController.ViewModelTeam //載入StatusViewModel
					<form id="form1" name="form" action='#' method="post">
						<!--目前狀態 ADD.新增 or EDIT.編輯-->
						<input type="hidden" id="hid_cType" />
						<!--是否已經執行過新增存檔，用來判斷下次新增的時候，會預設帶上一次的值-->
						<input type="hidden" id="hid_IsDoADD" />
						<!--登人者公司別-->
						<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
						<!--登人者工廠別-->
						<input type="hidden" id="hid_cLoginUser_BUKRS" name="hid_cLoginUser_BUKRS" value="@ViewBag.cLoginUser_BUKRS">
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">客戶代號</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QuerycCustomerID" name="tbx_QuerycCustomerID" class="form-control QuerycCustomerID" placeholder="請輸入客戶ID或名稱關鍵字">
							</div>
							<label class="col-lg-2 col-form-label">服務團隊ID</label>
							<div class="col-lg-4">
								<select asp-for="ddl_cQueryTeamID" asp-items="Model.ListTeamID" class="form-control"></select>
							</div>
						</div>
						<div class="form-group row">
							<button class="btn btn-success btn-lg" type="button" onclick="if (!Query()) { return false; }"><i class="fa fa-search"></i> 查 詢 </button>
							<button class="btn btn-default btn-lg" type="button" onclick="clearCustomerEmail();"><i class="fa fa-trash"></i> 清 除 </button>
							<img id="waitingImg" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>客戶Email對照設定作業查詢結果</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content" id="dataDiv" style="overflow: scroll">
					<table id="tableAll" class="table table-striple table-bordered table-hover dataTables-example">
						<thead>
							<tr>
								<th></th>
								<th>客戶代號</th>
								<th>客戶名稱</th>
								<th>服務團隊ID</th>
								<th>服務團隊名稱</th>
								<th>Email網域名稱</th>
								<th>客戶聯絡人姓名</th>
								<th>客戶聯絡人電話</th>
								<th>客戶聯絡人手機</th>
								<th>客戶聯絡人E-Mail</th>
							</tr>
						</thead>
						<tbody>
							@{
								if (ViewBag.QueryToListBean != null)
								{
									int count = 0;
									foreach (string[] QueryInfo in ViewBag.QueryToListBean)
									{
										count++;
										<tr id='tr@(count)'>
											<td style="width:100px;">
												<button class="btn btn-info" type="button" onclick="EditCustomerEmailDialog(this, '@Html.Raw(QueryInfo[0])')" title="修改"><i class="glyphicon glyphicon-pencil"></i></button>
												<button class="btn btn-danger" type="button" onclick="deleteCustomerEmail('tr@(count)', '@Html.Raw(QueryInfo[0])')" title="刪除"><i class="fa fa-trash"></i></button>
											</td>
											<td class="tdcCustomerID">@Html.Raw(QueryInfo[1])</td>
											<td class="tdcCustomerName">@Html.Raw(QueryInfo[2])</td>
											<td class="tdcTeamID">@Html.Raw(QueryInfo[3])</td>
											<td class="tdcTeamName">@Html.Raw(QueryInfo[4])</td>
											<td class="tdcEmailID">@Html.Raw(QueryInfo[5])</td>
											<td class="tdcContactName">@Html.Raw(QueryInfo[6])</td>
											<td class="tdcContactPhone">@Html.Raw(QueryInfo[7])</td>
											<td class="tdcContactMobile">@Html.Raw(QueryInfo[8])</td>
											<td class="tdcContactEmail">@Html.Raw(QueryInfo[9])</td>
										</tr>
									}
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

<!--新增/修改彈出視窗-->
<div class="modal fade" id="dialog_pCustomerEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<label class="col-form-label"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>客戶Email對照設定作業</label>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!--系統ID-->
				<input type="hidden" id="hid_cID" />
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">客戶代號*</label>
					<div class="col-lg-10">
						<input type="text" id="tbx_cCustomerID" name="tbx_cCustomerID" class="form-control CustName" placeholder="請輸入客戶統編或名稱關鍵字" disabled>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">客戶名稱*</label>
					<div class="col-lg-10">
						<input type="text" id="tbx_cCustomerName" name="tbx_cCustomerName" class="form-control" placeholder="客戶名稱" disabled>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">服務團隊ID*</label>
					<div class="col-lg-10">
						<select asp-for="ddl_cTeamID" asp-items="Model.ListTeamID" class="form-control" disabled></select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">Email網域名稱*</label>
					<div class="col-lg-10">
						<input type="text" id="tbx_cEmailID" name="tbx_cEmailID" class="form-control" placeholder="Email網域名稱">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">客戶聯絡人姓名*</label>
					<div class="col-lg-10">
						<input type="text" id="tbx_cContactName" name="tbx_cContactName" class="form-control ContactInfo" placeholder="請輸入客戶聯絡人姓名關鍵字">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">客戶聯絡人電話*</label>
					<div class="col-lg-10">
						<input type="text" id="tbx_cContactPhone" name="tbx_cContactPhone" class="form-control" placeholder="客戶聯絡人電話" diabled>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">客戶聯絡人手機</label>
					<div class="col-lg-10">
						<input type="text" id="tbx_cContactMobile" name="tbx_cContactMobile" class="form-control" placeholder="客戶聯絡人手機" diabled>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">客戶聯絡人E-Mail*</label>
					<div class="col-lg-10">
						<input type="text" id="tbx_cContactEmail" name="tbx_cContactEmail" class="form-control" placeholder="客戶聯絡人E-Mail" diabled>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-lg-5"></div>
				<button id="btn_saveCustomerEmail" class="btn btn-primary col-lg-2 col-xs-12" type="button" onclick="saveCustomerEmail();"> <i class="fa fa-save"></i> 儲 存</button>
				<img id="img_waiting_saveCustomerEmail" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:6px" alt="">
				<div class="col-lg-5"></div>
			</div>
		</div>
	</div>
</div>
