@{
	ViewData["Title"] = "SRPersonCustomer";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		$(document).ready(function () {
			initTable();			
		});

		function initTable() {
			var buttonCommon = {
				exportOptions: {
					format: {
						body: function (data, row, column, node) {
							//替換&符號
							var translate_re = /&(nbsp|amp|quot|lt|gt);/g,
								translate = {
									'nbsp': String.fromCharCode(160),
									'amp': '&',
									'quot': '"',
									'lt': '<',
									'gt': '>'
								},
								translator = function ($0, $1) {
									return translate[$1];
								};

							if (typeof data === 'string')
								data = data.replace(translate_re, translator);

							return data;
						}
					}
				}
			};

			$('#tableAll').DataTable({
				language: {
					"lengthMenu": "每頁顯示筆數 _MENU_ ",
					"info": "顯示第 _START_ 到 _END_ 筆，全部共 _TOTAL_ 筆",
					"search": " 關鍵字篩選"
				},
				pageLength: 25,
				responsive: true,
				order: [[0, "desc"]],
				dom: '<"top"i><"wrapper"Blfrtip>', //Blfrtip =>可顯示筆數
				buttons: [
					$.extend(true, {}, buttonCommon, {
						extend: 'excelHtml5',
						title: '個人客戶設定檔作業_' + new Date().toISOString().slice(0, 10).replace("-", "").replace("-", ""),
						text: '匯出Excel',
						sheetName: '個人客戶設定檔作業',
						exportOptions: {
							columns: [1, 2, 3, 4, 5, 6, 7, 8, 9] //要顯示的欄位
						},
						customize: function (xlsx) {
							var sheet = xlsx.xl.worksheets['sheet1.xml'];

							$('row c[r^="A"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="B"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="C"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="D"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="E"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="F"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="G"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="H"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="I"]', sheet).attr('s', '0');	//設成文字格式
						}
					}),
				],
			});

			$("#tableAll_wrapper .dt-buttons.btn-group").css("float", "right"); //匯出excel按鈕位置靠右
		}

		//Email格式檢查
		function CheckEmailValid() {
			var email = $("#tbx_ContactEmail").val();

			if (email != "")
			{
				$.ajax({
					url: '@Url.Action("CheckEmailValid", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: { functionName: 'CheckEmailValid', email: email },
					success: function (result) {
						if (!result) {
							alert("Email格式不正確，請重新輸入！");
							$("#tbx_ContactEmail").val("");
						}
					}
				})
			}
		}

		//儲存明細
		function saveSRPersonCustomer() {
			var strMsg = "";
			var cType = $("#hid_cType").val();					//目前狀態
			var IsDo = $("#hid_IsDoADD");						//是否已執行新增存檔過(Y.已執行 空白.未執行)

			var hid_cID = $("#hid_cID");						//系統ID
			var hid_KNB1_BUKRS = $("#hid_KNB1_BUKRS");			//公司別

			var tbx_KNA1_KUNNR = $("#tbx_KNA1_KUNNR");			//個人客戶代號
			var tbx_KNA1_NAME1 = $("#tbx_KNA1_NAME1");			//個人客戶名稱
			var tbx_ContactName = $("#tbx_ContactName");		//姓名
			var tbx_ContactPhone = $("#tbx_ContactPhone");		//電話
			var tbx_ContactCity = $("#tbx_ContactCity");		//城市
			var tbx_ContactMobile = $("#tbx_ContactMobile");		//手機
			var tbx_ContactAddress = $("#tbx_ContactAddress");	//詳細地址
			var tbx_ContactEmail = $("#tbx_ContactEmail");		//Email

			if (tbx_KNA1_NAME1.val() == "") {
				strMsg += "個人客戶名稱不得為空！\n";
			}

			if (tbx_ContactName.val() == "") {
				strMsg += "姓名不得為空！\n";
			}

			if (tbx_ContactPhone.val() == "") {
				strMsg += "電話不得為空！\n";
			}

			if (tbx_ContactCity.val() == "") {
				strMsg += "城市不得為空！\n";
			}

			if (tbx_ContactAddress.val() == "") {
				strMsg += "詳細地址不得為空！\n";
			}

			if (tbx_ContactEmail.val() == "") {
				strMsg += "Email不得為空！\n";
			}			

			if (strMsg != "") {
				alert(strMsg);
			}
			else {
				$("#btn_saveSRPersonCustomer").hide();
				$("#img_waiting_saveSRPersonCustomer").show();
				$.ajax({
					url: '@Url.Action("saveSRPersonCustomer", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: {
						cID: hid_cID.val(),
						KNB1_BUKRS: hid_KNB1_BUKRS.val(),
						KNA1_KUNNR: tbx_KNA1_KUNNR.val(),
						KNA1_NAME1: tbx_KNA1_NAME1.val(),
						ContactName: tbx_ContactName.val(),
						ContactPhone: tbx_ContactPhone.val(),
						ContactCity: tbx_ContactCity.val(),
						ContactMobile: tbx_ContactMobile.val(),
						ContactAddress: tbx_ContactAddress.val(),						
						ContactEmail: tbx_ContactEmail.val()
					},
					success: function (result) {
						if (result == "") {
							alert("儲存成功");
							$("#dialog_pSRPersonCustomer").modal('hide');

							if (cType == "ADD") {
								IsDo.val("Y");
							}
							else {
								IsDo.val("");
							}

							Query();
						}
						else {
							alert(result);
						}
						$("#img_waiting_saveSRPersonCustomer").hide();
						$("#btn_saveSRPersonCustomer").show();
					},
				});
			}
		}

		//刪除
		function deleteSRPersonCustomer(rowId, cID) {
			if (confirm("確定刪除？")) {
				$.ajax({
					url: '@Url.Action("DeleteSRPersonCustomer", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: { cID: cID },
					success: function (result) {
						if (result > 0) {
							$('#' + rowId).remove();
						}
					}
				})
			}
		}

		//新增
		function btn_add_pSRPersonCustomeronclick() {
			$("#hid_cType").val("ADD");	//目前狀態
			$("#hid_cID").val("");		//清空系統ID

			resetPopup("#dialog_pSRPersonCustomer"); //popup各欄位reset			

			$("#dialog_pSRPersonCustomer .dropzone").show();
			$("#dialog_pSRPersonCustomer").modal('show');
		}

		//修改
		function EditSRPersonCustomerDialog(obj, cID) {
			$("#hid_cType").val("EDIT");	//目前狀態
			$("#hid_IsDoADD").val("");	//清空是否已執行新增存檔過(Y.已執行 空白.未執行)

			resetPopup("#dialog_pSRPersonCustomer"); //popup各欄位reset

			var hid_cID = $("#hid_cID");						//系統ID
			var hid_KNB1_BUKRS = $("#hid_KNB1_BUKRS");			//公司別
			var tbx_KNA1_KUNNR = $("#tbx_KNA1_KUNNR");			//個人客戶代號
			var tbx_KNA1_NAME1 = $("#tbx_KNA1_NAME1");			//個人客戶名稱
			var tbx_ContactName = $("#tbx_ContactName");		//姓名
			var tbx_ContactPhone = $("#tbx_ContactPhone");		//電話
			var tbx_ContactCity = $("#tbx_ContactCity");		//城市			
			var tbx_ContactMobile = $("#tbx_ContactMobile");		//手機
			var tbx_ContactAddress = $("#tbx_ContactAddress");	//詳細地址
			var tbx_ContactEmail = $("#tbx_ContactEmail");		//Email

			tbx_KNA1_KUNNR.attr('disabled', true);

			hid_cID.val(cID);
			hid_KNB1_BUKRS.val($(obj).parent().parent().find('.tdKNB1_BUKRS').text());
			tbx_KNA1_KUNNR.val($(obj).parent().parent().find('.tdKNA1_KUNNR').text());
			tbx_KNA1_NAME1.val($(obj).parent().parent().find('.tdKNA1_NAME1').text());
			tbx_ContactName.val($(obj).parent().parent().find('.tdContactName').text());
			tbx_ContactPhone.val($(obj).parent().parent().find('.tdContactPhone').text());			
			tbx_ContactMobile.val($(obj).parent().parent().find('.tdContactMobile').text());
			tbx_ContactEmail.val($(obj).parent().parent().find('.tdContactEmail').text());
			tbx_ContactCity.val($(obj).parent().parent().find('.tdContactCity').text());
			tbx_ContactAddress.val($(obj).parent().parent().find('.tdContactAddress').text());			

			$("#dialog_pSRPersonCustomer .dropzone").show();
			$("#dialog_pSRPersonCustomer").modal('show');
		}

		//popup各欄位reset
		function resetPopup(popupId) {
			var cType = $("#hid_cType").val();		//ADD.新增 EDIT.編輯
			var cIsDo = $("#hid_IsDoADD").val();	//是否已執行新增存檔過(Y.已執行 空白.未執行)

			if (cType == "ADD" && cIsDo == "Y") {
				//不做事
			}
			else {
				$(popupId).find("input").each(function (index, value) {
					$(this).val("");
				});
				$(popupId).find("select").each(function (index, value) {
					$(this).val("-1");
				});
			}

			$(popupId).find("textarea").each(function (index, value) {
				$(this).val("");
			});
			$(popupId).find(".file-box").each(function (index, value) {
				$(this).remove();
			});
		}

		//查詢
		function Query() {
			$("#waitingImg").show();

			var tMsg = "";
			var tbx_QueryKNA1_KUNNR = $("#tbx_QueryKNA1_KUNNR");		//個人客戶代號/名稱
			var tbx_QueryContactName = $("#tbx_QueryContactName");	//姓名

			if (tbx_QueryKNA1_KUNNR.val() == "" && tbx_QueryContactName.val() == "")
			{
				tMsg += "請至少輸入一項查詢條件！\n";
			}

			if (tMsg != "") {
				alert(tMsg);
				$("#waitingImg").hide();
				return false;
			}
			else {
				searchSRPersonCustomer(tbx_QueryKNA1_KUNNR.val(), tbx_QueryContactName.val());
			}

			return true;
		}

		//查詢結果
		function searchSRPersonCustomer(KNA1_KUNNR, ContactName) {
			$("#dataDiv").html('');
			$.ajax({
				url: '@Url.Action("SRPersonCustomerResult", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					KNA1_KUNNR: KNA1_KUNNR,
					ContactName: ContactName
				},
				success: function (result) {
				},
				complete: function (result) {
					$("#dataDiv").html(result.responseText);
					$("#waitingImg").hide();
				}
			});
		}

		//清除
		function clearSRPersonCustomer() {
			$("#tbx_QueryKNA1_KUNNR").val("");
			$('#tbx_QueryContactName').val("");
		}
	</script>
}

	@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>個人客戶設定作業</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">服務管理系統參數設定</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>個人客戶設定作業</strong>
			</li>
		</ol>
	</div>
}

	<div class="row">

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>
						個人客戶設定作業
						<button id="btn_add_pNA" class="btn btn-success" type="button" style="margin-left: 10px;" onclick="btn_add_pSRPersonCustomeronclick();"><i class="fa fa-plus" style="margin-right: 5px;"></i>新增</button>
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">					
					<form id="form1" name="form" action='#' method="post">
						<!--目前狀態 ADD.新增 or EDIT.編輯-->
						<input type="hidden" id="hid_cType" />
						<!--是否已經執行過新增存檔，用來判斷下次新增的時候，會預設帶上一次的值-->
						<input type="hidden" id="hid_IsDoADD" />
						<!--登人者公司別-->
						<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">個人客戶代號/名稱</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryKNA1_KUNNR" name="tbx_QueryKNA1_KUNNR" class="form-control Peoploe" placeholder="個人客戶代號/名稱">
							</div>
							<label class="col-lg-2 col-form-label">姓名</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryContactName" name="tbx_QueryContactName" class="form-control" placeholder="姓名">
							</div>
						</div>
						<div class="form-group row">
							<button class="btn btn-success btn-lg" type="button" onclick="if (!Query()) { return false; }"><i class="fa fa-search"></i> 查 詢 </button>
							<button class="btn btn-default btn-lg" type="button" onclick="clearSRPersonCustomer();"><i class="fa fa-trash"></i> 清 除 </button>
							<img id="waitingImg" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>個人客戶設定作業查詢結果</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content" id="dataDiv" style="overflow: scroll">
					<table id="tableAll" class="table table-striple table-bordered table-hover dataTables-example">
						<thead>
							<tr>
								<th></th>
								<th>個人客戶代號</th>
								<th>個人客戶名稱</th>
								<th>公司別</th>
								<th>姓名</th>
								<th>電話</th>
								<th>手機</th>
								<th>Email</th>
								<th>城市</th>
								<th>詳細地址</th>
							</tr>
						</thead>
						<tbody>
							@{
							if (ViewBag.QueryToListBean != null)
							{
								int count = 0;
								foreach (string[] QueryInfo in ViewBag.QueryToListBean)
								{
									count++;
											<tr id='tr@(count)'>
												<td style="width:100px;">
													<button class="btn btn-info" type="button" onclick="EditSRPersonCustomerDialog(this, '@Html.Raw(QueryInfo[0])')" title="修改"><i class="glyphicon glyphicon-pencil"></i></button>
													<button class="btn btn-danger" type="button" onclick="deleteSRPersonCustomer('tr@(count)', '@Html.Raw(QueryInfo[0])')" title="刪除"><i class="fa fa-trash"></i></button>
												</td>
												<td class="tdKNA1_KUNNR">@Html.Raw(QueryInfo[1])</td>
												<td class="tdKNA1_NAME1">@Html.Raw(QueryInfo[2])</td>
												<td class="tdKNB1_BUKRS">@Html.Raw(QueryInfo[3])</td>
												<td class="tdContactName">@Html.Raw(QueryInfo[4])</td>
												<td class="tdContactPhone">@Html.Raw(QueryInfo[5])</td>
												<td class="tdContactMobile">@Html.Raw(QueryInfo[6])</td>
												<td class="tdContactEmail">@Html.Raw(QueryInfo[7])</td>
												<td class="tdContactCity">@Html.Raw(QueryInfo[8])</td>
												<td class="tdContactAddress">@Html.Raw(QueryInfo[9])</td>
											</tr>
								}
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!--新增/修改彈出視窗-->
<div class="modal fade" id="dialog_pSRPersonCustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<label class="col-form-label"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>個人客戶設定作業</label>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">								
				<!--系統ID-->
				<input type="hidden" id="hid_cID" />
				<!--公司別-->
				<input type="hidden" id="hid_KNB1_BUKRS" />
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">個人客戶代號*</label>
					<div class="col-lg-4">
						<input type="text" id="tbx_KNA1_KUNNR" name="tbx_KNA1_KUNNR" class="form-control Peoploe" placeholder="個人客戶代號(系統自動產生)" disabled>
					</div>
					<label class="col-lg-2 col-form-label">個人客戶名稱*</label>
					<div class="col-lg-4">
						<input type="text" id="tbx_KNA1_NAME1" name="tbx_KNA1_NAME1" class="form-control" placeholder="個人客戶名稱">
					</div>
				</div>				
				<div class="form-group row">					
					<label class="col-lg-2 col-form-label">姓名*</label>
					<div class="col-lg-4">
						<input type="text" id="tbx_ContactName" name="tbx_ContactName" class="form-control" placeholder="姓名">
					</div>	
					<label class="col-lg-2 col-form-label">電話*</label>
					<div class="col-lg-4">
						<input type="text" id="tbx_ContactPhone" name="tbx_ContactPhone" class="form-control" placeholder="電話">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">城市*</label>
					<div class="col-lg-4">
						<input type="text" id="tbx_ContactCity" name="tbx_ContactCity" class="form-control" placeholder="城市">
					</div>
					<label class="col-lg-2 col-form-label">手機</label>
					<div class="col-lg-4">
						<input type="text" id="tbx_ContactMobile" name="tbx_ContactMobile" class="form-control" placeholder="手機">
					</div>
				</div>				
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">詳細地址*</label>
					<div class="col-lg-10">
						<input type="text" id="tbx_ContactAddress" name="tbx_ContactAddress" class="form-control" placeholder="詳細地址">						
					</div>
				</div>
				<div class="form-group row">					
					<label class="col-lg-2 col-form-label">Email*</label>
					<div class="col-lg-10">
						<input type="text" id="tbx_ContactEmail" name="tbx_ContactEmail" class="form-control" placeholder="Email" onblur="CheckEmailValid();">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-lg-5"></div>
				<button id="btn_saveSRPersonCustomer" class="btn btn-primary col-lg-2 col-xs-12" type="button" onclick="saveSRPersonCustomer();"> <i class="fa fa-save"></i> 儲 存</button>
				<img id="img_waiting_saveSRPersonCustomer" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:6px" alt="">
				<div class="col-lg-5"></div>
			</div>
		</div>
	</div>
</div>
