@{
	ViewData["Title"] = "SRRepairType";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		$(document).ready(function () {
			initTable();
			PeopleSearch();
		});

		function initTable() {
			var buttonCommon = {
				exportOptions: {
					format: {
						body: function (data, row, column, node) {
							//替換&符號
							var translate_re = /&(nbsp|amp|quot|lt|gt);/g,
								translate = {
									'nbsp': String.fromCharCode(160),
									'amp': '&',
									'quot': '"',
									'lt': '<',
									'gt': '>'
								},
								translator = function ($0, $1) {
									return translate[$1];
								};

							if (typeof data === 'string')
								data = data.replace(translate_re, translator);

							return data;
						}
					}
				}
			};

			$('#tableAll').DataTable({
				language: {
					"lengthMenu": "每頁顯示筆數 _MENU_ ",
					"info": "顯示第 _START_ 到 _END_ 筆，全部共 _TOTAL_ 筆",
					"search": " 關鍵字篩選"
				},
				pageLength: 25,
				responsive: true,
				order: [[0, "desc"]],
				dom: '<"top"i><"wrapper"Blfrtip>', //Blfrtip =>可顯示筆數
				buttons: [
					$.extend(true, {}, buttonCommon, {
						extend: 'excelHtml5',
						title: '報修類別設定檔作業_' + new Date().toISOString().slice(0, 10).replace("-", "").replace("-", ""),
						text: '匯出Excel',
						sheetName: '報修類別設定檔作業',
						exportOptions: {
							columns: [1, 2, 3, 4] //要顯示的欄位
						},
						customize: function (xlsx) {
							var sheet = xlsx.xl.worksheets['sheet1.xml'];

							$('row c[r^="A"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="B"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="C"]', sheet).attr('s', '0');	//設成文字格式
							$('row c[r^="D"]', sheet).attr('s', '0');	//設成文字格式
						}
					}),
				],
			});

			$("#tableAll_wrapper .dt-buttons.btn-group").css("float", "right"); //匯出excel按鈕位置靠右
		}

		//第一階(大類) onChange
		function onChangecSRTypeOne() {

			//先清空下拉選單選項，才不會一直append
			$('#ddl_QuerycSRTypeSec').empty();
			$('#ddl_QuerycSRTypeThr').empty();

			$.ajax({
				url: '@Url.Action("findSRTypeSecList", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					keyword: $('#ddl_QuerycSRTypeOne').val(),
				},
				success: function (result) {
					$.each(result, function (index, obj) {
						$("#ddl_QuerycSRTypeSec").append(
							$('<option></option>').val(obj.value).html(obj.text)
						);
					});
				}
			});
		}

		//第二階(中類) onChange
		function onChangecSRTypeSec() {

			//先清空下拉選單選項，才不會一直append
			$('#ddl_QuerycSRTypeThr').empty();

			$.ajax({
				url: '@Url.Action("findSRTypeThrList", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					keyword: $('#ddl_QuerycSRTypeSec').val(),
				},
				success: function (result) {
					$.each(result, function (index, obj) {
						$("#ddl_QuerycSRTypeThr").append(
							$('<option></option>').val(obj.value).html(obj.text)
						);
					});
				}
			});
		}

		//編輯：第一階(大類) onChangecSRTypeOne_EDIT
		function onChangecSRTypeOne_EDIT() {

			//先清空下拉選單選項，才不會一直append
			$('#ddl_cSRTypeSec').empty();
			$('#ddl_cSRTypeThr').empty();			

			$.ajax({
				url: '@Url.Action("findSRTypeSecList", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					keyword: $('#ddl_cSRTypeOne').val(),
				},
				success: function (result) {
					$.each(result, function (index, obj) {
						$("#ddl_cSRTypeSec").append(
							$('<option></option>').val(obj.value).html(obj.text)
						);
					});

					AjaxfindSRRepairTypeKindKey("0", $('#ddl_cSRTypeOne').val(), "");
					
					if ($('#ddl_cSRTypeOne').val() == "")
					{
						$("#ddl_cKIND_LEVEL").val("1");
						$("#tbx_cUP_KIND_KEY").val("0");
					}
					else
					{
						$("#ddl_cKIND_LEVEL").val("2");
						$("#tbx_cUP_KIND_KEY").val($('#ddl_cSRTypeOne').val());
					}
					
					$("#tbx_cKIND_NAME").val("");
				}
			});
		}

		//編輯：第二階(中類) onChange
		function onChangecSRTypeSec_EDIT() {
			AjaxfindSRRepairTypeKindKey("0", $('#ddl_cSRTypeOne').val(), $('#ddl_cSRTypeSec').val());
			
			if ($("#ddl_cSRTypeSec").val() == "")
			{
				$("#ddl_cKIND_LEVEL").val("2");
				$("#tbx_cUP_KIND_KEY").val($('#ddl_cSRTypeOne').val());
			}
			else
			{
				$("#ddl_cKIND_LEVEL").val("3");
				$("#tbx_cUP_KIND_KEY").val($('#ddl_cSRTypeSec').val());
			}
			
			$("#tbx_cKIND_NAME").val("");
		}

		//傳入報修類別檔的0.父類、1.大類、2.中類，並取得最新的類別代號
		function AjaxfindSRRepairTypeKindKey(SRTypeZero, SRTypeOne, SRTypeSec)
		{		
			var reValue = "";
			var tbx_cKIND_KEY = $("#tbx_cKIND_KEY");	//類別代碼

			$.ajax({
				url: '@Url.Action("AjaxfindSRRepairTypeKindKey", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					SRTypeZero: SRTypeZero,
					SRTypeOne: $('#ddl_cSRTypeOne').val(),
					SRTypeSec: $('#ddl_cSRTypeSec').val()
				},
				success: function (result) {
					tbx_cKIND_KEY.val(result);
				}
			});
		}

		//Ajax用中文或英文姓名查詢人員帳號
		function PeopleSearch() {
			$(".Peoploe").unbind();

			$(".Peoploe").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							var ojbID = $(this).attr("id");

							$.ajax({
								url: '@Url.Action("AjaxfindEmployeeByKeyword", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: {
									functionName: 'AjaxfindEmployeeByKeyword', keyword: keyword
								},
								success: function (result) {
									objects = [];
									$.each(result, function (i, idata) {
										objects[i] = {
											label: idata.CEmployeeCName + "\\" + idata.CEmployeeEname + "\\" + idata.CEmployeeErpid,
											idx: i,
											value: idata.CEmployeeErpid, //value這個值，一定要在label裡才能顯示出下拉
											Name: idata.CEmployeeCName
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: objects,
										select: function (event, ui) {
											if (ojbID.indexOf('tbx_cEngineerID') >= 0) {
												$('#tbx_cEngineerName').val(ui.item.Name);
											}
										}
									}).bind('focus', function () { obj.autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
									$(".ui-autocomplete").css({ 'z-index': '2051', 'font-size': '16px' }); //可以正常顯示關鍵字查詢
								}
							})

						}
					}
				}
			})
		}


		//儲存明細
		function saveSRRepairType() {
			var strMsg = "";
			var cType = $("#hid_cType").val();				//目前狀態
			var IsDo = $("#hid_IsDoADD");					//是否已執行新增存檔過(Y.已執行 空白.未執行)

			var hid_cID = $("#hid_cID");						//系統ID
			var tbx_cKIND_KEY = $("#tbx_cKIND_KEY");		//類別代碼
			var tbx_cKIND_NAME = $("#tbx_cKIND_NAME");		//類別說明
			var ddl_cKIND_LEVEL = $("#ddl_cKIND_LEVEL");	//類別階層
			var tbx_cUP_KIND_KEY = $("#tbx_cUP_KIND_KEY");	//父階代號

			if (tbx_cKIND_KEY.val() == "") {
				strMsg += "類別代碼不得為空！\n";
			}

			if (tbx_cKIND_NAME.val() == "") {
				strMsg += "類別說明不得為空！\n";
			}

			if (ddl_cKIND_LEVEL.val() == "") {
				strMsg += "請選擇類別階層！\n";
			}

			if (tbx_cUP_KIND_KEY.val() == "") {
				strMsg += "父階代號不得為空！\n";
			}			

			if (strMsg != "") {
				alert(strMsg);
			}
			else {
				$("#btn_saveSRRepairType").hide();
				$("#img_waiting_saveSRRepairType").show();
				$.ajax({
					url: '@Url.Action("saveSRRepairType", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: {
						cID: hid_cID.val(),
						cKIND_KEY: tbx_cKIND_KEY.val(),
						cKIND_NAME: tbx_cKIND_NAME.val(),
						cKIND_LEVEL: ddl_cKIND_LEVEL.val(),
						cUP_KIND_KEY: tbx_cUP_KIND_KEY.val()
					},
					success: function (result) {
						if (result == "") {
							alert("儲存成功");
							$("#dialog_pSRRepairType").modal('hide');

							if (cType == "ADD") {
								IsDo.val("Y");
							}
							else {
								IsDo.val("");
							}

							Query();
						}
						else {
							alert(result);
						}
						$("#img_waiting_saveSRRepairType").hide();
						$("#btn_saveSRRepairType").show();
					},
				});
			}
		}

		//刪除
		function deleteSRRepairType(rowId, cID) {
			if (confirm("確定刪除？")) {
				$.ajax({
					url: '@Url.Action("DeleteSRRepairType", "ServiceRequest")',
					type: 'post',
					dataType: 'json',
					data: { cID: cID },
					success: function (result) {
						if (result == "") {
							$('#' + rowId).remove();
						}
						else
						{
							alert(result);
						}
					}
				})
			}
		}

		//新增
		function btn_add_pSRRepairTypeonclick() {
			$("#hid_cType").val("ADD");	//目前狀態
			$("#hid_cID").val("");		//清空系統ID

			resetPopup("#dialog_pSRRepairType"); //popup各欄位reset

			var cType = $("#hid_cType").val();		//ADD.新增 EDIT.編輯
			var cIsDo = $("#hid_IsDoADD").val();	//是否已執行新增存檔過(Y.已執行 空白.未執行)
			var ddl_cSRTypeOne = $("#ddl_cSRTypeOne");		//報修類別(大類)
			var ddl_cSRTypeSec = $("#ddl_cSRTypeSec");		//報修類別(中類)
			var ddl_cSRTypeThr = $("#ddl_cSRTypeThr");		//報修類別(小類)
			var tbx_cKIND_KEY = $("#tbx_cKIND_KEY");		//類別代碼
			var tbx_cKIND_NAME = $("#tbx_cKIND_NAME");		//類別說明
			var ddl_cKIND_LEVEL = $("#ddl_cKIND_LEVEL");	//類別階層
			var tbx_cUP_KIND_KEY = $("#tbx_cUP_KIND_KEY");	//父階代號

			ddl_cSRTypeOne.show();
			ddl_cSRTypeSec.show();
			ddl_cSRTypeThr.show();

			tbx_cKIND_KEY.attr('disabled', true);
			ddl_cKIND_LEVEL.attr('disabled', true);
			tbx_cUP_KIND_KEY.attr('disabled', true);			

			if (cType == "ADD" && cIsDo != "Y") {
				ddl_cKIND_LEVEL.val("1");		//預設為1.
				tbx_cUP_KIND_KEY.val("0");		//預設為0.
				AjaxfindSRRepairTypeKindKey("0", "", "");
			}			

			$("#dialog_pSRRepairType .dropzone").show();
			$("#dialog_pSRRepairType").modal('show');
		}

		//修改
		function EditSRRepairTypeDialog(obj, cID) {
			$("#hid_cType").val("EDIT");	//目前狀態
			$("#hid_IsDoADD").val("");	//清空是否已執行新增存檔過(Y.已執行 空白.未執行)

			resetPopup("#dialog_pSRRepairType"); //popup各欄位reset

			var hid_cID = $("#hid_cID");					//系統ID
			var ddl_cSRTypeOne = $("#ddl_cSRTypeOne");		//報修類別(大類)
			var ddl_cSRTypeSec = $("#ddl_cSRTypeSec");		//報修類別(中類)
			var ddl_cSRTypeThr = $("#ddl_cSRTypeThr");		//報修類別(小類)
			var tbx_cKIND_KEY = $("#tbx_cKIND_KEY");		//類別代碼
			var tbx_cKIND_NAME = $("#tbx_cKIND_NAME");		//類別說明
			var ddl_cKIND_LEVEL = $("#ddl_cKIND_LEVEL");	//類別階層
			var tbx_cUP_KIND_KEY = $("#tbx_cUP_KIND_KEY");	//父階代號

			ddl_cSRTypeOne.hide();
			ddl_cSRTypeSec.hide();
			ddl_cSRTypeThr.hide();

			tbx_cKIND_KEY.attr('disabled', true);
			ddl_cKIND_LEVEL.attr('disabled', true);
			tbx_cUP_KIND_KEY.attr('disabled', true);			

			//設定各欄位資料
			hid_cID.val(cID);
			tbx_cKIND_KEY.val($(obj).parent().parent().find('.tdcKIND_KEY').text());
			tbx_cKIND_NAME.val($(obj).parent().parent().find('.tdcKIND_NAME').text());
			ddl_cKIND_LEVEL.val($(obj).parent().parent().find('.tdcKIND_LEVEL').text());
			tbx_cUP_KIND_KEY.val($(obj).parent().parent().find('.tdcUP_KIND_KEY').text());			

			$("#dialog_pSRRepairType .dropzone").show();
			$("#dialog_pSRRepairType").modal('show');
		}

		//popup各欄位reset
		function resetPopup(popupId) {
			var cType = $("#hid_cType").val();		//ADD.新增 EDIT.編輯
			var cIsDo = $("#hid_IsDoADD").val();	//是否已執行新增存檔過(Y.已執行 空白.未執行)

			if (cType == "ADD" && cIsDo == "Y") {

				if ($('#ddl_cSRTypeSec').val() != ""){
					AjaxfindSRRepairTypeKindKey("0", $('#ddl_cSRTypeOne').val(), $('#ddl_cSRTypeSec').val());
				}
				else if ($('#ddl_cSRTypeOne').val() != "") {
					AjaxfindSRRepairTypeKindKey("0", $('#ddl_cSRTypeOne').val(), "");
				}
				else{
					AjaxfindSRRepairTypeKindKey("0", "", "");
				}
			}
			else {
				$(popupId).find("input").each(function (index, value) {
					$(this).val("");
				});
				$(popupId).find("select").each(function (index, value) {
					$(this).val("-1");
				});
			}

			$(popupId).find("textarea").each(function (index, value) {
				$(this).val("");
			});
			$(popupId).find(".file-box").each(function (index, value) {
				$(this).remove();
			});
		}

		//查詢
		function Query() {
			$("#waitingImg").show();

			var tMsg = "";
			var ddl_QuerycSRTypeOne = $("#ddl_QuerycSRTypeOne");		//報修類別(大類)
			var ddl_QuerycSRTypeSec = $("#ddl_QuerycSRTypeSec");		//報修類別(中類)
			var ddl_QuerycSRTypeThr = $("#ddl_QuerycSRTypeThr");		//報修類別(小類)
			var tbx_QuerycKIND_NAME = $("#tbx_QuerycKIND_NAME");		//類別說明

			var SRTypeOne = ddl_QuerycSRTypeOne.val();
			var SRTypeSec = ddl_QuerycSRTypeSec.val();
			var SRTypeThr = ddl_QuerycSRTypeThr.val();
			var KIND_NAME = tbx_QuerycKIND_NAME.val();

			if (SRTypeOne == null) SRTypeOne = "";
			if (SRTypeSec == null) SRTypeSec = "";
			if (SRTypeThr == null) SRTypeThr = "";			

			if (tMsg != "") {
				alert(tMsg);
				$("#waitingImg").hide();
				return false;
			}
			else {
				searchSRRepairType(SRTypeOne, SRTypeSec, SRTypeThr, KIND_NAME);
			}

			return true;
		}

		//查詢結果
		function searchSRRepairType(SRTypeOne, SRTypeSec, SRTypeThr, KIND_NAME) {
			$("#dataDiv").html('');
			$.ajax({
				url: '@Url.Action("SRRepairTypeResult", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					SRTypeOne: SRTypeOne,
					SRTypeSec: SRTypeSec,
					SRTypeThr: SRTypeThr,
					KIND_NAME: KIND_NAME
				},
				success: function (result) {
				},
				complete: function (result) {
					$("#dataDiv").html(result.responseText);
					$("#waitingImg").hide();
				}
			});
		}

		//清除
		function clearSRRepairType() {
			$("#ddl_QuerycSRTypeOne").val("");
			$('#ddl_QuerycSRTypeSec').empty();
			$('#ddl_QuerycSRTypeThr').empty();
			
			$('#tbx_QuerycKIND_NAME').val("");
		}
	</script>
}

	@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>報修類別設定作業</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">服務管理系統參數設定</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>報修類別設定作業</strong>
			</li>
		</ol>
	</div>
}

	<div class="row">

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>
						報修類別設定作業
						<button id="btn_add_pNA" class="btn btn-success" type="button" style="margin-left: 10px;" onclick="btn_add_pSRRepairTypeonclick();"><i class="fa fa-plus" style="margin-right: 5px;"></i>新增</button>
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					@model OneService.Controllers.ServiceRequestController.ViewModelRepairType //載入StatusViewModel
					<form id="form1" name="form" action='#' method="post">
						<!--目前狀態 ADD.新增 or EDIT.編輯-->
						<input type="hidden" id="hid_cType" />
						<!--是否已經執行過新增存檔，用來判斷下次新增的時候，會預設帶上一次的值-->
						<input type="hidden" id="hid_IsDoADD" />
						<!--登人者公司別-->
						<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">類別代號</label>
							<div class="col-lg-4">
								@Html.DropDownList("ddl_QuerycSRTypeOne", (IEnumerable<SelectListItem>)ViewBag.QuerySRTypeOneList, new { @class = "form-control", @onchange = "javascript:onChangecSRTypeOne();" })
								@Html.DropDownList("ddl_QuerycSRTypeSec", (IEnumerable<SelectListItem>)ViewBag.QuerySRTypeSecList, new { @class = "form-control", @onchange = "javascript:onChangecSRTypeSec();" })
								@Html.DropDownList("ddl_QuerycSRTypeThr", (IEnumerable<SelectListItem>)ViewBag.QuerySRTypeThrList, new { @class = "form-control" })
							</div>							
						</div>
						<div class="form-group row">							
							<label class="col-lg-2 col-form-label">類別說明</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QuerycKIND_NAME" name="tbx_QuerycKIND_NAME" class="form-control" placeholder="類別說明">
							</div>
						</div>
						<div class="form-group row">
							<button class="btn btn-success btn-lg" type="button" onclick="if (!Query()) { return false; }"><i class="fa fa-search"></i> 查 詢 </button>
							<button class="btn btn-default btn-lg" type="button" onclick="clearSRRepairType();"><i class="fa fa-trash"></i> 清 除 </button>
							<img id="waitingImg" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>報修類別設定作業查詢結果</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content" id="dataDiv" style="overflow: scroll">
					<table id="tableAll" class="table table-striple table-bordered table-hover dataTables-example">
						<thead>
							<tr>
								<th></th>
								<th>類別代號</th>
								<th>類別說明</th>
								<th>類別階層</th>
								<th>父階代號</th>
							</tr>
						</thead>
						<tbody>
							@{
								if (ViewBag.QueryToListBean != null)
								{
									int count = 0;
									foreach (string[] QueryInfo in ViewBag.QueryToListBean)
									{
										count++;
																						<tr id='tr@(count)'>
																							<td style="width:100px;">
																								<button class="btn btn-info" type="button" onclick="EditSRRepairTypeDialog(this, '@Html.Raw(QueryInfo[0])')" title="修改"><i class="glyphicon glyphicon-pencil"></i></button>
																								<button class="btn btn-danger" type="button" onclick="deleteSRRepairType('tr@(count)', '@Html.Raw(QueryInfo[0])')" title="刪除"><i class="fa fa-trash"></i></button>
																							</td>
																							<td class="tdcKIND_KEY">@Html.Raw(QueryInfo[1])</td>
																							<td class="tdcKIND_NAME">@Html.Raw(QueryInfo[2])</td>
																							<td class="tdcKIND_LEVEL">@Html.Raw(QueryInfo[3])</td>
																							<td class="tdcUP_KIND_KEY">@Html.Raw(QueryInfo[4])</td>
																						</tr>
									}
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
</div>

<!--新增/修改彈出視窗-->
<div class="modal fade" id="dialog_pSRRepairType" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<label class="col-form-label"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>報修類別設定作業</label>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!--系統ID-->
				<input type="hidden" id="hid_cID" />				
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">類別代號*</label>
					<div class="col-lg-10">						
						@Html.DropDownList("ddl_cSRTypeOne", (IEnumerable<SelectListItem>)ViewBag.SRTypeOneList, new { @class = "form-control", @onchange = "javascript:onChangecSRTypeOne_EDIT();" })
						@Html.DropDownList("ddl_cSRTypeSec", (IEnumerable<SelectListItem>)ViewBag.SRTypeSecList, new { @class = "form-control", @onchange = "javascript:onChangecSRTypeSec_EDIT();" })						
						<input type="text" id="tbx_cKIND_KEY" name="tbx_cKIND_KEY" class="form-control" placeholder="類別代碼" disabled>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">類別說明*</label>
					<div class="col-lg-10">
						<input type="text" id="tbx_cKIND_NAME" name="tbx_cKIND_NAME" class="form-control" placeholder="類別說明">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">類別階層*</label>
					<div class="col-lg-10">
						<select class='form-control' name='ddl_cKIND_LEVEL' id='ddl_cKIND_LEVEL' disabled>
							<option value='1'>1_大類</option>
							<option value='2'>2_中類</option>
							<option value='3'>3_小類</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-2 col-form-label">父階代號*</label>
					<div class="col-lg-10">
						<input type="text" id="tbx_cUP_KIND_KEY" name="tbx_cUP_KIND_KEY" class="form-control" placeholder="父階代號" disabled>
					</div>
				</div>				
			</div>
			<div class="modal-footer">
				<div class="col-lg-5"></div>
				<button id="btn_saveSRRepairType" class="btn btn-primary col-lg-2 col-xs-12" type="button" onclick="saveSRRepairType();"> <i class="fa fa-save"></i> 儲 存</button>
				<img id="img_waiting_saveSRRepairType" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:6px" alt="">
				<div class="col-lg-5"></div>
			</div>
		</div>
	</div>
</div>
