@{
	ViewData["Title"] = "SRReport";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		$(document).ready(function () {
			initTable();
			CustSearch();
			PeopleSearch();
		});

		function initTable() {
			var buttonCommon = {
				exportOptions: {
					format: {
						body: function (data, row, column, node) {
							//替換&符號
							var translate_re = /&(nbsp|amp|quot|lt|gt);/g,
								translate = {
									'nbsp': String.fromCharCode(160),
									'amp': '&',
									'quot': '"',
									'lt': '<',
									'gt': '>'
								},
								translator = function ($0, $1) {
									return translate[$1];
								};

							if (typeof data === 'string')
								data = data.replace(translate_re, translator);


							if (column === 0 || column === 36) //去除連結的部份
							{
								var splitName = data.split(">");
								var length = splitName.length;

								if (length > 1) {
									return data.split(">")[1].split("<")[0];
								}
								else {
									return data;
								}
							}
							else if (column === 2 || column === 20) //將換行符號<br>換成excel可以識別的\n
							{
								return data.replace(/<br\s*\/?>/ig, "\n"); //匯出需要在每筆紀錄前，多換一行
							}
							else if (column === 11 || column === 12)
							{
								if (data.substr(0, 1) == "0")  //若電話或手機，第一碼為0開頭時，前面要多加'，0才不會消失
								{
									return "'" + data;
								}
								else {
									return data;
								}
							}
							else
								return data;
						}
					}
				}
			};

			$('#tableAll').DataTable({
				language: {
					"lengthMenu": "每頁顯示筆數 _MENU_ ",
					"info": "顯示第 _START_ 到 _END_ 筆，全部共 _TOTAL_ 筆",
					"search": " 關鍵字篩選"
				},
				pageLength: 25,
				responsive: true,
				dom: '<"top"i><"wrapper"Blfrtip>', //Blfrtip =>可顯示筆數
				buttons: [
					$.extend(true, {}, buttonCommon, {
						extend: 'excelHtml5',
						title: '服務總表_' + new Date().toISOString().slice(0, 10).replace("-", "").replace("-", ""),
						text: '匯出Excel',
						sheetName: '服務總表',
						exportOptions: {
							columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56] //要顯示的欄位
						},
						customize: function (xlsx) {
							addCustomNumberFormat(xlsx, '0');		//自定義格式為【0】
							addCustomNumberFormat_Text(xlsx, '@@');	//自定義格式為【文字】
							formatTargetColumn(xlsx, 'A');
							formatTargetColumn(xlsx, 'B');
							formatTargetColumn(xlsx, 'C');
							formatTargetColumn(xlsx, 'L');
							formatTargetColumn(xlsx, 'M');
						}
					}),
				],
			});

			$("#tableAll_wrapper .dt-buttons.btn-group").css("float", "right"); //匯出excel按鈕位置靠右
		}

		function addCustomNumberFormat(xlsx, numberFormat) {
			// this adds a new custom number format to the Excel "styles" document:
			var numFmtsElement = xlsx.xl['styles.xml'].getElementsByTagName('numFmts')[0];
			// assume 6 custom number formats already exist, and next available ID is 176:
			var numFmtElement = '<numFmt numFmtId="176" formatCode="' + numberFormat + '"/>';
			$(numFmtsElement).append(numFmtElement);
			$(numFmtsElement).attr("count", "7"); // increment the count

			// now add a new "cellXfs" cell formatter, which uses our new number format (numFmt 176):
			var celXfsElement = xlsx.xl['styles.xml'].getElementsByTagName('cellXfs');
			var cellStyle = '<xf numFmtId="176" fontId="0" fillId="0" borderId="0" xfId="0" applyNumberFormat="1"'
				+ ' applyFont="1" applyFill="1" applyBorder="1"/>';
			// this will be the 8th "xf" element - and will therefore have an index of "7", when we use it later:
			$(celXfsElement).append(cellStyle);
			$(celXfsElement).attr("count", "66"); //(1.2.3版)官方提供0-64共65種格式，在此自己新增加一種
		}

		function addCustomNumberFormat_Text(xlsx, numberFormat) {
		// this adds a new custom number format to the Excel "styles" document:
		var numFmtsElement = xlsx.xl['styles.xml'].getElementsByTagName('numFmts')[0];
		// assume 6 custom number formats already exist, and next available ID is 176:
		var numFmtElement = '<numFmt numFmtId="177" formatCode="' + numberFormat + '"/>';
		$(numFmtsElement).append(numFmtElement);
		$(numFmtsElement).attr("count", "8"); // increment the count

		// now add a new "cellXfs" cell formatter, which uses our new number format (numFmt 176):
		var celXfsElement = xlsx.xl['styles.xml'].getElementsByTagName('cellXfs');
		var cellStyle = '<xf numFmtId="177" fontId="0" fillId="0" borderId="0" xfId="0" applyNumberFormat="1"'
			+ ' applyFont="1" applyFill="1" applyBorder="1"/>';
		// this will be the 8th "xf" element - and will therefore have an index of "7", when we use it later:
		$(celXfsElement).append(cellStyle);
		$(celXfsElement).attr("count", "67"); //(1.2.3版)官方提供0-64共65種格式，在此自己新增加一種
	}

	function formatTargetColumn(xlsx, col) {
		var sheet = xlsx.xl.worksheets['sheet1.xml'];

		if (col == "A") {
			$('row c[r^="' + col + '"]', sheet).attr('s', '65'); //使用自定義格式【0】
		}
		else if (col == "B" || col == "C" || col == "L" || col == "M") {
			$('row c[r^="' + col + '"]', sheet).attr('s', '66'); //使用自定義格式【文字】
		}
		else {
			$('row c[r^="' + col + '"]', sheet).attr('s', '0'); //設成文字格式
		}
	}

		//SAP客戶代號/客戶名稱查詢
		//compcde(Comp-1.大世科 Comp-2.群輝 Comp-3.上海 Comp-4.協志)
		function CustSearch() {
			var compcde = $("#hid_cLoginUser_CompCode").val();

			$(".CustName").unbind();

			$(".CustName").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							$.ajax({
								url: '@Url.Action("findCustByKeywordAndComp", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: { functionName: 'findCustByKeywordAndComp', keyword: keyword, compcde: compcde },
								success: function (result) {
									Customers = [];
									$.each(result, function (i, idata) {
										Customers[i] = {
											label: idata.Kna1Kunnr + "\\" + idata.Kna1Name1, //顯示在清單的東西
											idx: i,
											value: idata.Kna1Kunnr,
											Name: idata.Kna1Name1 //這個是要填入textbox的值
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: Customers,
										select: function (event, ui) {
											$("#tbx_cCustomerName").val(ui.item.Name);
										}
									}).bind('focus', function () { $(this).autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
									$(".ui-autocomplete").css({ 'z-index': '2051', 'font-size': '16px' }); //可以正常顯示關鍵字查詢
								}
							})
						}
					}

				}
			})
		}

		//Ajax用中文或英文姓名查詢人員帳號
		function PeopleSearch() {
			$(".Peoploe").unbind();

			$(".Peoploe").koala({
				delay: 300,
				keyup: function (event) {
					if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40) {
						var keyword = $(this).val();
						if (keyword.length > 1) {
							var obj = $(this);
							var ojbID = $(this).attr("id");

							$.ajax({
								url: '@Url.Action("AjaxfindEmployeeByKeyword", "ServiceRequest")',
								type: 'post',
								dataType: 'json',
								data: {
									functionName: 'AjaxfindEmployeeByKeyword', keyword: keyword
								},
								success: function (result) {
									objects = [];
									$.each(result, function (i, idata) {
										objects[i] = {
											label: idata.CEmployeeCName + "\\" + idata.CEmployeeEname + "\\" + idata.CEmployeeErpid,
											idx: i,
											value: idata.CEmployeeErpid //value這個值，一定要在label裡才能顯示出下拉
										};
									});

									//綁定foucs事件
									obj.autocomplete({
										source: objects
									}).bind('focus', function () { obj.autocomplete("search"); });

									//開啟autocomplete選單
									obj.focus();
								}
							})

						}
					}
				}
			})
		}

		//-----↓↓↓↓↓報修類別 ↓↓↓↓↓-----
		//第一階(大類) onChange
		function onChangecSRTypeOne() {

			//先清空下拉選單選項，才不會一直append
			$('#ddl_cSRTypeSec').empty();
			$('#ddl_cSRTypeThr').empty();

			$.ajax({
				url: '@Url.Action("findSRTypeSecList", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					keyword: $('#ddl_cSRTypeOne').val(),
				},
				success: function (result) {
					$.each(result, function (index, obj) {
						$("#ddl_cSRTypeSec").append(
							$('<option></option>').val(obj.value).html(obj.text)
						);
					});
				}
			});
		}

		//第二階(中類) onChange
		function onChangecSRTypeSec() {

			//先清空下拉選單選項，才不會一直append
			$('#ddl_cSRTypeThr').empty();

			$.ajax({
				url: '@Url.Action("findSRTypeThrList", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					keyword: $('#ddl_cSRTypeSec').val(),
				},
				success: function (result) {
					$.each(result, function (index, obj) {
						$("#ddl_cSRTypeThr").append(
							$('<option></option>').val(obj.value).html(obj.text)
						);
					});
				}
			});
		}
		//-----↑↑↑↑↑報修類別 ↑↑↑↑↑-----
		
		//查詢
		function Query() {
			$("#waitingImg").show();

			var tMsg = "";
			var tbx_cStartCreatedDate = $('#tbx_cStartCreatedDate');		//建立日期(起)
			var tbx_cEndCreatedDate = $('#tbx_cEndCreatedDate');			//建立日期(迄)
			var tbx_cStartFinishTime = $('#tbx_cStartFinishTime');		//完成時間(起)
			var tbx_cEndFinishTime = $('#tbx_cEndFinishTime');			//完成時間(迄)
			var tbx_QuerySRID = $("#tbx_QuerySRID");					//SRID
			var tbx_QueryCustomerID = $("#tbx_QueryCustomerID");			//客戶代號
			var tbx_QueryRepairName = $("#tbx_QueryRepairName");			//報修人
			var tbx_QueryRepairAddress = $("#tbx_QueryRepairAddress");	//報修人地址			
			var tbx_QuerySerialID = $("#tbx_QuerySerialID");				//序號
			var tbx_QueryPID = $("#tbx_QueryPID");						//機器型號
			var TeamID = $("#ddl_TeamID").val().join();				//服務團隊(新)
			var TeamOldID = $("#ddl_TeamOldID").val().join();			//服務團隊(舊)
			var Status = $("#ddl_Status").val().join();				//狀態
			var SRType = $("#ddl_SRType").val().join();				//服務案件種類
			var tbx_QueryEngineerID = $("#tbx_QueryEngineerID");			//工程師ERPID
			var tbx_QueryContractID = $("#tbx_QueryContractID");			//合約編號
			var tbx_QuerySO = $("#tbx_QuerySO");						//銷售單號
			var tbx_QueryXCHP = $("#tbx_QueryXCHP");					//XCHP
			var tbx_QueryHPCT = $("#tbx_QueryHPCT");					//HPCT
			var tbx_QueryMaterialID = $("#tbx_QueryMaterialID");			//更換零件料號ID
			var tbx_QueryMaterialName = $("#tbx_QueryMaterialName");		//更換零件料號說明
			var tbx_QueryOLDCT = $("#tbx_QueryOLDCT");					//OLDCT
			var tbx_QueryNEWCT = $("#tbx_QueryNEWCT");					//NEWCT
			var ddl_cSRTypeOne = $('#ddl_cSRTypeOne');					//報修類別-大類
			var ddl_cSRTypeSec = $('#ddl_cSRTypeSec');					//報修類別-中類
			var ddl_cSRTypeThr = $('#ddl_cSRTypeThr');					//報修類別-小類

			if (tbx_cStartCreatedDate.val() == "" && tbx_cEndCreatedDate.val() == "" && tbx_cStartFinishTime.val() == "" && tbx_cEndFinishTime.val() == "" && 
			    tbx_QuerySRID.val() == "" && tbx_QueryCustomerID.val() == "" && tbx_QueryRepairName.val() == "" && tbx_QueryRepairAddress.val() == "" &&
				tbx_QuerySerialID.val() == "" && tbx_QueryPID.val() == ""  && TeamID == "" && TeamOldID == "" && Status == "" && SRType == "" && tbx_QueryEngineerID.val() == "" &&
				tbx_QueryContractID.val() == "" && tbx_QuerySO.val() == "" && tbx_QueryXCHP.val() == "" && tbx_QueryHPCT.val() == "" &&
				tbx_QueryMaterialID.val() == "" && tbx_QueryMaterialName.val() == "" && tbx_QueryOLDCT.val() == "" && tbx_QueryNEWCT.val() == "" && ddl_cSRTypeOne.val() == "" &&
				(ddl_cSRTypeSec.val() == null || ddl_cSRTypeSec.val() == "") && 
				(ddl_cSRTypeThr.val() == null || ddl_cSRTypeThr.val() == "")) {
				tMsg += "請至少輸入一項查詢條件！\n";
			}
			
			if (tbx_cStartCreatedDate.val() != "" && tbx_cEndCreatedDate.val() != "") {

				if (tbx_cStartCreatedDate.val() > tbx_cEndCreatedDate.val()) {
					tMsg += '建立日期(起)不能大於建立日期(迄)！\n';
					tbx_cEndCreatedDate.val(""); //清空
				}
			}

			if (tbx_cStartFinishTime.val() != "" && tbx_cEndFinishTime.val() != "") {

				if (tbx_cStartFinishTime.val() > tbx_cEndFinishTime.val()) {
					tMsg += '完成時間(起)不能大於完成時間(迄)！\n';
					tbx_cEndFinishTime.val(""); //清空
				}
			}	

			if (tMsg != "") {
				alert(tMsg);
				$("#waitingImg").hide();
				return false;
			}
			else {
				searchSRReport(tbx_cStartCreatedDate.val(), tbx_cEndCreatedDate.val(), tbx_cStartFinishTime.val(), tbx_cEndFinishTime.val(),
					tbx_QuerySRID.val(), tbx_QueryCustomerID.val(), tbx_QueryRepairName.val(), tbx_QueryRepairAddress.val(),
					tbx_QuerySerialID.val(), tbx_QueryPID.val(), TeamID, TeamOldID, Status, SRType, tbx_QueryEngineerID.val(), tbx_QueryContractID.val(), tbx_QuerySO.val(),
					tbx_QueryXCHP.val(), tbx_QueryHPCT.val(), tbx_QueryMaterialID.val(), tbx_QueryMaterialName.val(), tbx_QueryOLDCT.val(), tbx_QueryNEWCT.val(),
					ddl_cSRTypeOne.val(), ddl_cSRTypeSec.val(), ddl_cSRTypeThr.val());
			}

			return true;
		}

		//查詢結果
		function searchSRReport(StartCreatedDate, EndCreatedDate, StartFinishTime, EndFinishTime, SRID, CustomerID, RepairName, RepairAddress,
			SerialID, PID, TeamID, TeamOldID, Status, SRType, EngineerID, ContractID, SO, XCHP, HPCT, MaterialID, MaterialName, OLDCT, NEWCT, cSRTypeOne, cSRTypeSec, cSRTypeThr) {
			$("#dataDiv").html('');
			$.ajax({
				url: '@Url.Action("SRReportResult", "ServiceRequest")',
				type: 'post',
				dataType: 'json',
				data: {
					StartCreatedDate: StartCreatedDate,
					EndCreatedDate: EndCreatedDate,
					StartFinishTime: StartFinishTime,
					EndFinishTime: EndFinishTime,
					SRID: SRID,
					CustomerID: CustomerID,
					RepairName: RepairName,
					RepairAddress: RepairAddress,					
					SerialID: SerialID,
					PID: PID,
					TeamID: TeamID,
					TeamOldID: TeamOldID,
					Status: Status,
					SRType: SRType,
					EngineerID: EngineerID,
					ContractID: ContractID,
					SO: SO,
					XCHP: XCHP, 
					HPCT: HPCT,
					MaterialID: MaterialID,
					MaterialName: MaterialName, 
					OLDCT: OLDCT,
					NEWCT: NEWCT,
					cSRTypeOne: cSRTypeOne,
					cSRTypeSec: cSRTypeSec,
					cSRTypeThr: cSRTypeThr
				},
				success: function (result) {
				},
				complete: function (result) {
					$("#dataDiv").html(result.responseText);
					$("#waitingImg").hide();
				}
			});
		}

		//清除
		function clearSRReport() {
			$('#tbx_cStartCreatedDate').val("");
			$('#tbx_cEndCreatedDate').val("");
			$('#tbx_cStartFinishTime').val("");
			$('#tbx_cEndFinishTime').val("");
			$("#tbx_QuerySRID").val("");
			$('#tbx_QueryCustomerID').val("");
			$("#tbx_QueryRepairName").val("");
			$("#tbx_QueryRepairAddress").val("");
			$("#tbx_QuerySerialID").val("");
			$("#tbx_QueryPID").val("");			
			$("#tbx_QueryEngineerID").val("");
			$("#tbx_QueryContractID").val("");
			$("#tbx_QuerySO").val("");
			$("#tbx_QueryXCHP").val("");
			$("#tbx_QueryHPCT").val("");
			$("#tbx_QueryMaterialID").val("");
			$("#tbx_QueryMaterialName").val("");
			$("#tbx_QueryOLDCT").val("");
			$("#tbx_QueryNEWCT").val("");
			
			$("#ddl_TeamID").val("").trigger('chosen:updated');
			$("#ddl_TeamOldID").val("").trigger('chosen:updated');
			$("#ddl_Status").val("").trigger('chosen:updated');
			$("#ddl_SRType").val("").trigger('chosen:updated');
			$('#ddl_cSRTypeOne').val("");
			$('#ddl_cSRTypeSec').empty(); //清空下拉選項
			$('#ddl_cSRTypeThr').empty(); //清空下拉選項
		}
	</script>
}

	@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>服務總表</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">服務管理系統參數設定</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>服務總表</strong>
			</li>
		</ol>
	</div>
}

	<div class="row">

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>
						服務總表
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<form id="form1" name="form" action='#' method="post">
						<!--登人者公司別-->
						<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
						<!--登人者工廠別-->
						<input type="hidden" id="hid_cLoginUser_BUKRS" name="hid_cLoginUser_BUKRS" value="@ViewBag.cLoginUser_BUKRS">
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">建立日期</label>
							<div class="input-group col-md-10 col-lg-6">
								<span class="input-group-addon">起</span>
								<input type="text" name="tbx_cStartCreatedDate" id="tbx_cStartCreatedDate" class="calendar form-control" placeholder="起始日期"><span class="input-group-addon">迄</span>
								<input type="text" name="tbx_cEndCreatedDate" id="tbx_cEndCreatedDate" class="calendar form-control" placeholder="結束日期">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">完成時間</label>
							<div class="input-group col-md-10 col-lg-6">
								<span class="input-group-addon">起</span>
								<input type="text" name="tbx_cStartFinishTime" id="tbx_cStartFinishTime" class="calendar form-control" placeholder="起始日期"><span class="input-group-addon">迄</span>
								<input type="text" name="tbx_cEndFinishTime" id="tbx_cEndFinishTime" class="calendar form-control" placeholder="結束日期">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">SRID</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QuerySRID" name="tbx_QuerySRID" class="form-control" placeholder="SRID">
							</div>
							<label class="col-lg-2 col-form-label">客戶代號</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryCustomerID" name="tbx_QueryCustomerID" class="form-control CustName" placeholder="請輸入客戶統編或名稱關鍵字">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">報修人</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryRepairName" name="tbx_QueryRepairName" class="form-control" placeholder="報修人">
							</div>
							<label class="col-lg-2 col-form-label">報修人地址</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryRepairAddress" name="tbx_QueryRepairAddress" class="form-control" placeholder="報修人地址關鍵字">
							</div>							
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">序號</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QuerySerialID" name="tbx_QuerySerialID" class="form-control" placeholder="序號">
							</div>
							<label class="col-lg-2 col-form-label">機器型號</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryPID" name="tbx_QueryPID" class="form-control" placeholder="機器型號">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">服務團隊(新)</label>
							<div class="col-lg-4">
								@Html.DropDownList("ddl_TeamID", (IEnumerable<SelectListItem>)ViewBag.ddl_TeamID, new { @class = "form-control chosen-select", @multiple = "true", @data_placeholder = "請選擇服務團隊(新)" })
							</div>
							<label class="col-lg-2 col-form-label">服務團隊(舊)</label>
							<div class="col-lg-4">
								@Html.DropDownList("ddl_TeamOldID", (IEnumerable<SelectListItem>)ViewBag.ddl_TeamOldID, new { @class = "form-control chosen-select", @multiple = "true", @data_placeholder = "請選擇服務團隊(舊)" })
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">服務案件種類</label>
							<div class="col-lg-4">
								@Html.DropDownList("ddl_SRType", (IEnumerable<SelectListItem>)ViewBag.ddl_SRType, new { @class = "form-control chosen-select", @multiple = "true", @data_placeholder = "請選擇服務案件種類" })								
							</div>
							<label class="col-lg-2 col-form-label">工程師ERPID</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryEngineerID" name="tbx_QueryEngineerID" class="form-control Peoploe" placeholder="請輸入人名或英文關鍵字搜尋">
							</div>							
						</div>
						<div class="form-group row">							
							<label class="col-lg-2 col-form-label">合約編號</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryContractID" name="tbx_QueryContractID" class="form-control" placeholder="合約編號">
							</div>
							<label class="col-lg-2 col-form-label">銷售單號</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QuerySO" name="tbx_QuerySO" class="form-control" placeholder="銷售單號">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">XCHP</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryXCHP" name="tbx_QueryXCHP" class="form-control" placeholder="XCHP">
							</div>
							<label class="col-lg-2 col-form-label">HPCT</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryHPCT" name="tbx_QueryHPCT" class="form-control" placeholder="HPCT">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">更換零件料號ID</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryMaterialID" name="tbx_QueryMaterialID" class="form-control" placeholder="更換零件料號ID">
							</div>
							<label class="col-lg-2 col-form-label">更換零件料號說明</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryMaterialName" name="tbx_QueryMaterialName" class="form-control" placeholder="更換零件料號說明">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">OLDCT</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryOLDCT" name="tbx_QueryOLDCT" class="form-control" placeholder="OLDCT">
							</div>
							<label class="col-lg-2 col-form-label">NEWCT</label>
							<div class="col-lg-4">
								<input type="text" id="tbx_QueryNEWCT" name="tbx_QueryNEWCT" class="form-control" placeholder="NEWCT">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">報修類別</label>
							<div class="col-lg-4">
								@Html.DropDownList("ddl_cSRTypeOne", (IEnumerable<SelectListItem>)ViewBag.SRTypeOneList, new { @class = "form-control", @onchange = "javascript:onChangecSRTypeOne();" })
								@Html.DropDownList("ddl_cSRTypeSec", (IEnumerable<SelectListItem>)ViewBag.SRTypeSecList, new { @class = "form-control", @onchange = "javascript:onChangecSRTypeSec();" })
								@Html.DropDownList("ddl_cSRTypeThr", (IEnumerable<SelectListItem>)ViewBag.SRTypeThrList, new { @class = "form-control" })
							</div>
							<label class="col-lg-2 col-form-label">狀態</label>
							<div class="col-lg-4">
								@Html.DropDownList("ddl_Status", (IEnumerable<SelectListItem>)ViewBag.ddl_Status, new { @class = "form-control chosen-select", @multiple = "true", @data_placeholder = "請選擇狀態" })
							</div>
						</div>				
						<div class="form-group row">
							<button class="btn btn-success btn-lg" type="button" onclick="if (!Query()) { return false; }"><i class="fa fa-search"></i> 查 詢 </button>
							<button class="btn btn-default btn-lg" type="button" onclick="clearSRReport();"><i class="fa fa-trash"></i> 清 除 </button>
							<img id="waitingImg" class="waitingImg" src="~/images/ajax-loading_16.gif" style="display:none; margin:0px 10px" alt="">
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>服務總表查詢結果</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content" id="dataDiv" style="overflow: scroll">
					<table id="tableAll" class="table table-striple table-bordered table-hover dataTables-example">
						<thead>
							<tr>
								<th>SR_ID</th>
								<th>說明</th>
								<th>詳細描述</th>
								<th>類型</th>
								<th>類型說明</th>
								<th>狀態說明</th>
								<th>狀態</th>
								<th>客戶ID</th>
								<th>客戶名稱</th>
								<th>報修人姓名</th>
								<th>報修人地址</th>
								<th>報修人電話</th>
								<th>報修人手機</th>
								<th>報修人Email</th>
								<th>建立日期</th>
								<th>處理方式</th>
								<th>維護服務種類</th>
								<th>報修大類</th>
								<th>報修中類</th>
								<th>報修小類</th>
								<th>服務團隊</th>
								<th>SQ人員</th>
								<th>是否為二修</th>
								<th>是否為APP結案</th>
								<th>延遲結案原因</th>
								<th>機器型號</th>
								<th>Product Number</th>
								<th>序號</th>
								<th>接單時間</th>
								<th>出發時間</th>
								<th>到場時間</th>
								<th>完成時間</th>
								<th>工時(分鐘)</th>
								<th>工程師ID</th>
								<th>工程師姓名</th>
								<th>處理紀錄</th>
								<th>服務報告書</th>
								<th>本次使用保固</th>
								<th>保固代號</th>
								<th>保固說明</th>
								<th>保固開始</th>
								<th>保固結束</th>
								<th>回應條件</th>
								<th>服務條件</th>
								<th>合約編號</th>
								<th>更換零件料號ID</th>
								<th>料號說明</th>
								<th>XC HP申請零件</th>
								<th>OLDCT</th>
								<th>NEWCT</th>
								<th>HPCT</th>
								<th>是否有人損</th>
								<th>零件更換備註</th>
								<th>計數器(IN)</th>
								<th>計數器(OUT)</th>
								<th>銷售單號</th>
								<th>出貨單號</th>
							</tr>
						</thead>
						<tbody>
							@{
							if (ViewBag.QueryToListBean != null)
							{
								int count = 0;
								foreach (string[] QueryInfo in ViewBag.QueryToListBean)
								{
									count++;
									<tr id='tr@(count)'>
										<td><a href="@QueryInfo[1]" target="_blank">@QueryInfo[0]</a></td>
										<td>@Html.Raw(QueryInfo[2])</td>
										<td>@Html.Raw(QueryInfo[3])</td>
										<td>@Html.Raw(QueryInfo[4])</td>
										<td>@Html.Raw(QueryInfo[5])</td>
										<td>@Html.Raw(QueryInfo[6])</td>
										<td>@Html.Raw(QueryInfo[7])</td>
										<td>@Html.Raw(QueryInfo[8])</td>
										<td>@Html.Raw(QueryInfo[9])</td>
										<td>@Html.Raw(QueryInfo[10])</td>
										<td>@Html.Raw(QueryInfo[11])</td>
										<td>@Html.Raw(QueryInfo[12])</td>
										<td>@Html.Raw(QueryInfo[13])</td>
										<td>@Html.Raw(QueryInfo[14])</td>
										<td>@Html.Raw(QueryInfo[15])</td>
										<td>@Html.Raw(QueryInfo[16])</td>
										<td>@Html.Raw(QueryInfo[17])</td>
										<td>@Html.Raw(QueryInfo[18])</td>
										<td>@Html.Raw(QueryInfo[19])</td>
										<td>@Html.Raw(QueryInfo[20])</td>
										<td>@Html.Raw(QueryInfo[21])</td>
										<td>@Html.Raw(QueryInfo[22])</td>
										<td>@Html.Raw(QueryInfo[23])</td>
										<td>@Html.Raw(QueryInfo[24])</td>
										<td>@Html.Raw(QueryInfo[25])</td>
										<td>@Html.Raw(QueryInfo[26])</td>
										<td>@Html.Raw(QueryInfo[27])</td>
										<td>@Html.Raw(QueryInfo[28])</td>
										<td>@Html.Raw(QueryInfo[29])</td>
										<td>@Html.Raw(QueryInfo[30])</td>
										<td>@Html.Raw(QueryInfo[31])</td>
										<td>@Html.Raw(QueryInfo[32])</td>
										<td>@Html.Raw(QueryInfo[33])</td>
										<td>@Html.Raw(QueryInfo[34])</td>
										<td>@Html.Raw(QueryInfo[35])</td>
										<td>@Html.Raw(QueryInfo[36])</td>
										<td><a href="@QueryInfo[37]" target="_blank">@QueryInfo[37]</a></td>										
										<td>@Html.Raw(QueryInfo[38])</td>
										<td>@Html.Raw(QueryInfo[39])</td>
										<td>@Html.Raw(QueryInfo[40])</td>
										<td>@Html.Raw(QueryInfo[41])</td>
										<td>@Html.Raw(QueryInfo[42])</td>
										<td>@Html.Raw(QueryInfo[43])</td>
										<td>@Html.Raw(QueryInfo[44])</td>
										<td>@Html.Raw(QueryInfo[45])</td>
										<td>@Html.Raw(QueryInfo[46])</td>
										<td>@Html.Raw(QueryInfo[47])</td>
										<td>@Html.Raw(QueryInfo[48])</td>
										<td>@Html.Raw(QueryInfo[49])</td>
										<td>@Html.Raw(QueryInfo[50])</td>
										<td>@Html.Raw(QueryInfo[51])</td>
										<td>@Html.Raw(QueryInfo[52])</td>
										<td>@Html.Raw(QueryInfo[53])</td>
										<td>@Html.Raw(QueryInfo[54])</td>
										<td>@Html.Raw(QueryInfo[55])</td>
										<td>@Html.Raw(QueryInfo[56])</td>
										<td>@Html.Raw(QueryInfo[57])</td>
									</tr>
								}
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>