@{
	ViewBag.Title = "待辦清單";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		$(document).ready(function () {			
			setTimeout(function () {
				datatableInit();
			}, 500);
		});

		//刪除清單
		function DelDetailItem(rowId) {
			$('#' + rowId).remove();
		}

		//查詢結果表格init
		function datatableInit() {
			var buttonCommon = {
				exportOptions: {
					format: {
						body: function (data, row, column, node) {
							//替換&符號
							var translate_re = /&(nbsp|amp|quot|lt|gt);/g,
								translate = {
									'nbsp': String.fromCharCode(160),
									'amp': '&',
									'quot': '"',
									'lt': '<',
									'gt': '>'
								},
								translator = function ($0, $1) {
									return translate[$1];
								};

							if (typeof data === 'string')
								data = data.replace(translate_re, translator);

							//將換行符號<br>換成excel可以識別的\n
							if (column === 5) {
								return data.replace(/<br\s*\/?>/ig, "\n"); //匯出需要在每筆紀錄前，多換一行
							}
							else if (column === 8) {
								return data.split("</button>")[0].split(">").pop(); //pop()代表取最後一個
                            }
							else return data;
						}
					}
				}
			};

			$('#tableGenerallySRList').DataTable({
				language: {
					"lengthMenu": "每頁顯示筆數 _MENU_ ",
					"info": "顯示第 _START_ 到 _END_ 筆，全部共 _TOTAL_ 筆",
					"search": " 關鍵字篩選"
				},
				pageLength: 50,
				responsive: true,
				colReorder: true,				
				dom: '<"top"i><"wrapper"Bfrtip>', //Bfrtip
				buttons: [
					$.extend(true, {}, buttonCommon, {
						extend: 'excelHtml5',
						title: 'ToDoListFile',
						text: '匯出Excel',
						customize: function (xlsx) {
							var sheet = xlsx.xl.worksheets['sheet1.xml'];

							$('row c[r^="A"]', sheet).attr('s', '0'); //樣式代號請參閱 https://datatables.net/reference/button/excelHtml5
							$('row c[r^="B"]', sheet).attr('s', '0');
							$('row c[r^="C"]', sheet).attr('s', '0');
							$('row c[r^="D"]', sheet).attr('s', '0');
							$('row c[r^="E"]', sheet).attr('s', '0');
							$('row c[r^="F"]', sheet).attr('s', '0');
							$('row c[r^="G"]', sheet).attr('s', '0');
							$('row c[r^="H"]', sheet).attr('s', '0');
							$('row c[r^="I"]', sheet).attr('s', '0');
						}
					}),
				],
				autoWidth: false,
				
				columnDefs: [
					{ "width": "32px", "targets": 0 },   //SRID
					{ "width": "32px", "targets": 1 },   //客戶
					{ "width": "32px", "targets": 2 },   //客戶報修人
					{ "width": "100px", "targets": 3 },   //說明
					{ "width": "32px", "targets": 4 },   //報修管道
					{ "width": "32px", "targets": 5 },  //報修類別
					{ "width": "32px", "targets": 6 },  //主要工程師
					{ "width": "60px", "targets": 7 },   //最後編輯日期
					{ "width": "32px", "targets": 8 },   //狀態
				],
			});

			$("#tableGenerallySRList_wrapper .dt-buttons").css("float", "right"); //匯出excel按鈕位置靠右
		}
	</script>
}

	@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>待辦清單</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">Home</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>待辦清單</strong>
			</li>
		</ol>
	</div>
}

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>待處理服務-一般服務</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<!--登人者姓名-->
					<input type="hidden" id="hid_cLoginUser_Name" name="hid_cLoginUser_Name" value="@ViewBag.cLoginUser_Name">
					<!--登人者帳號-->
					<input type="hidden" id="hid_cLoginUser_EmployeeNO" name="hid_cLoginUser_EmployeeNO" value="@ViewBag.cLoginUser_EmployeeNO">
					<!--登人者ERPID-->
					<input type="hidden" id="hid_cLoginUser_ERPID" name="hid_cLoginUser_ERPID" value="@ViewBag.cLoginUser_ERPID">
					<!--登人者工作地點-->
					<input type="hidden" id="hid_cLoginUser_WorkPlace" name="hid_cLoginUser_WorkPlace" value="@ViewBag.cLoginUser_WorkPlace">
					<!--登人者公司別-->
					<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
					<!--登人者工廠別-->
					<input type="hidden" id="hid_cLoginUser_BUKRS" name="hid_cLoginUser_BUKRS" value="@ViewBag.cLoginUser_BUKRS">
					<!--登人者單位-->
					<input type="hidden" id="hid_cLoginUser_DepartmentName" name="hid_cLoginUser_DepartmentName" value="@ViewBag.cLoginUser_DepartmentName">
					<!--登人者單位NO-->
					<input type="hidden" id="hid_cLoginUser_DepartmentNO" name="hid_cLoginUser_DepartmentNO" value="@ViewBag.cLoginUser_DepartmentNO">
					<!--登人者利潤中心ID-->
					<input type="hidden" id="hid_cLoginUser_ProfitCenterID" name="hid_cLoginUser_ProfitCenterID" value="@ViewBag.cLoginUser_ProfitCenterID">
					<!--登人者成本中心ID-->
					<input type="hidden" id="hid_cLoginUser_CostCenterID" name="hid_cLoginUser_CostCenterID" value="@ViewBag.cLoginUser_CostCenterID">
					<!--登人者是否為主管-->
					<input type="hidden" id="hid_cLoginUser_IsManager" name="hid_cLoginUser_IsManager" value="@ViewBag.pIsManager">
					<div>
						<select class='form-control' name='ddl_ProcessOption' onchange="$('#tableGenerallySRList_filter').children().children().val($(this).val()); $('#tableGenerallySRList_filter').children().children().trigger('keyup');">
							<option value='' selected="selected">全部</option>
							<option value='新建'>新建</option>
							<option value='L2處理中'>L2處理中</option>
							<option value='報價中'>報價中</option>
							<option value='3rd Party處理中'>3rd Party處理中</option>
							<option value='L3處理中'>L3處理中</option>
							<option value='HPGCSN 申請'>HPGCSN 申請</option>
							<option value='HPGCSN 完成'>HPGCSN 完成</option>
							<option value='駁回'>駁回</option>
						</select>
					</div>
					<div class="hr-line-dashed"></div>
					<table id="tableGenerallySRList" class="table table-striple table-bordered table-hover dataTables-example tableToDoListQeryStyle">
						<thead>
							<tr>
								<th>SRID</th>
								<th>客戶</th>
								<th>客戶報修人</th>
								<th>說明</th>
								<th>報修管道</th>
								<th>報修類別</th>
								<th>主要工程師</th>
								<th>最後編輯日期</th>
								<th>狀態</th>
							</tr>
						</thead>
						<tbody>
							@{
							int count = 0;
							if (ViewBag.SRIDList_GenerallySR != null)
							{
								foreach (string[] CheckInfo in ViewBag.SRIDList_GenerallySR)
								{
									string tERPID = ViewBag.cLoginUser_ERPID;

										//判斷是主管且狀態非【新建】
									if (ViewBag.pIsManager && CheckInfo[10] != "E0001")
									{
										//判斷是主管且【不為主要工程師】且【也不為技術主管】才跳過
										if (tERPID != CheckInfo[6] && CheckInfo[8].IndexOf(tERPID) == -1)
										{
											continue;
										}
									}

									count++;
									<tr id='trManager@(count)'>
										<td>@CheckInfo[0]</td>
										<td>@CheckInfo[1]</td>
										<td>@CheckInfo[2]</td>
										<td>@CheckInfo[3]</td>
										<td>@CheckInfo[4]</td>
										<td>@Html.Raw(CheckInfo[5])</td>
										<td>@CheckInfo[7]</td>
										<td>@CheckInfo[9]</td>
										<td>
											@{
												string tTypeName = string.Empty;
												string tClass = string.Empty;

												if (CheckInfo[10] == "E0001")
												{
													tClass = "btn btn-info";
													tTypeName = "新建";
												}
												else if (CheckInfo[10] == "E0002")
												{
													tClass = "btn btn-primary";
													tTypeName = "L2處理中";
												}
												else if (CheckInfo[10] == "E0003")
												{
													tClass = "btn btn-primary";
													tTypeName = "報價中";
												}
												else if (CheckInfo[10] == "E0004")
												{
													tClass = "btn btn-primary";
													tTypeName = "3rd Party處理中";
												}
												else if (CheckInfo[10] == "E0005")
												{
													tClass = "btn btn-success";
													tTypeName = "L3處理中";
												}
												else if (CheckInfo[10] == "E0012")
												{
													tClass = "btn btn-success";
													tTypeName = "HPGCSN 申請";
												}
												else if (CheckInfo[10] == "E0013")
												{
													tClass = "btn btn-success";
													tTypeName = "HPGCSN 完成";
												}
												else if (CheckInfo[10] == "E0014")
												{
													tClass = "btn btn-info";
													tTypeName = "駁回";
												}
											}
											<button class='@tClass' type="button" onclick="window.open('@Url.Action("GenerallySR", "ServiceRequest", new { SRID = CheckInfo[0] })'); DelDetailItem('trManager@(count)');">
												@tTypeName
											</button>
										</td>
									</tr>
								}
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>

