@{
	ViewBag.Title = "待辦清單";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!--Java Script寫在js_section裡面-->
@section js_section{
	<script>
		$(document).ready(function () {			
			setTimeout(function () {
				datatableInit();
			}, 500);
		});

		//刪除清單
		function DelDetailItem(rowId) {
			$('#' + rowId).remove();
		}

		//查詢結果表格init
		function datatableInit() {
			var buttonCommon = {
				exportOptions: {
					format: {
						body: function (data, row, column, node) {
							//替換&符號
							var translate_re = /&(nbsp|amp|quot|lt|gt);/g,
								translate = {
									'nbsp': String.fromCharCode(160),
									'amp': '&',
									'quot': '"',
									'lt': '<',
									'gt': '>'
								},
								translator = function ($0, $1) {
									return translate[$1];
								};

							if (typeof data === 'string')
								data = data.replace(translate_re, translator);

							//將換行符號<br>換成excel可以識別的\n
							if (column === 3 || column === 6 || column === 8) {
								return data.replace(/<br\s*\/?>/ig, "\n"); //匯出需要在每筆紀錄前，多換一行
							}
							else if (column === 10) {
								return data.split("</button>")[0].split(">").pop(); //pop()代表取最後一個
                            }
							else return data;
						}
					}
				}
			};

			$('#tableGenerallySRList').DataTable({
				language: {
					"lengthMenu": "每頁顯示筆數 _MENU_ ",
					"info": "顯示第 _START_ 到 _END_ 筆，全部共 _TOTAL_ 筆",
					"search": " 關鍵字篩選"
				},
				pageLength: 50,
				responsive: true,
				colReorder: true,				
				dom: '<"top"i><"wrapper"Bfrtip>', //Bfrtip
				buttons: [
					$.extend(true, {}, buttonCommon, {
						extend: 'excelHtml5',
						title: '待辦清單_' + new Date().toISOString().slice(0, 10).replace("-", "").replace("-", ""),
						text: '匯出Excel',
						sheetName: '待辦清單',
						customize: function (xlsx) {
							addCustomNumberFormat(xlsx, '0');
							formatTargetColumn(xlsx, 'A');
							formatTargetColumn(xlsx, 'B');
							formatTargetColumn(xlsx, 'C');
							formatTargetColumn(xlsx, 'D');
							formatTargetColumn(xlsx, 'E');
							formatTargetColumn(xlsx, 'F');
							formatTargetColumn(xlsx, 'G');
							formatTargetColumn(xlsx, 'H');
							formatTargetColumn(xlsx, 'I');
							formatTargetColumn(xlsx, 'J');
							formatTargetColumn(xlsx, 'K');
						}
					}),
				],
				autoWidth: false,
				
				columnDefs: [
					{ "width": "20px", "targets": 0 },   //SRID
					{ "width": "110px", "targets": 1 },   //客戶
					{ "width": "60px", "targets": 2 },   //客戶報修人
					{ "width": "60px", "targets": 3 },   //客戶聯絡人
					{ "width": "120px", "targets": 4 },  //說明
					{ "width": "70px", "targets": 5 },   //報修管道
					{ "width": "120px", "targets": 6 },   //報修類別
					{ "width": "32px", "targets": 7 },   //主要工程師
					{ "width": "32px", "targets": 8 },   //協助工程師
					{ "width": "60px", "targets": 9 },   //最後編輯日期
					{ "width": "70px", "targets": 10 },  //狀態
				],
			});

			$("#tableGenerallySRList_wrapper .dt-buttons").css("float", "right"); //匯出excel按鈕位置靠右
		}

		function addCustomNumberFormat(xlsx, numberFormat) {
			// this adds a new custom number format to the Excel "styles" document:
			var numFmtsElement = xlsx.xl['styles.xml'].getElementsByTagName('numFmts')[0];
			// assume 6 custom number formats already exist, and next available ID is 176:
			var numFmtElement = '<numFmt numFmtId="176" formatCode="' + numberFormat + '"/>';
			$(numFmtsElement).append(numFmtElement);
			$(numFmtsElement).attr("count", "7"); // increment the count

			// now add a new "cellXfs" cell formatter, which uses our new number format (numFmt 176):
			var celXfsElement = xlsx.xl['styles.xml'].getElementsByTagName('cellXfs');
			var cellStyle = '<xf numFmtId="176" fontId="0" fillId="0" borderId="0" xfId="0" applyNumberFormat="1"'
				+ ' applyFont="1" applyFill="1" applyBorder="1"/>';
			// this will be the 8th "xf" element - and will therefore have an index of "7", when we use it later:
			$(celXfsElement).append(cellStyle);
			$(celXfsElement).attr("count", "66"); //(1.2.3版)官方提供0-64共65種格式，在此自己新增加一種
		}

		function formatTargetColumn(xlsx, col) {
			var sheet = xlsx.xl.worksheets['sheet1.xml'];

			if (col == "A") {
				$('row c[r^="' + col + '"]', sheet).attr('s', '65'); //使用自定義格式
			}
			else {
				$('row c[r^="' + col + '"]', sheet).attr('s', '0'); //設成文字格式
			}
		}
	</script>
}

	@section breadcrumb_section{
	<div class="col-lg-10">
		<h2>待辦清單</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">Home</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>待辦清單</strong>
			</li>
		</ol>
	</div>
}

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>待處理服務-一般服務</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<!--登人者姓名-->
					<input type="hidden" id="hid_cLoginUser_Name" name="hid_cLoginUser_Name" value="@ViewBag.cLoginUser_Name">
					<!--登人者帳號-->
					<input type="hidden" id="hid_cLoginUser_EmployeeNO" name="hid_cLoginUser_EmployeeNO" value="@ViewBag.cLoginUser_EmployeeNO">
					<!--登人者ERPID-->
					<input type="hidden" id="hid_cLoginUser_ERPID" name="hid_cLoginUser_ERPID" value="@ViewBag.cLoginUser_ERPID">
					<!--登人者工作地點-->
					<input type="hidden" id="hid_cLoginUser_WorkPlace" name="hid_cLoginUser_WorkPlace" value="@ViewBag.cLoginUser_WorkPlace">
					<!--登人者公司別-->
					<input type="hidden" id="hid_cLoginUser_CompCode" name="hid_cLoginUser_CompCode" value="@ViewBag.cLoginUser_CompCode">
					<!--登人者工廠別-->
					<input type="hidden" id="hid_cLoginUser_BUKRS" name="hid_cLoginUser_BUKRS" value="@ViewBag.cLoginUser_BUKRS">
					<!--登人者單位-->
					<input type="hidden" id="hid_cLoginUser_DepartmentName" name="hid_cLoginUser_DepartmentName" value="@ViewBag.cLoginUser_DepartmentName">
					<!--登人者單位NO-->
					<input type="hidden" id="hid_cLoginUser_DepartmentNO" name="hid_cLoginUser_DepartmentNO" value="@ViewBag.cLoginUser_DepartmentNO">
					<!--登人者利潤中心ID-->
					<input type="hidden" id="hid_cLoginUser_ProfitCenterID" name="hid_cLoginUser_ProfitCenterID" value="@ViewBag.cLoginUser_ProfitCenterID">
					<!--登人者成本中心ID-->
					<input type="hidden" id="hid_cLoginUser_CostCenterID" name="hid_cLoginUser_CostCenterID" value="@ViewBag.cLoginUser_CostCenterID">
					<!--登人者是否為主管-->
					<input type="hidden" id="hid_cLoginUser_IsManager" name="hid_cLoginUser_IsManager" value="@ViewBag.pIsManager">
					<div>
						<select class='form-control' name='ddl_ProcessOption' onchange="$('#tableGenerallySRList_filter').children().children().val($(this).val()); $('#tableGenerallySRList_filter').children().children().trigger('keyup');">
							<option value='' selected="selected">全部</option>
							<option value='新建'>新建</option>
							<option value='L2處理中'>L2處理中</option>
							<option value='報價中'>報價中</option>
							<option value='3rd Party處理中'>3rd Party處理中</option>
							<option value='技術支援升級'>技術支援升級</option>
							<option value='L3處理中'>L3處理中</option>
							<option value='裝機中'>裝機中</option>
							<option value='維修/DOA'>維修/DOA</option>
							<option value='HPGCSN 申請'>HPGCSN 申請</option>
							<option value='HPGCSN 完成'>HPGCSN 完成</option>
							<option value='駁回'>駁回</option>
						</select>
					</div>
					<div class="hr-line-dashed"></div>
					<table id="tableGenerallySRList" class="table table-striple table-bordered table-hover dataTables-example tableToDoListQeryStyle">
						<thead>
							<tr>
								<th>SRID</th>
								<th>客戶</th>
								<th>客戶報修人</th>
								<th>客戶聯絡人</th>
								<th>說明</th>
								<th>報修管道</th>
								<th>報修類別</th>
								<th>主要工程師</th>
								<th>協助工程師</th>
								<th>最後編輯日期</th>
								<th>狀態</th>
							</tr>
						</thead>
						<tbody>
							@{
							int count = 0;
							if (ViewBag.SRIDToDoList != null)
							{
								foreach (string[] CheckInfo in ViewBag.SRIDToDoList)
								{
									string tERPID = ViewBag.cLoginUser_ERPID;

									//狀態非【新建】時的判斷
									if (CheckInfo[15] != "E0001")
									{
										if (tERPID == CheckInfo[12]) //業務人員
										{
											continue;
										}
										else if (tERPID == CheckInfo[13]) //業務祕書
										{
											continue;
										}

										if (CheckInfo[10] != "")
										{
											if (CheckInfo[15] == "E0007") //若狀態【E0007.技術支援升級】
											{
												if (CheckInfo[10].IndexOf(tERPID) == -1) //【不為技術主管】才跳過
												{
													continue;
												}
											}
											else
											{
												if (CheckInfo[10].IndexOf(tERPID) >= 0) //【為技術主管但非E0007(技術支援升級)】才跳過
												{
													continue;
												}
											}											
										}

										if (ViewBag.pIsManager) //若是主管時
										{
											if (CheckInfo[15] != "E0007") //若狀態非【E0007.技術支援升級】
											{
												if (tERPID != CheckInfo[7]) //非【主要工程師】才跳過
												{
													continue;
												}
											}
										}
									}									

									count++;
									<tr id='trManager@(count)'>
										<td>@CheckInfo[0]</td>
										<td>@CheckInfo[1]</td>
										<td>@CheckInfo[2]</td>
										<td>@Html.Raw(CheckInfo[3])</td>
										<td>@CheckInfo[4]</td>
										<td>@CheckInfo[5]</td>
										<td>@Html.Raw(CheckInfo[6])</td>
										<td>@CheckInfo[8]</td>
										<td>@Html.Raw(CheckInfo[9])</td>
										<td>@CheckInfo[14]</td>
										<td>
											@{
												string tTypeName = string.Empty;
												string tClass = string.Empty;

												if (CheckInfo[15] == "E0001")
												{
													tClass = "btn btn-info";
													tTypeName = "新建";
												}
												else if (CheckInfo[15] == "E0002")
												{
													tClass = "btn btn-primary";
													tTypeName = "L2處理中";
												}
												else if (CheckInfo[15] == "E0003")
												{
													tClass = "btn btn-primary";
													tTypeName = "報價中";
												}
												else if (CheckInfo[15] == "E0004")
												{
													tClass = "btn btn-primary";
													tTypeName = "3rd Party處理中";
												}
												else if (CheckInfo[15] == "E0005")
												{
													tClass = "btn btn-success";
													tTypeName = "L3處理中";
												}
												else if (CheckInfo[15] == "E0007")
												{
													tClass = "btn btn-success";
													tTypeName = "技術支援升級";
												}
												else if (CheckInfo[15] == "E0008")
												{
													tClass = "btn btn-success";
													tTypeName = "裝機中";
												}
												else if (CheckInfo[15] == "E0009")
												{
													tClass = "btn btn-success";
													tTypeName = "維修/DOA";
												}
												else if (CheckInfo[15] == "E0012")
												{
													tClass = "btn btn-success";
													tTypeName = "HPGCSN 申請";
												}
												else if (CheckInfo[15] == "E0013")
												{
													tClass = "btn btn-success";
													tTypeName = "HPGCSN 完成";
												}
												else if (CheckInfo[15] == "E0014")
												{
													tClass = "btn btn-info";
													tTypeName = "駁回";
												}

												if (CheckInfo[0].Substring(0,2) == "61")
												{
													<button class='@tClass' type="button" onclick="window.open('@Url.Action("GenerallySR", "ServiceRequest", new { SRID = CheckInfo[0] })'); DelDetailItem('trManager@(count)');">
														@tTypeName
													</button>
												}
												else if (CheckInfo[0].Substring(0, 2) == "63")
												{
													<button class='@tClass' type="button" onclick="window.open('@Url.Action("InstallSR", "ServiceRequest", new { SRID = CheckInfo[0] })'); DelDetailItem('trManager@(count)');">
														@tTypeName
													</button>
												}
												else if (CheckInfo[0].Substring(0, 2) == "65")
												{
													<button class='@tClass' type="button" onclick="window.open('@Url.Action("MaintainSR", "ServiceRequest", new { SRID = CheckInfo[0] })'); DelDetailItem('trManager@(count)');">
														@tTypeName
													</button>
												}
											}											
										</td>
									</tr>
								}
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>

